@font-face {
    font-family: 'Arial-Black';
    src: url('/staticpages/main/font/ab.eot');
    src: url('/staticpages/main/font/ab.eot?#iefix') format('embedded-opentype'),
         url('/staticpages/main/font/ab.woff') format('woff'),
         url('/staticpages/main/font/ab.ttf') format('truetype'),
         url('/staticpages/main/font/ab.svg#"Arial-Black"') format('svg');
    font-weight: bold;
    font-style: normal;
}
.programme_bg {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/programme-top.jpg") no-repeat scroll center top transparent;}
.nav ul li a.active,.nav ul li a:hover {background:#b70d0d} .nav ul li:hover { background-color:#b70d0d}
.nav ul li a {padding:5px 9px;}
.jcarousel-skin-tango .jcarousel-item-horizontal {margin-right:6px !important;}.help_sec .fr {width:430px !important}
.nav > ul > li.drop1 {
    margin: 0;
    position: relative;
}
.nav > ul > li > ul.ddchild1 {
    background-color: #5E5E5E;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    width: 175px;
    z-index: 999;
}
ul.ddchild1 > li {
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
}
ul.ddchild1 > li a {
    color: #FFFFFF;
    font: bold 14px/30px Arial;
    padding: 0 0px 0 10px;
    text-decoration: none;
	width:165px;
}

.right { float:right;}

.yellow-bg {
    background-color: #F7EE23;
    float: left;
    margin: 5px 0;
    padding: 5px;
}
.main_content {width: 1000px; margin-bottom: 100px; float: left;}
#main_content_left {
    float: left;
    width: 683px;
}
.homebanner {
    margin-bottom: 20px;
}

.live_title {
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    margin-bottom: 10px;
}

.leftlivetitle {
    color: #b70d0d;
    float: left;
    font: normal 20px Arial-Black;
    width: 450px;
	text-transform:uppercase;
}
.liveupdatedate {
    float: right;
    font: 12px/30px Arial;
    text-align: right;
}
.datemh { float:left; padding:0; display:inline; color:#666666; font-size:12px; font-family:Tahoma; margin:2px 0 0 10px; display:inline; border:0px solid red; text-align:right; width:214px;}
.clear {
    clear: both;
}
.livepage {
    float: left;
    width: 470px;
}
.red{color:#B70D0D; }
.red a{color:#B70D0D; text-decoration:none;}
.red a:hover{text-decoration:underline;}


.highlight {
    float: right;
    width: 200px;
}
.highlight_head {
    border-bottom: 1px dotted #000000;
}

.highlighttitle {
    color: #b70d0d;
    float: left;
    font: bold 18px/18px Arial;
    width: 150px;
}
.highlight_more {
    float: right;
    width: 50px;
	font-family: Arial;
    font-size: 14px;
    line-height: 20px;
}
.highlight_more a {
    color: #000000;
    text-decoration: none;
}

.contabactive {
    display: block;
    float: left;
}
.contabbox {
    float: left;
    width: 683px;
}

.mindr-contimeln {
    color: #606060;
    float: left;
    font: 14px/22px Arial-Black;
    width: 110px;
}

.conritepart {
    background-image: url("http://conclave.intoday.in/conclave/images/line1.gif");
    background-position: left top;
    background-repeat: repeat-y;
    float: left;
    width: 573px;
	padding-bottom:15px;
}

.consubrtpart {
    padding-left: 10px;
}

.mindr-sessiontitle {
    background-color: #EEEEEE;
    color: #000000;
    font: 15px Arial-Black;
    letter-spacing: -1px;
    padding: 4px 8px;
    text-transform: uppercase;
    word-spacing: 1px;
}
.consubleftbox {
    color: #C90A12;
    float: left;
    font: bold 15px/20px arial;
    margin: 10px 0;
    width: 300px;
}

.mindr-headline {
    color: #000000;
    font: bold 14px/18px arial;
}
.mindr-headline ul {
    margin: 20px 0 0;
    padding: 0;
}
.mindr-headline ul li {
    background: url("/staticpages/mediaintoday/microsites/youthsummit2012/story-arrow.gif") no-repeat scroll left 5px transparent;
    color: #000000;
    font: bold 14px/18px arial;
    list-style: none outside none;
    margin: 3px 0 5px;
    padding: 1px 0 1px 15px;
}

.mindr-headline ul li a {
    color: #21509E;
    text-decoration: none;
}

.consubleftbox {
    color: #C90A12;
    float: left;
    font: bold 15px/20px arial;
    margin: 10px 0;
    width: 300px;
}

.consubleftbox img {
    margin-right: 6px;
}

.consubleftbox.links a {
    font-size: 12px;
}
.mindr-consubrtbox {
    background: url("/staticpages/mediaintoday/microsites/youthsummit2012/arrow-line.gif") repeat-y scroll left top transparent;
    color: #343434;
    float: left;
    font: 12px/18px arial;
    margin: 10px 0 10px 10px;
    padding-left: 15px;
    width: 238px;
}

.prj_name, .prj_name a {
    color: #B70D0D;
    font: bold 13px/20px Arial;
    text-decoration: none;
}

.imgs {
    margin-right: 10px;
}

.mindr-consubhead {
    color: #000000;
    font: bold 13px/20px arial;
}
.mindr-consubrtbox {
    color: #343434;
    font: 12px/18px arial;
}

.prjtomebg_2 {
    background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/lunch-bg1.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    width: 543px;
	font:15px/30px Arial-Black; text-transform:uppercase;
}
.mindr-headline ul li a {
    color: #21509E;
    text-decoration: none;
}
.consubleftbox a {
    color: #C90A12;
    font: bold 12px arial;
    text-decoration: none;
}
.bott-marg { margin-bottom:15px;}
.main-pro-head {width:683px; height:33px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/cor1.gif) no-repeat top left #000; float:left;}
.main-pro-head h3 {font:normal 18px/33px Arial-Black; text-transform:uppercase; color:#f7ee23; margin:0; padding:0 5px; float:left}

.mindr-text { font:normal 14px/18px arial; color:#6c6c6c;}
#contabbing { margin-top:10px;}
.marg-top { margin-top:10px;}


#sidebar {
    float: right;
    width: 300px;
}
.side_chunk {
    clear: both;
    margin-bottom: 30px;
}

.side_chunk_title {
    background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/kolkata/dot.gif") repeat-x scroll center bottom transparent;
    color: #b70d0d;
    font: bold 24px/24px Arial;
    height: 30px;
}

#main_content {
    margin-top: 20px;
}


.jcarousel-skin-tango .jcarousel-item {
    height: 170px;
    text-align: center;
    width: 117px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal { left:0 !important;}
.jcarousel-skin-tango .jcarousel-next-horizontal {right:0 !important;}
.jcarousel-skin-tango li { font:normal 13px/20px arial; color:#000; text-align:center}
.jcarousel-skin-tango .kicker { font:normal 12px/15px arial; color:#6c6c6c;}
.jcarousel-skin-tango .red { font:bold 12px/20px arial; color:#b70d0d;}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    height: 210px;
    width: 615px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {margin-right:6px !important;}.help_sec .fr {width:430px !important}

.nav ul li li a {
    padding: 1px 9px !important;
}