#
# Apache/PHP/Drupal settings:
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\..*|Entries.*|Repository|Root|Tag|Template)$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig\.save)$">
  Order allow,deny
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Follow symbolic links in this directory.
Options +FollowSymLinks

AddType application/x-httpd-php .jsp

# Make Drupal handle any 404 errors.
ErrorDocument 404 /index.php

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Override PHP settings that cannot be changed at runtime. See
# sites/default/default.settings.php and drupal_environment_initialize() in
# includes/bootstrap.inc for settings that can be changed at runtime.

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_flag magic_quotes_gpc                 off
  php_flag magic_quotes_sybase              off
  php_flag register_globals                 off
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess, because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "(^|/)\." - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/... will be redirected to http://www.example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/... will be redirected to http://example.com/...)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  RewriteBase /
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Pass all requests not referring directly to files in the filesystem to
  # index.php. Clean URLs are handled in drupal_environment_initialize().
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico

    RewriteCond %{REQUEST_URI} !/sex-survey-2012 [NC]
    RewriteCond %{REQUEST_URI} !/sex-survey-2013 [NC]
    RewriteCond %{REQUEST_URI} !/sex-survey-2014 [NC]
    RewriteCond %{REQUEST_URI} !/sex-survey-2016 [NC]
    RewriteCond %{REQUEST_URI} !/special/sexsurvey2010 [NC]
    RewriteCond %{REQUEST_URI} !/sexposition [NC]
    RewriteCond %{REQUEST_URI} !/indiatomorrow [NC]
    RewriteCond %{REQUEST_URI} !/vivekananda [NC]
    RewriteCond %{REQUEST_URI} !/bhagat-singh [NC]
    RewriteCond %{REQUEST_URI} !/prnewswire [NC]
    RewriteCond %{REQUEST_URI} !/dynasty-graphic.jsp [NC]
    RewriteCond %{REQUEST_URI} !/voter-election [NC]
    RewriteCond %{REQUEST_URI} !/pdf-web [NC]
    RewriteCond %{REQUEST_URI} !/crowdynews$ [NC]
    RewriteCond %{REQUEST_URI} !/corrupt-dictators [NC]
    RewriteCond %{REQUEST_URI} !/modi-oneyear [NC]
    RewriteCond %{REQUEST_URI} !/slideshows [NC]
    RewriteCond %{REQUEST_URI} !/team-modi [NC]
    RewriteCond %{REQUEST_URI} !/100days [NC]
    RewriteCond %{REQUEST_URI} !/mood-of-the-nation [NC]
    RewriteCond %{REQUEST_URI} !/holy-men [NC]
    RewriteCond %{REQUEST_URI} !/india-australia-2016 [NC]
    RewriteCond %{REQUEST_URI} !/sholay.jsp [NC]
    RewriteCond %{REQUEST_URI} !/best-cities-2014.jsp [NC]
    RewriteCond %{REQUEST_URI} !/makeinindia [NC]
    RewriteCond %{REQUEST_URI} !/indiangirls [NC]
    RewriteCond %{REQUEST_URI} !/gravity [NC]
    RewriteCond %{REQUEST_URI} !/sachin-virat-comparison-tower.jsp [NC]
    RewriteCond %{REQUEST_URI} !/yuvraj.jsp [NC]
    RewriteCond %{REQUEST_URI} !/uttarakhand [NC]
    RewriteCond %{REQUEST_URI} !/globalroundtable [NC]
    RewriteCond %{REQUEST_URI} !/globalroundtablenepal [NC]
    RewriteCond %{REQUEST_URI} !/globalroundtabledelhi [NC]
    RewriteCond %{REQUEST_URI} !/safaigiriawards [NC]
    RewriteCond %{REQUEST_URI} !/state-of-the-states [NC]
    RewriteCond %{REQUEST_URI} !/state-of-the-states/2013 [NC]
    RewriteCond %{REQUEST_URI} !/distribution [NC]
    RewriteCond %{REQUEST_URI} !/applications [NC]
    RewriteCond %{REQUEST_URI} !/special40 [NC]

    RewriteCond %{REQUEST_URI} !/newswiz [NC]
    RewriteCond %{REQUEST_URI} !/static-highlights [NC]
    RewriteCond %{REQUEST_URI} !/digitalindia/2016 [NC]
    RewriteCond %{REQUEST_URI} !/education/crowdynews [NC]
    RewriteCond %{REQUEST_URI} !/education/results [NC]
    RewriteCond %{REQUEST_URI} !/sachin [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/delhi/2015 [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/delhi/2014 [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/delhi/2013 [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/2011 [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/2010 [NC]
    RewriteCond %{REQUEST_URI} !/womansummit/2009 [NC]
    RewriteCond %{REQUEST_URI} !/best-universities [NC]
    RewriteCond %{REQUEST_URI} !/assembly-elections/delhi [NC]
    RewriteCond %{REQUEST_URI} !/assembly-elections [NC]
    RewriteCond %{REQUEST_URI} !/assembly-elections/2013 [NC]
    RewriteCond %{REQUEST_URI} !/37th-anniversary-issue [NC]
    RewriteCond %{REQUEST_URI} !/assembly-elections-2012 [NC]
    RewriteCond %{REQUEST_URI} !/itmi [NC]
    RewriteCond %{REQUEST_URI} !/newsflicks [NC]
    RewriteCond %{REQUEST_URI} !/youthsummit/delhi/2012 [NC]
    RewriteCond %{REQUEST_URI} !/special/youthsummit [NC]
    RewriteCond %{REQUEST_URI} !/specials/youthsummit [NC]
    RewriteCond %{REQUEST_URI} !/youthsummit/delhi/2013 [NC]
    RewriteCond %{REQUEST_URI} !/youthsummit/kolkata/2013 [NC]
    RewriteCond %{REQUEST_URI} !/salaamcricket [NC]
    RewriteCond %{REQUEST_URI} !/salaamcricket/hindi [NC]
    RewriteCond %{REQUEST_URI} !/pledge [NC]
    RewriteCond %{REQUEST_URI} !/educationconclave2013 [NC]
    RewriteCond %{REQUEST_URI} !/safaigiriawards/hindi [NC]
    RewriteCond %{REQUEST_URI} !/special/sexsurvey2009 [NC]
    RewriteCond %{REQUEST_URI} !/special/sexsurvey2011 [NC]
    RewriteCond %{REQUEST_URI} !/itoday/20030915 [NC]
    RewriteCond %{REQUEST_URI} !/itoday/20040920 [NC]
    RewriteCond %{REQUEST_URI} !/itoday/20050926 [NC]
    RewriteCond %{REQUEST_URI} !/itoday/20061113 [NC]
    RewriteCond %{REQUEST_URI} !/petrol.jsp [NC]
    RewriteCond %{REQUEST_URI} !/petrol [NC]    
    RewriteCond %{REQUEST_URI} !/gudiyas.jsp [NC]
    RewriteCond %{REQUEST_URI} !/frames [NC]  
	####### start saticpages phase 2 #########
	RewriteCond %{REQUEST_URI} !/aap-arvind-kejriwal-winning-celebration [NC]  
	RewriteCond %{REQUEST_URI} !/aishwaryarai [NC]  
	RewriteCond %{REQUEST_URI} !/amitabh-bachchan-70th-birthday [NC]  
	RewriteCond %{REQUEST_URI} !/amitabh-bachchan-72nd-birthday [NC]  
	RewriteCond %{REQUEST_URI} !/andhra [NC]  
	RewriteCond %{REQUEST_URI} !/anna [NC]  
	RewriteCond %{REQUEST_URI} !/asiad2014 [NC]  
	RewriteCond %{REQUEST_URI} !/atoz-election [NC]  
	RewriteCond %{REQUEST_URI} !/autoexpo/2016 [NC]  
	RewriteCond %{REQUEST_URI} !/autoexpo/2014 [NC]  
	RewriteCond %{REQUEST_URI} !/bob [NC]  
	RewriteCond %{REQUEST_URI} !/boi [NC]  
	RewriteCond %{REQUEST_URI} !/cannes2012 [NC]  
	RewriteCond %{REQUEST_URI} !/cannes2013 [NC]  
	RewriteCond %{REQUEST_URI} !/cards [NC]  
	RewriteCond %{REQUEST_URI} !/cricket-fest-6 [NC]  
	RewriteCond %{REQUEST_URI} !/educationconclave2015 [NC]  
	RewriteCond %{REQUEST_URI} !/educationsummit [NC]  
	RewriteCond %{REQUEST_URI} !/election-express [NC]  
	RewriteCond %{REQUEST_URI} !/fashionweek [NC]  
	RewriteCond %{REQUEST_URI} !/five-tax-sins [NC]  
	RewriteCond %{REQUEST_URI} !/food-bill [NC]  
	RewriteCond %{REQUEST_URI} !/friends [NC]  
	RewriteCond %{REQUEST_URI} !/global-roundtable-beijing [NC]  
	RewriteCond %{REQUEST_URI} !/independence-inflation [NC]  
	RewriteCond %{REQUEST_URI} !/indian-search [NC]  
	RewriteCond %{REQUEST_URI} !/indiatodayatautoexpo [NC]  
	RewriteCond %{REQUEST_URI} !/juvenile [NC]  
	RewriteCond %{REQUEST_URI} !/juvenilerapist [NC]  
	RewriteCond %{REQUEST_URI} !/kalamwillliveon [NC]  
	RewriteCond %{REQUEST_URI} !/kejriwal [NC]  
	RewriteCond %{REQUEST_URI} !/lie [NC]  
	RewriteCond %{REQUEST_URI} !/london-olympics-2012 [NC]  
	####### start saticpages phase 2 End #########

  RewriteRule ^ index.php [L]

  # start code for static pages
  RewriteRule ^special/sexsurvey2010$ /staticpages/special/sexsurvey2010/index.shtml? [L]
  RewriteRule ^special/sexsurvey2010/(.*) /staticpages/special/sexsurvey2010/$1 [L]
  RewriteRule ^sex-survey-2012$ /staticpages/sex-survey-2012/index.jsp? [L]
  RewriteRule ^sex-survey-2012/$ /staticpages/sex-survey-2012/index.jsp? [L]
  RewriteRule ^sex-survey-2012/(.*) /staticpages/sex-survey-2012/$1 [L]

  RewriteRule ^sex-survey-2013$ /staticpages/sex-survey-2013/index.jsp? [L]
  RewriteRule ^sex-survey-2013/(.*) /staticpages/sex-survey-2013/$1 [L]
  RewriteRule ^sex-survey-2014$ /staticpages/sex-survey-2014/index.jsp? [L]
  RewriteRule ^sex-survey-2014/(.*) /staticpages/sex-survey-2014/$1 [L]
  RewriteRule ^sex-survey-2016$ /staticpages/sex-survey-2016/index.html? [L]
  RewriteRule ^special40$ /staticpages/special40/index.html? [L]
  RewriteRule ^applications$ /staticpages/applications/index.jsp? [L]
  RewriteRule ^applications/(.*) /staticpages/applications/$1 [L]
  RewriteRule ^indiatomorrow$ /staticpages/indiatomorrow/index.html? [L]
  RewriteRule ^indiatomorrow/(.*) /staticpages/indiatomorrow/$1 [L]
  RewriteRule ^sexposition$ /staticpages/sexposition/index.html? [L]
  RewriteRule ^vivekananda$ /staticpages/vivekananda/index.jsp? [L]
  RewriteRule ^vivekananda/(.*) /staticpages/vivekananda/$1 [L]
  RewriteRule ^bhagat-singh$ /staticpages/bhagat-singh/index.jsp [L]
  RewriteRule ^bhagat-singh/(.*) /staticpages/bhagat-singh/$1 [L]

  RewriteRule ^prnewswire$ /staticpages/prnewswire/index.html [L]
  RewriteRule ^prnewswire/(.*) /staticpages/prnewswire/$1 [L]
  RewriteRule ^dynasty-graphic.jsp$ /staticpages/dynasty/dynasty-graphic.jsp [L]
  RewriteRule ^voter-election$ /staticpages/voter-election/index.jsp [L]
  RewriteRule ^voter-election/(.*) /staticpages/voter-election/$1 [L]
  RewriteRule ^pdf-web$ /staticpages/pdf-web/operation-bluestar.jsp [L]
  RewriteRule ^pdf-web/(.*) /staticpages/pdf-web/$1 [L]
  RewriteRule ^crowdynews$ /staticpages/crowdynews/index.html [L]
  RewriteRule ^corrupt-dictators$ /staticpages/corrupt-dictators/index.jsp [L]
  RewriteRule ^corrupt-dictators/(.*) /staticpages/corrupt-dictators/$1 [L]
  RewriteRule ^modi-oneyear$ /staticpages/modi-oneyear/index.html [L]
  RewriteRule ^slideshows$ /staticpages/slideshows/index.html [L]
  RewriteRule ^slideshows/(.*) /staticpages/slideshows/$1 [L]
  RewriteRule ^team-modi$ /staticpages/team-modi/index.html [L]
  RewriteRule ^100days/(.*) /staticpages/100days/$1 [L]
  RewriteRule ^saveyourleader$ /staticpages/saveyourleader/result.jsp [L]
  RewriteRule ^saveyourleader/(.*) /staticpages/saveyourleader/$1 [L]
  RewriteRule ^mood-of-the-nation$ /staticpages/mood-of-the-nation/index.jsp [L]
  RewriteRule ^mood-of-the-nation/(.*) /staticpages/mood-of-the-nation/$1 [L]
  RewriteRule ^holy-men$ /staticpages/holy-men/index.jsp [L]
  RewriteRule ^india-australia-2016$ /staticpages/india-australia-2016/index.jsp [L]
  RewriteRule ^india-australia-2016/(.*) /staticpages/india-australia-2016/$1 [L]
  RewriteRule ^sholay.jsp$ /staticpages/sholay.jsp [L]
  RewriteRule ^makeinindia$ /staticpages/makeinindia/index.html [L]
  RewriteRule ^makeinindia/(.*) /staticpages/makeinindia/$1 [L]
  RewriteRule ^best-cities-2014.jsp$ /staticpages/best-cities-2014.jsp [L]
  RewriteRule ^indiangirls$ /staticpages/indiangirls/index.jsp [L]
  RewriteRule ^indiangirls/(.*) /staticpages/indiangirls/$1 [L]
  RewriteRule ^gravity$ /staticpages/gravity/index.jsp [L]
  RewriteRule ^sachin-virat-comparison-tower.jsp$ /staticpages/sachin-virat-comparison-tower.jsp [L]
  RewriteRule ^yuvraj.jsp$ /staticpages/yuvraj.jsp [L]
  RewriteRule ^uttarakhand$ /staticpages/uttarakhand/deluge.jsp [L]
  RewriteRule ^uttarakhand/(.*) /staticpages/uttarakhand/$1 [L]
  RewriteRule ^globalroundtable$ /staticpages/globalroundtable/index.jsp [L]
  RewriteRule ^globalroundtable/(.*) /staticpages/globalroundtable/$1 [L]
  RewriteRule ^globalroundtable$ /staticpages/globalroundtable/index.jsp [L]

  RewriteRule ^globalroundtablenepal$ /staticpages/globalroundtablenepal/index.jsp [L]
  RewriteRule ^globalroundtablenepal/(.*) /staticpages/globalroundtablenepal/$1 [L]
  RewriteRule ^globalroundtabledelhi$ /staticpages/globalroundtabledelhi/index.jsp [L]
  RewriteRule ^globalroundtabledelhi/(.*) /staticpages/globalroundtabledelhi/$1 [L]

  RewriteRule ^safaigiriawards$ /staticpages/safaigiriawards/index.html [L]
  RewriteRule ^state-of-the-states/2011$ /staticpages/state-of-the-states/2011/index.jsp [L]
  RewriteRule ^state-of-the-states/2011/(.*) /staticpages/state-of-the-states/2011/$1 [L]
  RewriteRule ^state-of-the-states/2013$ /staticpages/state-of-the-states/2013/index.html [L]
  RewriteRule ^state-of-the-states/2013/(.*) /staticpages/state-of-the-states/2013/$1 [L]
  RewriteRule ^state-of-the-states/2014$ /staticpages/state-of-the-states/2014/index.jsp [L]
  RewriteRule ^state-of-the-states/2014/(.*) /staticpages/state-of-the-states/2014/$1 [L]

  RewriteRule ^state-of-the-states$ /staticpages/state-of-the-states/2012/index.jsp [L]
  RewriteRule ^state-of-the-states/(.*) /staticpages/state-of-the-states/2012/$1 [L]
  RewriteRule ^distribution$ /staticpages/distribution/index.html [L]
  RewriteRule ^distribution/(.*)$ /staticpages/distribution/$1 [L]  
  RewriteRule ^petrol.jsp$ /staticpages/petrol/petrol.jsp [L] 
  RewriteRule ^petrol/(.*)$ /staticpages/petrol/$1 [L]   
  RewriteRule ^gudiyas.jsp$ /staticpages/gudiyas/gudiyas.jsp [L]   
  RewriteRule ^frames$ /staticpages/frames/index.html [L]   

  # test

    RewriteRule ^newswiz$ /staticpages/newswiz/index.html? [L]
    RewriteRule ^newswiz/(.*) /staticpages/newswiz/$1 [L]
    RewriteRule ^static-highlights$ /staticpages/static-highlights/index.html? [L]
    RewriteRule ^static-highlights/(.*) /staticpages/static-highlights/$1 [L]
    RewriteRule ^digitalindia/2016$ /staticpages/digitalindia/2016/index.html? [L]
    RewriteRule ^digitalindia/2016/(.*) /staticpages/digitalindia/2016/$1 [L]
    RewriteRule ^education/results$ /staticpages/education/results/index.html? [L]
    RewriteRule ^education/crowdynews$ /staticpages/education/crowdynews/index.html? [L]
    RewriteRule ^education/crowdynews/(.*) /staticpages/education/crowdynews/$1 [L]
    RewriteRule ^sachin$ /staticpages/sachin/index.html? [L]
    RewriteRule ^womansummit/delhi/2015$ /staticpages/womansummit/delhi/2015/index.html? [L]
    RewriteRule ^womansummit/delhi/2015/(.*) /staticpages/womansummit/delhi/2015/$1 [L]
    RewriteRule ^womansummit/delhi/2014$ /staticpages/womansummit/delhi/2014/index.html? [L]
    RewriteRule ^womansummit/delhi/2014/(.*) /staticpages/womansummit/delhi/2014/$1 [L]
    RewriteRule ^womansummit/delhi/2013$ /staticpages/womansummit/delhi/2013/index.html? [L]
    RewriteRule ^womansummit/delhi/2013/(.*) /staticpages/womansummit/delhi/2013/$1 [L]
    RewriteRule ^womansummit/2011$ /staticpages/womansummit/2011/index.html? [L]
    RewriteRule ^womansummit/2011/(.*) /staticpages/womansummit/2011/$1 [L]
    RewriteRule ^womansummit/2010$ /staticpages/womansummit/2010/index.html? [L]
    RewriteRule ^womansummit/2010/(.*) /staticpages/womansummit/2010/$1 [L]
    RewriteRule ^womansummit/2009$ /staticpages/womansummit/2009/index.html? [L]
    RewriteRule ^womansummit/2009/(.*) /staticpages/womansummit/2009/$1 [L]
    RewriteRule ^best-universities$ /staticpages/best-universities/index.html? [L]
    RewriteRule ^best-universities/(.*) /staticpages/best-universities/$1 [L]
    RewriteRule ^assembly-elections/delhi$ /staticpages/assembly-elections/delhi/index.jsp? [L]
    RewriteRule ^assembly-elections/delhi/(.*) /staticpages/assembly-elections/delhi/$1 [L]
    RewriteRule ^assembly-elections/2013$ /staticpages/assembly-elections/2013/index.html? [L]
    RewriteRule ^assembly-elections$ /staticpages/assembly-elections/index.html? [L]
    RewriteRule ^assembly-elections/(.*) /staticpages/assembly-elections/$1 [L]
    RewriteRule ^37th-anniversary-issue$ /staticpages/37th-anniversary-issue/index.html? [L]
    RewriteRule ^37th-anniversary-issue/(.*) /staticpages/37th-anniversary-issue/$1 [L]
    RewriteRule ^assembly-elections-2012$ /staticpages/assembly-elections-2012/index.html? [L]
    RewriteRule ^assembly-elections-2012/(.*) /staticpages/assembly-elections-2012/$1 [L]
    RewriteRule ^itmi$ /staticpages/itmi/index.jsp? [L]
    RewriteRule ^itmi/(.*) /staticpages/itmi/$1 [L]
    RewriteRule ^newsflicks$ /staticpages/newsflicks/index.html? [L]
    RewriteRule ^youthsummit/delhi/2012$ /staticpages/youthsummit/delhi/2012/index.html? [L]  
    RewriteRule ^youthsummit/delhi/2012/(.*) /staticpages/youthsummit/delhi/2012/$1 [L]
    RewriteRule ^special/youthsummit$ /staticpages/special/youthsummit/index.html? [L]  
    RewriteRule ^special/youthsummit/(.*) /staticpages/special/youthsummit/$1 [L]

    RewriteRule ^specials/youthsummit$ /staticpages/specials/youthsummit/index.jsp? [L]  
    RewriteRule ^specials/youthsummit/(.*) /staticpages/specials/youthsummit/$1 [L]

    RewriteRule ^youthsummit/delhi/2013$ /staticpages/youthsummit/delhi/2013/index.html? [L]  
    RewriteRule ^youthsummit/delhi/2013/(.*) /staticpages/youthsummit/delhi/2013/$1 [L]
    RewriteRule ^youthsummit/kolkata/2013$ /staticpages/youthsummit/kolkata/2013/index.html? [L]  
    RewriteRule ^youthsummit/kolkata/2013/(.*) /staticpages/youthsummit/kolkata/2013/$1 [L]
    RewriteRule ^salaamcricket$ /staticpages/salaamcricket/index.html? [L]
    RewriteRule ^salaamcricket/(.*) /staticpages/salaamcricket/$1 [L]
    RewriteRule ^salaamcricket/hindi$ /staticpages/salaamcricket/hindi/index.html? [L]
    RewriteRule ^salaamcricket/hindi/(.*) /staticpages/salaamcricket/hindi/$1 [L]
    RewriteRule ^pledge$ /staticpages/pledge/index.html? [L]
    RewriteRule ^pledge/(.*) /staticpages/pledge/$1 [L]
    RewriteRule ^educationconclave2013$ /staticpages/educationconclave2013/index.html? [L]
    RewriteRule ^educationconclave2013/(.*) /staticpages/educationconclave2013/$1 [L]
    RewriteRule ^safaigiriawards/hindi$ /staticpages/safaigiriawards/hindi/index.html? [L]
    RewriteRule ^safaigiriawards/hindi/(.*) /staticpages/safaigiriawards/hindi/$1 [L]
    RewriteRule ^special/sexsurvey2009$ /staticpages/special/sexsurvey2009/index.shtml? [L]  
    RewriteRule ^special/sexsurvey2009/(.*) /staticpages/special/sexsurvey2009/$1 [L]
    RewriteRule ^special/sexsurvey2011$ /staticpages/special/sexsurvey2011/index.shtml? [L]  
    RewriteRule ^special/sexsurvey2011/(.*) /staticpages/special/sexsurvey2011/$1 [L]
    RewriteRule ^itoday/20030915$ /staticpages/itoday/20030915/cover.shtml? [L]  
    RewriteRule ^itoday/20030915/(.*) /staticpages/itoday/20030915/$1 [L]
    RewriteRule ^itoday/20040920$ /staticpages/itoday/20040920/index.html? [L]  
    RewriteRule ^itoday/20040920/(.*) /staticpages/itoday/20040920/$1 [L]
    RewriteRule ^itoday/20050926$ /staticpages/itoday/20050926/index.html? [L]
    RewriteRule ^itoday/20050926/(.*) /staticpages/itoday/20050926/$1 [L]
    RewriteRule ^itoday/20061113$ /staticpages/itoday/20061113/index.html? [L]
    RewriteRule ^itoday/20061113/(.*) /staticpages/itoday/20061113/$1 [L]
	
	####### start saticpages phase 2 #########
	RewriteRule ^aap-arvind-kejriwal-winning-celebration$ /staticpages/aap-arvind-kejriwal-winning-celebration/index.html? [L]
    RewriteRule ^aap-arvind-kejriwal-winning-celebration/(.*) /staticpages/aap-arvind-kejriwal-winning-celebration/$1 [L]
	RewriteRule ^aishwaryarai$ /staticpages/aishwaryarai/index.html? [L]
    RewriteRule ^aishwaryarai/(.*) /staticpages/aishwaryarai/$1 [L]
	RewriteRule ^amitabh-bachchan-70th-birthday$ /staticpages/amitabh-bachchan-70th-birthday/index.html? [L]
    RewriteRule ^amitabh-bachchan-70th-birthday/(.*) /staticpages/amitabh-bachchan-70th-birthday/$1 [L]
	RewriteRule ^amitabh-bachchan-72nd-birthday$ /staticpages/amitabh-bachchan-72nd-birthday/index.html? [L]
    RewriteRule ^amitabh-bachchan-72nd-birthday/(.*) /staticpages/amitabh-bachchan-72nd-birthday/$1 [L]
	RewriteRule ^andhra$ /staticpages/andhra/telangana.jsp? [L]
    RewriteRule ^andhra/(.*) /staticpages/andhra/$1 [L]
	RewriteRule ^anna$ /staticpages/anna/index.html? [L]
    RewriteRule ^anna/(.*) /staticpages/anna/$1 [L]
	RewriteRule ^asiad2014$ /staticpages/asiad2014/index.html? [L]
    RewriteRule ^asiad2014/(.*) /staticpages/asiad2014/$1 [L]
	RewriteRule ^atoz-election$ /staticpages/atoz-election/index.html? [L]
    RewriteRule ^atoz-election/(.*) /staticpages/atoz-election/$1 [L]
	RewriteRule ^autoexpo/2016$ /staticpages/autoexpo/2016/index.html? [L]
    RewriteRule ^autoexpo/2016/(.*) /staticpages/autoexpo/2016/$1 [L]
	RewriteRule ^autoexpo/2014$ /staticpages/autoexpo/2014/index.html? [L]
    RewriteRule ^autoexpo/2014/(.*) /staticpages/autoexpo/2014/$1 [L]
	RewriteRule ^bob$ /staticpages/bob/index.html? [L]
    RewriteRule ^bob/(.*) /staticpages/bob/$1 [L]
	RewriteRule ^boi$ /staticpages/boi/index.html? [L]
    RewriteRule ^boi/(.*) /staticpages/boi/$1 [L]
	RewriteRule ^cannes2012$ /staticpages/cannes2012/index.html? [L]
    RewriteRule ^cannes2012/(.*) /staticpages/cannes2012/$1 [L]
	RewriteRule ^cannes2013$ /staticpages/cannes2013/index.html? [L]
    RewriteRule ^cannes2013/(.*) /staticpages/cannes2013/$1 [L]
	RewriteRule ^cards$ /staticpages/cards/index.html? [L]
    RewriteRule ^cards/(.*) /staticpages/cards/$1 [L]
	RewriteRule ^cricket-fest-6$ /staticpages/cricket-fest-6/index.html? [L]
    RewriteRule ^cricket-fest-6/(.*) /staticpages/cricket-fest-6/$1 [L]
	RewriteRule ^educationconclave2015$ /staticpages/educationconclave2015/index.html? [L]
    RewriteRule ^educationconclave2015/(.*) /staticpages/educationconclave2015/$1 [L]
	RewriteRule ^educationsummit$ /staticpages/educationsummit/index.html? [L]
    RewriteRule ^educationsummit/(.*) /staticpages/educationsummit/$1 [L]
	RewriteRule ^election-express$ /staticpages/election-express/index.html? [L]
    RewriteRule ^election-express/(.*) /staticpages/election-express/$1 [L]
	RewriteRule ^fashionweek$ /staticpages/fashionweek/index.html? [L]
    RewriteRule ^fashionweek/(.*) /staticpages/fashionweek/$1 [L]
	RewriteRule ^five-tax-sins$ /staticpages/five-tax-sins/index.html? [L]
    RewriteRule ^five-tax-sins/(.*) /staticpages/five-tax-sins/$1 [L]
	RewriteRule ^food-bill$ /staticpages/food-bill/index.html? [L]
    RewriteRule ^food-bill/(.*) /staticpages/food-bill/$1 [L]
	RewriteRule ^friends$ /staticpages/friends/index.html? [L]
    RewriteRule ^friends/(.*) /staticpages/friends/$1 [L]
	RewriteRule ^global-roundtable-beijing$ /staticpages/global-roundtable-beijing/index.html? [L]
    RewriteRule ^global-roundtable-beijing/(.*) /staticpages/global-roundtable-beijing/$1 [L]
	RewriteRule ^independence-inflation$ /staticpages/independence-inflation/index.html? [L]
    RewriteRule ^independence-inflation/(.*) /staticpages/independence-inflation/$1 [L]
	RewriteRule ^indian-search$ /staticpages/indian-search/index.html? [L]
    RewriteRule ^indian-search/(.*) /staticpages/indian-search/$1 [L]
	RewriteRule ^indiatodayatautoexpo$ /staticpages/indiatodayatautoexpo/index.html? [L]
    RewriteRule ^indiatodayatautoexpo/(.*) /staticpages/indiatodayatautoexpo/$1 [L]
	RewriteRule ^juvenile$ /staticpages/juvenile/index.html? [L]
    RewriteRule ^juvenile/(.*) /staticpages/juvenile/$1 [L]
	RewriteRule ^juvenilerapist$ /staticpages/juvenilerapist/index.html? [L]
    RewriteRule ^juvenilerapist/(.*) /staticpages/juvenilerapist/$1 [L]
	RewriteRule ^kalamwillliveon$ /staticpages/kalamwillliveon/index.html? [L]
    RewriteRule ^kalamwillliveon/(.*) /staticpages/kalamwillliveon/$1 [L]
	RewriteRule ^kejriwal$ /staticpages/kejriwal/index.html? [L]
    RewriteRule ^kejriwal/(.*) /staticpages/kejriwal/$1 [L]
	RewriteRule ^lie$ /staticpages/lie/index.html? [L]
    RewriteRule ^lie/(.*) /staticpages/lie/$1 [L]
	RewriteRule ^london-olympics-2012$ /staticpages/london-olympics-2012/index.html? [L]
    RewriteRule ^london-olympics-2012/(.*) /staticpages/london-olympics-2012/$1 [L]
	####### start saticpages phase 2 End #########
	

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

