@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
/* CSS Reset */
body { padding:0px; margin:0px;  font-size:16px; color:#383838; line-height:20px; background:#d6d6d6 url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/main_bg.jpg) center top repeat-y;}
body{ font-family: 'Roboto', sans-serif;}
.contest_bg {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/header.jpg) center top no-repeat; width:100%}
.speakers_bg {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/speakers-head.jpg) center top no-repeat; }
.sponcer_bg {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/sponsors.jpg) center top no-repeat;}
a { text-decoration:underline; color:#383838}
a:hover { text-decoration:none; color:#383838}
p, h1, h2, h3, ul, form { padding:0px; margin:0px}
#main_container { width:961px; padding-top:360px; margin:0 auto;}
.nobg { background-image:none}
h1 { font-size:20px; font-weight:bold; color:#b92e70; text-transform:uppercase; overflow:hidden; border-bottom:1px solid #ccc;  height:25px; }
h2 { font-size:18px; color:#d30011; text-align:center; line-height:26px; }
h1 span { font-size:16px; color:#383838; float:right; font-weight:normal; text-transform:capitalize; margin-bottom:15px; }
.fee-area { background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/bg1.gif) left top no-repeat; width:921px; height:161px; color:#fff; padding:20px;}
.fee-area p { padding:3px 0px}
.fee-area div { font-size:12px; line-height:16px; padding-top:6px;}
td { height:40px; }
td input, select, TEXTAREA { width:236px; height:30px; padding:2px; background:#eaeaea; border:1px solid #c8c8c8; border-radius:5px;}
.submit { width:125px; height:40px; text-align:center; line-height:40px; color:#fff; text-transform:uppercase; background:#b72f6f; border:none; font-weight:bold; font-size:22px;}
.help_sec { background:#393939; overflow:hidden; font-size:14px; color:#fff;}
.help_sec .help { background:#b92f6d url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow3.gif) 96px center no-repeat; padding:10px 55px 10px 10px; font-weight:bold; color:#fff; text-transform:uppercase; float:left; line-height:25px;  }
.help_sec .fl { width:350px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/line.gif) right center no-repeat; line-height:18px; float:left; padding-left:30px; font-size:14px; padding-top:6px}
.help_sec .fr { width:350px; line-height:18px; float:left; padding-left:30px; font-size:14px; padding-top:6px}
.help_sec .fr a { color:#fff; text-decoration:none;}
.help_sec .fr a:hover { color:#fff; text-decoration:underline;}
#footer-out { width:100%; position:fixed; bottom:0px; background:#f6ed22; left:0px; box-shadow: 0px 0px 5px #333; } 
#footer { background:#f6ed22; padding:10px 20px 5px; overflow:hidden; width:950px; margin:0 auto;   } 
.timer { width:300px; float:left; margin-right:15px;}
.add { width:355px; float:left; margin-right:15px; background:#fff!important; padding-left:110px; height:63px; }
.social_icon { width:130px; float:left; margin-left:20px; margin-top:16px;}
#mycarousel li img { display:block;}
 
 /*.........Sponcers............*/
 .fl { float:left;}
.clr { clear:both}
.big-logo { text-align:center; margin:10px; }
.big-logo a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/jp.gif); width:260px; height:260px; margin:0 auto }
.big-logo a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/jp1.gif);}
.sp_logoarea { padding-left:20px; overflow:hidden; padding-bottom:40px; margin-bottom:50px }
.title { float:left; text-align:center; color:#393939; font-size:15px; margin-bottom:40px}
.aiesec { text-align:center; margin:10px 20px 0px; float:left}
.aiesec a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/aiesec.gif); width:190px; height:190px; }
.aiesec a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/aiesec1.gif);}
.aiesec a.active {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/aiesec1.gif);}
.eclectic { text-align:center; margin:10px 20px 0px; float:left}
.eclectic a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/eclectic.gif); width:190px; height:190px; }
.eclectic a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/eclectic1.gif);}
.eclectic a.active {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/eclectic1.gif);}
.coolage { text-align:center; margin:10px 20px 0px; float:left}
.coolage a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/coolage.gif); width:190px; height:190px; }
.coolage a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/coolage1.gif);}
.ooh { text-align:center; margin:10px 20px 0px; float:left}
.ooh a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/ooh.gif); width:190px; height:190px; }
.ooh a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/ooh1.gif);}
.ht { text-align:center; margin:10px 20px 0px; float:left}
.ht a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/ht.gif); width:190px; height:190px; }
.ht a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/ht1.gif);}
.buzz { text-align:center; margin:10px 20px 0px; float:left}
.buzz a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/buzz-town.gif); width:190px; height:190px; }
.buzz a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/buzz-town1.gif);}
.oye { text-align:center; margin:10px 20px 0px; float:left}
.oye a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/oye.gif); width:190px; height:190px; }
.oye a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/oye1.gif);}
.india-today { text-align:center; margin:10px 20px 0px; float:left}
.india-today a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/it.gif); width:190px; height:190px; }
.india-today a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/it1.gif);}
.learn-today { text-align:center; margin:10px 20px 0px; float:left}
.learn-today a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/learn-today.gif); width:190px; height:190px; }
.learn-today a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/learn-today1.gif);}
.blink { text-align:center; margin:10px 20px 0px;}
.blink a { text-indent:-999px; overflow:hidden; display:block; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/blinck.gif); width:190px; height:190px; margin:0 auto; }
.blink a:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/blinck1.gif);}
.presenting { float:left; margin-right:15px;}
.list_carousel {width:340px; overflow:hidden;}
.list_carousel ul {display: block;list-style: none outside none; margin: 0;padding: 0;}
.list_carousel li {display: block;float: left;font-size: 40px;height: 44px;margin: 6px;padding: 0;text-align: center;}
.nav > ul > li.drop {margin: 0;position: relative;}
.active { background-color:#B92E70}
.deactive { background-color:#333333}
.nav {clear:both; padding-bottom:55px; display:block}
.nav ul { }
.nav ul li { font-weight:bold; list-style:none; text-transform:uppercase; display:inline;}
.nav ul li a { color:#383838; text-decoration:none; padding:5px 15px;  padding:5px 14px\9; float:left}
.nav ul li a:hover { color:#fff; text-decoration:none; background:#828282; border-radius:3px;  }
.nav ul li a.active{ color:#fff; text-decoration:none; background:#828282; border-radius:3px;  }
.nav ul li , .nav ul li{float:left; margin:0 10px}
.nav ul li:hover {color:#fff; text-decoration:none; background:#828282; border-radius:3px;}
.nav ul li a { float:left}
.nav > ul > li.drop:hover{background-position: 175px 7px;}
.nav > ul > li.drop a:hover{color: #222;}
.nav ul ul li { background-color:#666666}
.nav > ul > li > ul.ddchild{margin: 0; padding: 0; list-style-type: none; background-color: #5e5e5e; position: absolute; width: 170px; display: none; top:30px; z-index:999;}
ul.ddchild > li{border-bottom: solid 1px #fff; width:100%;}
ul.ddchild > li a{padding: 0 10px; font: bold 14px/30px Arial; color: #fff; text-decoration: none;}
.nav ul ul li { margin:0;}

.dropbot{position:relative;}
.nav > ul > li > ul.ddchildbot{margin: 0; padding: 0; list-style-type: none; background-color: #5e5e5e; position: absolute; width: 170px; display: none; bottom:26px; z-index:999;}
ul.ddchildbot > li{border-bottom: solid 1px #fff; width:100%;}
ul.ddchildbot > li a{padding: 0 10px; font: bold 14px/30px Arial; color: #fff; text-decoration: none;}



/*--contest page --*/

.contest_body {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/contest-bg.jpg); padding:40px; overflow:hidden; }
.ct_head { font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:22px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Logo-story.png) left center no-repeat; padding:30px 0 30px 300px; line-height:26px; margin-bottom:50px; }
.ct_left { width:530px; float:left;}
.left_img { float:left; margin-right:15px; border:1px solid #fff;}
h3 {font: normal 20px/22px "Arial-Black", Gadget, sans-serif; font-weight:bold; text-transform:uppercase; padding-bottom:3px}
h3 span { font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal;}
.ct_right { width:326px; float:right;}
.contest_body ul { padding:0px; margin:0px;}
.contest_body ul li { list-style-type:none; display:inline-block; margin:0 3px 0px 0;}
.contest_body ul li a { padding:0px; margin:0px; display:inline-block;}
.contest_body ul li a img { border:1px solid #fff}
.btn { padding:5px; border:1px solid #fff;}

.sharetxt {font:normal 20px arial; color:#272727; text-transform:uppercase;width:100px; float:left;margin-top: 5px;}
.sharefb {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/FB_color.png) no-repeat top left; width:35px; height:34px; float:left;display:block;margin-right:8px; text-indent:-9999px;}
.sharefb:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/FB_grey.png) no-repeat top left;}
.sharetwt {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Twitter_color.png) no-repeat top left; width:35px; height:34px; float:left;display:block;margin-right:8px; text-indent:-9999px;}
.sharetwt:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Twitter_grey.png) no-repeat top left;}
.votenow {background-color:#fff400; font:normal 20px/29px Arial-Black; padding:0 3px; color:#525252; border:none; border-radius:5px; float:right;cursor:pointer;}
.viewall {background-color: #EFEFEF;border: medium none;border-radius:3px;color: #525252;cursor: pointer;float: right;font: 16px/29px arial;padding: 2px 5px;margin-top:5px;}
.sharecont {padding-bottom:10px; border-bottom:1px solid #6d6e70; margin-bottom:3px;}
.slideshow {}
.slideshow h5 { overflow:hidden;  width:469px; float:left}
.belt_outer { width:470px; overflow:hidden; height:110px;}
.belt { overflow:hidden; position:relative; height:110px; margin-top:-18px; }
.nextdiv {width:224px;float:left; }
.prevdiv {width:224px; border-right:1px solid #6d6e70; padding-right:10px; margin-right:10px; float:left;}
.shprevarrow {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Arrow_LFT.png") no-repeat scroll left top transparent;display: block;float: left;height: 43px;margin-right: 10px;margin-top: 20px;text-indent: -9999px;width: 18px;}
.shnextarrow {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Arrow_RT.png") no-repeat scroll left top transparent;display: block;float: right;height: 43px;margin-left: 10px;margin-top: 20px;text-indent: -9999px;width: 18px;
}
.bottomtxt {float:left; width:220px; text-align:left; margin-top:10px;}
.lft {float:left;}
.input {width:100%; float:left;padding:3px 5px; font:normal 20px/24px arial; color:#666666; border:0; background:#efefef; border:1px solid #fff; margin-bottom:1px}
.textarea {background: none repeat scroll 0 0 #EFEFEF;border: 1px solid #FFFFFF;border-radius: 0 0 0 0;color: #666666;float: left;font: 20px/24px arial;height: 126px;margin-top: 0;padding: 1px 0;width: 277px;resize:none;}
.boderno { border-bottom:none;}
.ct_head1 {padding: 74px 0 74px 0px;width:255px;margin: 0 auto 50px;}
.youth-icons { margin-bottom:50px; display:inline-block}
.youth-icons ul { padding:0px; margin:0px 0 0px 0;}
.youth-icons ul li { text-align:center; width:250px; list-style-type:none;  padding: 0 20px;}
.gr-line { background:#525252; height:2px; width:290px;}
h4 {font-size: 34px;font-weight: bold;margin: -11px 0;padding: 0;text-align: center;}
.nm_now1 { background:#fff500; padding:7PX 7PX;  border-radius:5px; font-size: 30px; color:#525252; font-weight:bolder; width:225px; text-align:center; border:none}
.nm_now1 a {color:#525252; text-decoration:none;}
.nm_now1 a:hover {color:#000; text-decoration:none;}
#FileUpload { position: relative;float:right;}
#BrowserHidden {height: 175px;opacity: 0;position: relative;text-align: right;width: 190px;z-index: 2;}
#BrowserVisible {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/Add-photo.jpg")left top no-repeat;height: 175px;left: 0;position: absolute;top: 0;width: 190px;z-index: 0;}
#input { background:#efefef; border:1px solid #fff;}
.nm_now {background: none repeat scroll 0 0 #FFF500;border-radius: 5px 5px 5px 5px;color: #525252;font-size: 30px;font-weight: bolder;margin: 30px auto 0;padding: 15px 5px;text-align: center;width: 210px;}
.nm_now a {color:#525252; text-decoration:none}
.nm_now a:hover {color:#525252; text-decoration:none}


/*--Speakes Page */

.sp_nav > ul > li.drop {margin: 0;position: relative;}
.sp_active { background-color:#82b534}
.deactive { background-color:#333333}
.sp_nav {clear:both; padding-bottom:55px; display:block}
.sp_nav ul { }
.sp_nav ul li { font-weight:bold; list-style:none; text-transform:uppercase; display:inline;}
.sp_nav ul li a { color:#383838; text-decoration:none; padding:5px 10px; float:left}
.sp_nav ul li a:hover { color:#fff; text-decoration:none; background:#82b534; border-radius:3px;  }
.sp_nav ul li a.sp_active{ color:#fff; text-decoration:none; background:#82b534; border-radius:3px;  }
.sp_nav ul li , .nav ul li{float:left; margin:0 5px}
.sp_nav ul li:hover {color:#fff; text-decoration:none; background:#828282; border-radius:3px;}
.sp_nav ul li a { float:left}
.sp_nav > ul > li.drop:hover{background-position: 175px 7px;}
.sp_nav > ul > li.drop a:hover{color: #222;}
.sp_nav ul ul li { background-color:#666666}
.sp_nav > ul > li > ul.ddchild{margin: 0; padding: 0; list-style-type: none; background-color: #5e5e5e; position: absolute; width: 170px; display: none; top:30px; z-index:999;}
ul.ddchild > li{border-bottom: solid 1px #fff; width:100%;}
ul.ddchild > li a{padding: 0 10px; font: bold 14px/30px Arial; color: #fff; text-decoration: none;}
.sp_nav ul ul li { margin:0;}
.speaker_body { padding:25PX 0PX 100px 0; overflow:hidden; display:block }
.speaker_body h3  { color:#82b534}
.speakers { width:170px; height:240px; float:left; text-align:center; font-size:16px; padding:0px 10px;}
.speakers a { color:#383838; text-decoration:none;}
.speakers a:hover { color:#383838; text-decoration:underline;}

.nav > ul > li.drop1 {margin: 0;position: relative;}
.nav > ul > li > ul.ddchild1 {background-color: #5E5E5E;display: none;list-style-type: none;margin: 0;padding: 0;position: absolute;top: 30px;width: 175px;z-index: 999;}
ul.ddchild1 > li {border-bottom: 1px solid #FFFFFF;width: 100%;}
ul.ddchild1 > li a {color: #FFFFFF;font: bold 14px/30px Arial;padding: 0 0px 0 10px;text-decoration: none;width:165px;}
.RFID, .Singchana, .bindas {margin:10px 20px 0px;}


.programme_bg {/*background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/programme-top.jpg") no-repeat scroll center top transparent;*/}
.nav ul li a.active,.nav ul li a:hover {background:#b70d0d} .nav ul li:hover { background-color:#b70d0d}
.nav ul li a {padding:5px 9px;}
.jcarousel-skin-tango .jcarousel-item-horizontal {margin-right:6px !important;}.help_sec .fr {width:430px !important}
.nav > ul > li.drop1 { margin: 0;position: relative;}
.nav > ul > li > ul.ddchild1 {background-color: #5E5E5E;display: none;list-style-type: none;margin: 0;padding: 0;position: absolute;top: 30px;width: 175px;z-index: 999;}
ul.ddchild1 > li {border-bottom: 1px solid #FFFFFF;width: 100%;}
ul.ddchild1 > li a {color: #FFFFFF;font: bold 14px/30px Arial;padding: 0 0px 0 10px;text-decoration: none;width:165px;}
.right { float:right;}
.yellow-bg {background-color: #F7EE23;float: left;margin: 5px 0;padding: 5px;}
.main_content {width: 1000px; margin-bottom: 10px; float: left;}
#main_content_left {float: left;width: 683px;}
.homebanner {margin-bottom: 20px;}
.live_title {border-bottom: 1px solid #ccc;line-height: 30px;margin-bottom: 10px;}
.leftlivetitle {color: #b70d0d;float: left;font: normal 20px Arial-Black;width: 450px;text-transform:uppercase;}
.liveupdatedate {float: right;font: 12px/30px Arial;text-align: right;}
.datemh { float:left; padding:0; display:inline; color:#666666; font-size:12px; font-family:Tahoma; margin:2px 0 0 10px; display:inline; border:0px solid red; text-align:right; width:214px;}
.clear {clear: both;}
.livepage {float: left;width: 470px;}
.red{color:#B70D0D; }
.red a{color:#B70D0D; text-decoration:none;}
.red a:hover{text-decoration:underline;}
.highlight {float: right;width: 200px;}
.highlight_head {border-bottom: 1px dotted #000000;}
.highlighttitle {color: #b70d0d;float: left;font: bold 18px/18px Arial;width: 150px;}
.highlight_more {float: right;width: 50px;font-family: Arial;font-size: 14px;line-height: 20px;}
.highlight_more a {color: #000000;text-decoration: none;}
.contabactive {display: block;float: left;}
.contabbox {float: left;width: 683px;}
.mindr-contimeln {color: #606060;float: left;font: 14px/22px Arial-Black;width: 110px;}
.conritepart {background-image: url("http://conclave.intoday.in/conclave/images/line1.gif");background-position: left top;background-repeat: repeat-y;float: left;width: 573px;padding-bottom:15px;}
.consubrtpart {padding-left: 10px;}
.mindr-sessiontitle {background-color: #EEEEEE;color: #000000;font: 15px Arial-Black;letter-spacing: -1px;padding: 4px 8px;text-transform: uppercase;word-spacing: 1px;}
.consubleftbox {color: #C90A12;float: left;font: bold 15px/20px arial;margin: 10px 0;width: 300px;}
.mindr-headline {color: #000000;font: bold 14px/18px arial;}
.mindr-headline ul {margin: 20px 0 0;padding: 0;}
.mindr-headline ul li {background: url("/staticpages/mediaintoday/microsites/youthsummit2012/story-arrow.gif") no-repeat scroll left 5px transparent;color: #000000;font: bold 14px/18px arial;list-style: none outside none;margin: 3px 0 5px;padding: 1px 0 1px 15px;}
.mindr-headline ul li a {color: #21509E;text-decoration: none;}
.consubleftbox {color: #C90A12;float: left;font: bold 15px/20px arial;margin: 10px 0;width: 300px;}
.consubleftbox img {margin-right: 6px;}
.consubleftbox.links a {font-size: 12px;}
.mindr-consubrtbox {background: url("/staticpages/mediaintoday/microsites/youthsummit2012/arrow-line.gif") repeat-y scroll left top transparent;color: #343434;float: left;font: 12px/18px arial;margin: 10px 0 10px 10px;padding-left: 15px;width: 238px;}
.prj_name, .prj_name a {color: #B70D0D;font: bold 13px/20px Arial;text-decoration: none;}
.imgs {margin-right: 10px;}
.mindr-consubhead {color: #000000;font: bold 13px/20px arial;}
.mindr-consubrtbox {color: #343434;font: 12px/18px arial;}
.prjtomebg_2 {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/lunch-bg1.jpg") no-repeat scroll 0 0 transparent;color: #FFFFFF;font-weight: bold;height: 34px;line-height: 34px;padding: 0 10px;width: 543px;font:15px/30px Arial-Black; text-transform:uppercase;}
.mindr-headline ul li a {color: #21509E;text-decoration: none;}
.consubleftbox a {color: #C90A12;font: bold 12px arial;text-decoration: none;}
.bott-marg { margin-bottom:15px;}
.main-pro-head {width:683px; height:33px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/cor1.gif) no-repeat top left #000; float:left;}
.main-pro-head h3 {font:normal 18px/33px Arial-Black; text-transform:uppercase; color:#f7ee23; margin:0; padding:0 5px; float:left}
.mindr-text { font:normal 14px/18px arial; color:#6c6c6c;}
#contabbing { margin-top:10px;}
.marg-top { margin-top:10px;}
#sidebar {float: right;width: 300px;}
.side_chunk {clear: both;margin-bottom: 30px;}
.side_chunk_title {background: url("/staticpages/mediaintoday/indiatoday/youthsummit/2013/kolkata/dot.gif") repeat-x scroll center bottom transparent;color: #b70d0d;  font: bold 24px/24px Arial;height: 30px;}
#main_content {margin-top: 20px;}
.jcarousel-skin-tango .jcarousel-item { height: 170px;text-align: center;width: 117px;}
.jcarousel-skin-tango .jcarousel-prev-horizontal { left:0 !important;}
.jcarousel-skin-tango .jcarousel-next-horizontal {right:0 !important;}
.jcarousel-skin-tango li { font:normal 13px/20px arial; color:#000; text-align:center}
.jcarousel-skin-tango .kicker { font:normal 12px/15px arial; color:#6c6c6c;}
.jcarousel-skin-tango .red { font:bold 12px/20px arial; color:#b70d0d;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { height: 210px; width: 615px;}
.jcarousel-skin-tango .jcarousel-item-horizontal {margin-right:6px !important;}.help_sec .fr {width:430px !important}




/**********************Header Digital India 2016****************************/
body{background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/main_bg.jpg) repeat scroll center top;}
#main_container{padding-top:0; width:1000px;}
/*.digital_header{width:1202px; margin:0 auto;}*/
.digital_header{width:1202px; margin:0 auto;}
.top_ad_cont{width:100%; float:left;border-bottom:1px solid #ccc;background:#fff;}
.top_ad_cont .ad_cont{width:768px; margin:10px auto}
.top_ad_cont .ad_cont img{}
.clearfix{ clear:both;}
.logo_digital_cont{width:100%;float:left;background:#fff;}
.logo_digital_cont .logo_digital{width:1000px;margin:10px auto;}
.logo_digital_cont .logo_digital .hp_logo{width:134px;float:left; margin-top:53px;}
.logo_digital_cont .logo_digital .digital_india_logo{width:680px; float:left;}
.logo_digital_cont .logo_digital .digital_india_logo a{text-decoration:none;border:0;outline:0;}
.logo_digital_cont .logo_digital .digital_india_logo img{}
.logo_digital_cont .logo_digital .indiatoday_logo{ text-align:right; width:175px; float:right;margin-top:53px;}
.gray_reg_digital_cont{width:100%; float:left; background:#dddee0;}
.gray_reg_digital_cont .gray_reg_digital{width:1000px; margin:0 auto}
.gray_reg_digital_cont .gray_reg_digital .left_gray_part{/*width:790px;margin:10px;*/width:100%; padding:10px; box-sizing:border-box;  float:left; color:#3f3f41;font-size:16px;}
.gray_reg_digital_cont .gray_reg_digital .right_gray_part{width:165px; float:right;}
.button_register{display:inline-block; padding:5px; margin-top:20px; font-size:16px; text-transform:uppercase; text-align:center;width:132px;background:#c61d24;color:#fff;border-radius:5px;}
.button_register a{ text-decoration:none;color:#fff;}
.top_ad_cont{ text-align:center;} 

/**********************Header Digital India 2016****************************/


/**********************Navigation Part**************************/
.sp_nav ul li, .nav ul li{margin:0; font-size:15px; margin-right:5px;}
.nav ul li a{padding:5px 8px;}
.nav{ padding:0; margin:10px 0; float:left; width:836px; border-right:1px solid #000;}
.nav {border-right: none;}
.nav>ul>li.drop a:hover {color: #fff !important;}
.share_icons_digital{width:150px; margin-left:10px; float:left; margin-top:15px; text-align:right;}
.share_icons_digital .share_txt{width:80px; float:left;}  
.share_icons_digital a{/*margin-right:5px;*/}
.social_shr{width:20px; float:left}
.social_shr img{width:100%; float:left}
.social_share_cont{width:60px; float:right; }

/**************************Panalist Page********************/
.main_nav_container{width:100%; float:left;margin-bottom:10px; }
.clearfix{ clear:both;}
.container_panalist{ width:100%; float:left;}
.panalist_box{width:100%; float:left; margin-bottom:15px;box-sizing: border-box;box-shadow: 0 0 2px #ccc;padding: 10px;}
.panalist_box .panalist_left{width:20%; float:left; }
.panalist_box .panalist_left .panalist_img{ width:100%; float:left}
.panalist_box .panalist_left .panalist_img img{width:100%; float:left;}
.panalist_box .panalist_right{width:75%; float:right; }
.panalist_box .panalist_right .panalist_data{width:100%; float:left;}
.panalist_box .panalist_right .panalist_data h5.name_pn{ margin:0;padding:0; margin-bottom:5px;font-size:16px; font-weight:bold; text-transform:uppercase}
.panalist_box .panalist_right .panalist_data p{font-size:15px; }

.container_trailblazer{ width:100%; float:left;}   
.trailblazer_box{width:100%; float:left; margin-bottom:15px;box-sizing: border-box;box-shadow: 0 0 2px #ccc;padding: 10px;}
.trailblazer_box .trailblazer_left{width:20%; float:left; }
.trailblazer_box .trailblazer_left .trailblazer_img{ width:100%; float:left}
.trailblazer_box .trailblazer_left .trailblazer_img img{width:100%; float:left;}
.trailblazer_box .trailblazer_right{width:75%; float:right; }
.trailblazer_box .trailblazer_right .trailblazer_data{width:100%; float:left;}
.trailblazer_box .trailblazer_right .trailblazer_data h5.name_pn{ margin:0;padding:0; margin-bottom:5px;font-size:16px; font-weight:bold; text-transform:uppercase}
.trailblazer_box .trailblazer_right .trailblazer_data p{font-size:15px; }

.about_us_digital{ width:100%; float:left; margin-top:20px;}
.about_us_digital .about_hdn{ width:100%; float:left; font-size:16px; font-weight:bold; padding-bottom:5px; }
.about_us_digital .about_cont{ width:100%; float:left; font-size:15px; padding-bottom:30px}
.container_panalist { display:none;}
#panalist_1,#trailblazer_1 { display:block;}


.about_cont ul { padding:0; margin:0}
.about_cont ul li {margin-left: 18px; margin-bottom: 5px; line-height: 24px; font-size: 15px;}
.agenda_outer { padding:5px 10px 10px 10px; border:1px solid #eee;width:100%; float:left;box-sizing:border-box}
.agenda_outer .about_cont  { margin-bottom:10px;}
.agenda_outer .about_hdn{margin-bottom:10px; padding-bottom:5px; border-bottom:1px solid #f1f1f1}
.container_trailblazer{ display:none}
.sponsors_dt{ width:100%; float:left; min-height:550px}
.sponsors_dt .sponsors_dt_hd{width:100%; float:left; border-bottom: 1px solid #ccc;color:#fff; padding:5px 10px;
    margin-bottom: 30px; font-size:16px; font-weight:bold; text-transform:uppercase;box-sizing: border-box;
    background: #000;}

.sponsors_dt .sponsors_dt_cont{width:100%; float:left; margin-bottom:10px; font-size:15px;}
.sponsors_dt .sponsors_dt_cont h5{ font-size:15px;}
.sponsors_dt .sponsors_dt_img{width:100%; float:left; text-align:center; margin-bottom:10px;}

.content_trl{ text-align:center; width:100%; float:left;}
.content_trl .box_ptbl{    width: 120px; float:left; margin-right:15px}
.content_trl .box_ptbl .trbl_img{    float: left; }
.content_trl .box_ptbl .trbl_img img{  float: left; }
.content_trl .box_ptbl .trbl_txt{width:100%; float:left;}
.content_trl .box_ptbl .trbl_txt h5{ font-size:16px; margin:0; padding:0; margin-bottom:5px;}
.content_trl .box_ptbl .trbl_txt p{ font-size:15px;margin:0; padding:0; margin-bottom:10px;}

.chief_guest { background:#000; width:100%; float:left; margin-top:35px}
.chief_guest h3.trl{float:left; margin:0; padding:0; padding:5px 10px; color:#fff; font-size:15px;}
.chief_guest h3.trl a{ color:#fff; text-decoration:none}	

.hp_trailblzers_container{width:100%; float:left;}
.hp_trailblzers_container .heading_trl{ width:100%; float:left; box-sizing:border-box; background:#000; margin-bottom:10px;}
.hp_trailblzers_container .heading_trl h3.trl{float:left; margin:0; padding:0; padding:5px 10px; color:#fff; font-size:15px;}
.hp_trailblzers_container .heading_trl h3.trl a{ color:#fff; text-decoration:none}
.hp_trailblzers_container .heading_trl #trlblz{background: #B71521;float: right;color: #fff;font-size: 15px;border: none;padding: 7px 10px;border-radius:0}
#state_dropdown {/* background: #eaeaea none repeat scroll 0 0; border: 1px solid #c8c8c8; */border-radius: 0px;float: right;	text-transform:uppercase;height: 30px; /* margin-bottom: 20px; */padding: 2px;width: 168px;}

#state_dropdown_tr{/* background: #eaeaea none repeat scroll 0 0; border: 1px solid #c8c8c8; */border-radius: 0px;float: right;	text-transform:uppercase;height: 30px; /* margin-bottom: 20px; */
	padding: 2px;width: 168px;}


.trail_panel{ width: 100%;float: left; box-sizing: border-box;background: #000; margin-bottom: 10px;}
.trail_panel h3{ color:#fff;    padding: 3px 10px;}
.trail_panel select{background: #B71521;float: right;color: #fff;font-size: 15px;border: none; padding: 7px 10px; border-radius: 0; margin-bottom:0 }

.ad_cont_right{ width:300px; float:left;  margin-bottom:20px;}
.twitter_chunk{ width:300px; float:right; border:1px solid #eee; margin-bottom:20px;}
.trail_panel h3{font-size:16px;}
.footer_digital{width:100%; float:left; background:#dddee0; background:#191718; padding:0 0 10px 0}
.footer_digital .menu_digital{width:1000px; margin:0 auto}
.footer_digital .menu_digital ul{margin:0;padding:0; list-style-type:none}
.footer_digital .menu_digital .nav ul li a{ color:#fff}
.footer_digital .menu_digital .nav ul li a.active,.footer_digital .menu_digital .nav ul li a:hover{ background:#191718; color:#fff;}
.footer_digital .menu_digital .nav ul li:hover{ background:#191718; color:#fff;}
.footer_ad_cont{width:100%; background:#191718; background:#000; float:left;border-top:1px solid #383434;padding-top:10px; }
.footer_ad {width: 768px;margin: 0 auto;text-align: center}
img[usemap] {border: none;height: auto;max-width: 100%;width: auto;	}  
/* .content_trl .box_ptbl .trbl_img {
    width: 100%;
    float: left;
    height: 132px;
}

.content_trl .box_ptbl .trbl_img img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    float: left;
}
  */
  
.scrl{ overflow-x:scroll}
.panlist_cc{width:815px; float:left}
.agenda_outer{ margin-bottom:15px;}
.iframe_right_nv{width:100%; height:212px;}       
  
.agenda_outer_v {border:1px solid #eee;width:100%;float:left;box-sizing:border-box;padding:0; margin-bottom:20px;}
.agenda_outer_v .about_cont_v  { margin-bottom:10px;}
.agenda_outer_v .about_hdn_v{margin-bottom:10px; padding:5px 10px; border-bottom:1px solid #f1f1f1}

 
@media (max-width: 1024px)
{
.digital_header{ width:100%;}
.logo_digital_cont .logo_digital{ /*margin:0;*/}
}
@media (max-width: 800px)
{
.digital_header{width:100%;}
.logo_digital_cont .logo_digital{width:100%;}
.top_ad_cont{ text-align:center;}
.logo_digital_cont .logo_digital .hp_logo{width:90px;margin-top:32px; margin-left:5px;}
.logo_digital_cont .logo_digital .digital_india_logo{width:526px;}
.logo_digital_cont .logo_digital .digital_india_logo img{width:100%;}
.logo_digital_cont .logo_digital .indiatoday_logo{width:140px; margin-right:5px; margin-top:28px;}
.gray_reg_digital_cont .gray_reg_digital{width:100%;}
.gray_reg_digital_cont .gray_reg_digital .left_gray_part{/*width:570px;*/}

#main_container{width:100%;}
.nav{width:100%;}
.main_content{ width:100%}	  
#main_content_left{ float:none; margin:0 auto}
.nav ul {margin-left: 10px;}       
#sidebar{width:100%;}	
.ad_cont_right{ width:300px; float:left; margin-left:36px; margin-bottom:20px;}
.twitter_chunk{ width:300px; float:right; border:1px solid #eee; margin-right:45px; margin-bottom:20px;}
.footer_digital .menu_digital{width:100%;}
.footer_digital .menu_digital .nav{box-sizing:border-box;padding:10px;} 
.agenda_outer{width:300px; float:left; margin-left:36px}
.footer_ad{width:100%;}
.footer_digital .menu_digital .nav{ padding:0 10px}
.panlist_cc{width:100%;}
.agenda_outer_v{width: 300px; margin-left: 34px;}

}
@media (max-width: 700px)
{
.top_ad_cont{ display:none;}
.logo_digital_cont .logo_digital .digital_india_logo{ width:426px;}
#main_content_left{ width:99%;}
.footer_ad{ display:none;}
.ad_cont_right{margin-left: 10px;}
.twitter_chunk{ margin-right:10px;}
.agenda_outer{ margin-left:10px;}
.about_us_digital{ padding:10px; box-sizing:border-box;}     
.content_trl .box_ptbl{ width:114px;}
.content_trl{ margin-bottom:10px;}
.agenda_outer_v{ margin-left:11px;}  

#pre ,#next{ top: -47px !important;}
.hp_trailblzers_container { overflow:hidden}
}
@media (max-width: 641px)
{
*{box-sizing:border-box}
#footer-out{position:static; width:100%; float:left}
/* .indiatoday_logo{ position:relative; top:-178px; margin-top:0 !important}	 */
.logo_digital_cont .logo_digital .digital_india_logo{ margin-top:-86px; padding:0 10px;}
.logo_digital_cont .logo_digital .digital_india_logo{width:100%;}
.logo_digital_cont .logo_digital .digital_india_logo img{width:100%;}
.gray_reg_digital_cont .gray_reg_digital .left_gray_part{width:100%;}
#main_content_left{width:100%;}
#main_content_left img{/*width:100%;*/}
.about_us_digital{padding:10px; box-sizing:border-box}
.content_trl{padding:10px; box-sizing:border-box}
#footer{box-sizing:border-box; width:100% !important}
.add{box-sizing:border-box; width:100%; padding-left:0; margin-right:0; margin-bottom:20px;}
.social_icon{ float:none; margin:0 auto}
.gray_reg_digital_cont .gray_reg_digital .left_gray_part{margin:0}
.logo_digital_cont .logo_digital .hp_logo {margin-top: 10px;position: relative;top: 175px;}
.logo_digital_cont .logo_digital .indiatoday_logo{margin-top:21px;}

.sponsors_dt img{width:auto !important}
.sponsors_dt{box-sizing:border-box;padding:10px;}

.ad_cont_right{ width:300px; float:none; margin:10px auto;}
.twitter_chunk{ width:300px; float:none; margin:10px auto;}

.top_ad_cont{display:none}
/*.content_trl .box_ptbl .trbl_img img{height: 181px;}
.content_trl .box_ptbl .trbl_img{height:194px;}
.content_trl .box_ptbl{width: 176px; height:237px;}
*/
.content_trl .box_ptbl .trbl_txt h5{font-size:16px; line-height:23px; min-height: 64px;} 
.sp_nav ul li, .nav ul li{ margin-bottom:10px;}
.footer_ad_cont{width:100%;display:none;}
.ad_cont_right{ margin-left:0; margin:0 auto}
.twitter_chunk{ margin-right:0;margin:0 auto}
.agenda_outer{margin-left:0; margin:0 auto;float:none}
.gray_reg_digital_cont .gray_reg_digital .left_gray_part{padding:5px 10px}
.itlogo{width:96px;}
.hplogo{}
.agenda_outer_v{float: none;margin: 20px auto;}
.slider-year{overflow:auto;}
.slider-year ul li{width:16%;}
.slider-year ul li:nth-child(4){clear:left;}
}
          
@media (max-width: 481px){
.logo_digital_cont .logo_digital .hp_logo{top: 134px;}
.content_trl .box_ptbl .trbl_img img{height: 129px;}
.content_trl .box_ptbl .trbl_img{height:134px;}
.content_trl .box_ptbl{width: 130px; height:200px/*161px*/;}
.content_trl .box_ptbl .trbl_txt h5{font-size:14px; line-height:16px;}

}
@media (max-width: 376px){
.logo_digital_cont .logo_digital .hp_logo{top: 111px;}
}
@media (max-width: 361px){
.logo_digital_cont .logo_digital .hp_logo{top: 108px;}
.content_trl .box_ptbl .trbl_img img{height: 88px;}
.content_trl .box_ptbl .trbl_img{height:92px;}
.content_trl .box_ptbl{width: 85px; height:127px;}
.content_trl .box_ptbl .trbl_txt h5{font-size:11px; line-height:15px;}
ad_cont_right{ width:300px; float:none;  margin:20px auto;}
.twitter_chunk{ width:300px; float:none; border:1px solid #eee;margin:20px auto;}
}

@media (max-width: 321px){
.logo_digital_cont .logo_digital .hp_logo{top: 105px;}
.content_trl .box_ptbl .trbl_img img{height: 88px;}
.content_trl .box_ptbl .trbl_img{height:92px;}
.content_trl .box_ptbl{width: 85px; height:168px /*127px*/;}
.content_trl .box_ptbl .trbl_txt h5{font-size:11px; line-height:15px;}
}