
#itgd_links
{float:left; text-align:center; width:1003px; font:bold 11px arial; color:#000; line-height:20px; border:0px solid #000; margin:0; padding:0px 0 0 0;}
#itgd_links a
{border:0px solid #000; font:bold 11px arial; color:#002f5e; text-decoration:none; margin:0 10px;}
#itgd_links a:hover
{color:#D81921; }


#head { width:1004px !important; float:left; padding:0; margin:0 0 0 0; /*overflow:hidden;*/ border:0px solid #000; }
#head #it_logo { float:left; width:auto; text-align:left; padding:0px 0px 0 0px; }/*businesstoday Logo*/
#head #it_logo img
{margin:0 0 0 0px; }

.headinng-text {font-size:40px;font-family:Georgia,arial,verdana; color:#A80000;text-transform:uppercase;padding:0px 0px 10px 0px;}
.headinng-text a{color:#A80000; text-decoration:none;}
.headinng-text a:hover {color:#000000; text-decoration:underline;}

.left-text {font-size:17px; font-family:Georgia,arial,verdana;color:#000000;padding:0px 3px 4px 3px;line-height:19px;text-align:center;}
.left-text a{color:#000000; text-decoration:none;}
.left-text a:hover {color:#A21E00; text-decoration:underline;}

.left-new-text1 {font-size:11px; font-family:Georgia,arial,verdana;color:#000000;padding:8px 8px 10px 8px;line-height:19px;}
.left-new-text1 a{color:#000000; text-decoration:underline;}
.left-new-text1 a:hover {color:#A21E00; text-decoration:none;}


.headinng-text11 {font-size:22px;font-family:Georgia,arial,verdana; color:#000000;text-transform:uppercase;padding:8px 0px 2px 0px;}
.headinng-text11 a{color:#000000; text-decoration:none;}
.headinng-text11 a:hover {color:#A80000; text-decoration:underline;}


.11new-text1 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:2px 0px 0px 4px;line-height:19px;}
.11new-text1 a{color:#000000; text-decoration:none;}
.11new-text1 a:hover {color:#A21E00; text-decoration:underline;}

.p-text {font-size:12px; font-family:Georgia,arial,verdana;color:#A21E00;padding:0px 0px 0px 4px;line-height:17px;font-weight:bold;}
.p-text a{color:#A21E00; text-decoration:none;}
.p-text a:hover {color:#000000; text-decoration:underline;}

.p-text1 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:4px 0px 2px 4px;line-height:17px;font-weight:bold;}
.p-text1 a{color:#000000; text-decoration:none;}
.p-text1 a:hover {color:#A21E00; text-decoration:underline;}

.new-text11 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:2px 0px 0px 0px;line-height:19px;}
.new-text11 a{color:#000000; text-decoration:none;}
.new-text11 a:hover {color:#A21E00; text-decoration:underline;}

.more{font-size:11px; font-family:Georgia,arial,verdana;color:#A21E00;padding:3px 10px 6px 0px;}
.more a{color:#A21E00; text-decoration:underline;}
.more a:hover {color:#000000; text-decoration:none;}

.tt-newtext {font-size:12px; font-family:Georgia,arial,verdana;color:#ffffff;padding:4px 0px 4px 0px;text-align:center;}

.tt-newtext1 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:4px 0px 4px 0px;text-align:center;}


.tt-tab-new-text1 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:4px 0px 4px 0px;line-height:17px;font-weight:bold;}
.tt-tab-new-text1 a{color:#000000; text-decoration:none;}
.tt-tab-new-text1 a:hover {color:#A21E00; text-decoration:underline;}


.new-text {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:6px 0px 0px 0px;line-height:19px;}
.new-text a{color:#000000; text-decoration:none;}
.new-text a:hover {color:#A21E00; text-decoration:underline;}

.p-new-text1 {font-size:12px; font-family:Georgia,arial,verdana;color:#999999;padding:4px 0px 4px 4px;line-height:17px;font-weight:bold;text-align:right;}
.p-new-text1 a{color:#999999; text-decoration:none;}
.p-new-text1 a:hover {color:#A21E00; text-decoration:underline;}

.headinng-sub {font-size:28px;font-family:Georgia,arial,verdana; color:#0A3399;text-transform:uppercase;padding:15px 0px 8px 0px;}
.headinng-sub a{color:#0A3399; text-decoration:none;}
.headinng-sub a:hover {color:#000000; text-decoration:underline;}

.tab-new-text1 {font-size:12px; font-family:Georgia,arial,verdana;color:#000000;padding:4px 0px 4px 0px;line-height:17px;font-weight:bold;}
.tab-new-text1 a{color:#000000; text-decoration:none;}
.tab-new-text1 a:hover {color:#A21E00; text-decoration:underline;}

.tab-new-text2 {font-size:12px; font-family:Georgia,arial,verdana;color:#0A3399;padding:2px 0px 2px 0px;line-height:17px;font-weight:bold;}

.tab-new-text3 {font-size:12px; font-family:Georgia,arial,verdana;color:#55B300;}
.tab-new-text4 {font-size:12px; font-family:Georgia,arial,verdana;color:#55B300;text-align:center;}

#fixtures #nine_tab,
#fixtures #ten_tab
{float:left; margin:0 0px 0 0; text-align:center;}
#fixtures #ten_tab
{margin:0; }
#fixtures #nine_tab { border-left:0px solid #56b300;}

#fixtures #nine_tab a,
#fixtures #ten_tab a
{display:block;background-color:#ffffff; font:bold 12px Georgia; text-decoration:none; color:#000; line-height:20px; text-transform:uppercase  }

#fixtures #nine_tab a,
#fixtures #ten_tab a
{width:99px }
#fixtures #nine_tab a:hover,
#fixtures #ten_tab a:hover
{background-color:#56b300; color:#fff;}
#fixtures #nine_tab a.active,
#fixtures #nine_tab a.active:hover,
#fixtures #ten_tab a.active,
#fixtures #ten_tab a.active:hover
{display:block; width:150px; background-color:#56b300; text-decoration:none; color:#fff; line-height:25px; border-top:0px solid #56b300;  }
#fixtures #nine_tab a.inactive,
#fixtures #nine_tab a.inactive:hover,
#fixtures #ten_tab a.inactive,
#fixtures #ten_tab a.inactive:hover
{display:block; width:150px;background-color:#ffe200; text-decoration:none; color:#000000; line-height:25px; border-top:0px solid #56b300; border-left:0px solid #56b300; border-right:0px solid #56b300; }


/* -----------tab 2-------------*/

.tab_content {border: 1px solid #ffffff; border-top:none;padding-bottom: 15px;}
#tabContainer {padding-bottom: 0px;	margin-bottom: 0px;	display: block; font:bold 12px Georgia;}
#tabContainer div {	padding-bottom: 5px;padding-right: 30px;	padding-left: 40px;	font-weight: bold;margin-left: 0px;padding-top: 5px;color: #BE2102;float: left;}
#tabContainer .tabs_on, #tabContainer .tabs_off {border-bottom-color: #669CCC;border-right-color: #669CCC;	background-position: bottom;border-left-color: #669CCC;	border-bottom-style: solid;	background-color: #ffe200;border-right-style: solid;border-top-color: #669CCC;	border-left-style: solid;	border-bottom-width: 0px;	border-right-width: 0px;	border-top-style: solid;border-left-width: 0px;	border-top-width: 0px;	cursor: pointer;}
#tabContainer .tabs_on {background-color: #56b300; color:#fff;}

/*------------------footerdiv----------------*/

#footerdiv #google_ad_footer { margin:20px auto;  border:0px solid #000; text-align:center;}
#footerdiv #footer_menu {  width:70%; border:1px solid #BDD9E5; border-width:1px 0px 1px 0px; margin:0 auto; padding:0;height:18px; color:#4C4C4C; font-size:11px; font-family:Tahoma; text-align:center; font-weight:bold;}
#footerdiv #footer_menu .moduletable
{border:0px solid #000; width:100%; text-align:center }
#footerdiv #footer_menu a:link,
#footerdiv #footer_menu a:visited,
#footerdiv #footer_menu a:hover { color:#4C4C4C; text-decoration:none; line-height:16px; }
#footerdiv #footer_menu span { line-height:16px; margin:0 15px;}
#footerdiv #copyrights
{float:left; padding:10px 0;  font:normal 11px arial; color:#4B4B4B; text-align:center; width:100%; border:0px solid #000;}
#footerdiv #copyrights a
{text-decoration:none; color:#022F59; }

#footerdiv #copyrights a:hover
{text-decoration:underline; }

#footerdiv #itgd_group_links
{border:0px solid #000; margin:0 auto 15px auto; width:99%; font:normal 11px arial; color:#6277A4; line-height:18px; text-align:center; }

#footerdiv #itgd_group_links b
{width:auto; font:bold 11px Arial; color:#E31D36; border:0px solid #000; margin:0; line-height:18px; }
#footerdiv #itgd_group_links strong
{color:#494949; margin:0 0 0 5px;}
#footerdiv #itgd_group_links a
{text-decoration:none; color:#6277A4; margin:0 5px;}
#footerdiv #itgd_group_links a:hover
{text-decoration:underline; }