body {margin:0; padding:0;}
.clear {clear:both}
.top-links {font-size:14px;font-family:arial,verdana;color:#ffffff;text-transform:uppercase;font-weight:bold;}
.top-links a{color:#ffffff;text-decoration:none;padding:0px 10px 0px 10px;}
.top-links a:hover{color:#D71920; text-decoration:none;}

.top-links1 {font-size:14px;font-family:arial,verdana;color:#ffffff;text-transform:uppercase;font-weight:bold;text-align:center;}
.top-links1 a{color:#ffffff;text-decoration:none;}
.top-links1 a:hover{color:#fff000; text-decoration:none;}

.top-links2  {font-size:16px;font-family:arial,verdana;color:#000000;padding:0px 0px 0px 0px;line-height:22px;}


.h-head {font-size:18px;font-family:arial,verdana;color:#D71920;font-weight:bold;padding:0px 30px 0px 30px;line-height:25px;}

.h-head1 {font-size:16px;font-family:arial,verdana;color:#000000;padding:10px 28px 0px 30px;line-height:22px;}
.h-head1 a{color:#000000;text-decoration:none;}
.h-head1 a:hover{color:#fff000; text-decoration:none;}

.h-head-new  {font-size:18px;font-family:arial,verdana;color:#D71920;font-weight:bold;padding:3px 0px 5px 0px}
.h-head-new a{color:#D71920;text-decoration:none;}
.h-head-new a:hover{color:#000000; text-decoration:none;}

.h-text{font-size:16px;font-family:arial,verdana;color:#00409F;padding:0px 0px 0px 10px;;font-weight:bold;}
.h-text a{color:#00409F;text-decoration:none;}
.h-text a:hover{color:#D71920; text-decoration:none;}

.h-text-sub{font-size:12px;font-family:arial,verdana;color:#4E4E4E;padding:5px 0px 0px 10px;font-weight:bold;}
.h-text-sub1{font-size:12px;font-family:arial,verdana;color:#4E4E4E;font-weight:bold;}

.h-text1{font-size:12px;font-family:arial,verdana;color:#000000;padding:10px 28px 0px 10px;line-height:19px;}
.h-text1 a{color:#000000;text-decoration:underline;}
.h-text1 a:hover{color:#D71920; text-decoration:none;}

.sk1{font-size:12px;font-family:arial,verdana;color:#00409F;padding:4px 0px 4px 0px;line-height:19px;text-align:center;font-weight:bold;}
.sk1 a{color:#00409F;text-decoration:underline;}
.sk1 a:hover{color:#D71920; text-decoration:none;}


.pro{font-size:14px;font-family:arial,verdana;color:#000000;padding:4px 0px 4px 0px;line-height:19px;font-weight:bold;}
.pro a{color:#000000;text-decoration:underline;}
.pro a:hover{color:#D71920; text-decoration:none;}

.pro1{font-size:12px;font-family:arial,verdana;color:#000000;padding:4px 0px 4px 0px;line-height:19px;}
.pro1 a{color:#000000;text-decoration:underline;}
.pro1 a:hover{color:#D71920; text-decoration:none;}

.pro2{font-size:14px;font-family:arial,verdana;color:#000000;padding:4px 0px 0px 0px;line-height:19px;font-weight:bold;}
.pro2 a{color:#000000;text-decoration:underline;}
.pro2 a:hover{color:#D71920; text-decoration:none;}

.pro3{font-size:12px;font-family:arial,verdana;color:#E61B23;line-height:19px;font-weight:bold;}
.pro3 a{color:#000000;text-decoration:underline;}
.pro3 a:hover{color:#D71920; text-decoration:none;}

.pro4{font-size:12px;font-family:arial,verdana;color:#000000;padding:0px 0px 4px 0px;line-height:19px;}
.pro4 b {color:#000000;font-size:14px;}
.pro4 a{color:#000000;text-decoration:underline;}
.pro4 a:hover{color:#D71920; text-decoration:none;}

.pading{padding:4px 0px 4px 0px;}

.head11{
				font-size:11px;
				font-family:verdana,arial;
				color:#000000;
				Font-weight:bold;
			   }

.head11 a{
					color:#C4171E; 
					text-decoration:none;
			    }

.head11 a:hover{
						color:#000000; 
						text-decoration:none;
						
			  }

.enquiry-head {
				font-size:12px;
				font-family:verdana,arial;
				color:#000000;
				font-weight:bold;
				padding:6px 0 6px 15px;
				text-transform:uppercase;
			  }

.enquiry-head1 {
				font-size:18px;
				font-family:arial,verdana;
				color:#FFA200;
				font-weight:bold;
				padding:4px 0 4px 15px;
				text-transform:uppercase;
			  }

.enquiry-text {
				font-size:12px;
				font-family:arial,verdana;
				color:#000000;
				font-weight:bold;
				padding-left:15px;
				text-transform:uppercase;
			  }

.enquiry-text1 {
				font-size:11px;
				font-family:verdana,arial;
				color:#000000;
				line-height:15px;
				padding-left:10px;
			   }

.enquiry-text1 a{
					color:#000000; 
					text-decoration:none;
			    }

.enquiry-text1 a:hover{
						color:#000000; 
						text-decoration:none;
					  }

.t-field {
			font-size:11px;
			font-family:verdana,arial;
			color:#000000;
			BORDER-RIGHT: #D1D1D1 1px solid; 
			BORDER-TOP: #D1D1D1 1px solid; 
			BORDER-LEFT: #D1D1D1 1px solid; 
			BORDER-BOTTOM: #D1D1D1 1px solid;
			background-color:#ffffff;
		}

.t-field1 {
			font-size:11px; 
			font-family:verdana,arial;
			color:#858585;
			padding-left:4px;
			BORDER-RIGHT: #7F9DB9 1px solid; 
			BORDER-TOP: #7F9DB9 1px solid; 
			BORDER-LEFT: #7F9DB9 1px solid; 
			BORDER-BOTTOM: #7F9DB9 1px solid;
			background-color:#ffffff;
		  }

.enquiry-images {
					text-align:center;
					padding:6px 0 6px 0px;
				}

.enquiry-offer-text {
						font-size:10px;
						font-family:verdana,arial;
						color:#FFFFFF;
						font-weight:bold;
						text-transform:uppercase;
						padding:2px 0 2px 2px;
					}

.enquiry-offer-text1 {
						font-size:10px;
						font-family:verdana,arial;
						color:#000000;
						font-weight:bold;
						padding-left:2px;
					 }

.enquiry-text-info {
						font-size:11px;
						font-family:verdana,arial;
						color:#000000;
						font-weight:bold;
						padding-right:15px;
						text-align:right;
				   }

.enquiry-offer-head1 {
						font-size:11px;
						font-family:verdana,arial;
						color:#000000;
						padding:2px 0 2px 2px;
						text-align:center;
					 }

.enquiry-txt {
				font-size:11px;
				font-family:verdana,arial;
				color:#858585;
				padding:2px 0 2px 10px;
			 }

.group-link {font-size:12px; font-family:arial,verdana;color:#D5D5D5;padding:0px 1px 0px 15px;font-weight:bold;}
.group-link a{color:#D5D5D5; text-decoration:none;padding:0px 11px 0px 11px;}
.group-link a:hover {color:#FFFFFF; text-decoration:underline;}

#sidebar {float: right;  width: 300px;}
.side_chunk {clear: both;  margin-bottom: 30px;}
.divleft {float:left; width:300px;}
.side_chunk_title {height: 30px; color: #C90C1D; font: bold 20px/24px Arial;text-transform:uppercase}
.profile.gray{background:#F0F0F0;}
.profile{padding-top:8px;}
.profilediv{padding-bottom:8px;}
.profile img{ float: left;}
.profile .proright{float:right; width:190px;}
.profile .name, .profile .name a {color: #C90A12;font: bold 14px/20px Arial;text-decoration:none;text-transform:uppercase;}
.profile .name a:hover{text-decoration:underline;}
.profile .profilebyline{color: #999;font:italic bold 12px/18px Arial;}
.profile .profilebyline a{color: #999; text-decoration:none;}
.profile .profilebyline a:hover {color: #999; text-decoration:underline;}
.profile .profilebyline .imgs {width:6px; height:6px;margin-right:3px;margin-top:7px;}
.profile .profiletext{color: #000000;font: 12px/18px Arial;}
.snapsheader {font:bold 13px verdana; color:#C90A12; line-height:18px; text-decoration:none; text-transform:uppercase; margin-top:15px; margin-bottom:5px;}
.snapsheader a {color:#C90A12; text-decoration:none}
.snapsheader a:hover {color:#C90A12; text-decoration:underline}
.more {font:bold 13px verdana; color:#C90A12; line-height:18px; text-decoration:none; text-transform:uppercase; margin-top:15px; margin-bottom:5px; float:right; margin-right:35px;}
.more a {color:#C90A12; text-decoration:none}
.more a:hover {color:#C90A12; text-decoration:underline}
.photovidbox {
    background: none repeat scroll 0 0 #E9E9E9;
    display: inline-block;
    margin: 1px 0 0;
    padding: 2px;
    text-align: center;
    vertical-align: top;
}

.stcaption {
    color: #5A5A5A;
    font: bold 11px/15px arial;
    text-transform: uppercase;
    width: 140px;
}
.stcaption a { text-decoration:none; color:#5A5A5A;}
.stcaption a:hover { text-decoration:underline; color:#5A5A5A;}
.rightsp {
    margin-left: 3px;
}
.otherstr{font:normal 12px Arial;line-height:18px;color:#000000;padding:0;margin:0}
.otherstr ul{list-style:none;margin:0;padding:0 0 0 0px}
.otherstr ul li{list-style:none;color:#000000;font:normal 12px Arial;margin:0px 0 5px 0;_margin:0px 0 2px 0;padding:0 2px 0 8px;}
.otherstr a {text-decoration:none; color:#000;}
.otherstr a:hover {text-decoration:underline; color:#000;}
.venuetitle{color:#ffffff !important; font: bold 14px/18px Arial; margin-top:10px;}
.venueaddredd{color:#999999;font: bold 12px/18px Arial;}

.presenting {margin:0 auto; padding:5px auto; width:1003px; text-align:center;}
.presentingbox {text-align:center; padding:14px 9px;}
.presmar{color:#C90A12; font:bold 14px/20px arial;}
.partnerband {border-bottom:1px dotted #4E4E4E; border-top:1px dotted #4E4E4E; margin:0 auto 20px; padding:5px auto; width:1003px;}
.partnerbox {text-align:center; padding:14px auto; width:100px;padding-top:5px; margin-bottom:15px; font:bold 11px/18px arial;}
.partmar5 {margin-bottom:5px;}
.partmar10 {margin-bottom:10px;}
.partmar20 {margin-bottom:20px;}
.footerbg {background-color:#c80b1d; padding:20px 0; border-bottom:3px solid #000; margin-bottom:20px;}
.normalgreytxt {font:14px/20px Arial; color:#999999;width:95%;}
.nav {width:1003px; margin:0 auto; position:relative}
.nav ul {margin:0; padding:0;}
.nav ul li {float:left; list-style:none; background:url(/staticpages/mediaintoday/indiatoday/state-of-the-states/2013/images/nav-line.png) no-repeat top right; font:bold 18px arial; text-transform:uppercase;color:#fff; padding:5px 10px;}
.nav ul li a {color:#fff; text-decoration:none;}
.nav ul li a:hover {color:#000;text-decoration:none;}
.nav ul li.last {background:none;}
.nav .flashback {float:right; background-color:#4b4b4b; color:#FFF000;font:bold 18px arial;text-transform:uppercase;}

.flashback ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}
.flashback ul li {
  font: bold 18px arial;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 5px 15px;
  background:#4B4B4B;
  cursor: pointer;
  color:#FFF000;
  text-transform:uppercase; width:205px;
}
.flashback ul li:hover {
  background: #555;
  color: #fff;
}

.flashback ul li ul {
    box-shadow: none;
    display: none;
    left: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 31px;
    visibility: hidden;
    width: 229px;
}
.flashback ul li ul li { 
  background: #555; 
  display: block; 
  color: #FFF000; font:bold 14px/18px arial;
  text-shadow: 0 -1px 0 #000;
  border-top:1px solid #ccc;
}
.flashback ul li ul li:hover { background: #666; }
.flashback ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

.progbgbox {
    background:#ECECEC;
    padding: 20px 10px;
	width:660px; font:14px/18px Arial,Helvetica,sans-serif;
}

.progday {
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    font: 18px arial;
    margin-bottom: 25px;
    padding: 5px 10px;
    text-transform: uppercase;
}
.clear {clear:both}
.clr {
    clear: both;
}
.prog-sch-box {
    background: url("/staticpages/mediaintoday/indiatoday/lines.gif") repeat-y scroll left top rgba(0, 0, 0, 0);
    float: left;
    padding-bottom: 30px;
    width: 100%;
}

.prog-left {
    float: left;
    width: 113px;
}
.prog-time {
    color: #606060;
    font: 14px/22px Arial Black,Arial,Helvetica,sans-serif;
    text-align: right;
}

.prog-right {
    float: left;
    margin-left: 10px;
    padding-left: 15px;
    width: 510px;
}
.prog-head {
    color: #000000;
    font: 16px/20px Arial Black,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}

.prog-txt {
    color: #383838;
    font: 14px/20px arial;
}
.marg-top {
    margin-top: 10px;
}
.prj_name, .prj_name a {
    color: #ED1C24;
    font: 13px/20px Arial;
    text-decoration: none;
}
.progboox-full {
    float: left;
    margin: 10px 5px;
    width: 100%;
}
.imgs {
    margin-right: 10px;
}
.mindr-consubhead {
    color: #000000;
    font: bold 13px/20px arial;
}
.red {color:#d71920;}