/*Start CSS Desktop version*/
@import "itg-variables";
@import "itg-mixins";


@media all and (min-width: 767px){

  h1{    
    @include font($h1-font-size,$h1-line-height,$itg-font-bold);
  }
  /* HEADER CSS */
  header{
    position: relative;
    .header-bar {
      margin: 0 auto;
      max-width: 1360px;
      position: relative;
    }
    .logo-n-three-bar{
      bottom: -20px;
      .three-bar{
        margin: 44px 18px 0 28px;
        padding: 0;
        height: 15px;
        width: 21px;
        cursor: pointer;
        span{
          background-color: #000;
          display: inline-block;
          vertical-align: top;
          width: 21px;
          height: 3px;
          margin-top: 6px;
          position: relative;
          &:before, &:after{
            content: '';
            position: absolute;
            height: 3px;
            background-color: #000;
          }
          &:before{
            width: 50%;
            bottom: 6px;
          }
          &:after{
            width: 100%;
            top: 6px;
          }
        }
      }
      .header__logo{
        img{
          max-width: 100%;  
        }
      }
    }
    .region-header{
      margin-top: 30px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 100%;
      z-index: 9998;
      .main-menu {
        float: left;
        margin-top:10px;
        ul {
          list-style: none;
          li {
            float: left;
            a{
              color:#c0c0c0;
              outline: none;
              padding: 10px 20px;
              display: block;
              font-family: 'Noto Sans';
              font-weight: 700;
            }
            a.active,a:hover {
              color:#000;
            }
          }
        }

      }
    }

    .header-right-menu{
      float: right;
      ul{
        list-style: none;
        li{
          float: left;
          width: 60px;
          height: 60px;
          a{
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            height: 60px;
          }
          &.icon-search a{
            background-color: #ddd;
            background-image: url(../images/icon_search.png);
          }
          &.icon-notification a{
            background-color: #e6e6e6;
            background-image: url(../images/icon_notification.png);
          }
          &.icon-user a{
            background-color: #f6f6f6;
            background-image: url(../images/icon_user.png);
          }
          &.city-temp{
            min-width: 133px;
            display: block;
            a{
              padding: 8px 20px;
              background-color: #0c1559;
              color: #fff;
              .city-name{
                font-size: 12px;
                display: block;
                .fa{
                  font-size: 26px;
                  margin-right: 10px;
                }
              }
              .temp{
                font-size: 24px;
                font-family: 'Noto Serif';
              }
            }
          }
          &.live-tv{
            width: 156px;
            a{
              background: url(../images/icon_live_tv.png) 25px 12px no-repeat #d9000c;
              color: #fff;
              padding: 18px 20px 18px 60px;
              font-size: 18px;
              height: 60px;
            }
          }
        }
      }
    }
  }
  .front{
    header{
      &::after {
        background-color: #f6f6f6;
        bottom: 0;
        content: "";
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
  /* END OF HEADER CSS */

  /* START OF BIG STORY FORMAT CSS */
  /*  #block-itg-widget-aaj-tak-big-story{
      border-bottom: 1px solid #ccc;
      margin: 0 auto 50px;
      max-width: 1360px;
      @include clearfix;
    }*/
  .big-story-wrapper{
    position: relative;
    .extra-large-image{
      img{
        width: 100%;
        max-height: 430px;
      }
    }
    .big-story-text{
      position: absolute;
      left: 0;
      bottom: 30px;
      background-color: rgba(0,0,0,.8);
      padding: 28px;
      .big-story-title{
        a{
          color: #fff;
          @include font(28px, 30px, $itg-font-bold);
        }
      }
      .reported-by{
        padding-top: 13px;
        .name, .date{
          display: inline-block;
          vertical-align: top;
          @include font(18px,20px,$itg-font-regular);
          color: #9a9a9a;
          padding: 0 5px;
          position: relative;
        }
        .name a{
          color: #9a9a9a;
        }
        .date:before{
          content: '|';
          position: absolute;
          font-size: 12px;
          left: -4px;
          top: 0;
        }
      }
    }
  }
  .big-story-related-content{
    position: relative;
    padding: 0 24px;
    &:after {
      background-color: #ccc;
      content: "";
      height: 100%;
      left: 24px;
      position: absolute;
      top: 0;
      width: 1px;
    }
    .slick-arrow {
      background-color: #000;
      border: 1px solid #000;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 15px;
      text-indent: -9999px;
      z-index: 99;
      overflow: hidden;
      cursor: pointer;
    }
    .slick-prev{
      top: 40px;
      &:before {
        border-color: transparent #000 transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 1px;
        position: absolute;
        top: 3px;
        width: 0;
        z-index: 9;
      }
      &:after {
        border-color: transparent #fff transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 3px;
        width: 0;
      }
    }
    .slick-next{
      bottom: 40px;
      &:before {
        border-color: transparent transparent transparent #000;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 6px;
        position: absolute;
        top: 3px;
        width: 0;
        z-index: 9;
      }
      &:after {
        border-color: transparent transparent transparent #fff;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left:7px;
        position: absolute;
        right: 0;
        top: 3px;
        width: 0;
      }
    }
  }
  .big-story-related-content-list{
    border-left: 1px solid #ccc;
    float: left;
    padding: 26px;
    width: 327px;
    @for $i from 1 through length($colors) {
      &:nth-child(#{length($colors)}n+#{$i}) {
        .tile{
          .category-name{
            color: nth($colors, $i);
          }
        }
      }
    }
    .tile{
      .pic {
        float: left;
        max-height: 67px;
        max-width: 118px;
        margin-right: 10px;
        overflow: hidden;
      }
      .details{
        overflow: hidden;
      }
      .category-name{
        @include font(14px,14px,$itg-font-regular);
      }
      .title{
        @include font(14px,14px,$itg-font-bold);
        padding: 5px 0;
      }
      .reported-by{
        .name, .date{
          display: inline-block;
          vertical-align: top;
          @include font(12px,14px,$itg-font-regular);
          color: #9a9a9a;
          padding: 0 5px;
          position: relative;
        }
        .name a{
          color: #9a9a9a;
        }
        .date:before{
          content: '|';
          position: absolute;
          font-size: 12px;
          left: -4px;
          top: 0;
        }
      }
    }
  }
  /* END OF BIG STORY FORMAT CSS */
  /* START OF PROMOTED TO FRONT TOP SLIDER CSS FOR HOMEPAGE */
  #block-itg-widget-aaj-tak-big-story{
    background-color: #000;
    @include display-inline;
    width: 100%;
    position: relative;
    padding: 15px 0;
    &:after{
      box-shadow: 0 0 16px 10px rgba(0, 0, 0, 0.8);
      content: '';
      position: absolute;
      left: 0;
      top: 16px;
      width: 100%;
      z-index: 99;
    }
  }
  .promoted-to-front{
    max-width: 1240px;
    margin: 0 auto;
    .slick-list{
      overflow: visible;
    }
    .slick-arrow {
      border: none;
      position: absolute;
      top: 50%;
      z-index: 9999;
      width: 40px;
      text-indent: -9999px;
      height: 40px;
      &.slick-next{
        background: rgba(0,0,0,0) url(../images/next.png) center center no-repeat;
        right: -50px;
      }
      &.slick-prev{
        background: rgba(0,0,0,0) url(../images/prev.png) center center no-repeat;
        left: -50px;
      }
    }
  }
  .promoted-to-front-list{
    float: left;
    width: 1240px;
    &:after {
      background-color: rgba(0, 0, 0, 0.8);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9;
    }
    &.slick-current{
      position: relative;
      z-index: 10;
      &:after{
        display: none;
      }
    }
    .tile-wrapper{
      padding: 5px;
      width: 25%;
      float: left;
      .tile-inner {
        background-color: #fff;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        .icon-list{
          @include icon-list($left: null, $right: 8px, $top: 5px, $bottom: null);
        }
      }
      .tile{
        display: block;
        .pic{
          position: relative;
          img{
            width: 100%;
            height: 167px;
          }
          .category-name{
            border-radius: 5px 5px 0 0;
            background-color: #69dd55;
            color: #fff;
            padding: 0 15px;
            @include font(16px,26px,$itg-font-regular);
            position: absolute;
            left: 20px;
            bottom: 0;
          }
        }
        .title{
          padding: 10px 18px 5px;
          h2{
            height: 40px;
            @include font(16px,18px,$itg-font-bold);
            overflow: hidden;
          }
        }
        .reported-by{
          padding: 0 18px 10px;
          .name, .date{
            display: inline-block;
            vertical-align: top;
            @include font(12px,14px,$itg-font-regular);
            color: #9a9a9a;
            padding: 0 8px;
            position: relative;
          }
          .date:before{
            content: '|';
            position: absolute;
            font-size: 12px;
            left: -4px;
            top: 0;
          }
        }
      }
    }
  }
  .promoted-to-front-list:first-child{
    .tile-wrapper:first-child{
      padding: 5px;
      width: 50%;
      float: left;
      .tile-inner {
        border-radius: 8px;
        .icon-list{
          right: 15px;
          top: 10px;
        }
      }
      .tile{
        display: block;
        .pic{
          position: relative;
          img{
            width: 100%;
            height: 347px;
          }
          .category-name{
            border-radius: 8px 8px 0 0;
            background-color: #fbad5a;
            color: #fff;
            padding: 0 15px;
            @include font(20px,32px,$itg-font-regular);
            position: absolute;
            left: 25px;
            bottom: 0;
          }
        }
        .title{
          padding: 25px 25px 13px;
          h2{
            height: 75px;
            @include font(30px,36px,$itg-font-bold);
          }
        }
        .reported-by{
          padding: 0 25px 30px;
          .name, .date{
            display: inline-block;
            vertical-align: top;
            @include font(18px,20px,$itg-font-regular);
            color: #9a9a9a;
            padding: 0 10px;
            position: relative;
          }
          .date:before{
            content: '|';
            position: absolute;
            font-size: 14px;
            left: -4px;
            top: 0;
          }
        }
      }
    }
  }
  /* END OF PROMOTED TO FRONT TOP SLIDER CSS */
}

