/*Start CSS Desktop version*/
@import "itg-variables";
@import "itg-mixins";


@media all and (min-width: 767px){
  
  h1{    
    @include font($h1-font-size,$h1-line-height,$itg-font-bold);
  }
  /* HEADER CSS */
  header{
    position: relative;
    .header-bar {
      margin: 0 auto;
      max-width: 1360px;
      position: relative;
    }
    .logo-n-three-bar{
      bottom: -20px;
      .three-bar{
        margin: 44px 18px 0 28px;
        padding: 0;
        height: 15px;
        width: 21px;
        cursor: pointer;
        span{
          background-color: #000;
          display: inline-block;
          vertical-align: top;
          width: 21px;
          height: 3px;
          margin-top: 6px;
          position: relative;
          &:before, &:after{
            content: '';
            position: absolute;
            height: 3px;
            background-color: #000;
          }
          &:before{
            width: 50%;
            bottom: 6px;
          }
          &:after{
            width: 100%;
            top: 6px;
          }
        }
      }
      .header__logo{
        img{
          max-width: 100%;  
        }
      }
    }
    .region-header{
      margin-top: 30px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 100%;
      z-index: 9998;
      .main-menu {
        float: left;
        margin-top:10px;
        ul {
          list-style: none;
          li {
            float: left;
            a{
              color:#c0c0c0;
              outline: none;
              padding: 10px 20px;
              display: block;
              font-family: 'Noto Sans';
              font-weight: 700;
            }
            a.active,a:hover {
              color:#000;
            }
          }
        }
        
      }
    }
    
    .header-right-menu{
      float: right;
      ul{
        list-style: none;
        li{
          float: left;
          width: 60px;
          height: 60px;
          a{
            background-position: center center;
            background-repeat: no-repeat;
            display: block;
            height: 60px;
          }
          &.icon-search a{
            background-color: #ddd;
            background-image: url(../images/icon_search.png);
          }
          &.icon-notification a{
            background-color: #e6e6e6;
            background-image: url(../images/icon_notification.png);
          }
          &.icon-user a{
            background-color: #f6f6f6;
            background-image: url(../images/icon_user.png);
          }
          &.city-temp{
            min-width: 133px;
            display: block;
            a{
              padding: 8px 20px;
              background-color: #0c1559;
              color: #fff;
              .city-name{
                font-size: 12px;
                display: block;
                .fa{
                  font-size: 26px;
                  margin-right: 10px;
                }
              }
              .temp{
                font-size: 24px;
                font-family: 'Noto Serif';
              }
            }
          }
          &.live-tv{
            width: 156px;
            a{
              background: url(../images/icon_live_tv.png) 25px 12px no-repeat #d9000c;
              color: #fff;
              padding: 18px 20px 18px 60px;
              font-size: 18px;
              height: 60px;
            }
          }
        }
      }
    }
  }
  .front{
    header{
      &::after {
        background-color: #f6f6f6;
        bottom: 0;
        content: "";
        display: block;
        height: 60px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
  /* END OF HEADER CSS */
  
  /* START OF BIG STORY FORMAT CSS */
  #block-itg-widget-aaj-tak-big-story{
    max-width: 1360px;
    position: relative;
    margin: 0 auto;
    .extra-large-image{
      img{
        width: 100%;
        max-height: 430px;
      }
    }
    .big-story-text{
      position: absolute;
      left: 0;
      bottom: 30px;
      background-color: rgba(0,0,0,.8);
      padding: 28px;
      .big-story-title{
        a{
          color: #fff;
          @include font(28px, 30px, $itg-font-bold);
        }
      }
      .reported-by{
        padding-top: 13px;
        .name, .date{
          display: inline-block;
          vertical-align: top;
          @include font(18px,20px,$itg-font-regular);
          color: #9a9a9a;
          padding: 0 5px;
          position: relative;
        }
        .name a{
          color: #9a9a9a;
        }
        .date:before{
          content: '|';
          position: absolute;
          font-size: 12px;
          left: -4px;
          top: 0;
        }
      }
    }
  }
  /* END OF BIG STORY FORMAT CSS */
}

