/*---------------------------- ITG CSS -----------------------------------*/
@import "itg-variables";
@import "itg-mixins";
/* Global CSS */

body{
  font: 14px/18px 'Noto Sans';
  color: #000;
}
body::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    content: '';
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    pointer-events: none;
}
@font-face {
    font-family: "aajtak";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/aajtak.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/aajtak.woff") format("woff"), url("../fonts/aajtak.ttf") format("truetype"), 
        url("../fonts/aajtak.svg#aajtak") format("svg");
}
[data-icon]::before {
    content: attr(data-icon);
}
.overlay::before, .big-overlay::before {
    opacity: 1;
    pointer-events: auto;
}
h1, h2, h3, h4{font-family: 'Noto Sans';}
h1{    
  @include font($mobile-h1-font-size, $mobile-h1-line-height, $itg-font-bold);
}
h2{
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}
h3{
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}
h4{
  @include font($mobile-h4-font-size, $mobile-h4-line-height, $itg-font-bold);
} 
h4.heading{
  color: $heading-blue-color;
  @include itg-font($itg-roboto,$itg-font-bold);
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size:16px;
  a{
    color:$heading-blue-color;
  }
}
.list-none, ul{
  list-style-type: none;
}
a{
  color:$black-color;
  text-decoration: none;
}
a:focus, button:focus{
  outline: 0 none;
}
img{
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.mr-0{
  margin: 0;
}
.mt-10{
  margin-top: 10px;
}
.mt-50{
  margin-top: 50px;
}
.ml-10{
  margin-left: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-5{
  margin-bottom: 5px;
}
.pd-0{
  padding: 0;
}
.pd-10{
  padding: 10px;
}
.pdt-20{
  padding-top: 20px;
}
.pd-30{
  padding: 30px;
}
.pdlr-30{
  padding-left: 30px;
  padding-right: 30px;
}
.pdlr-10{
  padding-left: 10px;
  padding-right: 10px;    
}
.pdtb-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pdb-10{
  padding-bottom: 10px;
}
.pdr-10{
  padding-right: 10px;
}
.no-bullet{
  list-style: none;
}
.no-underline{
  text-decoration: none;
}
.hide{
  display: none;
}
.db{
  display: block;
}
.dib{
  display: inline-block;
}
.vmid{
  vertical-align: middle;
}
.vtop{
  vertical-align: top;
}
.full{
  width: 100%;
}
.max-wdt{
  max-width: 100%;
}
.fleft{
  float: left;
}
.fright{
  float: right;
}
.pos-rel{
  position: relative;
}

.mhide{
  display: block;
}
.desktop-hide{
  display: none;   
}
.m-top{
  margin-top: 50px;
}
.m-bottom40{
  margin-bottom: 40px;
}
.btn {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  @extend .dib;
  @extend .vtop;
  &:hover{
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
  }
}
.gray-bg-widgets{
  background:#f3f3f3;
  padding:10px;
}

.success-message, .messages--status{
  color:#009c00;
  font-size: 13px;
  @extend .pdb-10;
}

input[type="text"], select, input[type="password"]{
  border: 1px solid #ddd;
  height: 32px;
  line-height: 30px;
  padding: 5px;
  color: #333;
}
.form-textarea{
  border: 1px solid #ddd;
  padding: 5px;
  color: #333;
  max-height: 128px;
  resize: none;
}
.grippie{
  display: none;
}
.form-required, .error{
  color: red;
}
*{
  @extend .mr-0;
  @extend .pd-0;
  box-sizing: border-box;
}
.row{
  @include clearfix;
}
#page{@extend .vtop; @extend .full; @extend .dib;}

/* HEADER CSS */
header{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
  .logo-n-three-bar{
    bottom: -6px;
    position: absolute;
    z-index: 99999;
    .three-bar{
      cursor: pointer;
      float: left;
      height: 45px;
      padding: 20px 12px 0 15px;
      width: 48px;
      span{
        background-color: #000;
        display: inline-block;
        vertical-align: top;
        width: 21px;
        height: 3px;
        margin-top: 6px;
        position: relative;
        &:before, &:after{
          content: '';
          position: absolute;
          height: 3px;
          background-color: #000;
        }
        &:before{
          width: 50%;
          bottom: 6px;
        }
        &:after{
          width: 100%;
          top: 6px;
        }
      }
    }
    .header__logo{
      img{
        max-width: 63px;  
      }
    }
  }
  .region-header{
    background-color: #f6f6f6;
    margin-top: 10px;
    .main-menu {
      float: left;
      margin-top:10px;
      @include mobile-hide;
      ul {
        list-style: none;
        li {
          float: left;
          a{
            color:#c0c0c0;
            outline: none;
            padding: 10px 20px;
            display: block;
            font-family: 'Noto Sans';
            font-weight: 700;
          }
          a.active,a:hover {
            color:#000;
          }
        }
      }

    }
  }

  .header-right-menu{
    float: right;
    ul{
      @extend .list-none;
      li{
        float: left;
        width: 40px;
        height: 40px;
        a{
          background-position: center center;
          background-repeat: no-repeat;
          display: block;
          height: 40px;
        }
        &.icon-search a{
          background-color: #ddd;
          background-image: url(../images/icon_search.png);
        }
        &.icon-notification a{
          background-color: #e6e6e6;
          background-image: url(../images/icon_notification.png);
        }
        &.icon-user a{
          background-color: #f6f6f6;
          background-image: url(../images/icon_user.png);
        }
        &.city-temp{
          min-width: 133px;
          @include mobile-hide;
          a{
            padding: 8px 20px;
            background-color: #0c1559;
            color: #fff;
            .city-name{
              font-size: 12px;
              display: block;
              .fa{
                font-size: 26px;
                margin-right: 10px;
              }
            }
            .temp{
              font-size: 24px;
              font-family: 'Noto Serif';
            }
          }
        }
        &.live-tv{
          width: 40px;
          a{
            background: url(../images/icon_live_tv.png) center center / 16px auto no-repeat #d9000c;
            color: #fff;
            height: 40px;
            font-size: 0;
          }
        }
      }
    }
  }
}
/* END OF HEADER CSS */

/* FOOTER CSS */

/* END OF FOOTER CSS */
.region-footer {
  clear: both;
  ul {
    list-style: none;
    li {
      a {
        font-size: 14px;
        line-height: 36px;
        outline: none;
        color:#fff;
        display: block;
        font-family: 'Noto Sans';
      }
    }
  }
  .footer-ads{
      padding: 30px 10px;
      text-align: center;
}
  .footer-top {
    background: #1f1f1f;
    padding-top: 120px;
    padding-bottom: 45px;
  }
  .footer-top-link {
    position:relative;
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
      color:#fff;
    }
    .footer-logo {
      width:121px;
      height:101px;
      position: absolute;
      left:-5px;
      top:-75px;
      z-index: 2;
      a {
        display: block;
        outline: none;
      }
    }
    .menu-first {
      float: left;
      width:17%;
      border-right: 1px solid #363636;
      padding-top: 30px;
    }
    .menu-second {
      float: left;
      width:32%;
      border-right: 1px solid #363636;
      padding-left: 4%;
      ul {
        li {
          float: left;
          width:33%;
        }
      }
    }
    .menu-third {
      float: left;
      width:18%;
      border-right: 1px solid #363636;
      padding-left: 4%;
    }
    .menu-fourth {
      float: left;
      width:33%;
      padding-left: 4%;
      .news-letter {
        margin-bottom: 20px;
        max-width:295px;
        width:100%;
        border:1px solid #fff;
        border-radius:10px;
        margin-top:25px;
        a {
          outline: none;
          display: block;
          font-size: 12px;
          color:#fff;
          text-align: center;
          height:36px;
          line-height: 36px;
        }
      }
      ul {
        li {
          float:left;
          margin-right:12px;
          a {
            height:38px;
            width:38px;
            outline: none;
            border-radius: 50%;
            display: block;
            text-align: center;
          }
          a.fb-icon {
            background: #3a5997;
          }
          a.google-plus-icon {
            background: #c41a29;
          }
          a.twiiter-icon {
            background: #23a9df;
          }
          a.youtube-icon {
            background: #cf2e36;
          }
          a.linkedin-icon {
            background: #0e76b4;
          }
        }
      }
    }
  }
  .footer-bottom {
    background: #000000;
    ul {
      li {
        float: left;
        width:20%;
        a {
          text-transform: uppercase;
        }
      }
    }
    .footer-bottom-menu {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    .footer-copyright {
      padding: 15px 0;
      text-align: center;
      border-top: 1px solid #333333;
    }
  }
}

/* CSS For Story Page */
.story-section{
  h1{
    margin-bottom: 10px;
  }
  .stryimg{
    height: 180px;
    border: 1px solid #ddd;
  }
  .byline{            
      color: #989898;
      margin-bottom: 10px;
      @include font(12px);
      @include clearfix;
      a{
          color: #989898;
      }
      .byline-pic, .byline-detail{
          @include float(left);
      } 
      .byline-pic{
        margin: 10px 10px 0 0;
        img{
          @include story-profile-pic;    
        }                
      }
      .byline-detail {
          width: 74%;    
          margin-top: 10px;
          ul {
            list-style: none;
              margin-bottom: 2px;
              @include font(12px,12px);
              @include clearfix;
              li{  
                  @include float(left);
                  padding: 0 5px;                    
                  span.share-count{
                      display: block;
                      @include font(44px,44px,500);
                      color:#bebebe;
                  } 
                  &:last-child{
                      border:none;                            
                  }
                  &.twitter{
                      color: #0783ec;
                      margin-top: 0px;
                  }
                  &.title{
                      color: #000;
                      @include font(14px, 18px, $itg-font-regular);
                  }
                  &.mailto{
                      text-transform: uppercase;
                  }                                               
              }
          }
          ul.date-update{ 
            @include font(12px, 15px, $itg-font-regular);
            color: #aba8a8;
            list-style: none;
          }
          ul.social-links{
              @include clearfix;
              margin-top:0;
              list-style: none;
              li{
                  @include float(left);
                  width: 50%;                        
                  i{
                      font-size: 16px;
                      color: #c0c0c0;
                  }
                  span{
                      display: block;
                      margin-top: 5px;
                  }
                  &:nth-child(odd){
                      border-right: 1px solid $border-color;
                  }
                  &:last-child{
                      @include calculate-width(1);
                      border-right: none;
                      i{
                          vertical-align: middle;
                          margin-right: 5px;
                      }
                  }
              }
          }
      }
      & + .description{
        @include font(14px,20px,$itg-font-regular);
        color: #000;
        p{
          margin-bottom: 20px;
        }
      }
  }
  .previous-next{
    @include clearfix;
    margin: 30px 0 20px;
    #previous{float: left;}
    #next{
      float: right;
      > a{
        float: right;
      }
    }
    #previous, #next{
      width: 260px;
      > a{
        @include font(16px,44px,$itg-font-regular);
        color: rgba(0,0,0,.5);
      }
      h4{
        float: left;
        width: 150px;
        margin-right: 4px;
        height: 38px;
        overflow: hidden;
      }
      img{
        max-width: 90px;
      }
      > div{
        box-shadow: 0 0 15px 0 #e4e4e4;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 10px 8px;
        border-radius: 5px;
      }
    }
  }
  .tags{
    margin-bottom: 30px;
    h3{
      @include font(14px,18px,$itg-font-bold);
    }
    ul{
      list-style: none;
      li{
        @include font(14px,20px,$itg-font-regular);
        padding: 5px 15px;
        background-color: #8d8f91;
        border-radius: 20px;
        display: inline-block;
        vertical-align: top;
        color: #fff;
        text-align: center;
        margin: 10px 10px 0 0;
      }
    }
  }
  #ads-place, #api-place{margin-bottom: 30px;}
}
.view-sambandhit-khabre{
  .views-row{
    background-color: #fff;
    box-shadow: 0 0 10px 0 #c2c2c2;
    padding: 20px 10px;
    text-align: center;
    &:first-child{padding-top: 30px;}
    .views-field-label{
      a{
        color: #000;
        display: block;
        @include font(14px,20px,$itg-font-bold);
      }
    }
    .views-field-hash, .views-field-entity-id{
      display: inline-block;
      vertical-align: top;
      @include font(12px,16px,$itg-font-regular);
      color: #9a9a9a;
    }
    .views-field-entity-id:before{
      content: '|';
      display: inline-block;
      vertical-align: top;
      font-size: 10px;
    }
  }
}
.Sambandhit-Khabre{
  padding: 20px 45px;
  margin-bottom: 35px;
  background-color: #f2f2f2;
  h3{
    @include font(18px, 24px,$itg-font-bold);
  }
  .views-row{
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    &:first-child{padding-top: 10px;}
  }
}

.story-photos{
  margin-bottom: 40px;
  .half-grey-bg{
    @include half-grey-bg(202px);
  }
  h3{
    padding: 9px 15px 5px;
  }
  .view-related-photogallery{
    .view-content{
      ul{
        list-style: none;
        padding: 20px 0 30px;
        overflow-x: auto;
        white-space: nowrap;
        li{
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
          transition: box-shadow .2s,transform .2s,opacity .2s;
          display: inline-block;
          vertical-align: top;
          width: 260px;
          text-align: center;
          position: relative;
          padding-bottom: 10px;
          z-index: 9;
          margin: 0 15px;
          &:hover{
            box-shadow: 0 15px 20px rgba(0,0,0,.2);
            transform: translate(0,-4px);  
          }
        }
      }
    }
  }
}


@media all and (min-width: 767px){
  .not-front{
    .header{
      background: url(../images/header_bg.png) 0 0 / 100% 100% no-repeat;
      .region-header{
        background-color: transparent;
      }
      .logo-n-three-bar .three-bar span{
        background-color: #fff;
        &:before, &:after{
          background-color: #fff;
        }
      }
    }
  }
  .story-section{
    h1{
      margin-bottom: 30px;
    }
    .stryimg{
      height: 420px;
      border: 1px solid #ddd;
    }
    .byline{            
        color: #989898;
        /*@include itg-font($itg-roboto);*/
        @include font(12px);
        @include clearfix;
        a{
            color: #989898;
        }
        .byline-pic, .byline-detail{
            @include float(left);
        } 
        .byline-pic{
            img{
                @include story-profile-pic;    
            }                
        }
        .byline-detail {
            width: 74%;    
            margin: 30px 0 0 10px;
            ul {
              list-style: none;
                margin-bottom: 5px;
                @include font(12px,12px);
                @include clearfix;
                li{  
                    @include float(left);
                    padding: 0 5px;                    
                    span.share-count{
                        display: block;
                        @include font(44px,44px,500);
                        color:#bebebe;
                    } 
                    &:last-child{
                        border:none;                            
                    }
                    &.twitter{
                        color: #0783ec;
                        margin-top: 0px;
                    }
                    &.title{
                        color: #000;
                        @include font(16px,20px,$itg-font-regular);
                    }
                    &.mailto{
                        text-transform: uppercase;
                    }                                               
                }
            }
            ul.date-update{ 
              font-size: 14px;
              line-height: 15px;
              color: #aba8a8;
              list-style: none;
                li{
                    margin-bottom: 7px;
                }   
            }
            ul.social-links{
                @include clearfix;
                margin-top:0;
                list-style: none;
                li{
                    @include float(left);
                    width: 50%;                        
                    i{
                        font-size: 16px;
                        color: #c0c0c0;
                    }
                    span{
                        display: block;
                        margin-top: 5px;
                    }
                    &:nth-child(odd){
                        border-right: 1px solid $border-color;
                    }
                    &:last-child{
                        @include calculate-width(1);
                        border-right: none;
                        i{
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        & + .description{
          @include font(16px,24px,$itg-font-regular);
          color: #000;
          p{
            margin-bottom: 20px;
          }
        }
    }
    .previous-next{
      @include clearfix;
      margin: 30px 0 20px;
      #previous{float: left;}
      #next{
        float: right;
        > a{
          float: right;
        }
      }
      #previous, #next{
        width: 260px;
        > a{
          @include font(18px,44px,$itg-font-regular);
          color: rgba(0,0,0,.5);
        }
        h4{
          float: left;
          width: 150px;
          margin-right: 4px;
          height: 38px;
          overflow: hidden;
        }
        img{
          max-width: 90px;
        }
        > div{
          box-shadow: 0 0 15px 0 #e4e4e4;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          padding: 10px 8px;
          border-radius: 5px;
        }
      }
    }
    .tags{
      margin-bottom: 30px;
      h3{
        
      }
      ul{
        list-style: none;
        li{
          @include font(16px,23px,$itg-font-regular);
          padding: 5px 15px;
          background-color: #8d8f91;
          border-radius: 20px;
          display: inline-block;
          vertical-align: top;
          color: #fff;
          text-align: center;
          margin: 10px 15px 0 0;
        }
      }
    }
    #ads-place, #api-place{margin-bottom: 30px;}
  }
}


.popular-videos{
  margin-bottom: 40px;
  .half-grey-bg{
    @include half-grey-bg(285px);
    width: 100%;
  }
  h3{
    padding: 9px 15px 5px;
  }
  .view-related-photogallery{
    .view-content{
      ul{
        list-style: none;
      }
    }
  }
}
.slider-container{
    .slick-list{
        padding: 20px 0 30px 15px;
    }
    .slick-arrow{
        position: absolute;
        top: -35px;
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 50%;
        text-indent: -9999px;
    }
    .slick-next{right: 10px;}
    .slick-prev{right: 56px;}
    .slick-next::before {
        border-color: transparent transparent transparent #eeeded;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 12px;
        position: absolute;
        top: 8px;
        width: 0;
        z-index: 9;
    }
    .slick-next::after {
        border-color: transparent transparent transparent #000;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left:13px;
        position: absolute;
        right: 0;
        top: 8px;
        width: 0;
    }
    .slick-prev::before {
        border-color: transparent #eeeded transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 5px;
        position: absolute;
        top: 8px;
        width: 0;
        z-index: 9;
    }
    .slick-prev::after {
        border-color: transparent #000 transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 6px;
        content: "";
        height: 0;
        left: 4px;
        position: absolute;
        right: 0;
        top: 8px;
        width: 0;
    }
    
}
.tile-popular-videos{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    transition: box-shadow .2s,transform .2s,opacity .2s;
    float: left;
    width: 260px;
    height: 310px;
    position: relative;
    z-index: 9;
    list-style-type: none;
    margin: 0 15px;
    &:hover{
          box-shadow: 0 15px 20px rgba(0,0,0,.2);
          transform: translate(0,-4px);  
      }
    &.views-row-odd{
      .category-name{
        background-color: #dc4750;
      }
      .icon-list{
        background-color: #dc4750;
      }
    }
    &.views-row-even{
      .category-name{
        background-color: #52bf40;
      }
      .icon-list{
        background-color: #52bf40;
      }
    }
    }

.story-photos .tile{
    @include aajtak-tile($tile-height:240px, $category-name: null, $pic:'pic', $title:'title', $posted-by:'name', $posted-date:'date', $icon-list: null, $pic-height:148px);
}    
.popular-videos-tile{
    @include aajtak-tile($tile-height:310px, $category-name:'category-name', $pic:'pic', $title:'title', $posted-by:'name', $posted-date:'date', $icon-list:'icon-list', $pic-height:196px);   
}
    
.loader-svg{
    border: none;
    border-radius: 50%;
    bottom: -18px;
    height: 36px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    transition: .25s ease-in-out;
    right: 0;
    width: 36px;
    z-index: 9;
}

.related-content-popup {
    position: fixed;
    opacity: 0;
    width: 260px;
    z-index: 99999;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,.7),0 10px 10px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.7),0 10px 10px rgba(0,0,0,.7);
    visibility: hidden;
    &.popup-open{
        opacity: 1;
        visibility: visible;
    }
/*    &.align-popup{
        left: 0 !important;     
        margin: auto;
        top: 20px !important;
        right: 0 !important;
    }*/
    .tile-popular-videos{
        margin: 0;
        box-shadow: none;
        transition: none;
    }
}

/* START OF BIG STORY FORMAT CSS */
.big-story-format-layout.mobile{
  @include clearfix;
  .big-story-wrapper{
    position: relative;
  }
  .big-story-text{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    max-width: 260px;
    padding: 20px 15px;
    position: relative;
    z-index: 99;
    text-align: center;
    top: -30px;
    .big-story-title{
      a{
        color: #000;
        @include font(18px, 18px, $itg-font-bold);
      }
    }
    .reported-by{
      padding-top: 5px;
      .name, .date{
        display: inline-block;
        vertical-align: top;
        @include font(12px,16px,$itg-font-regular);
        color: #9a9a9a;
        padding: 0 5px;
        position: relative;
      }
      .name a{
        color: #9a9a9a;
      }
      .date:before{
        content: '|';
        position: absolute;
        font-size: 10px;
        left: -4px;
        top: 0;
      }
    }
    .icon-related{
      background-color: #179f75;
      @include icon-list($left: 0, $right: 0, $top: null, $bottom: null);
    }
  }
  .big-story-related-content-popup{
    position: fixed;
    opacity: 0;
    width: 260px;
    z-index: 99999;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,.7),0 10px 10px rgba(0,0,0,.7);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.7),0 10px 10px rgba(0,0,0,.7);
    transition: all 500ms;
    max-height: 80%;
    visibility: hidden;
    &.popup-open{
        opacity: 1;
        visibility: visible;
        overflow-y: auto;
        .big-story-text{
          margin: 0;
          top: 0;
        }
    }
    
  }
  .big-story-related-content{
    display: none;
  }
  .big-story-related-content-list{
    .tile{
      @include aajtak-tile($tile-height:262px, $category-name:'category-name', $pic:'pic', $title:'title', $posted-by:'name', $posted-date:'date', $icon-list: null, $pic-height:148px);
    }
  }
}
  /* END OF BIG STORY FORMAT CSS */