/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 May, 2017, 5:30:23 PM
    Author     : vishal
*/

.luck_meter{width:40px;margin:0px auto 10px auto;border:1px solid #CAA56E;  position:relative; float:left;}
.strip{width:40px; float:left; height:25px;}
.color1{background:#FF3300;}
.color2{background:#FE0000;}
.color3{background:#FE9900;}
.color4{background:#FF6600;}
.color5{background:#FEE600;}
.color6{background:#FFD900;}
.color7{background:#FEF200;}
.color8{background:#C0FF00;}
.color9{background:#00B232;}
.color10{background:#008B0C;}
.luck_meter_text{ font-size:14px; text-transform:uppercase; font-weight:bold; float:left;}
.black_strip{ background:url(../images/arrow.png) no-repeat 0 0; display:block; height:8px; width:55px; position:absolute; left:-6px; bottom:0%;}
.black_strip{
    transition: all 1s ease;}