*{ margin:0; padding:0;}
body{ font-family:roboto;}
.wrapper{ width:990px; margin:0 auto; padding-left:10px;}
.wrapper a { text-decoration:none; color:#000 }
#top_nav {background:#111; width: 100%;}
.itgd_links {color: #7a7a7a;display: flex;font: 12px/15px roboto; margin: 0 auto; padding: 5px 0; text-align: center; width: 1000px;}
.itgd_links ul li {float: left;list-style:none;padding: 0 3px; font-size:11px;}
.itgd_links ul li:first-child {padding-left: 0;}
.itgd_links a {color: #8c8c8c;text-decoration: none;text-transform: uppercase;}
#banner{ background:#000;}
#banner .advertisement {float: left;height:100px;margin: 5px 0 0;width: 728px;}
.socialmedia-icon{ float: left;padding-top: 28px;width: 188px;}
.socialmedia-icon ul li{ width:60px; float: left; text-align:center; list-style:none;}
.clearfix:before, .clearfix:after {content: " "; display: block; height: 0; visibility: hidden;}
.clearfix:after {clear: both;}.clearfix {}
.big-heading{ background:url(/staticpages/mediaintoday/microsites/saveyourleader/new/masthead-band.png) no-repeat center center; width:990px; height:112px; text-align:center; line-height:112px; font-size:60px; font-weight:100; margin-top:10px; margin-bottom:15px;}
.big-heading span{ font-weight:700;}
.body-content{ padding:0px 0 20px;}
.small-text { font-family:roboto; font-size:22px;  text-align:center; color:#333333; padding-bottom:10px}
.body-content .right-panel{ width:312px; float:right;}
.body-content .right-panel .col-rt .ad{ padding:5px; border:1px solid #ddd;}
.body-content .left-panel{ width:670px; float:left;}
 h3{ font-size:25px; text-transform:uppercase; color:#6C6C6C; line-height:30px; margin-bottom:10px; text-align:center}
p{ font-size:21px; line-height:30px; color:#6C6C6C; margin-bottom:25px; font-weight:300; text-align:center}
.leader-image{ margin-top:30px;}
.leader-image ul li{ list-style:none; width:200px; text-align:center; float:left; margin-right:25px;}
.leader-image ul li:last-child{ margin-right:0px;}
.leader-image ul li a{ text-decoration:none; color:#000000; font-weight:100;}
.leader-image ul li a span{color:#000000; font-weight:300;}
.outer_footer {float: left; margin: 60px 0 0;position: relative;width: 99.7%;z-index: 9;}
.lftfbg {background-color: #000000; height: 43px; left: 0; position: absolute; top: 0; width: 25%!important;}
.rtlfbg {background-color: #303435;height: 43px;position: absolute;right: 0;top: 0;width: 60%;}
.footertag nav, footer nav { background-color: #333333;color: #ffffff;float: left; font: bold 16px arial; height: 43px;width: 82.4%;}
.footertag {float: left; position: relative; width: 100%; z-index: 999;}
.home {float: left; margin: 0;padding: 0;}
.nav ul li a {color: #ffffff;font-size: 12px;padding: 0 6px;text-decoration: none;}
.nav ul li { float: left;list-style:none; padding: 11px 0; text-transform: uppercase;}
.left-panel .leader-bigimage{ width:201px; margin-right:30px; float:left;}
.left-panel .leader-options{ width:740px; float:left; padding-top:30px;}
.left-panel .leader-options #allegation-list li {list-style:none; margin-bottom:10px; display:block; background:#ce0d0e; width:430px; text-align:center; padding:20px 0; text-decoration:none; color:#fff; font-size:27px; font-weight:300; line-height:30px;}
.take-step { background:#efefef; border-radius:10px; box-shadow: 0 3px 0 0 #5B5B5B; text-align:center; width:615px; margin:0 auto; padding:10px; }
.leader-image ul li a .saveme {color: #fff;display: block;font-family: roboto;font-size: 24px; margin-left: 44px; padding:10px 0; text-align: center; width: 119px; background:#CE0D0E; border-radius:5px; font-weight:400;}
#comment_box #right textarea {   width: 646px !important;}
.caption{ display:block; text-align:center; margin:15px 0;}
.right-panel .col-rt p{ text-align:left; font-size:19px; line-height:27px; font-weight:300;}
.clear{ display:block; clear:both; height:1px;}

.allegation-text{ width:430px; float:left;}
.agree-text{ width:325px; float:left;}
.agree-text ul li{ list-style:none; text-align:center; padding:20px 0; margin-bottom:10px;}
.agree-text ul li a{ margin:0 15px;}
.share-story{ margin-top:10px;}
.share-story .share-icon{ background:url(/staticpages/mediaintoday/microsites/saveyourleader/new/share-icon.png) no-repeat 0 0; width:25px; height:25px; display:block; margin-left:25px;}
.icon-top{ margin-top:-16px!important;}


/* Result Page */
#leader-result ul li{ list-style:none; width:275px; float:left; text-align:center; margin-right:75px;}
#leader-result ul li:nth-child(3){ margin-right:0px;}
.yesno{ text-align:center; width:100px; margin:0 auto;}
.yesno .yestxt{ width:50px; float:left; text-align:center; font-weight:500; font-size:20px;} .yesno .notxt{ width:50px; float:left; text-align:center; font-weight:500; font-size:20px;}
.yesno .yestxt .countgreen{ color:#E31F13; display:block;} .yesno .notxt .countred{ color:#55A40D; display:block;}

.result-box{ background:#F0F0F0; padding:15px; margin-top:10px;}
.result-box h6{ font-size:17px; font-weight:300;}
.result-box .result-meter{ background:url(/staticpages/mediaintoday/microsites/saveyourleader/new/meterbg.png) no-repeat 0 center; height:25px; width:243px; padding:3px 0 5px; position:relative; margin-bottom:5px;}
.result-box .result-meter span{ background:url(/staticpages/mediaintoday/microsites/saveyourleader/new/slider-arrow.png) no-repeat 0 0; width:8px; height:37px; position:absolute; left:10%; top:2px; -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;}
#leader-result .result-box .meter-text li{ font-size:11px; width:49px; float:left; margin:0; font-weight:500;}
.scbg{ background-image:url(/staticpages/mediaintoday/microsites/saveyourleader/new/sprit.png);}
#leader-result .social-icon ul li{ width:40px; float:left; margin:0;}
#leader-result .social-icon ul li span{ text-indent:-9999px; display:block; width:40px; height:40px; float:left;}
.social-icon{ width:120px; margin:0 auto;}
.social-icon ul li span.facebook { background-position: 0 -5px;}
.social-icon ul li span.twitter{background-position: -49px -2px;}
.social-icon ul li span.googlepluse{background-position: -104px -2px;}


.body-footer h3{ margin:25px 0 15px; font-size:20px; line-height:25px; font-weight:500;}
.share-sos ul{ width:125px; float:left;}
.textsocial{ float:left; line-height:40px; color:#6c6c6c;}
.sos-section{ width:430px; margin:10px auto 0;}
.share-sos ul li{ width:40px; float:left; margin:0; list-style:none;}
.share-sos ul li span{ text-indent:-9999px; display:block; width:40px; height:40px; float:left;}
.share-sos ul li span.facebook { background-position:-5px -77px;}
.share-sos ul li span.twitter{background-position: -45px -77px;}
.share-sos ul li span.googlepluse{background-position: -90px -77px;}
.sos-section .sostext{ float:left; line-height:45px; font-size:20px; margin-right:15px; color:#6c6c6c;}
.sos-section .share-sos{ background:#F3F3F3; width:178px; float:left; padding:5px 10px; border-radius:3px;}


/* Single Page REsult  */
.sigle-result .result-box{ width:245px; margin:0 auto;}
.sigle-result .meter-text li{ font-size:11px; width:49px; float:left; margin:0; font-weight:500; text-align:center;}

.likedisdiv{ position:relative;}
.commenttext {
     display: block;
    font-size: 12px;
    left: 75px;
    position: absolute;
    text-align: left;
    top: 40px;
    width: 160px;
}

.likedisdiv span.likecount, .likedisdiv span.dislcount{ width:} 

