/*@media only screen and (min-width:1025px){
.right_side{ padding-right:15px;}
.add {min-height: 150px;  max-width: 300px;   margin: 0 auto;}
.slider_outer1 .item img{ width:95%;}
.arts { padding: 0;}
.arts h2 {font-size: 3vh;}
.slider_outer .left-panel{ padding:0 !important;}
.add_box { padding: 0 0 10px;}
	
	}*/

@media only screen and (min-width:641px) and (max-width:1199px) {
.view .btn-default {font-size: 14px;padding: 8.2px;}

.right_Section {font-size: 14px;}
.title {font-size: 14px;}
.list-group-item .cl { margin-top: 0;}
.list-group-item .city_wise { width: 100%;margin-top: 20px;}
.form-group label {padding-top: 9px;font-size: 12px; margin-right: auto;}
.right_view {font-size: 14px;}
.vid_sec div{ padding-right:0;}
.slider_outer .carousel-caption {font-size:23px;}
.slider_outer1 span.rank {font-size: 19px; padding: 5px 10px;}
.slider_outer1 h1 { font-size:20px;}
.slider_outer1 .carousel-caption strong {margin-top: 10px; display:block;}
.add {min-height: 150px;}
.arts h2 {font-size: 25px;}
.slider_outer1 .item img{ width:96%;}
.add_box {padding: 0px 0 10px 0;
}
.right_side {
  padding-left: 0;
  padding-right: 10px;
}
.left-panel{ padding-left:0;}
}
@media only screen and (min-width:481px) and (max-width:640px) {
.list-group .item img {width: 44% !important; float: left;  margin: 6px 10px 6px 6px;}
.city_wise{ width:auto;}
.slider_outer .carousel-control .glyphicon-chevron-left  {margin-left: -21px;background-color: rgba(96,96,96,0.5);padding: 18px 22px 38px 0;border-radius: 0 90px 90px 0;
left: 0px;height: 22px;width: 18px;color: #000;font-size: 20px;position: relative;top: 40%;}
.slider_outer .carousel-control .glyphicon-chevron-right {background: rgba(96,96,96,0.5);padding: 18px 22px 38px 0;border-radius: 90px 0px 0px 90px;right: -2px;height: 22px;width: 18px;color: #000;font-size: 40px;font-size: 20px;position: relative;top: 40%;margin-left:12px;}
.list-group-item-heading{ padding:0;}
.slider_outer1 .carousel-caption p{ text-align:justify;}
.slider_outer1 span.rank {font-size: 20px;margin-left:15px;padding:3px 5px; margin-top: 10px;}
.slider_outer1 h1 {font-size: 22px; padding: 0 15px; margin-top:0;}
.slider_outer1 .carousel-caption strong {margin-top: 10px; display: block;}
.right_side{ padding-right:15px;}
.add {min-height: 150px;  max-width: 300px;   margin: 0 auto;}
.slider_outer1 .item img{ width:95%;}
.arts { padding: 0;}
.arts h2 {font-size: 3vh;}
.slider_outer .left-panel{ padding:0 !important;}
.add_box { padding: 0 0 10px;}

}

@media only screen and (min-width:240px) and (max-width:480px) {
.slider_outer1 .carousel-caption p{ text-align:justify;}
.right_side{ padding-right:10px; padding-left:10px;}
.slider_outer1 span.rank {font-size: 20px;margin-left:15px;padding:3px 5px; margin-top: 10px;}
.slider_outer1 h1 {font-size: 22px; padding: 0 15px;  margin-top:0;}
.slider_outer1 .carousel-caption strong {margin-top: 10px; display: block;}
.list-group .item img {width: 44% !important;float: left; margin: 6px 10px 6px 6px;}
.thumbnail .caption {padding: 0 5px 5px;}
.list-group-item-heading {padding: 5px 0 0 0;text-transform: uppercase;clear: both;display: inline-block;font-size: 12px;margin: 0;}
.thumbnail p {margin-top: 0;margin-bottom: 0;font-size: 11px;}
.vid_sec{ text-align:justify; font-size:12px;}
.slider_outer .carousel-caption {right: 0;left: 0;padding: 4px;background: rgba(0,0,0,0.8);width: 100%;bottom: 0;text-align: left;font-size: 15px;line-height: 20px;}
.slider_outer .carousel-control .glyphicon-chevron-left  {margin-left: -18px;background-color: rgba(96,96,96,0.5);padding: 18px 22px 38px 0;border-radius: 0 90px 90px 0;
left: 0px;height: 22px;width: 18px;color: #000;font-size: 20px;position: relative;top: 40%;}
.slider_outer .carousel-control .glyphicon-chevron-right {background: rgba(96,96,96,0.5);padding: 18px 22px 38px 0;border-radius: 90px 0px 0px 90px;right: 0px;height: 22px;width: 18px;color: #000;font-size: 40px;font-size: 20px;position: relative;top: 40%;margin-left:12px;}

.add { margin: 0 auto; max-width: 300px; min-width: 300px;}
.slider_outer1 .item img{ width:95%;}
.arts { padding: 0;}
.arts h2 {font-size: 3vh;}
.left-panel{ padding:auto !important;}
.add_box { padding: 0 0 10px;}
}






