@charset "utf-8";
/* CSS Document */

body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background:url(../images/bg.jpg) no-repeat;}
p{float:none;font-size:inherit;padding:0;margin:0;font-size-adjust:none;text-decoration:none;}
.clr {clear:both}
.lft {float:left;}
.rht {float:right}

#itlinks{background:#E4E7EC;}
#global {margin:0 auto; text-align: center; width:963px;height:22px;}
#global #itgd_links {color: #1A6471; font: bold 11px/20px arial; text-align: center;}
#global #itgd_links a{font:bold 11px arial; color:#1A6471; text-decoration:none; margin:0 1em; $margin:0 1em;}
#wrapper{width:1000px; margin:0 auto;}

header{padding:4px 0 0;}
header h1{background:url(../images/logo.png) no-repeat; text-indent:-9999px; width:270px; height:174px; float:left; margin:0;}
header .topad{float:right; width:728px;}
.topad aside{font:11px arial; color:#8A8F95; text-align:center;}
.ad aside{font:11px arial; color:#8A8F95; text-align:center;}
nav {display:block; margin:20px auto 0; position:relative; font:16px Arial;}
.navimg {margin-right:20px; margin-top: -2px;}
nav ul {padding:0; margin:0; position:relative; list-style:none;}
nav li {
	border-left: 2px solid #516065;
    color: #D6D6D6;
    float: left;
    font: 24px arial;
    list-style-type: none;
    margin-top: 5px;
    position: relative;
    text-shadow: 1px 0 0 #FFFFFF;
    text-transform: uppercase;
}

nav li:hover{}
nav li a {
	color: #D6D6D6;
    display: block;
    padding: 0 20px;
    text-decoration: none;
	}
nav li.home {margin-top:-10px; border:none;}


/*********************************************/
.main {margin:0 0 10px;}
.main .left{float:left; width:670px;}
.main .right{float:right; width:300px;}
/**********************************************/
#lead2012{background:#lead2012 url(../images/lead-bg.png) no-repeat; width:670px; position:relative; padding-bottom:10px;}
.leadleft{float:left; width:420px; padding:5px;}
.The{padding-top:10px;}
.leadright {
    float: right;
    height: 318px;
    padding: 20px 15px 0 0;
    position: relative;
    width: 215px;
}
.yearimg{position:absolute; left:5px; top:5px; background:url(../images/2012.png); z-index:1; width:86px; height:25px;}
.leadleft img{display:block;}
.leadright .lead2img{display:block; border:1px solid #000;}
.more {position:absolute; z-index:1; right:3px; bottom:-2px; font:12px "arial black";}
.more a{text-decoration:none; color:#FFFFFF;}
.more a:hover{text-decoration:underline;}
.title{font:14px/18px arial; color:#363636; padding:5px 5px 7px 5px;}
.desc{font:13px/16px arial; color:#363636; padding:5px 5px 7px 5px;}
.title a{font:bold 17px/21px arial;}
.title a, .desc a{text-decoration:none; color:#363636;}
.title a:hover, .desc a:hover{text-decoration:underline;}

.left ul {
	font:12px/15px arial;
	list-style:url(../images/arrow-bullet.gif);
	margin:0;
	padding:0 0 0 15px;
	}
.left ul li{border-bottom:1px dotted #000000; margin-bottom:5px; padding-bottom:5px; color:#363636;}
.left ul li a{ text-decoration:none; color:#363636;}
.left ul li a:hover{text-decoration:underline}

#leftmain{margin-top:20px; width:670px;float:left;}
#photosdiv{float:left; width:200px;}
.photoshead{margin-bottom:5px;}
.photoyear{margin-bottom:20px;}
.photoyear a img{display:block;}
.photoueartitle img{margin-right:4px;}
.photoueartitle p{margin:5px 0 0; color:#aeadad; font:13px arial; line-height:13px;}
.photoueartitle p a{text-decoration:none; color:#aeadad;}
.photoueartitle p a:hover{text-decoration:none;}


#rankingdiv{float:right; width:395px; background:#EBEBEB; padding:10px 20px}
.rankingdivyear{margin:0 auto 20px; width:395px;}
.rankingyear{font:28px arial; color:#45525B;}
.rankingyear span{font-family:"arial black";}
.rankingyear a{color:#45525B; text-decoration:none;}
.rankingyear a:hover{text-decoration:underline;}


/*******************Footer**********************/
footer{background:#FFFFFF; padding:10px;}
#footer{margin:0 auto;clear:both;width:980px;}
#itgd_group_links{color:#656565;font:11px/18px arial;margin:0 auto 15px;text-align:center;width:980px;}
#itgd_group_links strong{color:#656565;font-family:"Arial Black", Gadget, sans-serif; font-weight:600; margin:0 0 0 1px;}
#itgd_group_links span{color:#656565;font-family:arial;margin:0 0 0 5px;font-weight:bold;}
#itgd_group_links a{color:#656565;margin:0 5px;text-decoration:none;}
#itgd_group_links a:hover{text-decoration:underline;}
ul#footer_menu{margin:0;text-align:center;border:1px solid #656565;border-left:none;border-right:none;line-height:16px;padding-bottom:2px;*padding-top:2px;width:940px;$width:980px; list-style:none;}
ul#footer_menu li{display:inline;color:#656565;font:11px arial;text-transform:uppercase;border-right:1px solid #656565;padding:0 10px; border-bottom:none;}
ul#footer_menu li a{color:#656565;text-decoration:none;}
ul#footer_menu li a:hover{text-decoration:underline;}
#copyrights{color:#656565;font:11px arial;padding:10px 0;text-align:center;width:980px;}
#copyrights a{color:#656565;text-decoration:none;}
#copyrights a:hover{text-decoration:underline;}



/**********************/
.righttopmag{margin-bottom: 15px; clear:both;  background:#EBEBEB;}
.blueheader {
    color: #D6D6D6;
    font-family: "Arial Black",Gadget,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 5px;
    text-align: left;
}


 #multibox #toppart #rightpart a, #multibox #toppart #rightpart a.current, #mtpopchunk #mttoppart #mttopright a, #mtpopchunk #mttoppart #mttopright a.current, .fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon {background:url(/staticpages/main/images/India-Today-Sprites1.png) no-repeat scroll 0 0;}
.fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon,.tv-iconph{width:36px; height:40px; display:block; margin-left:7px; float:left;}
.fb-icon {background-position: -5px -35px; margin:0;}
.tw-icon {background-position: -48px -35px;}
.plus-icon{background-position:-92px -35px;}
.rediff-icon {background-position: -137px -35px;}
.rss-icon {background-position: -180px -35px;}
.mobile-icon {background-position: -223px -35px;}
.tv-icon {
    background: url("/staticpages/main/images/ht-live-tv_on-white.gif") no-repeat scroll 3px 5px transparent;
}
.tv-iconph {background: url("http://indiatoday.intoday.in/images/ht-live-tv_photogallery.gif") no-repeat scroll 3px 5px transparent;}

/*********most popular******/
#multibox{border:2px solid #919191;padding:10px 14px;width:268px;}
#multibox #toppart{border-bottom:1px solid #333333;width:268px;}
#multibox #toppart .headtxt{float:left;margin-top:3px;}
#multibox #toppart #rightpart{float:right;}
#multibox #toppart #rightpart .active{font:bold 12px arial;color:#ffffff;text-align:center;float:left;height:25px;line-height:25px;}
#multibox #toppart #rightpart .deactive{font:bold 12px arial;color:#ffffff;float:left;text-align:center;margin-left:1px;height:25px;line-height:25px;}
#multibox #toppart #rightpart .active a, #multibox #toppart #rightpart .deactive a{color:#ffffff;text-decoration:none;}
#multibox #toppart #rightpart .active a:hover, #multibox #toppart #rightpart .deactive a:hover{text-decoration:underline;}
#multibox #toppart #rightpart a.current{ background-position:-526px -46px; padding:5px 8px;}
#multibox #toppart #rightpart a{background-position:-451px -46px; padding:5px 8px;}
#multibox .mediabox{width:268px;border-bottom:0px solid #333333;padding:0px 0 1px 0;float:left;}
#multibox .mediaimg{float:left;background-position:top center;background-repeat:no-repeat;width:178px;height:133px;position:relative;}
#multibox .mediaimg .mediaimgpng{position:absolute;left:0;top:0;}
#multibox .mediatxt{float:left;margin-left:2px;font-size:12px;text-align:left;width:78px;overflow:hidden;padding:5px;background-color:#333333;color:#ffffff;min-height:123px;}
#multibox .mediatxt a{color:#ffffff;}
#multibox .mediatxt .otherhead{font-size:11px;line-height:15px;margin-top:5px;}
#multibox .mediatxt .otherhead a{color:#ffffff;line-height:15px;text-decoration:none;}
#multibox .mediatxt .otherhead a:hover{color:#ffffff;line-height:15px;text-decoration:underline;}
#multibox .mediaSbox{width:88px;float:left;color:#ffffff;background-color:#333333;min-height:135px;overflow:hidden; position:relative;}
#multibox .mediaSbox .mediaSmarg{padding:3px;}
#multibox .mediaSbox .mediaSmarg a{color:#ffffff;text-decoration:none;margin-top:3px; float:left;}
#multibox .mediaSbox .mediaSmarg a:hover{text-decoration:underline;}
#mtpopchunk{border:2px solid #919191;padding:10px 14px 0px 14px;float: left;background:#EBEBEB;}
#mtpopchunk #mttoppart {
    border-bottom: 1px solid #333333;
    float: left;
    width: 100%;
}
#mtpopchunk #mttoppart .headpart{float:left;margin-top:3px;}
#mtpopchunk #mttoppart #mttopright{float:right;}
#mtpopchunk #mttoppart #mttopright .active{font:bold 12px arial;color:#ffffff;text-align:center;float:left;height:25px;line-height:25px;}
#mtpopchunk #mttoppart #mttopright .deactive{font:bold 12px arial;color:#ffffff;float:left;text-align:center;margin-left:1px;height:25px;line-height:25px;}
#mtpopchunk #mttoppart #mttopright .active a, #mtpopchunk #mttoppart #mttopright .deactive a{color:#ffffff;text-decoration:none;}
#mtpopchunk #mttoppart #mttopright .active a:hover, #mtpopchunk #mttoppart #mttopright .deactive a:hover{text-decoration:underline;}
#mtpopchunk #mttoppart #mttopright a.current {
    background-position: -526px -46px;
    padding: 5px 8px;
}
#mtpopchunk #mttoppart #mttopright a {
    background-position: -453px -46px;
    padding: 5px 8px;
}
#mtpopchunk .mtpopbox{width:100%;border-bottom:1px solid #333333;padding:3px 0 0 0;float:left;}
#mtpopchunk .mtpoptxt{float:right;color:#3d4561;margin-left:8px;font-size:12px;text-align:left;width:170px;}
#mtpopchunk .mtpoptxt a{color:#3d4561;text-decoration:none;}
#mtpopchunk .mtpoptxt a:hover{text-decoration:underline;}
#mtpopchunk .comment{color:#3F80A6;text-align:left;margin-top:2px;font-size:11px;}
#mtpopchunk .comment a{color:#3F80A6;text-decoration:none;}
#mtpopchunk .comment a:hover{text-decoration:underline;}
.spcmargin{margin-bottom:10px;text-align:left;float:left;}
.mttoppart p.header {margin:0; padding:0;}
.header {
    color: #DC0C17;
    font-family: "Arial Black",Gadget,sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    text-align: left;
    width: 100%;
}
.imgrepeat{background-position:top center;background-repeat:no-repeat;width:88px;height:66px;float:left;margin-bottom:0px;}
/********************************/

html{background:url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/bg-repeat.jpg) /*repeat-y*/ center 0;}
.rt-colum h2{top:1px;}
.photo-slider {margin: 0 auto; padding: 3px; border: 1px solid #e7e7e7;}
.photo-slider, .photo-slider .photo-list {width: 305px; position: relative; height: 350px; overflow: hidden;}
.photo-slider .photobelt {position: relative;}
.photo-slider .photo-list {float: left;margin-right: 3px;}
#tabbb{margin-right:0;}
footer{padding:0 !important;}
body{background-position: center 0;}
.main .right,.rt-colum{width:313px;}
.tabhead{margin-right:5px;}
.leadright{background: #ebebeb;}
.blueheader {color: #fff; font-size: 17px;}
.rt-colum {margin-bottom: 25px; position: relative; background:#fff;}
.rt-colum h2 {font-size: 13px; line-height: 20px; padding-bottom: 6px; position: absolute; top: 4px; left: 4px; z-index: 999;}
.rt-colum h2 a {color: #fff; font-weight: 400; text-decoration: none; text-transform: uppercase; background: #193984; font-size: 15px; padding: 0 6px; border-left: 5px solid #ffcc3f;}
.showing,.ad-withborder,.photo-slider{border:0;}    
.showing{ margin-bottom:25px;}
.topstr-list li{ font: 400 14px/18px arial }
.watch_chunk_container ul{ margin-top: 15px; }
.photoueartitle h2 { margin:0;padding:0; margin: 5px 0 0;color: #aeadad; font: 13px arial;line-height: 13px;}
.photoueartitle h2 a {text-decoration: none; color: #aeadad;}
.righttopmag{padding: 3px; width: auto;}
.photo-slider, .photo-slider .photo-list{ width:auto;}  
.righttopmag{text-align: center;}
.socials_share{margin-bottom: 15px;}
#copyright {display:none; text-align: center;padding: 5px 0;color: #949494; width: 100%; float: left; font-size:13px;border-top: 2px solid #424242;padding: 10px;background: #000;box-sizing: border-box !important;}
#copyright a { color: #949494; font-size: 13px;text-decoration: none;}
@media screen and (max-width:1024px){
.photo-slider, .photo-slider .photo-list{width:300px;padding:0; margin:0 auto; }
.captionWicon a{font-size: 16px; line-height: 20px;}
}
@media screen and (max-width:800px){
#wrapper{width:100%;}
#global{width:100%;}
.main .left {float: none;width: 670px; margin:0 auto;}
.main .right { clear: left;float: none; width: 670px; margin:0 auto;}
header {text-align: center;}
header a{ display: inline-block; }
header .topad { float: none;width: 728px;margin: 0 auto;}    
nav li{ font: 20px arial; margin-top:0;}
nav {margin: 10px auto 0;font: 16px Arial;}
header h1 {background-size: 100% 100%;width: 200px;height: 130px;}

.socials_share{clear:none;float:left;width:313px;margin:20px 0;}
.righttopmag.sponsors{clear:left;float:left;width:306px; text-align: center; margin-bottom:30px;}
.righttopmag.sponsors iframe{width:306px;}   
.righttopmag.best_coll_right{clear:none;float: right;width:306px;text-align: center;}
.righttopmag.best_coll_right iframe{height:265px;}
.rt-colum.todaysheadline{clear:left;float:left;width:313px;}
.rt-colum.chunk_right_photo{clear:none;float: right;width:313px;}
.right-ad.rt-colum.zedoads1{clear:none;float:left;width:313px; text-align: center;}
.rt-colum.ad-withborder{clear:none;float: right;width:313px;}
.rt-colum.noborder.chunk_hot_rightnow{clear:none;float: right;width:313px;}
.rt-colum.noborder.chunk_right_sosorry{clear:none;float:left;width:313px;}
.rt-colum.noborder.chunk_right_sosorry .showing{margin-bottom: 0;}
.rt-colum.ad-withborder.zedoadsmarket{float:left;width:313px;}
.rt-colum.hotrightnow-section{clear:none;width:313px; float: right;}
.navimg {margin-right: 8px;margin-top: -2px;width: 28px; height: 25px;}

.photo-slider a#photoprev{left:-2px;}
.photo-slider a#photonext{right:-1px;}

iframe.responsive_foot{height:530px;width:100%;}

.right-ad.rt-colum.zedoads1{height:250px;display:block !important;}
.rt-colum.ad-withborder{height:100px;}
.rt-colum.ad-withborder.zedoadsmarket{height: 250px;}
}

@media screen and (max-width:767px){
.topad{display: none;}
}

@media screen and (max-width:670px){

#global{height:inherit;}
#global #itgd_links a{display: inline-block;}
.topad{display: none;}
.main .left{width:100%;}
#lead2012{width:100%;}
.leadleft{width:100%;}
.leadleft>a{display: block;background: #0d1b1e;}
.leadleft img{max-width:100%; margin:0 auto;}
.leadright{width:100%;padding:0; height: initial;}
.leadright>a{display: block;background: #0d1b1e;}
.leadright img{max-width:100%; margin:0 auto;}
.main .right{width:100%;}
#leftmain{width:100%;}  
.title{padding-left: 10px;}
.left ul{padding: 0 0 0 15px;margin-top: 10px;}
.desc{padding: 5px 5px 7px 10px;}   
.more{display: block; position: static;}
#photosdiv{width:300px; margin:0 auto; float: none;}
#photosdiv .photoyear>a{display: block;}
#photosdiv .photoyear{width:140px; float: left; margin-right: 20px;}  
#photosdiv .photoyear:nth-child(odd){ margin-right:0;}
#photosdiv .photoyear>a img{width: 100%; height: 100%;}
#rankingdiv {clear: both;float: none;width: 300px;box-sizing: border-box !important;background: #EBEBEB;padding: 10px;margin: 0 auto;}
.rankingdivyear{width:100%; margin:0;}
.rankingdivyear a{display: block}
.rankingdivyear a img{width:100%;height:100%;}
.rankingdivyear .title{padding:0;font-size: 13px;line-height: 16px;}
.rankingdivyear .left ul{padding: 0 0 0 15px;}    
.main .right{width:300px; margin:0 auto;}
.righttopmag.sponsors{width:100%; padding: 0;}
.righttopmag.sponsors iframe{width:100%;}
.socials_share{clear:none;float:none;width:100%; margin-top:20px; display: inline-block;}
.righttopmag.best_coll_right{float:none;width:100%;clear:both;margin-bottom: 30px;}
.rt-colum.todaysheadline{float:none;width:100%;}
.rt-colum.chunk_right_photo{float:none;width:100%;}
.right-ad.rt-colum.zedoads1{float:none;width:100%;}
.rt-colum.ad-withborder{float:none;width:100%;}
.rt-colum.noborder.chunk_hot_rightnow{float:none;width:100%;}
.rt-colum.noborder.chunk_right_sosorry{float:none;width:100%;}
.rt-colum.ad-withborder.zedoadsmarket{float:none;width:100%;}
.rt-colum.hotrightnow-section{float:none;width:100%;}
.tabhead{padding:2px; margin-right: 6px;}
.righttopmag{padding:0;}
.watch_chunk_container{width:100%;}
.captionWicon a{font-size:15px; line-height: 20px;}
footer iframe{height:380px;}
#global #itgd_links{ font: bold 11px/15px arial;}
.photo-slider, .photo-slider .photo-list{margin:0;padding:0;width:298px;}
.photo-slider .photobelt{border:2px solid #fff;width:300px;}
.photo-slider a#photonext{right:0;}
.photo-slider a#photoprev{left:-2px;}
.container_bestcol{background: #fff; margin:10px auto;}
.container_bestcol iframe{height:inherit;}
.righttopmag.sponsors iframe{width:100%;}  
.right-ad.rt-colum.zedoads1{display: none !important} 
.rt-colum.ad-withborder{display: none; }
.rt-colum.ad-withborder.zedoadsmarket{display: none;}

#copyright {display:block;}
footer iframe{display:none;}   
}
