@charset "utf-8";
/* CSS Document */
*{ margin:0;padding:0;}
body{font-family: 'Roboto', sans-serif; line-height:normal;}
#wrapper{ width:100%; float:left; background:#E5E5E5;}
#wrapper #header{ width:100%; float:left;}
#wrapper #header .header{ width:1000px; margin:auto;}

.ad_container{ width:100%; float:left;}
.ad_cont{ width:1000px; margin:auto; background:#fff;}
.img_respnosive{ width:100%;}
.clearfix{ clear:both;}
.bg_wht{ background:#fff;}
.ad_mn{ width:728px; margin:auto; padding:15px 0;}
.middle_container{ width:100%; float:left;}
.middle_cont_h{ width:1000px; margin:auto; background:#fff;}
.middle_container .left_middle{ width:650px; padding-left:10px; float:left;}
.middle_container .right_middle{ width:330px; padding-right:10px; float:right;}
.footer_cont{ width:100%; float:left;}
.right-add{ width:300px; float:right; margin-top:20px;}
.twitter_col{width:300px; float:right; border:1px solid #E6C791; margin-top:20px;}
.twitter_col_head{ padding:5px 10px; width:94%; float:left; background:#E6C791; color:#fff; font-size:20px;}
.twitter_col_head .txt_k{ padding-left:10px; font-family: "roboto";font-size: 22px;font-weight: bold;}
.twitter_col_head img{ width:40px; height:30px; float:left;}
.twitter_col_txt{}
.left_pnel_chn{ height:1800px;}
.twitter-timeline{ width:300px !important;}

.ideal-box{max-height: 300px; overflow-x:hidden;overflow-y:scroll;}
.left_pnel_chn {height: 2300px;}