@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100); /*** font-family: 'Roboto Slab', serif; ***/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,500,500italic); /*** font-family: 'Roboto', sans-serif; ***/
/*** GENRAL CSS ***/
body { margin:0px; padding:0px; font-family: 'Roboto Slab', serif; font-weight:400; font-size:15px; color:#181818; 
background:#f8f8f8 /*url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/body-bg.png) no-repeat center 200px*/;}
img { margin:0px; padding:0px; border:none }
a { margin:0px; padding:0px; text-decoration:none; color:#1c1c1c}
a:hover { text-decoration:none; color:#6b6b6b}
.fLeft { float:left}
.fRight { float:right;}
.clear { clear:both}
.mrgL_0 { margin-left:0px;}
.mrgR_0 { margin-right:0px;}
.mrgB_0 { margin-bottom:0px;}
.mrgT_0 { margin-top:0px;}
.paddL_0 { padding-left:0px;}
.paddR_0 { padding-right:0px;}
.paddB_0 { padding-bottom:0px;}
.paddT_0 { padding-top:0px;}
* { box-sizing:border-box}
   
/*** WRAPER ***/
.wraper { margin:0px; padding:0px; }


/*** HEADER ***/
.top_area { margin:0px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/bg-new-hd.jpg) repeat left top; padding:0px 0 0 0;}
.logo { margin:0px 0 0 0px; padding:0px; position:relative; top:inherit}

.logo h1 { margin:0px; padding:0px;}
.logo h1 img { width:auto}
.top_advertis { margin:0px; padding:15px 0px 15px; padding-top:0px; padding-bottom:0px; float:right; text-align:left}
.top_advertis img { width:100%}

/*** new css ***/
.news_date { margin:0px; padding:0px; text-align:center;  color:#fff; font-family:'Roboto', sans-serif;}
.news_date h2 { margin:0px; padding:0px 0 8px 0; text-align:center; text-transform:uppercase; font-weight:500; font-size:25px; color:#fff; text-shadow:2px 3px 3px #740403}
.news_date p { margin:0px; padding:0px; line-height:22px; text-shadow:2px 3px 3px #740403; font-size:15px; text-transform:capitalize}
.top_banner_ad { margin:0px; padding:0px; text-align:right}


/*** NAVIGATION ***/
.nav_area { margin:0px 0 45px 0; padding:0px; background:#000; font-family: 'Roboto', sans-serif;}
.nav_area .swiper-container { margin-left:0px;}
.nav_area .swiper-slide { font-size:18px; color:#fff; font-weight:500; text-transform:uppercase; float:left; width:auto; margin:0px; padding:9px 23px 9px 0; padding-right:26px\9;}  
.nav_area .swiper-slide h2 { margin:0px; padding:0px; font-size:inherit; font-weight:inherit; line-height:inherit}
.nav_area .swiper-slide a { color:#fff; transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; }
.nav_area .swiper-slide a:hover,.nav_area .swiper-slide a.active { color:#fff}
.nav_area .swiper-slide i.fa.fa-home {  font-size: 24px;}

/*** HOME PAGE ***/
.over_area { margin:0px 0 20px 0; padding:25px 30px 25px 30px; background:#ffffff}
.over_area p { margin:0px; padding:0px 0 10px 0; font-size:18px; line-height:30px;}
.over_area a { color:#b70800}
.over_area a:hover { color:#000}
.hoarding_top { margin-bottom:40px;}


/*** VIDEO AREA ***/
.video_area { margin:0px 0 30px 0; padding:0px;}
.video_area h2{ margin:0px 0 10px 0; padding:12px 0 7px 12px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/text-bg.png) no-repeat; font-size:20px; line-height:34px; color:#fff; text-transform:uppercase}
.video_info { margin:0px; padding:0px 0 8px 0; background:#fff}
.video_pic { margin:0px; padding:0px 0 5px 0;}
.video_pic img{ margin:0px; padding:0px; width:100%}
.video_info p { margin:0px; padding:10px; padding-top:0px; font-size:18px;  line-height:21px;}
.video_info .carousel-control.left {background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/like-dislike-sprite.png) no-repeat scroll 0 -90px; height: 19px; text-indent: -99999px; width: 19px; opacity:1; top:-45px; right:43px; left:inherit}
.video_info .carousel-control.right { background: rgba(0, 0, 0, 0) url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/like-dislike-sprite.png) no-repeat scroll -19px -90px;
height: 19px; text-indent: -99999px; width: 22px; opacity:1; top:-45px; right:12px}
.video_info .carousel-control.right:hover, .video_info .carousel-control.left:hover { opacity:0.8}
.video_area h2 a span{ color:#fff; text-decoration:none;}


/*** TEAM AREA ***/
.team_area { margin:0px 0 30px 0; padding:0px;}
.team_area h2{ margin:0px 0 10px 0; padding:12px 0 7px 15px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/text-bg.png) no-repeat; font-size:20px; line-height:34px; color:#fff; text-transform:uppercase}
.team_info { margin:0px; padding:10px; background:#fff; height:312px}
.team_info p { text-align:center; line-height:300px; font-size:25px;}

/*** TALLY AREA ***/
.tally_area { margin:0px 0 30px 0; padding:0px;}
.tally_area h2{ margin:0px 0 10px 0; padding:12px 0 7px 15px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/text-bg.png) no-repeat; font-size:20px; line-height:34px; color:#fff; text-transform:uppercase}
.tally_info { margin:0px; padding:10px; background:#fff; /*height:265px*/}
.tally_info p { text-align:center; line-height:265px; font-size:25px;}

/*** AUTH AREA ***/
.auth_newswiz{width:100%; float:left; position:relative; border-top:4px solid #013b6d; margin-top:70px; background:#ffffff; margin-bottom:50px; height:270px;}
.circular_win{position:absolute; left:20px; top:-60px; width:120px; height:120px;}
.circular_win img { border-radius: 100%; width: 100%; height: 100%; float: left;}
.header_win{ width:; text-align:left; font-size:28px;color:#EA8C0D; padding-left:180px; padding-top:10px}
.container_wiz{ margin-top:32px; float:left; width:100%; padding:0 25px 25px 25px;}
.container_wiz p { margin:0px; padding:0px; font-size:14px; line-height:24px;}

/*** SCHEDULE ***/
.schedule_area { margin:0px; padding:0px;}
.schedule_area table { margin:0px; padding:0px; border:1px solid #71c2fb; border-right:0px;}
.schedule_area table td { margin:0px; padding:10px 20px; font-size:15px; width:50%; border-bottom:1px solid #71c2fb; border-right:1px solid #71c2fb; box-shadow:inset 2px 3px 5px #eee; -o-box-shadow:inset 2px 3px 5px #eee; -moz-box-shadow:inset 2px 3px 5px #eee; -ms-box-shadow:inset 2px 3px 5px #eee; -webkit-box-shadow:inset 2px 3px 5px #eee;}
.schedule_area table th { margin:0px; padding:10px 20px; font-size:15px; width:50%; background:#000; color:#fff; border-bottom:1px solid #71c2fb; text-transform:uppercase}

.schedule_area table tr:nth-child(even) {background: #e7f5ff}
.schedule_area table tr:nth-child(odd) {background: #fff}



/*** RIGHT SIDE ***/
.right_side { margin:0px; padding:0px;}
.right_advertis  { margin:0px 0 20px 0; padding:20px; background:#ffffff; text-align:center}

/*** FOOTER ***/
.footer_wraper { margin:0px; padding:0px;}
.outer_footer{float:left; width:100%; background:#000000; padding-bottom:15px; }
.outer_footer .ftop { margin:0px; padding:0px;}
.ftop .swiper-slide { font-size:15px; color:#fff;  text-transform:uppercase; float:left; width:auto; margin:0px; padding:0px;  border-right:1px solid #1c1c1c}
.ftop .swiper-slide:first-child a{ padding-left:0px;}
.ftop .swiper-slide:last-child { border-right:none}
.ftop .swiper-slide h2 { margin:0px;  font-size:inherit; font-weight:600; line-height:inherit;}
.ftop .swiper-slide a { color:#fff; display:block; padding:10px 22px 10px 22px; transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.ftop .swiper-slide i { font-size:22px;}
.ftop .swiper-slide span { font-size:19px; line-height:39px;  padding:0px 15px 2px 15px}
.ftop .swiper-slide a:hover { color:#00b3e6}
.foot_midd { background:#111111; padding:15px 0 15px 0; overflow:hidden}
.outer_footer .fbot { margin:0px; padding:0px; font-family: 'Roboto', sans-serif;}
.outer_footer .fbot ul { margin:0px; padding:0px; list-style:none}
.outer_footer .fbot ul li { margin:0px; padding:0px 0 7px 0; font-size:12px; color:#a6a6a6; font-weight:400}
.outer_footer .fbot ul li a { color:#a6a6a6; transition:all 0.2s ease-in-out; -moz-transition:all 0.2s ease-in-out; -o-transition:all 0.2s ease-in-out; -ms-transition:all 0.2s ease-in-out; -webkit-transition:all 0.2s ease-in-out;}
.outer_footer .fbot ul li a:hover { color:#00b3e6}
.outer_footer h3 { font-size:14px; color:#ffffff; font-size:14px; font-weight:500}
.copy_write_area { margin:0px; padding:8px 0 0px 0 ;  font-size:12px; color:#a6a6a6; background:#000000; border-top:1px solid #1e1e1e; clear:both; float:none; text-align:center; }




.middle_quiz {text-align: center; background: #fff; /*padding: 15px 0 40px 0;*/padding: 15px 0 15px 0; box-sizing: border-box; box-shadow: 0 0 3px #ccc; /*padding:20% 0;*/}
.banner_sec{width:100%;} 
.marginbtm10{margin-bottom:10px;}   
.middle_quiz h3 {margin: 0; padding: 12px 12px 35px; font:500 24px/30px 'Roboto',sans-serif;}
.quiz_btn {font-size: 18px; color: #fff; text-decoration: none;}
.modal-body.wiz_text iframe {height: 550px; width: 100% !important;}
.img-stroke{position:absolute; top:-68px; left:10px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/img-outer-bg.png) no-repeat 0 0; width:140px; height:68px; float:left;}

ul.social{float:right; list-style:none; padding-top:10px;}
ul.social li{display:inline; padding-right:25px;}
ul.social li:last-child{padding-right:0;}
.comicon{display:none;}

.terms-condition {display: block; width: 100%; float: left; background-color:#fff;}
.terms-condition h3 {background-color: #fdc403; font: bold 27px/36px 'Roboto', sans-serif; color: #000302; display: block; text-transform: uppercase; margin: 0; padding: 4px 0 4px 20px; box-sizing: border-box !important;}
.terms-condition .terms-outer {float: left; width: 100%; margin: 30px 0; padding:0 0 0 2%; box-sizing:border-box; /*height:584px;*/height:1054px; overflow:scroll;overflow-x:hidden;  -webkit-appearance: none;}  
.terms-condition .term-lft {width: 100%; float: left; padding: 0px 34px 0 0; font: 15px/22px 'Roboto', sans-serif; color: #282828; box-sizing: border-box;}
.terms-condition p {margin-top: 0;}
.terms-condition .term-lft ul {list-style: none; margin: 0;padding: 0;}
.terms-condition .term-lft ul li {margin-bottom: 20px; float: left; width: 100%; font-style: normal;}
.terms-condition .term-lft ul li strong {font-weight: normal; width:87%; float: left; font-style: normal;}
.terms-condition .term-lft ul li span {width: 22px; height: 22px; border-radius: 22px; border: 1px solid #e5e5e5; text-align: center; margin-right: 14px; float: left; font-size: 13px; font-style: normal;}


header{ position:relative;} 
.logo{ position:absolute;}
.logo h1 img{width:auto;}

/*** MATCH ***/
.match_table{margin:0px;padding:0px;background:#FFF}
.match_info{margin:0px;padding:0; overflow-y:scroll; overflow-x:hidden; height:292px;}
.match_info ul{margin:0px;padding:0px;list-style:none}
.match_info ul li{margin:0px 0 13px 0;padding:0px 0 10px 0;border-bottom:1px solid #e5e5e5;text-align:center}
.match_info ul li:last-child{margin-bottom:0px;border-bottom:none}
.match_info .team_info{margin:0px 0 0px 0;padding:0px;overflow:hidden;text-align:center; height:inherit}
.match_info .team_info .team_name{margin:0 15px 5px 15px;padding:0px;display:block;font-weight:500;color:#00679c;font-size:14px; text-transform:capitalize}
.match_info .team_info .team_name .flag{margin-right:10px}
.match_info .match_place{font-size:13px;margin-bottom:2px; text-transform:capitalize}
.match_info .match_time{font-size:14px;color:#00679c;  text-transform:capitalize}

.match_info .team_info .team_name.school_name {color:#00679c;  text-transform:capitalize}

.vs_color { color:#c80303; padding-left:7px; padding-right:7px;}


/*** SPONSOR ***/ 
.top_sponsor { margin:15px 0 0; padding:0px; float:right;}
.top_sponsor h3 { margin:0px; padding:1px 9px; width:100%; background:#2e2e2e; font-size:14px; color:#fff; text-align:center; text-transform:uppercase; font-weight:400px;}
.top_sponsor .sponsor_pic { margin:0px; padding:0px;}

/*** presenting area ***/
.presen_area { margin:0px; padding:0px 0 10px 0; overflow:hidden; display:none}
.presen_area h4 { margin:0px; padding:13px 0; font-size:11px; color:#007ed2; text-align:left; float:left; text-transform:uppercase}
.presen_area .presen_logo { float:right}
.sponsor_frame {margin: 0 0 35px;}   

.nav_ad_code, .foot_ad_code { display:none}

/*** footer partner ***/
.foot_addvertis { float:left}
.foot_partner { margin:0px; padding:0px; float:right; width:260px;}
.foot_partner h3 { margin:0px; padding:5px 0; width:100%; background:#464646; color:#fff; font-weight:400; text-align:center; font-size:12px;}
.foot_partner ul { margin:0px; padding:0px; background:#fff; overflow:hidden; list-style:none}
.foot_partner ul li { margin:0px; padding:8px 0 8px 0; float:left}
.foot_partner ul li.big_logo { margin-right:43px; padding-left:14px; padding-top:16px;}
.foot_partner ul li.tree_logo { padding-left:7px;}

.video_area h2 a{ color:#fff;}
.team_area h2 a{ color:#fff;}

.video_episode_snippets{ width:100%;}
.video_episode_snippets .video_inner{ width:100%; float:none; position:relative}
.video_episode_snippets .video_inner img{ width:100%;}
.video_episode_snippets .video_inner a{ text-decoration:none; color:#000;}  
.video_episode_snippets .video_inner p{margin:0;padding:0;padding:5px 10px; box-sizing:border:box; font-size: 18px; line-height: 21px; }
li .video_episode_snippets .video_inner p {padding: 5px 0;text-align: left;line-height: 21px;}   
.video_episode_snippets .video_inner span.icon_video_newswiz{ position:absolute; z-index:99; top:7%; right:6%; width:30px; height:30px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/video_icon_newswiz.png) no-repeat;}
.timeline-outer{position:relative;}
.timeline-outer .slider-year{ width:320px; overflow:hidden;}
.timeline-outer .slider-year ul{ position:relative; margin:0; padding:0;}
.timeline-slider ul li{ list-style:none; display:inline-block; float:left;}
.timeline-slider ul li{ color:#fff; width:320px; float:left; }
.timeline-slider #next{background: rgba(0, 0, 0, 0) url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/like-dislike-sprite.png) no-repeat scroll -19px -90px;height: 19px;text-indent: -99999px;width: 22px;opacity: 1;top: -45px;right: 12px;position:absolute;	top:-58px;}
.timeline-slider #pre {background: url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/like-dislike-sprite.png) no-repeat scroll 0 -90px;height: 19px;text-indent: -99999px;width: 19px;opacity: 1;top: -45px;right: 43px;left: inherit;position:absolute;top:-58px;}
.right_side h2 {margin: 0px 0 10px 0;padding: 12px 0 7px 12px;background: url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/text-bg.png) no-repeat;  font-size: 20px;line-height: 34px; color: #fff;text-transform: uppercase;}
.right_side h2 a{color:#fff;text-decoration:none;}
.right_side h2 a span{color:#fff; text-decoration:none;}


.videoplace-holder{padding:0px 0 5px 10px; cursor:pointer;}
.video_pic{display: block;position: fixed;top:100px;left: -52%; transform: translate(-50%); z-index:9999; background:#000;}
.video_pic.showvideo{top: 100px;left: 50%;}
#closevideo{ background: #BE2901;color: #fff;font-size: 18px;width: 30px;height: 30px;display: block;cursor: pointer;float: right;text-align: center;border-radius: 100%;line-height: 27px;border: 2px solid #fff;position: absolute;right:-15px; top:-15px; font-family:roboto;}

.team_data h3 { margin: 30px 0 30px 0;  padding: 0px;    background: url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/resources/newswiz/newimages/team_border.png) no-repeat center center; text-align: center; font-size: 25px;  text-transform: uppercase; font-weight: 600;}
.box_dn{ margin-bottom:30px}
