/*-----------------------------------------------------------*
* ITG ADMIN CSS STARTS HERE
*------------------------------------------------------------*/
#content{
  display: inline-block;
  width: 100%;
}
.sidebar-second .region-sidebar-second, .sidebar-second .region-content{
  float: left;
  box-sizing: border-box;
}
.sidebar-second .region-content{
  width: 78%;
  padding-right: 30px;
}
.sidebar-second .region-sidebar-second{
  width: 22%;
}
.block-superfish .sf-menu.sf-horizontal li{
  float: left;
  margin-right: 1px;
}
.view > .attachment{
  text-align: right;
  padding-bottom: 10px;
}
.view > .attachment a{
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #7bc;
  font-weight: bold;
  text-shadow: #38a 0 1px 0;
  display: inline-block;
  vertical-align: top;
}
.view-manage-users .view-filters .views-exposed-form .views-exposed-widget .form-submit{
  margin-top: 18px;
}
select option{
  padding: 5px;
}
.page-admin-people-create form{
  max-width: 800px;
  position: relative;
  z-index: 9;
}
div.password-confirm, div.password-confirm span{
  float: right;
  width: 200px;
}
div.password-confirm{
  width: 200px;
}
span.error{
  display: block;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-type-checkboxes label, .form-item-notify label{
  display: inline;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-checkboxes{
  float: left;
  margin-right: 5px;
}
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select{
  max-width: 400px !important;
}
textarea.form-textarea{resize: none; height: 90px;}
.page-node-add-story .preview-wrapper, .node-type-story .preview-wrapper{
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.page-node-add-story .preview, .node-type-story .preview{
  background-color: #fff;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50px;
  width: 900px;
  border-radius: 8px;
  overflow: hidden;
}
.page-node-add-story .preview > h3,
.node-type-story .preview > h3{
  font-size: 24px;
  padding: 20px;
}
.close-preview{
  position: absolute;
  top: 12px;
  right: 15px;
  background: url('../images/close.png') no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  display: none;
}
.page-node-add-story .close-preview, .node-type-story .close-preview{
  display: block;
}
.preview .column-main{
  max-height: 500px;
  overflow-y: auto;
}
.page-node-add-story .node-teaser, 
.page-node-add-story .node-preview .column-side, 
.page-node-add-story .node-title, 
.page-node-add-story .preview > h3:first-child,
.node-type-story .node-teaser, 
.node-type-story .node-preview .column-side, 
.node-type-story .node-title, 
.node-type-story .preview > h3:first-child{
  display: none;
}
.page-node-add-story div.node,
.node-type-story div.node{
  background: none;
  border-top-color: #eee;
  border-bottom: none;
  margin-bottom: 0;
}
.page-node-add-story .field-collection-container,
.node-type-story .field-collection-container{
  border: none;
  margin: 0;
}
.preview-wrapper .node-content .field, 
.page-node-add-story .column-main,
.node-type-story .column-main{
  display: inline-block;
  width: 100%;
}
.preview-wrapper .node-content h2{
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 10px 15px;
}
.preview-wrapper .content-details{
  padding: 0 15px 15px;
}
.preview-wrapper .node-content .field .field-label, .preview-wrapper .node-content .field .field-items{
  float: left;
}
.preview-wrapper .node-content .field .field-items{
  width: 70%;
}
.preview-wrapper .node-content .field .field-label{
  width: 30%;
}
.block-superfish{
  border: none;
}
.block-superfish h2.block-title, .region-help{
  display: none;
}
.block-superfish .block-content{
  padding: 0;
}
.sf-menu.sf-style-light-blue{
  width: 100%;
  background-color: #d9ecff;
}
div.views-exposed-form div.views-submit-button{
  margin-right: 0;
}
.block-superfish .sf-menu.sf-horizontal li.active-trail{
  background-color: #b5d8fa;
}
form .form-item{
  border: none;
  padding: 0;
  margin: 0 0 10px;
  display: inline-block;
  width: 100%;
}

form .form-item label{
  font-size: 12px;
  float: left;
  width: 300px;
  font-weight: normal;
  padding: 3px 0;
}
.form-item span.error{
  display: block;
  color: red;
  width: auto;
  float: none;
  padding-left: 300px;
}
.node-story-form .form-item span.error, 
.page-admin-people-create form .form-item span.error{padding-left: 300px;}
.node-story-form .date-padding .form-item span.error {padding-left: 0;}
/*.node-story-form .form-type-checkboxes label,
.node-story-form .form-type-radios label, 
.node-story-form .field-name-field-story-magazine-story-issue .form-type-checkboxes label,
.node-story-form .field-name-field-story-resize-extra-large .form-type-checkboxes label,*/
form .form-type-checkboxes label,
form .form-type-radios label, 
form .field-name-field-story-magazine-story-issue .form-type-checkboxes label,
form .field-name-field-story-resize-extra-large .form-type-checkboxes label, 
form .form-item-notify label{
  float: none;
}
form .form-type-radios > label,
form .form-type-checkboxes > label{
  float: left;
}
form .form-type-checkboxes .form-checkboxes,
form .form-type-radios .form-radios, 
form .form-type-textarea .form-textarea-wrapper{
  overflow: hidden;
}
form .form-type-radios .form-radios .form-type-radio{display: inline-block; vertical-align: top; width: auto; padding-right: 20px;}
form .form-type-managed-file .form-managed-file{
  overflow: hidden;
}
form .form-item .form-type-checkbox{
  display: inline-block;
  padding-right: 20px;
  width: auto;
}
form .field-name-field-story-resize-extra-large .form-item .form-type-checkbox, 
form .field-name-field-story-magazine-story-issue .form-item .form-type-checkbox{padding-right: 0;}
form .form-type-managed-file .form-managed-file .filefield-source .form-item{
  float: left;
} 
.node-story-form .field-name-field-story-resize-extra-large .form-type-checkboxes .form-checkboxes{
  float: left;
  margin-right: 3px;
}
.node-story-form .field-name-field-story-resize-extra-large .form-type-checkboxes label{
  display: inline-block;
  vertical-align: top;
}
form .date-combo{
  border: none;
}
form .date-combo .fieldset-title{
  background: none;
  padding: 0;
}
form .date-combo legend{
  width: 300px;
}
.node-story-form .fieldset.titled > .fieldset-content{
  float: left;
  max-width: 600px;
  padding: 0;
}
form fieldset.date-combo .container-inline-date .date-padding{
  padding: 0;
}
form fieldset.date-combo .container-inline-date .date-padding .form-item{
  width: 160px;
  padding-right: 20px;
}


.page-content .node-story-form .form-item .description{
  left: 300px;
  margin-bottom: 10px;
}
.page-content .node-story-form .form-item td .description{
  padding-left: 120px;
}
.node-story-form .ckeditor_links, 
.node-story-form .text-format-wrapper .filter-wrapper, 
.node-story-form .text-format-wrapper .description{
  margin-left: 300px; 
}
.node-story-form #Templates th.field-label label{
  padding-left: 5px;
}
.node-story-form table.field-multiple-table td .button-remove{
  margin-left: 120px;
}
form .form-item .form-item{
  margin: 0;
}
.story-title{
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
#block-itg-story-story-tab-form-block{
  border-left: none;
  border-right: none;
}
#block-itg-story-story-tab-form-block .block-content{
  padding: 0;
}
.block-itg-story-list{
  text-align: center;
}
.block-itg-story-list span{
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #666;
  position: relative;
  margin-left: -3px;
  font-size: 13px;
  text-transform: uppercase;
}

.block-itg-story-list span.active, .block-itg-story-list span:hover{
  color: #008eb1;
  background-color: #fff;
}
.block-itg-story-list span.active:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100%;
  background-color: #008eb1;
}
.block-itg-story.fixed{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  box-shadow: 0 2px 2px 0 #ddd;
}
#block-menu-menu-admin-left-menu{
 border: none; 
}
#block-menu-menu-admin-left-menu h2.block-title{
  display: none;
}
#block-menu-menu-admin-left-menu .block-content{
  border: none;
  padding: 0;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu{
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #c3535e;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li{
  float: left;
  position: relative;
  border: none;
  padding: 0;
  margin-right: 1px;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li > a{
  padding: 10px 20px;
  display: block;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu a{
  color: #fff;
  font-size: 14px;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li:hover > a, 
#block-menu-menu-admin-left-menu .block-content > ul.menu > li.active-trail > a.active{
  color: #666;
  background-color: #fff;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li ul.menu{
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  display: none;
  padding-top: 1px;
  z-index: 9999;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li:hover > ul{
  display: block;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li ul.menu li{
  padding: 0;
  border-bottom: 1px solid transparent;
  background-color: #f9f9f9;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li ul.menu li a{
  color: #666;
  padding: 10px 20px;
  display: block;
}
#block-menu-menu-admin-left-menu .block-content > ul.menu > li ul.menu li:hover a, 
#block-menu-menu-admin-left-menu .block-content > ul.menu > li ul.menu li.active-trail a.active{
  background-color: #c3535e;
  color: #fff;
}
.view-strory-menegment .view-header{
  text-align: right;
  padding-bottom: 10px;
}
.view-strory-menegment .view-header p{
  display: inline-block;
  vertical-align: top;
}
.view-strory-menegment .view-header p a{
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #7bc;
  font-weight: bold;
  text-shadow: #38a 0 1px 0;
  display: inline-block;
  vertical-align: top;
}
.Templates-buzz .action-links, .Templates-buzz .field-collection-view-links{
  display: none;
}
.basic-details .field-item a, .Story-details .field-item a{
  pointer-events: none;
  color: #333;
  cursor: text;
}
.preview-wrapper .node-content .Templates .field-name-field-story-template-factoids .field-item{
  display: inline-block;
  vertical-align: top;
  padding: 1px 5px;
  border-radius: 2px;
  margin: 0 5px 5px 0;
}
.preview-wrapper .node-content .Templates .field-name-field-story-template-factoids .field-item.even{
  background-color: #e30b16;
  color: #fff;
  font-weight: bold;
}
.preview-wrapper .node-content .Templates .field-name-field-story-template-factoids .field-item.odd{
  background-color: #666;
  color: #fff;
  font-weight: bold;
}
.preview-wrapper .node-content .field .field-items table td, 
.preview-wrapper .node-content .field .field-items table th{border: 1px solid #ddd;}
.field-name-field-story-resize-extra-large,
.field-name-field-story-magazine-story-issue, .form-item-notify{
  padding-left: 300px;
}
.preview-wrapper .node-content .field-name-field-story-resize-extra-large,
.preview-wrapper .node-content .field-name-field-story-magazine-story-issue{padding-left: 0;}
#taxonomy-overview-terms .tabledrag-hide, 
#taxonomy-overview-terms .tabledrag-handle, 
#taxonomy-overview-terms .tabledrag-toggle-weight-wrapper, 
.node-story-form .tabledrag-toggle-weight-wrapper, 
.metatags-form .form-item-metatags-und-abstract-value,
.metatags-form #edit-metatags-und-advanced{
  display: none;
}
input[readonly="readonly"], input[disabled="disabled"], select[disabled="disabled"]{
  background-color: #f5f5f5;
}

.preview-wrapper .node-content .field ul li,
.preview-wrapper .node-content .field ol li{
  padding-bottom: 10px;
  padding-left: 12px;
  position: relative;
  word-wrap: break-word;
}
.preview-wrapper .node-content .field ol{list-style: decimal; padding-left: 15px;}
.preview-wrapper .node-content .field ul li + li,
.preview-wrapper .node-content .field ol li + li{
  border-top: 1px dashed #ddd;
  padding-top: 10px;
}
.preview-wrapper .node-content .field ol li{
  padding-left: 0;
}
.preview-wrapper .node-content .field ul li:last-child,
.preview-wrapper .node-content .field ol li:last-child{
  padding-bottom: 0;
}
.preview-wrapper .node-content .field ul li:before{
  background-color: #e30b16;
  border-radius: 50%;
  content: "";
  position: absolute;
  height: 5px;
  margin-right: 5px;
  top: 9px;
  left: 0;
  width: 5px;
}
.preview-wrapper .node-content .field ul li + li:before{
  top: 19px;
}
.preview-wrapper .field-collection-view{
  border: none;
}
.preview-wrapper .field-collection-description, 
.path-form .form-item-path-pathauto,
.path-form legend .summary, #edit-reset-alphabetical{
  display: none;
}
.quotes .field-item:before{
  content: '"';
}
.quotes .field-item:after{
  content: '"';
}
form .field-multiple-table{border: none;}
form .field-multiple-table thead{float: left; width: 300px;}
form .field-multiple-table tbody{float: left; max-width: 600px;}
form .field-multiple-table thead th, form .field-multiple-table tbody td{padding: 0; border: none; background: none;}
form .field-multiple-table tbody td.field-multiple-drag{display: none;}
form #edit-field-story-template-buzz .field-multiple-table tbody{border: 1px solid #ddd; padding: 10px;}
form .field-multiple-table tbody .form-item .form-text{width: 400px;}
form #edit-field-story-template-buzz .field-multiple-table tbody .form-item .form-text{width: 359px;}
form #edit-field-story-template-buzz .field-multiple-table tbody .form-item label{width: 120px;}
form .field-add-more-submit{margin-left: 300px;}
#reporter-details{padding-left: 300px;margin: -20px 0 20px;position: relative;}
.page-admin-people-create .fieldset, .page-user-edit .fieldset{border: none;}
.page-admin-people-create #edit-account .form-item, 
.page-admin-people-create form .form-type-select, 
.page-user-edit form .form-type-select,
.page-user-edit #edit-account .form-item{margin-bottom: 20px;}
.page-admin-people-create #edit-account .form-type-password-confirm.form-item{margin-bottom: 0;}
form #edit-field-story-template-buzz .field-multiple-table tbody tr td{padding: 10px 0;}
form #edit-field-story-template-buzz .field-multiple-table tbody tr + tr td{border-top: 1px solid #ddd;}
.form-type-managed-file .image-widget div.image-widget-data{width: 248px;}
.node-story-form table.field-multiple-table td div.image-widget-data .button-remove{margin: 10px 0 0;}
.page-admin-people-create .fieldset .fieldset-content{padding: 0;}
.page-admin-people-create .fieldset legend{display: none;}
.node-story-form .vertical-tabs, page-admin-structure-taxonomy-category-management .vertical-tabs{padding: 0; border: none;}
form.node-story-form .vertical-tabs .fieldset.titled > .fieldset-content, 
.page-admin-structure-taxonomy-category-management .vertical-tabs .fieldset.titled > .fieldset-content{float: none; max-width: none;}
form.node-story-form .vertical-tabs .form-item, 
.page-admin-structure-taxonomy-category-management form .vertical-tabs .form-item{margin-bottom: 20px;}
.text-format-wrapper .form-item{padding: 0; border: none;}
form .form-textarea-wrapper .form-item span.error{padding-left: 0;}
.node-story-form .date-no-float{width: 400px;}
.page-admin-structure-taxonomy-category-management fieldset legend span.form-required, 
.page-user-edit fieldset legend span.form-required, 
.page-taxonomy-term-edit fieldset legend span.form-required,
.page-admin-people fieldset legend span.form-required{display: none;}
form .path-form.fieldset.titled > .fieldset-content{padding: 40px 9px 10px; float: none; max-width: none;}
.view .view-filters form label, .view .view-filters form .form-item label{display: block; font-weight: normal; float: none; padding: 0; font-size: 13px; font-weight: normal; color: #333; width: auto;}
.user-profile-div, .user-profile-div .field{display: inline-block; width: 100%; vertical-align: top;}
.user-profile-div .user-picture{float: left; width: 200px; margin-right: 30px; border: 1px solid #ddd; height: 200px; position: relative;}
.user-profile-div .user-details, .user-profile-div .field-items{overflow: hidden;}
.user-profile-div .field-label{float: left; width: 150px;}
.user-profile-div .field-items{padding-bottom: 10px;}
form.node-story-form .path-form.fieldset.titled > .fieldset-content{padding: 10px 0 0;}
.view-manage-users .vbo-views-form .fieldset-content .form-item{float: left; width: auto; margin-right: 10px;}
.user-profile-div .user-picture a{position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
.user-profile-div .user-picture img{vertical-align: top; position: absolute; top: 50%; transform: translateY(-50%);}
.page-admin-people-create #edit-account .form-item.form-item-notify, 
.page-admin-people-create #edit-account .form-item.form-item-status{margin-bottom: 0;}
.page-admin-people-create #edit-account .form-item.form-item-notify{padding-left: 300px;}
.page-admin-people-create .form-type-managed-file .image-widget div.image-widget-data, 
.page-user-edit .form-type-managed-file .image-widget div.image-widget-data{width: auto;}
.page-admin-people-create .form-type-managed-file .image-widget div.image-widget-data input[type="file"], 
.page-user-edit .form-type-managed-file .image-widget div.image-widget-data input[type="file"]{float: left;}
.page-admin-people-create .form-actions #edit-cancel,
.page-user-edit .field-type-image .button-remove{display: inline-block; float: none;}
.page-user-edit div.image-widget-data{position: relative;}
.page-user-edit div.image-widget-data .ajax-progress{position: absolute; left: 100%; top: 0;}