/*-----------------------------------------------------------*
* ITG ADMIN CSS STARTS HERE
*------------------------------------------------------------*/
.block-superfish .sf-menu.sf-horizontal li{
  float: left;
}

.view-manage-users > .view-header{
  text-align: right;
}
.view-manage-users > .view-header p{
  display: inline-block;
  vertical-align: top;
}
.view-manage-users > .view-header p a{
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #7bc;
  font-weight: bold;
  text-shadow: #38a 0 1px 0;
  display: block;
}
.view-manage-users .view-filters .views-exposed-form .views-exposed-widget .form-submit{
  margin-top: 18px;
}
select option{
  padding: 5px;
}
.page-admin-people-create form{
  max-width: 400px;
  position: relative;
  z-index: 9999;
}
div.password-confirm, div.password-confirm span{
  float: right;
  width: 200px;
}
div.password-confirm{
  width: 200px;
}
span.error{
  display: block;
}
.block-itg-story-list{
  margin: 0 30px;
}
.block-itg-story-list span{
  cursor: pointer;
}
.block-itg-story-list span.active{
  color: #008eb1;
}
.block-itg-story.fixed{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 20px;
  left: 0;
  box-shadow: 0 2px 2px 0 #ddd;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-type-checkboxes label{
  display: inline;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-checkboxes{
  float: left;
  margin-right: 5px;
}
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select{
  max-width: 400px !important;
}