/*-----------------------------------------------------------*
* ITG ADMIN CSS STARTS HERE
*------------------------------------------------------------*/
#content{
  display: inline-block;
  width: 100%;
}
.sidebar-second .region-sidebar-second, .sidebar-second .region-content{
  float: left;
  box-sizing: border-box;
}
.sidebar-second .region-content{
  width: 78%;
  padding-right: 30px;
}
.sidebar-second .region-sidebar-second{
  width: 22%;
}
.block-superfish .sf-menu.sf-horizontal li{
  float: left;
}

.view-manage-users > .view-header{
  text-align: right;
}
.view-manage-users > .view-header p{
  display: inline-block;
  vertical-align: top;
}
.view-manage-users > .view-header p a{
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #7bc;
  font-weight: bold;
  text-shadow: #38a 0 1px 0;
  display: block;
}
.view-manage-users .view-filters .views-exposed-form .views-exposed-widget .form-submit{
  margin-top: 18px;
}
select option{
  padding: 5px;
}
.page-admin-people-create form{
  max-width: 800px;
  position: relative;
  z-index: 9999;
}
div.password-confirm, div.password-confirm span{
  float: right;
  width: 200px;
}
div.password-confirm{
  width: 200px;
}
span.error{
  display: block;
}
.block-itg-story-list{
  margin: 0 30px;
}
.block-itg-story-list span{
  cursor: pointer;
}
.block-itg-story-list span.active{
  color: #008eb1;
}
.block-itg-story.fixed{
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 20px;
  left: 0;
  box-shadow: 0 2px 2px 0 #ddd;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-type-checkboxes label{
  display: inline;
}
.node-story-form .field-name-field-story-magazine-story-issue .form-checkboxes{
  float: left;
  margin-right: 5px;
}
input.form-autocomplete, input.form-text, input.form-file, textarea.form-textarea, select.form-select{
  max-width: 400px !important;
}
.page-node-add-story .preview-wrapper{
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.preview{
  background-color: #fff;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 50px;
  width: 900px;
  border-radius: 8px;
  overflow: hidden;
}
.preview > h3{
  font-size: 24px;
  padding: 20px;
}
.close-preview{
  position: absolute;
  top: 12px;
  right: 15px;
  background: url('../images/close.png') no-repeat;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
.column-main{
  max-height: 500px;
  overflow-y: auto;
}
.page-node-add-story .node-teaser, 
.page-node-add-story .node-preview .column-side, 
.page-node-add-story .node-title, 
.page-node-add-story .preview > h3:first-child{
  display: none;
}
.page-node-add-story div.node{
  background: none;
  border-top-color: #eee;
  border-bottom: none;
  margin-bottom: 0;
}
.page-node-add-story .field-collection-container{
  border: none;
  margin: 0;
}
.preview-wrapper .node-content .field, .page-node-add-story .column-main{
  display: inline-block;
  width: 100%;
}
.preview-wrapper .node-content h2{
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 10px 15px;
}
.preview-wrapper .content-details{
  padding: 0 15px 15px;
}
.preview-wrapper .node-content .field .field-label, .preview-wrapper .node-content .field .field-items{
  float: left;
}
.preview-wrapper .node-content .field .field-items{
  width: 70%;
}
.preview-wrapper .node-content .field .field-label{
  width: 30%;
}