/*---------------------------- ITG CSS -----------------------------------*/
/* Global CSS */
/* line 4, ../sass/styles.scss */
body {
  font: 400 14px/18px 'muli';
  color: #2f2f2f;
  box-sizing: border-box;
}

/* line 9, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-weight: 500;
}

/* line 12, ../sass/styles.scss */
table {
  border-collapse: collapse;
}

/* line 15, ../sass/styles.scss */
a, img {
  text-decoration: none;
  outline: none;
}

/* line 19, ../sass/styles.scss */
img {
  max-width: 100%;
}

/* line 22, ../sass/styles.scss */
.mr-0, *, div.filefield-source .form-item {
  margin: 0;
}

/* line 25, ../sass/styles.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 28, ../sass/styles.scss */
.ml-10 {
  margin-left: 10px;
}

/* line 31, ../sass/styles.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 34, ../sass/styles.scss */
.mb-5 {
  margin-bottom: 5px;
}

/* line 37, ../sass/styles.scss */
.pd-0, *, .image-preview, .credit-to-all > div.form-field-name-field-credit-name .form-item {
  padding: 0;
}

/* line 40, ../sass/styles.scss */
.pd-10 {
  padding: 10px;
}

/* line 43, ../sass/styles.scss */
.pd-30 {
  padding: 30px;
}

/* line 46, ../sass/styles.scss */
.pdlr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 50, ../sass/styles.scss */
.pdtb-10, .header {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 54, ../sass/styles.scss */
.pdb-10, .success-message, .messages--status {
  padding-bottom: 10px;
}

/* line 57, ../sass/styles.scss */
.pdr-10 {
  padding-right: 10px;
}

/* line 60, ../sass/styles.scss */
.no-bullet {
  list-style: none;
}

/* line 63, ../sass/styles.scss */
.no-underline {
  text-decoration: none;
}

/* line 66, ../sass/styles.scss */
.db {
  display: block;
}

/* line 69, ../sass/styles.scss */
.dib, .btn, .add-more, .img-crt, input[name="field_gallery_image_add_more"], .form-type-managed-file .filefield-source, .credit-to-all {
  display: inline-block;
}

/* line 72, ../sass/styles.scss */
.sticky-header {
  display: none;
}

/* line 75, ../sass/styles.scss */
.vmid {
  vertical-align: middle;
}

/* line 78, ../sass/styles.scss */
.vtop, .btn, .add-more, .img-crt, input[name="field_gallery_image_add_more"], .form-type-managed-file .filefield-source {
  vertical-align: top;
}

/* line 81, ../sass/styles.scss */
.full, .credit-to-all, [id*="field-gallery-image-values"], [id*="field-gallery-image-values"] tbody tr td:nth-child(2), [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview {
  width: 100%;
}

/* line 84, ../sass/styles.scss */
.fleft, .credit-to-all > div, [id*="field-gallery-image-values"] thead, [id*="field-gallery-image-values"] tbody, [id*="field-gallery-image-values"] tbody tr, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) {
  float: left;
}

/* line 87, ../sass/styles.scss */
.fright {
  float: right;
}

/* line 90, ../sass/styles.scss */
.pos-rel, .form-type-managed-file, .form-type-managed-file .filefield-source, .generate-image, [id*="field-gallery-image-values"] tbody tr td:nth-child(2), [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview {
  position: relative;
}

/* line 93, ../sass/styles.scss */
.of-hide, .form-type-managed-file .filefield-source {
  overflow: hidden;
}

/* line 96, ../sass/styles.scss */
.btn {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}
/* line 110, ../sass/styles.scss */
.btn:hover {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

/* line 116, ../sass/styles.scss */
.add-more, .img-crt, input[name="field_gallery_image_add_more"] {
  background-color: #1fb5ad;
  border: 1px solid #1fb5ad;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
}
/* line 130, ../sass/styles.scss */
.add-more:hover, .img-crt:hover, input[name="field_gallery_image_add_more"]:hover {
  background-color: #1fb5ad;
  border: 1px solid #1fb5ad;
}

/* line 135, ../sass/styles.scss */
a.ckeditor_links {
  font-size: 12px;
  color: #0c8bb1;
  margin-left: 250px;
  margin-top: 5px;
  text-decoration: underline;
}
/* line 141, ../sass/styles.scss */
a.ckeditor_links:hover {
  text-decoration: underline;
}

/* line 145, ../sass/styles.scss */
.form-submit {
  cursor: pointer;
}

/* line 148, ../sass/styles.scss */
.desc-popup, .form-type-textfield .form-text + div.description, .form-type-managed-file .form-managed-file + div.description, .img-crt + .pre-desc, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview .image-fullname {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  color: #8d8d8d;
  display: none;
  padding: 10px;
  position: absolute;
  top: 50%;
  max-width: 300px;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 9999;
}
/* line 160, ../sass/styles.scss */
.desc-popup:before, .form-type-textfield .form-text + div.description:before, .form-type-managed-file .form-managed-file + div.description:before, .img-crt + .pre-desc:before, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview .image-fullname:before {
  border-width: 7px 13px 7px 7px;
  border-style: solid;
  border-color: transparent #d9d9d9 transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 173, ../sass/styles.scss */
.desc-popup:after, .form-type-textfield .form-text + div.description:after, .form-type-managed-file .form-managed-file + div.description:after, .img-crt + .pre-desc:after, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview .image-fullname:after {
  border-width: 7px 13px 7px 7px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  left: -17px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 189, ../sass/styles.scss */
.success-message, .messages--status {
  color: #009c00;
  font-size: 13px;
}

/* line 195, ../sass/styles.scss */
input[type="text"], select, input[type="password"] {
  border: 1px solid #d9d9d9;
  height: 36px;
  line-height: 34px;
  padding: 5px;
  color: #2f2f2f;
  font-family: 'muli';
}

/* line 203, ../sass/styles.scss */
textarea {
  border: 1px solid #d9d9d9;
  height: 100px;
  padding: 5px;
  color: #2f2f2f;
  resize: none;
  font-family: 'muli';
}

/* line 211, ../sass/styles.scss */
.form-required, .error {
  color: red;
}

/* line 214, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* Layout CSS */
/* line 222, ../sass/styles.scss */
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* line 228, ../sass/styles.scss */
.header {
  box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* Form CSS */
/* line 236, ../sass/styles.scss */
.node-form h2 {
  background-color: #fefafb;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 8px 20px;
  line-height: 28px;
  font-size: 18px;
  margin: 15px 0;
}
/* line 245, ../sass/styles.scss */
.node-form input[type="text"], .node-form select, .node-form .form-textarea-wrapper textarea {
  width: 100%;
  max-width: 332px;
}

/* line 251, ../sass/styles.scss */
.form-textarea-wrapper .grippie {
  display: none !important;
}

/* line 254, ../sass/styles.scss */
.form-type-textfield,
.form-type-select,
.form-type-managed-file,
.form-type-checkboxes,
.form-type-autocomplete-deluxe,
.form-type-textarea {
  padding: 0 30px;
  margin: 30px 0;
}

/* line 263, ../sass/styles.scss */
.form-type-textfield > label,
.form-type-textarea > label,
.form-type-select > label,
.form-type-autocomplete-deluxe > label,
.form-type-managed-file > label,
.form-type-checkboxes > label {
  width: 220px;
  float: left;
  padding-right: 20px;
}

/* line 273, ../sass/styles.scss */
.form-type-textfield > label + div,
.form-type-textarea > label + div,
.form-type-select > label + div,
.form-type-managed-file > label + div,
.form-type-checkboxes > label + div {
  padding-left: 220px;
}

/* line 281, ../sass/styles.scss */
.form-type-autocomplete-deluxe .autocomplete-deluxe-multiple {
  background: none;
  box-shadow: 0;
  border: 1px solid #d9d9d9;
  padding: 0;
  width: 100%;
  max-width: 332px;
}

/* line 294, ../sass/styles.scss */
div.description, .pre-desc {
  font-size: 12px;
  color: #8d8d8d;
}

/* line 298, ../sass/styles.scss */
.form-type-textfield {
  position: relative;
}
/* line 301, ../sass/styles.scss */
.form-type-textfield .form-text + div.description {
  left: 600px;
}
/* line 305, ../sass/styles.scss */
.form-type-textfield .form-text:hover + div.description {
  display: block;
}

/* line 313, ../sass/styles.scss */
.form-type-managed-file .form-managed-file + div.description {
  left: 400px;
}
/* line 317, ../sass/styles.scss */
.form-type-managed-file .form-managed-file:hover + div.description {
  display: block;
}
/* line 321, ../sass/styles.scss */
.form-type-managed-file .filefield-source {
  width: 134px;
  height: 28px;
}
/* line 328, ../sass/styles.scss */
.form-type-managed-file .filefield-source .filefield-sources-imce-browse {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 334, ../sass/styles.scss */
.form-type-managed-file .filefield-source .filefield-sources-imce-browse:after {
  content: 'Choose Your File';
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  box-sizing: border-box;
  line-height: 26px;
  color: #2f2f2f;
  cursor: pointer;
}

/* line 358, ../sass/styles.scss */
.img-crt {
  margin-left: 250px;
}
/* line 361, ../sass/styles.scss */
.img-crt + .pre-desc {
  left: 400px;
}
/* line 365, ../sass/styles.scss */
.img-crt:hover + .pre-desc {
  display: block;
}

/* line 371, ../sass/styles.scss */
.image-preview .image-fullname {
  font-size: 12px;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 5px;
}
/* line 378, ../sass/styles.scss */
.image-preview .image-fullname .file-icon {
  display: none;
}
/* line 381, ../sass/styles.scss */
.image-preview .image-fullname a {
  color: #2f2f2f;
  text-decoration: none;
}

/* line 389, ../sass/styles.scss */
.form-managed-file .image-widget-data .form-type-textfield {
  padding: 0 20px;
  margin: 0;
}
/* line 392, ../sass/styles.scss */
.form-managed-file .image-widget-data .form-type-textfield + .form-type-textfield {
  margin-top: 10px;
}
/* line 396, ../sass/styles.scss */
.form-managed-file .image-widget-data .form-submit[value="Remove"] {
  border: none;
  background: none;
  color: #ee4d4d;
  font-size: 13px;
  position: absolute;
  left: 775px;
  top: 7px;
}
/* line 405, ../sass/styles.scss */
.form-managed-file .image-widget-data div.description {
  width: 200px;
  left: 370px;
  background-color: #fff;
}

/* line 418, ../sass/styles.scss */
.credit-to-all > div.form-field-name-field-credit-to-all .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 424, ../sass/styles.scss */
.credit-to-all > div.form-field-name-field-credit-name .form-item {
  margin: -10px 0 0;
}
/* line 427, ../sass/styles.scss */
.credit-to-all > div.form-field-name-field-credit-name .form-item label {
  display: none;
}
/* line 430, ../sass/styles.scss */
.credit-to-all > div.form-field-name-field-credit-name .form-item .form-text {
  max-width: 208px;
}

/* line 437, ../sass/styles.scss */
[id*="field-gallery-image-values"] {
  float: left;
}
/* line 440, ../sass/styles.scss */
[id*="field-gallery-image-values"] thead {
  padding-right: 20px;
  width: 250px;
}
/* line 445, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody {
  width: 720px;
  margin: 0 -15px;
}
/* line 449, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody .field-multiple-drag {
  display: none;
}
/* line 452, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr {
  width: 33.33%;
  padding: 0 15px 30px;
}
/* line 456, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) {
  border: 1px solid #d9d9d9;
}
/* line 461, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) input[type="text"], [id*="field-gallery-image-values"] tbody tr td:nth-child(2) select, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) textarea {
  height: 28px;
  line-height: 18px;
  font-size: 12px;
}
/* line 466, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textfield, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-checkboxes, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textarea, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file {
  margin: 10px 0;
  padding: 0 7px;
}
/* line 469, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textfield > label, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-checkboxes > label, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textarea > label, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file > label {
  display: none;
}
/* line 471, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textfield > label + div, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-checkboxes > label + div, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-textarea > label + div, [id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file > label + div {
  padding: 0;
}
/* line 477, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview {
  height: 124px;
}
/* line 480, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-widget-data {
  position: absolute;
  bottom: 0;
}
/* line 483, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-widget-data .form-type-textfield:nth-child(3) {
  display: none;
}
/* line 486, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-widget-data .form-submit[value="Remove"] {
  left: auto;
  background: url("../images/cross_small.png") 3px center no-repeat #fff;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  right: 3px;
  top: -73px;
  text-indent: -9999px;
}
/* line 497, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview {
  padding: 0;
}
/* line 500, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview img {
  max-height: 124px;
}
/* line 507, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .has-preview .image-preview:hover .image-fullname {
  display: block;
  left: 108%;
  width: auto;
  overflow: visible;
}
/* line 516, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .image-widget-data {
  float: none;
}
/* line 518, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .image-widget-data .filefield-source {
  width: 100%;
  height: 124px;
}
/* line 521, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .image-widget-data .filefield-source .filefield-sources-imce-browse {
  border-radius: 0;
}
/* line 523, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .image-widget-data .filefield-source .filefield-sources-imce-browse:after {
  content: '\f03e';
  font-family: 'FontAwesome';
  font-size: 50px;
  line-height: 120px;
  color: #e5e5e5;
}
/* line 533, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) .form-type-managed-file .form-managed-file + div.description {
  left: 220px;
  min-width: 230px;
}
/* line 538, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2) > input[value="Remove"], [id*="field-gallery-image-values"] tbody tr td:nth-child(2) > .ajax-new-content > input[value="Remove"] {
  position: absolute;
  border: none;
  background: url("../images/cross_small.png") center center no-repeat;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  top: 9px;
  right: 7px;
}
/* line 548, ../sass/styles.scss */
[id*="field-gallery-image-values"] tbody tr td:nth-child(2):before {
  content: 'Gallery Image';
  background-color: #f6f6f6;
  padding: 7px;
  font-size: 12px;
  display: block;
}

/* line 559, ../sass/styles.scss */
input[name="field_gallery_image_add_more"] {
  margin: 0 0 0 250px;
}
