@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300italic,100italic,100,300,400italic,500,500italic,700italic);
* { padding: 0px; margin:0px;}
html, body { padding: 0px; margin:0px; text-align:left;}
body { background: #ffffff; }
.clear { clear:both; }
header, figure{ display:block;}

.outerWrapper { width:100%; float:left; }

.wrapper { max-width: 1000px; position: relative; margin: 0 auto; }
header {  width: 100%; float: left; }	
.bannerBox { position: relative; z-index: 999; width: 100%; float:left; text-align:center; }
.bannerBox ul { list-style:none; }
.bannerBox li { float:left; width:100%; position:relative; }
.bannerBox h2 { position: absolute; top: 200px; left: 0px;  }
.bannerBox img { height:auto;}
.searchBoxs {width: 100%;float: left;background: #dddbdc;min-height: 50px;position: absolute;bottom: -91px;left: 0px;}

.text-banner h1 {position: absolute;bottom: 10px;left: 0px;background: #999999;color: #fff;z-index: 999;text-align: left;width:720px; font-family: Roboto;line-height: 50px;height: 50px;font-size: 45px;padding-left: 40px;}
	
.search-engin {width: 400px;margin: 0 auto;}	
.wrapper input[type="text"]{width: 300px;padding: 5px;margin-top: 10px;	}
.btton{width: 70px;padding: 5px;font-size: 14px;font-weight: bold;text-transform: uppercase;margin-left: -5px; cursor:pointer;}	
.contentCn { width:100%; float:left; }
.contentCn .leftBar { width:70%; float:left; }
.contentCn .rightBar { padding: 25px 0; width:30%; float:left; }
.leftBar ul { list-style: none; }
.leftBar li { float:left; width:43.8%; margin: 25px 4% 0 0; background: #ccc; padding:0 .5% .5% 0; height:295px; }
.leftBar li .aboutText { padding: 0 0 10px 0; width:100%; float:left; background: #fff; }
.aboutText{ position:relative;}
.top-heading {position: absolute;background: #000;font-size: 16px;color: #fff;z-index: 9999;padding: 5px 15px;left: 15px;  font-family: 'Roboto', sans-serif; text-transform:uppercase;}
.box-one{ background-color:#04a9e9;}
.box-two{ background-color:#e16833;}
.box-three{ background-color:#4faa21;}
.box-four{ background-color:#e4018c;}
.box-five{ background-color:#d81128;}
.box-six{ background-color:#373737;}
	
.text-containt { padding-top:25px;font-family: 'Roboto', sans-serif; font-size:14px; padding-right:15px; text-align:left;}
.text-containt p { margin-bottom:15px;font-family: 'Roboto', sans-serif; font-size:14px; text-align:left;}
.text-containt p a{ color:#599100;}
.text-containt h3{text-align:left; margin-bottom:15px;}	
	
.leftBar figure { width:100%; padding-bottom: 15px; float:left; position:relative; }
.leftBar figure img { width:100%;  }
.leftBar h2  { padding-left:4%; font-family: 'Roboto', sans-serif; color: #000; line-height:20px; font-size:18px; }
.aboutText a {float: right;color: #F00;margin-right: 2%;text-decoration: none;font-size: 14px;font-family: 'Roboto', sans-serif;text-transform: uppercase;font-weight: bolder;}	
.aboutText h2 a{font-family: 'Roboto', sans-serif; color: #000 !important; line-height:20px; font-size:16px; }

.applybox { width:100%; float:left; background: #ccc; }
.applybox h2 { background: #666; width:100%; float:left; text-align:center; font-family: 'Roboto', sans-serif; text-align:center; text-transform: uppercase; line-height: 34px; }
.applybox span { float:left; width: 90%; padding: 10px 5% 10px 5%; font-size: 14px; text-align:center; font-family: 'Roboto', sans-serif; font-weight:bold; }
.applybox h3 { padding: 15px 0 15px 0; text-align:center; font-family: 'Roboto', sans-serif; text-align:center; text-transform: uppercase; font-size: 14px; line-height: 24px;}
.applybox small { background: #FC0; font-size:10px; line-height:18px; border-radius: 4px; font-size:14px; font-family: 'Roboto', sans-serif; display:block; text-align:center; }
.formBox { padding: 0 3%; border-top: 1px solid #000; background: #cdcdcd; width: 94%; float:left; }
.formBox label { width:100%; float:left; }
.formBox select { width: 32%; }
.formBox ul { padding-top:20px; overflow: hidden; list-style:none; }
.formBox li { padding-bottom:20px; width:100%; float:left; }	
	
#footer{ width:100%; height:45px; background:#333333; padding-top:1px;}
.footer{ width:1000px; margin:0 auto;}	
.footer-link {margin:10px auto 0;left;width: 690px;}
.footer-link li{ list-style:none; float:left; margin-right:15px; border-right:1px solid #FFF;}
.footer-link li a{padding-right:10px; color:#FFF;font-family: 'Roboto', sans-serif; text-decoration:none;}
.footer-link li a:hover{text-decoration:none; color:#ccc;}
.footer-link li:last-child{ border-right:none;}
	
#footer-add{ width:728px; height:90px; margin:15px auto;}
.copyright{ width:100%; height:74px; background:#d5d5d3;}
	
.footer h4{font-family: 'Roboto', sans-serif; color:#FFF; text-align:center; line-height:74px; font-weight:normal; font-size:14px;}
		
.belt {width:1000px; height:337px; overflow:hidden; margin:0 auto}
.belt ul { padding:0px; margin:0px; position:relative;}
.belt ul li { display:inline-block; float:left;  }
#dp { width:1000px; margin:0 auto; position:relative; z-index:9999;  }

.drop-down { background:#999; position:absolute; right:5px; top:34px;  display:none;}
.drop-down ul { padding:0px; margin:0px;}
.drop-down ul li { border-bottom:1px solid #ccc; width:300px; display:block; float:none}
.drop-down ul li a {padding: 5px 10px;color: #fff;font-size: 14px;font-family: Arial, Helvetica, sans-serif;border-right: none;text-decoration: none;line-height: 18px;}

.drop-down ul li a:hover { color:#000}

.drop-down-first { background:#999; position:absolute; left:147px; top:34px;  display:none;}
.drop-down-first ul { padding:0px; margin:0px;}
.drop-down-first ul li { border-bottom:1px solid #ccc; width:150px; display:block; float:none}
.drop-down-first ul li a {padding: 5px 10px;color: #fff;font-size: 14px;font-family: Arial, Helvetica, sans-serif;border-right: none;text-decoration: none;line-height: 18px;}
.drop-down-first ul li a:hover { color:#000}

#punchline { width:50%; background:#000; opacity:0.8; border:3px solid #fff; position:absolute; top:200px; left:0px; z-index:9999; border-left: none; height:60px;}
.punch-content { color: #FFFFFF;font-family: roboto;font-size: 50px;padding-left:10px;font-weight: normal;left: 0;position: absolute;top: 233px;z-index: 99999;}
.punch-content  span { color:#F00; font-weight:bold}
#social-area { float:right; margin-top:150px; width:40px;}
#social-area {float: right;margin-top: 114px;position: absolute;right: 0;width: 40px;z-index: 9999;}

.aboutText{background:#f1f1f1 !important; height:284px;}
.aboutText ul { padding:0px; margin:0px; overflow:hidden; background:#f1f1f1; margin-top:25px;}  
.aboutText ul li { list-style:none; display:block; width:100%; height:auto !important ;  margin-top:20px; background:#e1dfe0; padding-left:7px;}
.aboutText ul li:hover{ background:#bebcbd;}
.aboutText ul li a { text-decoration:none; background: #e1dfe0 url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/aajtak/banner/itmiarrow.jpg) right top no-repeat; color:#333333; padding: 10px 0px 10px 0px;}
.aboutText ul li a:hover { text-decoration:none; background: #bebcbd url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/aajtak/banner/itmiarrow-h.jpg) right top no-repeat;}
.leftBar ol { padding:0px; margin:0px; }
.leftBar ol  li { float:none; width:auto; background:none; padding:0px; height:auto}

.one a{color:#04a9e9}
.two a{color:#e16833}
.three a{color:#e4018c}
.four a{color:#e4018c}
.five a{color:#d81128}
.six a{color:#373737}

#dif ol li{ list-style:none;}
.cf:before, .cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
#scroller{ background:#ffca08; padding:3px 10px;  overflow:hidden; position:relative; height:25px; margin-top:10px; width:625px; display:none;}
#scroller .scrollingtext{ font-size:16px; font-weight:bold; color:#000; font-family:'Roboto',sans-serif;  white-space:nowrap; position:absolute; line-height:25px;}
.leftBar li.lessmarg{ margin-top:10px!important;}
#scroller .scrollingtext span{ margin:0 20px;}

.about_subbox{position:absolute; top:38px; left:92%; width:310px; background-color:#cdcbcc; padding:5px 0;}
.about_subbox ul li{width:100%; float:left; height:auto; margin-top:0;}
.about_subbox ul li a{font:bold 14px/16px "Roboto",sans-serif; color:#333; text-decoration:none; display:block; padding:0px 0 0px 10px; margin-bottom:10px;}
.about_subbox ul li a.last{margin-bottom:0;}
.leftBar{position:relative;}
.about_subbox01{top:119px !important;}

.container {width: 100%; background: #343434;float: left;display: inline-block;overflow: hidden;box-sizing: border-box;
  height: 45px; position: relative; cursor: pointer;}
.marquee,*[class^="marquee"] {display: inline-block;white-space: nowrap;position: absolute;}
.marquee { margin-left: 25%; }
.marquee-content-items {display: inline-block;padding: 5pxpx;margin: 0 20px;height: 45px;position: relative;}
.marquee-content-items li {display: inline-block;line-height:45px;color: #ffba02; font-family:roboto; font-size:16px;}
.marquee-content-items li a{color: #ffba02; text-decoration:none;}
.marquee-content-items li:after {content: "|";margin: 0 1em;}
.bottomheader .logo {background: none repeat scroll 0 0;top: 23px;left: 6px;padding: 5px}
.star {position: absolute;left: 15px;top: 199px;z-index: 9999}
.belt ul {position: relative;}
.belt ul li {width: 1000px;float: left;}
.belt{ position:relative;}
.text-banner{ position:absolute; width:760px; height:60px; bottom:5px; left:0;}
.wucb {
	color: #C00;
}
.wucb-light {
	color: #C30;
}
#tab1, #tab2, #tab3, #tab4 {
	cursor: pointer;
	margin-bottom: 20px;
}

.text-containt p a.hlink {
	color: #000;
	text-decoration: none;
}
.text-containt p a.hlink:hover {
	text-decoration: underline;
}
.prog_section{width:90%; float:left; padding-top:20px;}
.prog_section h3{padding-top:15px; padding-bottom:5px; display:block;}
.prog_section p{padding-top:15px; display:block; font-size:14px; line-height:20px; font-family:Arial, Helvetica, sans-serif;}
.prog_section p.pad{padding-top:0;}

.form-area tr td{padding:5px !important;}

 .leftBar h2{ padding:0;}
 .testi-row{ font-family:roboto;}
 .testi-row .testi-col{ width:45%; float:left;}
 .testi-row .testi-col:first-child{ margin-right:5%;}
 .testimonial-text p{ font-size:14px; color:#000; margin-bottom:5px;}
 .testimonial-text .testi-author{ text-align:right; font-size:12px;}
 .testimonial-text{  border-bottom: 1px dashed #555555; margin-bottom: 20px; padding-bottom: 20px;} 
 .hinditext p{ font-family:mangal;} .hinditext p{ line-height:19px;}
 .testimonial-outer{ box-shadow: 0px 0px 5px #ccc; padding: 15px; float: left; width: 95%; box-sizing: border-box; margin-bottom:30px;}
.testimonial-outer img{ float:left; margin-right:20px;}
.testimonial-outer h3 {display:inline-block; font-weight:bold; margin-bottom:0; margin-top: 30px; text-transform:uppercase;}
.testimonial-outer span{ color:#b4b3b3; font-style:italic; font-size:16px;}
.testimonial-outer p{ clear:both; padding-top:20px; font-size:14px; line-height:21px; color:#888888; text-align: justify;} 

#cssmenu{float:left; width:100%;}
#cssmenu ul{list-style:none;}
#cssmenu ul li{width:100%; float:left; height:auto; background:none}

ul.activities-images{list-style:none}
ul.activities-images li{width:auto; float:left; height:auto; background:none; margin-right:1%;}
#dif{}
#dif ul{list-style:none;}
#dif ul li{width:100%; float:left; height:auto; background:none}

.com_main_box{}
.com_main_box ul{list-style:none;}
.com_main_box ul li{width:100%; float:left; height:auto; background:none}

@media only screen and (max-width: 992px) {
.topheader { padding: 5px 5%; width: 90%; }
.bottomheader .bottomleft { padding-left: 18%; width: 72%; }
.menuBox li a { font-size: 13px; padding: 0 6px; }
.menuBox ul { padding-left: 20%; }
.contentCn .leftBar { padding: 0 0% 0 5%; width: 96%; float:left; }
.contentCn .rightBar { padding: 30px 5.2% 30px 5%;	width: 89.8%; float:left; }
.punch-content { font-size:40px; padding-top:7px;}		
}

.ytube-video-section{float: left; width: 100%; background-color: #e0e0e0; padding: 5px; box-sizing:border-box; margin-bottom: 25px; padding-bottom: 16px;}
.ytube-video-section h2{font-size: 20px; line-height: 36px; color: #000; display: block; font-family: 'Roboto', sans-serif; padding-left: 9px;}
.ytube-video-section ul{list-style: none; display: block; background-color: #fff;}

.ytube-video-section ul li{float: left; width: 32%;background: #fff;padding: 9px 9px 14px;box-sizing: border-box;}
.ytube-video-section ul li:nth-child(2){margin: 0 2%;}
.ytube-video-section ul li:nth-child(3){padding-bottom: 18px;}

.ytube-video-section ul li .video-thumb{width: 100%; display: inline-block;}
.ytube-video-section ul li span{display: block; font-size: 14px; line-height: 20px; color: #000; text-transform: uppercase; font-family: 'Roboto', sans-serif}
