/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*============================= AAJTAK CSS =================================*/
/* @media variables */
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
/* line 3, ../sass/layout-manager.scss */
.grey-bg {
  background-color: #eeeded;
}

/* line 9, ../sass/layout-manager.scss */
.aajtak-layout-container {
  margin: 0 auto;
  max-width: 1170px;
}
/* line 12, ../sass/layout-manager.scss */
.aajtak-layout-container.itg-front {
  padding: 0 15px;
}
/* line 15, ../sass/layout-manager.scss */
.aajtak-layout-container .row {
  margin-top: 38px;
  margin-bottom: 38px;
  zoom: 1;
}
/* line 19, ../sass/_itg-mixins.scss */
.aajtak-layout-container .row:before, .aajtak-layout-container .row:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.aajtak-layout-container .row:after {
  clear: both;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #542399;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #542399 transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #542399;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #542399 transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+1) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #542399;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #b81b24;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #b81b24 transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #b81b24;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #b81b24 transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+2) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #b81b24;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #3b5a86;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #3b5a86 transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #3b5a86;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #3b5a86 transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+3) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #3b5a86;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #d5713f;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #d5713f transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #d5713f;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #d5713f transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+4) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #d5713f;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #d85452;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #d85452 transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #d85452;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #d85452 transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+5) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #d85452;
}
/* line 23, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] > .widget-title a {
  color: #fff;
}
/* line 27, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #e0439c;
}
/* line 31, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::before {
  border-color: transparent #e0439c transparent transparent;
}
/* line 34, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-prev::after {
  border-color: transparent #fff transparent transparent;
}
/* line 37, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::before {
  border-color: transparent transparent transparent #e0439c;
}
/* line 40, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-next::after {
  border-color: transparent transparent transparent #fff;
}
/* line 43, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow {
  border-color: #fff;
}
/* line 45, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover {
  background-color: #fff;
}
/* line 47, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::before {
  border-color: transparent #fff transparent transparent;
}
/* line 50, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-prev::after {
  border-color: transparent #e0439c transparent transparent;
}
/* line 53, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::before {
  border-color: transparent transparent transparent #fff;
}
/* line 56, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(6n+6) .data-holder[widget-style="aajtak-slider"] .slider-container .slick-arrow:hover.slick-next::after {
  border-color: transparent transparent transparent #e0439c;
}
/* line 66, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(7) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #eeeced;
}
/* line 71, ../sass/layout-manager.scss */
.aajtak-layout-container .row:nth-child(8) .data-holder[widget-style="aajtak-slider"]:before {
  background-color: #fff;
}

/* line 78, ../sass/layout-manager.scss */
.slider-container .slick-list {
  padding: 20px 0 30px 15px;
}
/* line 81, ../sass/layout-manager.scss */
.slider-container .slick-arrow {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  top: -35px;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
  cursor: pointer;
}
/* line 92, ../sass/layout-manager.scss */
.slider-container .slick-next {
  right: 10px;
}
/* line 93, ../sass/layout-manager.scss */
.slider-container .slick-prev {
  right: 56px;
}
/* line 94, ../sass/layout-manager.scss */
.slider-container .slick-next::before {
  border-color: transparent transparent transparent #eeeded;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
/* line 107, ../sass/layout-manager.scss */
.slider-container .slick-next::after {
  border-color: transparent transparent transparent #000;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}
/* line 120, ../sass/layout-manager.scss */
.slider-container .slick-prev::before {
  border-color: transparent #eeeded transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
/* line 133, ../sass/layout-manager.scss */
.slider-container .slick-prev::after {
  border-color: transparent #000 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}

/* line 149, ../sass/layout-manager.scss */
.widget-list-row {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .2s,transform .2s,opacity .2s;
  float: left;
  width: 260px;
  height: 240px;
  position: relative;
  z-index: 9;
  list-style-type: none;
  margin: 0 15px;
}
/* line 161, ../sass/layout-manager.scss */
.widget-list-row:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}
/* line 165, ../sass/layout-manager.scss */
.widget-list-row .tile {
  text-align: center;
  position: relative;
  height: 260px;
}
/* line 558, ../sass/_itg-mixins.scss */
.widget-list-row .tile .category-name {
  background-color: #dc4750;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 20px;
}
/* line 566, ../sass/_itg-mixins.scss */
.widget-list-row .tile .title {
  height: 40px;
  overflow: hidden;
  margin: 10px 10px 8px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 571, ../sass/_itg-mixins.scss */
.widget-list-row .tile .title a {
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 579, ../sass/_itg-mixins.scss */
.widget-list-row .tile .pic {
  height: 148px;
  overflow: hidden;
}
/* line 585, ../sass/_itg-mixins.scss */
.widget-list-row .tile .name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 592, ../sass/_itg-mixins.scss */
.widget-list-row .tile .name a {
  color: #9a9a9a;
}
/* line 598, ../sass/_itg-mixins.scss */
.widget-list-row .tile .date {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 608, ../sass/_itg-mixins.scss */
.widget-list-row .tile .date:before {
  content: '|';
  position: absolute;
  font-size: 9px;
  left: -4px;
  top: 0;
}
/* line 168, ../sass/layout-manager.scss */
.widget-list-row .category-name {
  background-color: #dc4750;
}
/* line 171, ../sass/layout-manager.scss */
.widget-list-row .icon-list {
  background-color: #dc4750;
}

/* line 175, ../sass/layout-manager.scss */
.data-holder[widget-style="aajtak-slider"] {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 100%;
}
/* line 495, ../sass/_itg-mixins.scss */
.data-holder[widget-style="aajtak-slider"]:before {
  content: '';
  background-color: #eeeded;
  width: 100%;
  height: 226px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 177, ../sass/layout-manager.scss */
.data-holder[widget-style="aajtak-slider"] > .widget-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 38px;
  color: #000;
  padding: 20px 15px;
}
/* line 182, ../sass/layout-manager.scss */
.data-holder[widget-style="aajtak-slider"] .widget-list-wrapper {
  margin-top: -20px;
}

/* line 189, ../sass/layout-manager.scss */
.aajtak-widget {
  min-height: 380px;
  height: 380px;
  overflow: hidden;
}
/* line 193, ../sass/layout-manager.scss */
.aajtak-widget .droppable {
  height: 100%;
}

/* line 199, ../sass/layout-manager.scss */
.aajtak-stack .tile {
  text-align: center;
  position: relative;
  height: 260px;
}
/* line 558, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .category-name {
  background-color: #dc4750;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 20px;
}
/* line 566, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .title {
  height: 40px;
  overflow: hidden;
  margin: 10px 10px 8px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 571, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .title a {
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 579, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .pic {
  height: 148px;
  overflow: hidden;
}
/* line 585, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 592, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .name a {
  color: #9a9a9a;
}
/* line 598, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .date {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 608, ../sass/_itg-mixins.scss */
.aajtak-stack .tile .date:before {
  content: '|';
  position: absolute;
  font-size: 9px;
  left: -4px;
  top: 0;
}
/* line 202, ../sass/layout-manager.scss */
.aajtak-stack .data-holder, .aajtak-stack .widget-container {
  height: 100%;
}
/* line 205, ../sass/layout-manager.scss */
.aajtak-stack .widget-title {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 28px;
  color: #000;
  padding: 20px 45px 25px;
}
/* line 210, ../sass/layout-manager.scss */
.aajtak-stack .stack {
  width: 262px;
  height: 268px;
}
/* line 214, ../sass/layout-manager.scss */
.aajtak-stack .data-holder {
  position: relative;
}
/* line 216, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 100px;
  margin: 0;
}
/* line 222, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button {
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  text-indent: -9999px;
  padding: 0;
  margin: 0;
}
/* line 231, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button.button--reject {
  margin-right: 10px;
}
/* line 234, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button.button--reject::before {
  border-color: transparent #eeeded transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
  opacity: 1;
  pointer-events: auto;
  margin: 0;
}
/* line 250, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button.button--reject::after {
  border-color: transparent #000 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
  opacity: 1;
  pointer-events: auto;
  margin: 0;
}
/* line 266, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button.button--accept::before {
  border-color: transparent transparent transparent #eeeded;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
  opacity: 1;
  pointer-events: auto;
  margin: 0;
}
/* line 282, ../sass/layout-manager.scss */
.aajtak-stack .data-holder .controls .button.button--accept::after {
  border-color: transparent transparent transparent #000;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
  opacity: 1;
  pointer-events: auto;
  margin: 0;
}

/* line 303, ../sass/layout-manager.scss */
.layout-heading-wrapper {
  padding: 20px 15px;
  position: relative;
}
/* line 306, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading {
  display: inline-block;
  height: 38px;
  max-width: 250px;
  position: relative;
  vertical-align: middle;
  width: auto;
  transition: all 500ms;
}
/* line 314, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading input[type="text"] {
  height: 38px !important;
  left: 0;
  padding: 0 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  opacity: 0;
}
/* line 324, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading h2 {
  padding: 0 !important;
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 500ms;
}
/* line 331, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading.edit {
  width: 100%;
}
/* line 333, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading.edit h2 {
  z-index: 0;
  opacity: 0;
}
/* line 337, ../sass/layout-manager.scss */
.layout-heading-wrapper .layout-heading.edit input[type="text"] {
  z-index: 1;
  opacity: 1;
}
/* line 343, ../sass/layout-manager.scss */
.layout-heading-wrapper .edit-trigger {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}

/* line 351, ../sass/layout-manager.scss */
.itg-admin .data-holder {
  padding: 0;
  overflow: hidden;
}

/* line 356, ../sass/layout-manager.scss */
.aapka_vote_widget {
  text-align: center;
}
/* line 358, ../sass/layout-manager.scss */
.aapka_vote_widget .widget-title {
  display: none;
}
/* line 361, ../sass/layout-manager.scss */
.aapka_vote_widget .block-itg-widget {
  border-radius: 5px;
  display: inline-block;
  height: 100%;
  margin: 20px 0;
  max-height: 340px;
  max-width: 262px;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
}
/* line 372, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-data {
  height: 100%;
}
/* line 375, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-banner-image {
  height: 108px;
  overflow: hidden;
}
/* line 379, ../sass/layout-manager.scss */
.aapka_vote_widget h3 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}
/* line 383, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text {
  background-color: #fff;
  height: calc(100% - 108px);
  padding: 10px 15px;
}
/* line 388, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .active-poll-title h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.9);
  padding: 3px 0;
}
/* line 393, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .active-poll-title .updated-msg {
  display: none;
}
/* line 398, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-radios .form-type-radio {
  position: relative;
  height: 35px;
  z-index: 1;
}
/* line 402, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-radios .form-type-radio label {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 34px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  padding: 0 13px;
  transition: all 300ms;
}
/* line 416, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-radios .form-type-radio input[type="radio"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
}
/* line 424, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-radios .form-type-radio input[type="radio"]:hover + label, .aapka_vote_widget .poll-text .form-radios .form-type-radio input[type="radio"]:checked + label {
  background-color: #888;
  border-color: #888;
  box-shadow: 0 0 5px 0 #888;
  color: #fff;
}
/* line 431, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-radios .form-type-radio:hover {
  z-index: 9;
}
/* line 436, ../sass/layout-manager.scss */
.aapka_vote_widget .poll-text .form-submit {
  margin-top: 10px;
}
