/*Start CSS Desktop version*/
/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/* @media variables */
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
@media all and (min-width: 767px) {
  /* line 8, ../sass/media.scss */
  h1 {
    font-size: 36px;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 40px;
  }

  /* HEADER CSS */
  /* line 12, ../sass/media.scss */
  header {
    position: relative;
  }
  /* line 14, ../sass/media.scss */
  header .header-bar {
    margin: 0 auto;
    max-width: 1360px;
    position: relative;
  }
  /* line 19, ../sass/media.scss */
  header .logo-n-three-bar {
    bottom: -20px;
  }
  /* line 21, ../sass/media.scss */
  header .logo-n-three-bar .three-bar {
    margin: 44px 18px 0 28px;
    padding: 0;
    height: 15px;
    width: 21px;
    cursor: pointer;
  }
  /* line 27, ../sass/media.scss */
  header .logo-n-three-bar .three-bar span {
    background-color: #000;
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 3px;
    margin-top: 6px;
    position: relative;
  }
  /* line 35, ../sass/media.scss */
  header .logo-n-three-bar .three-bar span:before, header .logo-n-three-bar .three-bar span:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #000;
  }
  /* line 41, ../sass/media.scss */
  header .logo-n-three-bar .three-bar span:before {
    width: 50%;
    bottom: 6px;
  }
  /* line 45, ../sass/media.scss */
  header .logo-n-three-bar .three-bar span:after {
    width: 100%;
    top: 6px;
  }
  /* line 52, ../sass/media.scss */
  header .logo-n-three-bar .header__logo img {
    max-width: 100%;
  }
  /* line 57, ../sass/media.scss */
  header .region-header {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 9998;
  }
  /* line 64, ../sass/media.scss */
  header .region-header .main-menu {
    float: left;
    margin-top: 10px;
  }
  /* line 67, ../sass/media.scss */
  header .region-header .main-menu ul {
    list-style: none;
  }
  /* line 69, ../sass/media.scss */
  header .region-header .main-menu ul li {
    float: left;
  }
  /* line 71, ../sass/media.scss */
  header .region-header .main-menu ul li a {
    color: #c0c0c0;
    outline: none;
    padding: 10px 20px;
    display: block;
    font-family: 'Noto Sans';
    font-weight: 700;
  }
  /* line 79, ../sass/media.scss */
  header .region-header .main-menu ul li a.active, header .region-header .main-menu ul li a:hover {
    color: #000;
  }
  /* line 88, ../sass/media.scss */
  header .header-right-menu {
    float: right;
  }
  /* line 90, ../sass/media.scss */
  header .header-right-menu ul {
    list-style: none;
  }
  /* line 92, ../sass/media.scss */
  header .header-right-menu ul li {
    float: left;
    width: 60px;
    height: 60px;
  }
  /* line 96, ../sass/media.scss */
  header .header-right-menu ul li a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 60px;
  }
  /* line 102, ../sass/media.scss */
  header .header-right-menu ul li.icon-search a {
    background-color: #ddd;
    background-image: url(../images/icon_search.png);
  }
  /* line 106, ../sass/media.scss */
  header .header-right-menu ul li.icon-notification a {
    background-color: #e6e6e6;
    background-image: url(../images/icon_notification.png);
  }
  /* line 110, ../sass/media.scss */
  header .header-right-menu ul li.icon-user a {
    background-color: #f6f6f6;
    background-image: url(../images/icon_user.png);
  }
  /* line 114, ../sass/media.scss */
  header .header-right-menu ul li.city-temp {
    min-width: 133px;
    display: block;
  }
  /* line 117, ../sass/media.scss */
  header .header-right-menu ul li.city-temp a {
    padding: 8px 20px;
    background-color: #0c1559;
    color: #fff;
  }
  /* line 121, ../sass/media.scss */
  header .header-right-menu ul li.city-temp a .city-name {
    font-size: 12px;
    display: block;
  }
  /* line 124, ../sass/media.scss */
  header .header-right-menu ul li.city-temp a .city-name .fa {
    font-size: 26px;
    margin-right: 10px;
  }
  /* line 129, ../sass/media.scss */
  header .header-right-menu ul li.city-temp a .temp {
    font-size: 24px;
    font-family: 'Noto Serif';
  }
  /* line 135, ../sass/media.scss */
  header .header-right-menu ul li.live-tv {
    width: 156px;
  }
  /* line 137, ../sass/media.scss */
  header .header-right-menu ul li.live-tv a {
    background: url(../images/icon_live_tv.png) 25px 12px no-repeat #d9000c;
    color: #fff;
    padding: 18px 20px 18px 60px;
    font-size: 18px;
    height: 60px;
  }

  /* line 151, ../sass/media.scss */
  .front header::after {
    background-color: #f6f6f6;
    bottom: 0;
    content: "";
    display: block;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  /* END OF HEADER CSS */
  /* START OF BIG STORY FORMAT CSS */
  /* line 166, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story {
    max-width: 1360px;
    position: relative;
    margin: 0 auto;
  }
  /* line 171, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .extra-large-image img {
    width: 100%;
    max-height: 430px;
  }
  /* line 176, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text {
    position: absolute;
    left: 0;
    bottom: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 28px;
  }
  /* line 183, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text .big-story-title a {
    color: #fff;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 30px;
  }
  /* line 188, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text .reported-by {
    padding-top: 13px;
  }
  /* line 190, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text .reported-by .name, #block-itg-widget-aaj-tak-big-story .big-story-text .reported-by .date {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 20px;
    color: #9a9a9a;
    padding: 0 5px;
    position: relative;
  }
  /* line 198, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text .reported-by .name a {
    color: #9a9a9a;
  }
  /* line 201, ../sass/media.scss */
  #block-itg-widget-aaj-tak-big-story .big-story-text .reported-by .date:before {
    content: '|';
    position: absolute;
    font-size: 12px;
    left: -4px;
    top: 0;
  }

  /* END OF BIG STORY FORMAT CSS */
}
