/*---------------------------- ITG CSS -----------------------------------*/
/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*============================= AAJTAK CSS =================================*/
/* @media variables */
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
/* Global CSS */
/* line 6, ../sass/styles.scss */
body {
  font: 14px/18px 'Noto Sans';
  color: #000;
}

/* line 10, ../sass/styles.scss */
body::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  content: '';
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  pointer-events: none;
}

@font-face {
  font-family: "aajtak";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aajtak.eot?#iefix") format("embedded-opentype"), url("../fonts/aajtak.woff") format("woff"), url("../fonts/aajtak.ttf") format("truetype"), url("../fonts/aajtak.svg#aajtak") format("svg");
}
/* line 32, ../sass/styles.scss */
[data-icon]::before {
  content: attr(data-icon);
}

/* line 35, ../sass/styles.scss */
.overlay::before {
  opacity: 1;
  pointer-events: auto;
}

/* line 39, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: 'Noto Sans';
}

/* line 40, ../sass/styles.scss */
h1 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 20px;
}

/* line 43, ../sass/styles.scss */
h2 {
  font-size: 28px;
  line-height: 34px;
}

/* line 47, ../sass/styles.scss */
h3 {
  font-size: 20px;
  line-height: 24px;
}

/* line 51, ../sass/styles.scss */
h4 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 18px;
}

/* line 54, ../sass/styles.scss */
h4.heading {
  color: #09619f;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  font-size: 16px;
}
/* line 62, ../sass/styles.scss */
h4.heading a {
  color: #09619f;
}

/* line 66, ../sass/styles.scss */
.list-none, header .header-right-menu ul, ul {
  list-style-type: none;
}

/* line 69, ../sass/styles.scss */
a {
  color: #323232;
  text-decoration: none;
}

/* line 73, ../sass/styles.scss */
a:focus, button:focus {
  outline: 0 none;
}

/* line 76, ../sass/styles.scss */
img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/* line 81, ../sass/styles.scss */
.mr-0, * {
  margin: 0;
}

/* line 84, ../sass/styles.scss */
.mt-10 {
  margin-top: 10px;
}

/* line 87, ../sass/styles.scss */
.mt-50 {
  margin-top: 50px;
}

/* line 90, ../sass/styles.scss */
.ml-10 {
  margin-left: 10px;
}

/* line 93, ../sass/styles.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 96, ../sass/styles.scss */
.mb-5 {
  margin-bottom: 5px;
}

/* line 99, ../sass/styles.scss */
.pd-0, * {
  padding: 0;
}

/* line 102, ../sass/styles.scss */
.pd-10 {
  padding: 10px;
}

/* line 105, ../sass/styles.scss */
.pdt-20 {
  padding-top: 20px;
}

/* line 108, ../sass/styles.scss */
.pd-30 {
  padding: 30px;
}

/* line 111, ../sass/styles.scss */
.pdlr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 115, ../sass/styles.scss */
.pdlr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 119, ../sass/styles.scss */
.pdtb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 123, ../sass/styles.scss */
.pdb-10, .success-message, .messages--status {
  padding-bottom: 10px;
}

/* line 126, ../sass/styles.scss */
.pdr-10 {
  padding-right: 10px;
}

/* line 129, ../sass/styles.scss */
.no-bullet {
  list-style: none;
}

/* line 132, ../sass/styles.scss */
.no-underline {
  text-decoration: none;
}

/* line 135, ../sass/styles.scss */
.hide {
  display: none;
}

/* line 138, ../sass/styles.scss */
.db {
  display: block;
}

/* line 141, ../sass/styles.scss */
.dib, .btn, #page {
  display: inline-block;
}

/* line 144, ../sass/styles.scss */
.vmid {
  vertical-align: middle;
}

/* line 147, ../sass/styles.scss */
.vtop, .btn, #page {
  vertical-align: top;
}

/* line 150, ../sass/styles.scss */
.full, #page {
  width: 100%;
}

/* line 153, ../sass/styles.scss */
.max-wdt {
  max-width: 100%;
}

/* line 156, ../sass/styles.scss */
.fleft {
  float: left;
}

/* line 159, ../sass/styles.scss */
.fright {
  float: right;
}

/* line 162, ../sass/styles.scss */
.pos-rel {
  position: relative;
}

/* line 166, ../sass/styles.scss */
.mhide {
  display: block;
}

/* line 169, ../sass/styles.scss */
.desktop-hide {
  display: none;
}

/* line 172, ../sass/styles.scss */
.m-top {
  margin-top: 50px;
}

/* line 175, ../sass/styles.scss */
.m-bottom40 {
  margin-bottom: 40px;
}

/* line 178, ../sass/styles.scss */
.btn {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
}
/* line 191, ../sass/styles.scss */
.btn:hover {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

/* line 197, ../sass/styles.scss */
.gray-bg-widgets {
  background: #f3f3f3;
  padding: 10px;
}

/* line 202, ../sass/styles.scss */
.success-message, .messages--status {
  color: #009c00;
  font-size: 13px;
}

/* line 208, ../sass/styles.scss */
input[type="text"], select, input[type="password"] {
  border: 1px solid #ddd;
  height: 32px;
  line-height: 30px;
  padding: 5px;
  color: #333;
}

/* line 215, ../sass/styles.scss */
.form-textarea {
  border: 1px solid #ddd;
  padding: 5px;
  color: #333;
  max-height: 128px;
  resize: none;
}

/* line 222, ../sass/styles.scss */
.grippie {
  display: none;
}

/* line 225, ../sass/styles.scss */
.form-required, .error {
  color: red;
}

/* line 228, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 233, ../sass/styles.scss */
.row {
  zoom: 1;
}
/* line 19, ../sass/_itg-mixins.scss */
.row:before, .row:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.row:after {
  clear: both;
}

/* HEADER CSS */
/* line 239, ../sass/styles.scss */
header {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
}
/* line 244, ../sass/styles.scss */
header .logo-n-three-bar {
  bottom: -6px;
  position: absolute;
  z-index: 99999;
}
/* line 248, ../sass/styles.scss */
header .logo-n-three-bar .three-bar {
  cursor: pointer;
  float: left;
  height: 45px;
  padding: 20px 12px 0 15px;
  width: 48px;
}
/* line 254, ../sass/styles.scss */
header .logo-n-three-bar .three-bar span {
  background-color: #000;
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 3px;
  margin-top: 6px;
  position: relative;
}
/* line 262, ../sass/styles.scss */
header .logo-n-three-bar .three-bar span:before, header .logo-n-three-bar .three-bar span:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #000;
}
/* line 268, ../sass/styles.scss */
header .logo-n-three-bar .three-bar span:before {
  width: 50%;
  bottom: 6px;
}
/* line 272, ../sass/styles.scss */
header .logo-n-three-bar .three-bar span:after {
  width: 100%;
  top: 6px;
}
/* line 279, ../sass/styles.scss */
header .logo-n-three-bar .header__logo img {
  max-width: 63px;
}
/* line 284, ../sass/styles.scss */
header .region-header {
  background-color: #f6f6f6;
  margin-top: 10px;
}
/* line 287, ../sass/styles.scss */
header .region-header .main-menu {
  float: left;
  margin-top: 10px;
  display: none;
}
/* line 291, ../sass/styles.scss */
header .region-header .main-menu ul {
  list-style: none;
}
/* line 293, ../sass/styles.scss */
header .region-header .main-menu ul li {
  float: left;
}
/* line 295, ../sass/styles.scss */
header .region-header .main-menu ul li a {
  color: #c0c0c0;
  outline: none;
  padding: 10px 20px;
  display: block;
  font-family: 'Noto Sans';
  font-weight: 700;
}
/* line 303, ../sass/styles.scss */
header .region-header .main-menu ul li a.active, header .region-header .main-menu ul li a:hover {
  color: #000;
}
/* line 312, ../sass/styles.scss */
header .header-right-menu {
  float: right;
}
/* line 316, ../sass/styles.scss */
header .header-right-menu ul li {
  float: left;
  width: 40px;
  height: 40px;
}
/* line 320, ../sass/styles.scss */
header .header-right-menu ul li a {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 40px;
}
/* line 326, ../sass/styles.scss */
header .header-right-menu ul li.icon-search a {
  background-color: #ddd;
  background-image: url(../images/icon_search.png);
}
/* line 330, ../sass/styles.scss */
header .header-right-menu ul li.icon-notification a {
  background-color: #e6e6e6;
  background-image: url(../images/icon_notification.png);
}
/* line 334, ../sass/styles.scss */
header .header-right-menu ul li.icon-user a {
  background-color: #f6f6f6;
  background-image: url(../images/icon_user.png);
}
/* line 338, ../sass/styles.scss */
header .header-right-menu ul li.city-temp {
  min-width: 133px;
  display: none;
}
/* line 341, ../sass/styles.scss */
header .header-right-menu ul li.city-temp a {
  padding: 8px 20px;
  background-color: #0c1559;
  color: #fff;
}
/* line 345, ../sass/styles.scss */
header .header-right-menu ul li.city-temp a .city-name {
  font-size: 12px;
  display: block;
}
/* line 348, ../sass/styles.scss */
header .header-right-menu ul li.city-temp a .city-name .fa {
  font-size: 26px;
  margin-right: 10px;
}
/* line 353, ../sass/styles.scss */
header .header-right-menu ul li.city-temp a .temp {
  font-size: 24px;
  font-family: 'Noto Serif';
}
/* line 359, ../sass/styles.scss */
header .header-right-menu ul li.live-tv {
  width: 40px;
}
/* line 361, ../sass/styles.scss */
header .header-right-menu ul li.live-tv a {
  background: url(../images/icon_live_tv.png) center center/16px auto no-repeat #d9000c;
  color: #fff;
  height: 40px;
  font-size: 0;
}

/* END OF HEADER CSS */
/* FOOTER CSS */
/* END OF FOOTER CSS */
/* line 377, ../sass/styles.scss */
.region-footer {
  clear: both;
}
/* line 379, ../sass/styles.scss */
.region-footer ul {
  list-style: none;
}
/* line 382, ../sass/styles.scss */
.region-footer ul li a {
  font-size: 14px;
  line-height: 36px;
  outline: none;
  color: #fff;
  display: block;
  font-family: 'Noto Sans';
}
/* line 392, ../sass/styles.scss */
.region-footer .footer-ads {
  padding: 30px 10px;
  text-align: center;
}
/* line 396, ../sass/styles.scss */
.region-footer .footer-top {
  background: #1f1f1f;
  padding-top: 120px;
  padding-bottom: 45px;
}
/* line 401, ../sass/styles.scss */
.region-footer .footer-top-link {
  position: relative;
}
/* line 403, ../sass/styles.scss */
.region-footer .footer-top-link h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}
/* line 408, ../sass/styles.scss */
.region-footer .footer-top-link .footer-logo {
  width: 121px;
  height: 101px;
  position: absolute;
  left: -5px;
  top: -75px;
  z-index: 2;
}
/* line 415, ../sass/styles.scss */
.region-footer .footer-top-link .footer-logo a {
  display: block;
  outline: none;
}
/* line 420, ../sass/styles.scss */
.region-footer .footer-top-link .menu-first {
  float: left;
  width: 17%;
  border-right: 1px solid #363636;
  padding-top: 30px;
}
/* line 426, ../sass/styles.scss */
.region-footer .footer-top-link .menu-second {
  float: left;
  width: 32%;
  border-right: 1px solid #363636;
  padding-left: 4%;
}
/* line 432, ../sass/styles.scss */
.region-footer .footer-top-link .menu-second ul li {
  float: left;
  width: 33%;
}
/* line 438, ../sass/styles.scss */
.region-footer .footer-top-link .menu-third {
  float: left;
  width: 18%;
  border-right: 1px solid #363636;
  padding-left: 4%;
}
/* line 444, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth {
  float: left;
  width: 33%;
  padding-left: 4%;
}
/* line 448, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth .news-letter {
  margin-bottom: 20px;
  max-width: 295px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 25px;
}
/* line 455, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth .news-letter a {
  outline: none;
  display: block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  height: 36px;
  line-height: 36px;
}
/* line 466, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li {
  float: left;
  margin-right: 12px;
}
/* line 469, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a {
  height: 38px;
  width: 38px;
  outline: none;
  border-radius: 50%;
  display: block;
  text-align: center;
}
/* line 477, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a.fb-icon {
  background: #3a5997;
}
/* line 480, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a.google-plus-icon {
  background: #c41a29;
}
/* line 483, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a.twiiter-icon {
  background: #23a9df;
}
/* line 486, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a.youtube-icon {
  background: #cf2e36;
}
/* line 489, ../sass/styles.scss */
.region-footer .footer-top-link .menu-fourth ul li a.linkedin-icon {
  background: #0e76b4;
}
/* line 496, ../sass/styles.scss */
.region-footer .footer-bottom {
  background: #000000;
}
/* line 499, ../sass/styles.scss */
.region-footer .footer-bottom ul li {
  float: left;
  width: 20%;
}
/* line 502, ../sass/styles.scss */
.region-footer .footer-bottom ul li a {
  text-transform: uppercase;
}
/* line 507, ../sass/styles.scss */
.region-footer .footer-bottom .footer-bottom-menu {
  padding-top: 30px;
  padding-bottom: 25px;
}
/* line 511, ../sass/styles.scss */
.region-footer .footer-bottom .footer-copyright {
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #333333;
}

/* CSS For Story Page */
/* line 521, ../sass/styles.scss */
.story-section h1 {
  margin-bottom: 10px;
}
/* line 524, ../sass/styles.scss */
.story-section .stryimg {
  height: 180px;
  border: 1px solid #ddd;
}
/* line 528, ../sass/styles.scss */
.story-section .byline {
  color: #989898;
  margin-bottom: 10px;
  font-size: 12px;
  font-size: 0.75rem;
  zoom: 1;
}
/* line 19, ../sass/_itg-mixins.scss */
.story-section .byline:before, .story-section .byline:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.story-section .byline:after {
  clear: both;
}
/* line 533, ../sass/styles.scss */
.story-section .byline a {
  color: #989898;
}
/* line 536, ../sass/styles.scss */
.story-section .byline .byline-pic, .story-section .byline .byline-detail {
  float: left;
}
/* line 539, ../sass/styles.scss */
.story-section .byline .byline-pic {
  margin: 10px 10px 0 0;
}
/* line 541, ../sass/styles.scss */
.story-section .byline .byline-pic img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #e4e4e4;
}
/* line 545, ../sass/styles.scss */
.story-section .byline .byline-detail {
  width: 74%;
  margin-top: 10px;
}
/* line 548, ../sass/styles.scss */
.story-section .byline .byline-detail ul {
  list-style: none;
  margin-bottom: 2px;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 12px;
  zoom: 1;
}
/* line 19, ../sass/_itg-mixins.scss */
.story-section .byline .byline-detail ul:before, .story-section .byline .byline-detail ul:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.story-section .byline .byline-detail ul:after {
  clear: both;
}
/* line 553, ../sass/styles.scss */
.story-section .byline .byline-detail ul li {
  float: left;
  padding: 0 5px;
}
/* line 556, ../sass/styles.scss */
.story-section .byline .byline-detail ul li span.share-count {
  display: block;
  font-size: 44px;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 44px;
  color: #bebebe;
}
/* line 561, ../sass/styles.scss */
.story-section .byline .byline-detail ul li:last-child {
  border: none;
}
/* line 564, ../sass/styles.scss */
.story-section .byline .byline-detail ul li.twitter {
  color: #0783ec;
  margin-top: 0px;
}
/* line 568, ../sass/styles.scss */
.story-section .byline .byline-detail ul li.title {
  color: #000;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 18px;
}
/* line 572, ../sass/styles.scss */
.story-section .byline .byline-detail ul li.mailto {
  text-transform: uppercase;
}
/* line 577, ../sass/styles.scss */
.story-section .byline .byline-detail ul.date-update {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
  color: #aba8a8;
  list-style: none;
}
/* line 582, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links {
  zoom: 1;
  margin-top: 0;
  list-style: none;
}
/* line 19, ../sass/_itg-mixins.scss */
.story-section .byline .byline-detail ul.social-links:before, .story-section .byline .byline-detail ul.social-links:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.story-section .byline .byline-detail ul.social-links:after {
  clear: both;
}
/* line 586, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li {
  float: left;
  width: 50%;
}
/* line 589, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li i {
  font-size: 16px;
  color: #c0c0c0;
}
/* line 593, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li span {
  display: block;
  margin-top: 5px;
}
/* line 597, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li:nth-child(odd) {
  border-right: 1px solid #dddddd;
}
/* line 600, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li:last-child {
  width: 100%;
  border-right: none;
}
/* line 603, ../sass/styles.scss */
.story-section .byline .byline-detail ul.social-links li:last-child i {
  vertical-align: middle;
  margin-right: 5px;
}
/* line 611, ../sass/styles.scss */
.story-section .byline + .description {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  color: #000;
}
/* line 614, ../sass/styles.scss */
.story-section .byline + .description p {
  margin-bottom: 20px;
}
/* line 619, ../sass/styles.scss */
.story-section .previous-next {
  zoom: 1;
  margin: 30px 0 20px;
}
/* line 19, ../sass/_itg-mixins.scss */
.story-section .previous-next:before, .story-section .previous-next:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 25, ../sass/_itg-mixins.scss */
.story-section .previous-next:after {
  clear: both;
}
/* line 622, ../sass/styles.scss */
.story-section .previous-next #previous {
  float: left;
}
/* line 623, ../sass/styles.scss */
.story-section .previous-next #next {
  float: right;
}
/* line 625, ../sass/styles.scss */
.story-section .previous-next #next > a {
  float: right;
}
/* line 629, ../sass/styles.scss */
.story-section .previous-next #previous, .story-section .previous-next #next {
  width: 260px;
}
/* line 631, ../sass/styles.scss */
.story-section .previous-next #previous > a, .story-section .previous-next #next > a {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 44px;
  color: rgba(0, 0, 0, 0.5);
}
/* line 635, ../sass/styles.scss */
.story-section .previous-next #previous h4, .story-section .previous-next #next h4 {
  float: left;
  width: 150px;
  margin-right: 4px;
  height: 38px;
  overflow: hidden;
}
/* line 642, ../sass/styles.scss */
.story-section .previous-next #previous img, .story-section .previous-next #next img {
  max-width: 90px;
}
/* line 645, ../sass/styles.scss */
.story-section .previous-next #previous > div, .story-section .previous-next #next > div {
  box-shadow: 0 0 15px 0 #e4e4e4;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 10px 8px;
  border-radius: 5px;
}
/* line 655, ../sass/styles.scss */
.story-section .tags {
  margin-bottom: 30px;
}
/* line 657, ../sass/styles.scss */
.story-section .tags h3 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 18px;
}
/* line 660, ../sass/styles.scss */
.story-section .tags ul {
  list-style: none;
}
/* line 662, ../sass/styles.scss */
.story-section .tags ul li {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
  padding: 5px 15px;
  background-color: #8d8f91;
  border-radius: 20px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-align: center;
  margin: 10px 10px 0 0;
}
/* line 675, ../sass/styles.scss */
.story-section #ads-place, .story-section #api-place {
  margin-bottom: 30px;
}

/* line 678, ../sass/styles.scss */
.view-sambandhit-khabre .views-row {
  background-color: #fff;
  box-shadow: 0 0 10px 0 #c2c2c2;
  padding: 20px 10px;
  text-align: center;
}
/* line 683, ../sass/styles.scss */
.view-sambandhit-khabre .views-row:first-child {
  padding-top: 30px;
}
/* line 685, ../sass/styles.scss */
.view-sambandhit-khabre .views-row .views-field-label a {
  color: #000;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 691, ../sass/styles.scss */
.view-sambandhit-khabre .views-row .views-field-hash, .view-sambandhit-khabre .views-row .views-field-entity-id {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
}
/* line 697, ../sass/styles.scss */
.view-sambandhit-khabre .views-row .views-field-entity-id:before {
  content: '|';
  display: inline-block;
  vertical-align: top;
  font-size: 10px;
}

/* line 705, ../sass/styles.scss */
.Sambandhit-Khabre {
  padding: 20px 45px;
  margin-bottom: 35px;
  background-color: #f2f2f2;
}
/* line 709, ../sass/styles.scss */
.Sambandhit-Khabre h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 24px;
}
/* line 712, ../sass/styles.scss */
.Sambandhit-Khabre .views-row {
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
}
/* line 716, ../sass/styles.scss */
.Sambandhit-Khabre .views-row:first-child {
  padding-top: 10px;
}

/* line 720, ../sass/styles.scss */
.story-photos {
  margin-bottom: 40px;
}
/* line 722, ../sass/styles.scss */
.story-photos .half-grey-bg {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 100%;
}
/* line 495, ../sass/_itg-mixins.scss */
.story-photos .half-grey-bg:before {
  content: '';
  background-color: #eeeded;
  width: 100%;
  height: 202px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 725, ../sass/styles.scss */
.story-photos h3 {
  padding: 9px 15px 5px;
}
/* line 730, ../sass/styles.scss */
.story-photos .view-related-photogallery .view-content ul {
  list-style: none;
  padding: 20px 0 30px;
  overflow-x: auto;
  white-space: nowrap;
}
/* line 735, ../sass/styles.scss */
.story-photos .view-related-photogallery .view-content ul li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .2s,transform .2s,opacity .2s;
  display: inline-block;
  vertical-align: top;
  width: 260px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  z-index: 9;
  margin: 0 15px;
}
/* line 748, ../sass/styles.scss */
.story-photos .view-related-photogallery .view-content ul li:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}

@media all and (min-width: 767px) {
  /* line 761, ../sass/styles.scss */
  .not-front .header {
    background: url(../images/header_bg.png) 0 0/100% 100% no-repeat;
  }
  /* line 763, ../sass/styles.scss */
  .not-front .header .region-header {
    background-color: transparent;
  }
  /* line 766, ../sass/styles.scss */
  .not-front .header .logo-n-three-bar .three-bar span {
    background-color: #fff;
  }
  /* line 768, ../sass/styles.scss */
  .not-front .header .logo-n-three-bar .three-bar span:before, .not-front .header .logo-n-three-bar .three-bar span:after {
    background-color: #fff;
  }

  /* line 775, ../sass/styles.scss */
  .story-section h1 {
    margin-bottom: 30px;
  }
  /* line 778, ../sass/styles.scss */
  .story-section .stryimg {
    height: 420px;
    border: 1px solid #ddd;
  }
  /* line 782, ../sass/styles.scss */
  .story-section .byline {
    color: #989898;
    /*@include itg-font($itg-roboto);*/
    font-size: 12px;
    font-size: 0.75rem;
    zoom: 1;
  }
  /* line 19, ../sass/_itg-mixins.scss */
  .story-section .byline:before, .story-section .byline:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 25, ../sass/_itg-mixins.scss */
  .story-section .byline:after {
    clear: both;
  }
  /* line 787, ../sass/styles.scss */
  .story-section .byline a {
    color: #989898;
  }
  /* line 790, ../sass/styles.scss */
  .story-section .byline .byline-pic, .story-section .byline .byline-detail {
    float: left;
  }
  /* line 794, ../sass/styles.scss */
  .story-section .byline .byline-pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #e4e4e4;
  }
  /* line 798, ../sass/styles.scss */
  .story-section .byline .byline-detail {
    width: 74%;
    margin: 30px 0 0 10px;
  }
  /* line 801, ../sass/styles.scss */
  .story-section .byline .byline-detail ul {
    list-style: none;
    margin-bottom: 5px;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 12px;
    zoom: 1;
  }
  /* line 19, ../sass/_itg-mixins.scss */
  .story-section .byline .byline-detail ul:before, .story-section .byline .byline-detail ul:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 25, ../sass/_itg-mixins.scss */
  .story-section .byline .byline-detail ul:after {
    clear: both;
  }
  /* line 806, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li {
    float: left;
    padding: 0 5px;
  }
  /* line 809, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li span.share-count {
    display: block;
    font-size: 44px;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 44px;
    color: #bebebe;
  }
  /* line 814, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li:last-child {
    border: none;
  }
  /* line 817, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li.twitter {
    color: #0783ec;
    margin-top: 0px;
  }
  /* line 821, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li.title {
    color: #000;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
  }
  /* line 825, ../sass/styles.scss */
  .story-section .byline .byline-detail ul li.mailto {
    text-transform: uppercase;
  }
  /* line 830, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.date-update {
    font-size: 14px;
    line-height: 15px;
    color: #aba8a8;
    list-style: none;
  }
  /* line 835, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.date-update li {
    margin-bottom: 7px;
  }
  /* line 839, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links {
    zoom: 1;
    margin-top: 0;
    list-style: none;
  }
  /* line 19, ../sass/_itg-mixins.scss */
  .story-section .byline .byline-detail ul.social-links:before, .story-section .byline .byline-detail ul.social-links:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 25, ../sass/_itg-mixins.scss */
  .story-section .byline .byline-detail ul.social-links:after {
    clear: both;
  }
  /* line 843, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li {
    float: left;
    width: 50%;
  }
  /* line 846, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li i {
    font-size: 16px;
    color: #c0c0c0;
  }
  /* line 850, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li span {
    display: block;
    margin-top: 5px;
  }
  /* line 854, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li:nth-child(odd) {
    border-right: 1px solid #dddddd;
  }
  /* line 857, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li:last-child {
    width: 100%;
    border-right: none;
  }
  /* line 860, ../sass/styles.scss */
  .story-section .byline .byline-detail ul.social-links li:last-child i {
    vertical-align: middle;
    margin-right: 5px;
  }
  /* line 868, ../sass/styles.scss */
  .story-section .byline + .description {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #000;
  }
  /* line 871, ../sass/styles.scss */
  .story-section .byline + .description p {
    margin-bottom: 20px;
  }
  /* line 876, ../sass/styles.scss */
  .story-section .previous-next {
    zoom: 1;
    margin: 30px 0 20px;
  }
  /* line 19, ../sass/_itg-mixins.scss */
  .story-section .previous-next:before, .story-section .previous-next:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  /* line 25, ../sass/_itg-mixins.scss */
  .story-section .previous-next:after {
    clear: both;
  }
  /* line 879, ../sass/styles.scss */
  .story-section .previous-next #previous {
    float: left;
  }
  /* line 880, ../sass/styles.scss */
  .story-section .previous-next #next {
    float: right;
  }
  /* line 882, ../sass/styles.scss */
  .story-section .previous-next #next > a {
    float: right;
  }
  /* line 886, ../sass/styles.scss */
  .story-section .previous-next #previous, .story-section .previous-next #next {
    width: 260px;
  }
  /* line 888, ../sass/styles.scss */
  .story-section .previous-next #previous > a, .story-section .previous-next #next > a {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 44px;
    color: rgba(0, 0, 0, 0.5);
  }
  /* line 892, ../sass/styles.scss */
  .story-section .previous-next #previous h4, .story-section .previous-next #next h4 {
    float: left;
    width: 150px;
    margin-right: 4px;
    height: 38px;
    overflow: hidden;
  }
  /* line 899, ../sass/styles.scss */
  .story-section .previous-next #previous img, .story-section .previous-next #next img {
    max-width: 90px;
  }
  /* line 902, ../sass/styles.scss */
  .story-section .previous-next #previous > div, .story-section .previous-next #next > div {
    box-shadow: 0 0 15px 0 #e4e4e4;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 10px 8px;
    border-radius: 5px;
  }
  /* line 912, ../sass/styles.scss */
  .story-section .tags {
    margin-bottom: 30px;
  }
  /* line 917, ../sass/styles.scss */
  .story-section .tags ul {
    list-style: none;
  }
  /* line 919, ../sass/styles.scss */
  .story-section .tags ul li {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 23px;
    padding: 5px 15px;
    background-color: #8d8f91;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    text-align: center;
    margin: 10px 15px 0 0;
  }
  /* line 932, ../sass/styles.scss */
  .story-section #ads-place, .story-section #api-place {
    margin-bottom: 30px;
  }
}
/* line 937, ../sass/styles.scss */
.popular-videos {
  margin-bottom: 40px;
}
/* line 939, ../sass/styles.scss */
.popular-videos .half-grey-bg {
  display: inline-block;
  vertical-align: top;
  position: relative;
  max-width: 100%;
  width: 100%;
}
/* line 495, ../sass/_itg-mixins.scss */
.popular-videos .half-grey-bg:before {
  content: '';
  background-color: #eeeded;
  width: 100%;
  height: 285px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
/* line 943, ../sass/styles.scss */
.popular-videos h3 {
  padding: 9px 15px 5px;
}
/* line 948, ../sass/styles.scss */
.popular-videos .view-related-photogallery .view-content ul {
  list-style: none;
}

/* line 955, ../sass/styles.scss */
.slider-container .slick-list {
  padding: 20px 0 30px 15px;
}
/* line 958, ../sass/styles.scss */
.slider-container .slick-arrow {
  position: absolute;
  top: -35px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  text-indent: -9999px;
}
/* line 967, ../sass/styles.scss */
.slider-container .slick-next {
  right: 10px;
}
/* line 968, ../sass/styles.scss */
.slider-container .slick-prev {
  right: 56px;
}
/* line 969, ../sass/styles.scss */
.slider-container .slick-next::before {
  border-color: transparent transparent transparent #eeeded;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
/* line 982, ../sass/styles.scss */
.slider-container .slick-next::after {
  border-color: transparent transparent transparent #000;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}
/* line 995, ../sass/styles.scss */
.slider-container .slick-prev::before {
  border-color: transparent #eeeded transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
/* line 1008, ../sass/styles.scss */
.slider-container .slick-prev::after {
  border-color: transparent #000 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}

/* line 1023, ../sass/styles.scss */
.tile-popular-videos {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .2s,transform .2s,opacity .2s;
  float: left;
  width: 260px;
  height: 310px;
  position: relative;
  z-index: 9;
  list-style-type: none;
  margin: 0 15px;
}
/* line 1035, ../sass/styles.scss */
.tile-popular-videos:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}
/* line 1040, ../sass/styles.scss */
.tile-popular-videos.views-row-odd .category-name {
  background-color: #dc4750;
}
/* line 1043, ../sass/styles.scss */
.tile-popular-videos.views-row-odd .icon-list {
  background-color: #dc4750;
}
/* line 1048, ../sass/styles.scss */
.tile-popular-videos.views-row-even .category-name {
  background-color: #52bf40;
}
/* line 1051, ../sass/styles.scss */
.tile-popular-videos.views-row-even .icon-list {
  background-color: #52bf40;
}

/* line 1057, ../sass/styles.scss */
.story-photos .tile {
  text-align: center;
  position: relative;
  height: 240px;
}
/* line 566, ../sass/_itg-mixins.scss */
.story-photos .tile .title {
  height: 40px;
  overflow: hidden;
  margin: 10px 10px 8px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 571, ../sass/_itg-mixins.scss */
.story-photos .tile .title a {
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 579, ../sass/_itg-mixins.scss */
.story-photos .tile .pic {
  height: 148px;
  overflow: hidden;
}
/* line 585, ../sass/_itg-mixins.scss */
.story-photos .tile .name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 592, ../sass/_itg-mixins.scss */
.story-photos .tile .name a {
  color: #9a9a9a;
}
/* line 598, ../sass/_itg-mixins.scss */
.story-photos .tile .date {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 608, ../sass/_itg-mixins.scss */
.story-photos .tile .date:before {
  content: '|';
  position: absolute;
  font-size: 9px;
  left: -4px;
  top: 0;
}

/* line 1060, ../sass/styles.scss */
.popular-videos-tile {
  text-align: center;
  position: relative;
  height: 310px;
}
/* line 558, ../sass/_itg-mixins.scss */
.popular-videos-tile .category-name {
  background-color: #dc4750;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 20px;
}
/* line 566, ../sass/_itg-mixins.scss */
.popular-videos-tile .title {
  height: 40px;
  overflow: hidden;
  margin: 10px 10px 8px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 571, ../sass/_itg-mixins.scss */
.popular-videos-tile .title a {
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
/* line 579, ../sass/_itg-mixins.scss */
.popular-videos-tile .pic {
  height: 196px;
  overflow: hidden;
}
/* line 585, ../sass/_itg-mixins.scss */
.popular-videos-tile .name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 592, ../sass/_itg-mixins.scss */
.popular-videos-tile .name a {
  color: #9a9a9a;
}
/* line 598, ../sass/_itg-mixins.scss */
.popular-videos-tile .date {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
/* line 608, ../sass/_itg-mixins.scss */
.popular-videos-tile .date:before {
  content: '|';
  position: absolute;
  font-size: 9px;
  left: -4px;
  top: 0;
}
/* line 617, ../sass/_itg-mixins.scss */
.popular-videos-tile .icon-list {
  border: none;
  border-radius: 50%;
  bottom: -18px;
  height: 36px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  padding: 11px 12px;
  transition: .25s ease-in-out;
  transform: rotate(0);
  right: 0;
  width: 36px;
  cursor: pointer;
  z-index: 9;
}
/* line 632, ../sass/_itg-mixins.scss */
.popular-videos-tile .icon-list span {
  background: #fff;
  display: block;
  height: 1px;
  margin-bottom: 5px;
  position: relative;
  width: 15px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: .25s ease-in-out;
}
/* line 643, ../sass/_itg-mixins.scss */
.popular-videos-tile .icon-list span:before {
  content: "";
  box-shadow: 2px 1px 0 1px #fff;
  display: block;
  height: 0;
  left: -6px;
  position: relative;
  width: 0;
}

/* line 1064, ../sass/styles.scss */
.loader-svg {
  border: none;
  border-radius: 50%;
  bottom: -18px;
  height: 36px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  transition: .25s ease-in-out;
  right: 0;
  width: 36px;
  z-index: 9;
}

/* line 1078, ../sass/styles.scss */
.related-content-popup {
  position: fixed;
  opacity: 0;
  width: 260px;
  z-index: 9999999999;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.7), 0 10px 10px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.7), 0 10px 10px rgba(0, 0, 0, 0.7);
  visibility: hidden;
  /*    &.align-popup{
          left: 0 !important;     
          margin: auto;
          top: 20px !important;
          right: 0 !important;
      }*/
}
/* line 1088, ../sass/styles.scss */
.related-content-popup.popup-open {
  opacity: 1;
  visibility: visible;
}
/* line 1098, ../sass/styles.scss */
.related-content-popup .tile-popular-videos {
  margin: 0;
  box-shadow: none;
  transition: none;
}
