body {
    padding: 0px;
    margin: 0px;
    background-color: #222;
}

.chart-frame {
    width: 550px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #000;
    padding: 10px 0;
    background-color: #000000;
    position: relative;
}

.total {
    position: absolute;
    right: 35px;
    top: 285px;
    color: #000;
    font: 12px/14px arial;
}

.chart-frame ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .chart-frame ul li {
        float: left;
        width: 100px;
        height: 95px;
        background-color: #ccc;
        margin-left: 60px;
    }

        .chart-frame ul li a {
            text-align: center;
            text-decoration: none;
            display: block;
            text-indent: -1111px;
            background-image: url(../images/icons.jpg);
            height: 95px;
        }

        .chart-frame ul li.overall a {
            background-position: 10px 0px;
        }

        .chart-frame ul li.male a {
            background-position: -130px 0px;
        }

        .chart-frame ul li.female a {
            background-position: -275px 0px;
        }



        .chart-frame ul li.overall.selected a, .chart-frame ul li.overall a:hover {
            background-position: 10px 105px;
        }

        .chart-frame ul li.male.selected a, .chart-frame ul li.male a:hover {
            background-position: -130px 105px;
        }

        .chart-frame ul li.female.selected a, .chart-frame ul li.female a:hover {
            background-position: -275px 105px;
        }


        .chart-frame ul li a:hover, .chart-frame ul li.selected a {
            background-position-y: 105px;
        }

.chart_div {
    width: 500px;
    min-height: 290px;
    border: solid 5px #c70003;
    margin: 0px auto;
}
