@charset "utf-8";
/* CSS Document */

body { margin:0; padding:0; background:#D5AA87 url(../images/bg_new.jpg) top center no-repeat;}
#itgd_links {color:#fff; font: bold 11px/26px arial; margin:0 auto; padding: 5px 0; text-align: center; width:100%; background-color:#000;}
#itgd_links a {color: #fff; font: bold 11px arial;  margin: 0 10px; text-decoration: none;}

.clear {clear:both}
a.goback{text-decoration:none; color:#A22F2C; font-size:22px;}
a.goback:hover{text-decoration:underline;}


#header {width:1000px; margin:0 auto; height:112px; position:relative;}
.logo{float:left; width:480px; position:absolute;}
.headerright{float:right; width:500px;}
.title{background:#484647; font:bold 28px/40px Georgia; border-radius:0 0 10px 10px; color:#FFFFFF; text-align:center; text-shadow:1px 2px #333; text-transform:uppercase;}
.text{color:#FFFFFF; font:30px/35px Georgia; margin-top:5px; padding:0 30px;}


#wapper { width:1000px; margin:0 auto; padding:0;}
.left{float:left; width:360px; box-shadow: 0 4px 5px #A22F2C inset; padding:150px 60px 250px;; background:#CB3A37 url(../images/left_bottom.jpg) no-repeat bottom;}
.right{float:right; width:420px; padding:20px 40px 0;}
.lefttext{font:24px/35px Georgia; color:#FFFFFF; text-align:center;}

.maincont{margin-bottom:20px;}
.optleft{float:left; width:182px;}
.optright{float:right; width:182px;}
.imgtop{background:#FFF; border-radius:8px 8px 0 0; text-align:center; padding:10px;}
.optbottom{background:#F0F0F0; border-radius:0 0 8px 8px; border:1px solid #999999; text-align:center; box-shadow:0 3px 4px #666666;}
.maintxt{font:14px/24px Georgia; color:#404040;}
.maintxt span{color:#CB3A37;}

.votenowmain{margin:10px 0 0; background:url(../images/newbg.gif) repeat-x; height:5px;}
.votenowdiv{width:1000px; margin:0 auto;}
.footer{background:#fff; padding:20px 0;}





.video{text-transform:uppercase; font:20px/26px Georgia; color:#FFF; background:#C92D2E; padding:2px; width:85px; text-align:center;}
.vbox{border:1px solid #C92D2E; padding:15px; background:#FFF;}
.imgdiv{position:relative;}
.img1{float:left; text-align:center; width:190px;}
.img2{float:right; text-align:center; width:190px;}
.img1txt{font:16px/20px Georgia; color:#404040;}
.img1txt a{color:#404040; text-decoration:none;}
.img1txt a:hover{text-decoration:underline;}
.media-play-icon, .media-image-icon{display:block; height:38px; left:138px; position:absolute; top:95px;    width: 37px; z-index: 100;}
.media-play-icon {background:url(http://indiatoday.intoday.in/images/India-Today-Sprites1.png) no-repeat -747px -26px;}
.media-image-icon {background:url(http://indiatoday.intoday.in/images/India-Today-Sprites1.png) no-repeat -783px -23px;}

.rightmaintext {
    border-bottom: 1px dotted #000000;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.rightmaintext p{font:14px/21px Georgia; margin:0; color:#000000;}
.dropcap{font-size:560%; margin-right:3px; margin-bottom:-3px; float:left; line-height: 62px;}
.ques{color:#000; font:24px/30px Georgia; margin-bottom:20px;}







/**********************************************************/
.chunks{padding:20px 0 0 0; margin-bottom:20px;}
.heading{background:#000; font:bold 18px Georgia; padding:2px 10px; color:#FFFFFF; text-transform:uppercase;}
.details{padding:0 10px;}
.chunks h1{font:bold 30px/34px Georgia; color:#FFFFFF; margin:5px 0;}
.topimg{background:#511716; margin:0 auto 10px; text-align:center; padding:20px 0;}
.details ul{margin:0; padding:0; list-style:none;}
.details ul li{font:bold 14px/18px Georgia; color:#FFFFFF; border-bottom:1px dotted #FFFFFF;}
.details ul li a, .chunks h1 a{color:#FFFFFF; text-decoration:none;}
.details ul li a:hover, .chunks h1 a:hover{text-decoration:underline;}


/*******************/
.chunks{padding:10px 0; margin-bottom:20px;}
.heading{background:#000; font:bold 18px Georgia; padding:2px 10px; color:#FFFFFF; text-transform:uppercase; margin-bottom:10px;}
.details{padding:0 10px;}
.pink{background:#E86B69; font:16px "Arial Black"; padding:0 5px; text-transform:uppercase;}
.matrics{font:bold 20px/28px arial; padding:0 5px; color:#FFF; margin-top:8px;}
.matrics td{font:bold 20px/28px arial; color:#FFF;}
.margin{margin-bottom:10px;}
.borderbottom{border-bottom:1px dotted #FFFFFF; padding-bottom:5px; margin-bottom:10px;}
.winequ{background:#FFF; color:#000; text-align:center; padding:5px; font:bold 17px/20px arial;}
.electiondates{font:17px/20px Georgia; color:#FFFFFF;}



.headline {
    color: #000;
    font: bold 16px/20px Georgia;
}
.headline a{
	text-decoration:none;
    color: #000;
}
.headline a:hover{ text-decoration:underline}

.kicker {
    color: #000;
    font: 14px/18px Georgia;
	margin-top:3px;
}

.details_link {
    padding: 0;
}

.details_link ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.details_link ul li {
    background: url("../images/arrow.gif") no-repeat scroll left 7px transparent;
    border-bottom: 0px dotted #000;
    color: #000;
    font: 14px/18px georgia;
    list-style: none outside none;
    margin: 8px 0;
    padding: 1px 0 5px 15px;
}
.details_link ul li a {
    color: #000;
    text-decoration: none;
}
.details_link ul li a:hover {
    text-decoration: underline;
}

.clear{clear:both;}
.chunks{padding:20px 0 0 0; margin-bottom:20px;}
.heading{background:#000; font:bold 18px Georgia; padding:2px 10px; color:#FFFFFF; text-transform:uppercase;}
.details{padding:0 10px;}
.chunks h1{font:bold 30px/34px Georgia; color:#FFFFFF; margin:5px 0;}
.topimg{background:#511716; margin:0 auto 10px; text-align:center; padding:20px 0;}
.details ul{margin:0; padding:0; list-style:none;}
.details ul li {
    background: url("http://specials.indiatoday.com/survey/presidential-polls-it/images/arrow.gif") no-repeat scroll left 7px transparent;
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
    font: bold 14px/18px georgia;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 5px 15px;
}
.details ul li a, .chunks h1 a{color:#FFFFFF; text-decoration:none;}
.details ul li a:hover, .chunks h1 a:hover{text-decoration:underline;}


.video{text-transform:uppercase; font:20px/26px Georgia; color:#FFF; background:#C92D2E; padding:2px; width:85px; text-align:center;}
.vbox{border:1px solid #C92D2E; padding:15px; background:#FFF;}
.imgdiv{position:relative;}
.img1{float:left; text-align:center; width:190px;}
.img2{float:right; text-align:center; width:190px;}
.img1txt{font:16px/20px Georgia; color:#404040;}
.img1txt a{color:#404040; text-decoration:none;}
.img1txt a:hover{text-decoration:underline;}
.media-play-icon, .media-image-icon{display:block; height:38px; left:138px; position:absolute; top:95px;    width: 37px; z-index: 100;}
.media-play-icon {background:url(http://indiatoday.intoday.in/images/India-Today-Sprites1.png) no-repeat -747px -26px;}
.media-image-icon {background:url(http://indiatoday.intoday.in/images/India-Today-Sprites1.png) no-repeat -783px -23px;}