.lftdiv {
    float: left;
    position: relative;
}
.rightdiv {
    color: #FFFFFF;
    float: right;
    font: bold 12px/18px arial;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}
.rightdiv a {color:#fff; text-decoration:none;}
.rightdiv a:hover {text-decoration:underline;}
.countdown1 {
    background-color: #D71920;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 52px;
    padding: 5px;
    width: 290px;
}
.countdownOlympicsWrapper {
	width:992px;
	height:88px;
	background-image: url('../images/mast.png');
	background-repeat: no-repeat;
	position: relative;
	font-family: Arial;
	font-size: 12px;
	
}
.countdownOlympics {
    background-color: #000000;
    padding: 10px 13px 23px;
    position: relative;
}

.dash {
    background: none repeat scroll 0 0 #000000;
    display: inline-block;
    float: left;
    height: 30px;
    padding-left: 5px;
    padding-top: 8px;
    width: 38px;
	border-radius:3px;
}

.countdown1 .dash .digit {
    float: left;
    font-family: arial;
    font-size: 30px;
    position: relative;
}

.countdown1 .digit {
    color: #ffffff;
    display: block;
    position: absolute;
    text-align: center;
}
.countdown2 , .countdown3 {
	font-size: 12px;
	margin: 0 auto 0 35px;
	font-family:Arial;
	padding: 0px;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);

}
	
.countdown2 .top, .countdown3 .top, .countdown3 .bottom, .countdown2 .bottom {
	width: 8px;
	float: left;
	overflow: hidden;
	color:#0068B1;
}
.countdown3 .dash1, .countdown2 .dash1 {
	float: left;
	color:#0068B1;
}
.countdown3 .caption, .countdown2 .caption {
	float: left;
	margin: 0 5px 0 1px;
}
.seprator{
	display:inline-block;
	width:6px;
	height:2.6em;
	position:relative;
	float:left;
}
/*.seprator:before, .seprator:after{
	position:absolute;
	width:5px;
	height:5px;
	background-color:#444;
	border-radius:50%;
	left:50%;
	margin-left:-3px;
	top:.5em;
	box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
	content:'';	
}*/
.seprator:after{
	top:1.6em;
}

.dash_title_day {
    color: #FFFFFF;
    font: 11px arial;
    left: 8px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
}
.dash_title_hrs {
    color: #FFFFFF;
    font: 11px arial;
    left: 52px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
}
.dash_title_min {
    color: #FFFFFF;
    font: 11px arial;
    left: 98px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
}
.dash_title_sec {
    color: #FFFFFF;
    font: 11px arial;
    left: 146px;
    position: absolute;
    text-transform: uppercase;
    top: 40px;
}