html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{display:block;}nav ul{list-style:none;}ol{list-style:decimal;}ul{list-style:disc;}ul ul{list-style:circle;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}ins{text-decoration:underline;}del{text-decoration:line-through;}mark{background:none;}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input[type=submit],input[type=button],button{margin:0!important;padding:0!important;}input,select,a img{vertical-align:middle;}


	body { padding:0px; margin:0px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/top.gif) center top no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#383838; line-height:22px;}
	p, h1, h2, h3, ul, form { padding:0px; margin:0px}
	#main_container { width:950px; padding-top:360px; margin:0 auto;}
	nav {clear:both; padding-bottom:55px; display:block}
	nav ul { }
	nav ul li { font-weight:bold; list-style:none; text-transform:uppercase; display:inline;}
	nav ul li a { color:#383838; text-decoration:none; padding:5px 15px;  padding:5px 14px\9; float:left}
	nav ul li a:hover { color:#fff; text-decoration:none; background:#b92e70; border-radius:3px;}
	nav ul li a.active { color:#fff; text-decoration:none; background:#b92e70; border-radius:3px;}
	h1 { font-size:20px; font-weight:bold; color:#b92e70; text-transform:uppercase; overflow:hidden; border-bottom:1px solid #ccc;  height:25px; }
	h1 span { font-size:16px; color:#383838; float:right; font-weight:normal; text-transform:capitalize; margin-bottom:15px; }
	.fee-area { background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/bg1.gif) left top no-repeat; width:921px; height:161px; color:#fff; padding:20px;}
	.fee-area p { padding:3px 0px}
	.fee-area div { font-size:12px; line-height:16px; padding-top:6px;}
	td { height:40px; }
	td input, select, TEXTAREA { width:236px; height:30px; padding:2px; background:#eaeaea; border:1px solid #c8c8c8; border-radius:5px;}
	.submit { width:125px; height:40px; text-align:center; line-height:40px; color:#fff; text-transform:uppercase; background:#b72f6f; border:none; font-weight:bold; font-size:22px;}
	.help_sec { background:#393939; overflow:hidden; font-size:14px; color:#fff; margin-bottom:78px; width:845px; margin-right:-20px; float:left; padding-bottom:3px;}
	.help { background:#b92f6d url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow3.gif) 96px center no-repeat; padding:10px 55px 10px 10px; font-weight:bold; color:#fff; text-transform:uppercase; float:left; line-height:25px; margin:0 0 78px -20px ; float:left;  }
	.help_sec .fl { width:350px; background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/line.gif) right center no-repeat; line-height:18px; float:left; padding-left:30px; font-size:14px; padding-top:6px}
	.help_sec .fr { width:350px; line-height:18px; float:left; padding-left:30px; font-size:14px; padding-top:6px}
	.help_sec .fr a { color:#fff; text-decoration:none;}
	.help_sec .fr a:hover { color:#fff; text-decoration:underline;}
	
	#footer-out { 
    background: none repeat scroll 0 0 #F6ED22;
    bottom: 0;
    box-shadow: 0 0 5px #333333;
    left: 0;
    position: fixed;
    width: 100%;
} 
	#footer { background:#f6ed22; padding:10px 20px 5px; overflow:hidden; width:950px; margin:0 auto;   } 
	
	
	.timer { width:300px; float:left; margin-right:15px;}
.add { width:355px; float:left; margin-right:15px; background:#fff url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/jp-scroll.gif) left 3px no-repeat; padding-left:110px; height:63px; }
 .social_icon { width:130px; float:left; margin-left:20px; margin-top:16px;}


.jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
   border-radius: 0px 0px 5px 5px;
    background: #fff;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    padding: 20px 40px 20px 40px;
    *padding: 20px 31px 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 925px;
    padding: 40px 0px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  860px;
    height: 185px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 166px;
    height: 185px;
	text-align:center
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 5px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 27px;
    height: 83px;
    cursor: pointer;
  	background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow22.jpg)
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow2.jpg)}



.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;
    left: -10px;
    width: 27px;
    height: 83px;
    cursor: pointer;
   	background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow11.jpg)
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {background:url(/staticpages/mediaintoday/indiatoday/youthsummit/2013/delhi/arrow1.jpg)}


.list_carousel {
   width:340px; overflow:hidden;
}
.list_carousel ul {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.list_carousel li {
    
    display: block;
    float: left;
    font-size: 40px;
    height: 44px;
    margin: 6px;
    padding: 0;
    text-align: center;

}


.help { margin:0 0 78px -21px}
.pastspeaker {margin-top:10px;font:bold 16px/22px Arial, Helvetica, sans-serif; color:#383838}
.pastspeaker a {color:#383838; text-decoration:none}
.pastspeaker a:hover {color:#B92E70; text-decoration:none}
nav > ul > li.drop {
    margin: 0;
    position: relative;
}
.active { background-color:#B92E70}
.deactive { background-color:#333333}
nav ul li {float:left;}
nav ul li a { float:left}
nav > ul > li.drop:hover{background-position: 175px 7px;}
nav > ul > li.drop a:hover{color: #222;}
nav > ul > li > ul.ddchild{margin: 0; padding: 0; list-style-type: none; background-color: #5e5e5e; position: absolute; width: 170px; display: none; top:30px; z-index:999;}
ul.ddchild > li{border-bottom: solid 1px #fff; width:100%;}
ul.ddchild > li a{padding: 0 10px; font: bold 14px/30px Arial; color: #fff; text-decoration: none;}