.itgd_links a:hover{ color:#fff!important;}
#top-web{ padding:0; margin-top:-20px; background:#e9e9e9!important;}
.itgd_links ul li.last{ background:none!important;}
.itgd_links a{ text-transform:uppercase; color:#fff; font: 11px/20px roboto; color:#909090;}
.submenu p{ padding-left:0px!important;}
#spc-topnav { margin: 0 auto; width: 1003px; }
#spc-rightnav {width:300px; float:right; text-align:left}
.maplink a{color:#777; font-size:17px;}
.storyimages{ width:47%; float:left; margin-right:15px;}	
.storytext{ width:50%; float:left;}
.storytext p{ margin-top:0;}
.alpha{ min-height:100px;} 
footer { background:none!Important}
.nav ul li { padding: 13px 0 !important;}
body{ background:#fff!important;}
.lineheader {
    background: url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/microsites/banners/headingborder.png) repeat-x scroll 0 12px;
    height:20px;
    margin-bottom: 10px;   
}
.lineheader h2{ font-size:20px; background:#fff; padding:0 5px 0 0; width:auto; float:left;}
.topinnerbox1{}
.menues { width:1003px}
.left-column1{ width:98%!important;  background:#F8F6F7;}
.logo-election { height:168px;  background: url("https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/election_delhi_2015/Delhi_Election_logo.gif") no-repeat scroll left top transparent;
    text-indent: -9999px;
    width: auto; float:left; margin:10px 0 -25px 0 }
	
.logo-election a{ display:block; height:50px; }	

.logo-election span a{height: 80px;display: block;width: 245px;}	 

.belt {
    border: medium none;
    float: left;
    overflow: hidden;
    position: relative;
    width: 425px;
	 height: 591px;
	 margin-left: 10px;
}
.inner-belts {
    height: 593px;
    position: relative;
    width: 2500px;
}

.slwidth {
    padding-left: 0 !important;
    width: 425px !important;
}
.left-column {
    overflow: hidden;
    padding: 10px 0 10px 10px;
    position: relative;
   
	 min-height: 470px;
}



.thumb {
    height: 50px;
    left: 168px;
    position: absolute;
    width: 300px;
	bottom:-26px;

}
.thumb ul {
    margin: 0;
    padding: 0;
}
.thumb ul li {
    border-radius: 100%;
    box-shadow: 4px 4px 10px #999 inset;
    cursor: pointer;
    float: left;
    height: 15px;
    list-style: outside none none;
    margin-right: 5px;
    width: 15px;
}

.thumb ul li.active {
    background: none repeat scroll 0 0 #000 !important;
}
.images { width:415px;}
.redborder { border:none;}
.htl-logo { padding-top:10px; height:auto;}
#wapper { padding-top:30px; padding-left:2px;}
.topstories { box-shadow:0px 0px 2px #ccc;}
.right-column { background:#f7f7f7; padding: 2px 0 2%; margin-right:0px;  }
.morehead {font: 500 20px/20px Roboto,sans-serif;}
.topstr-list li {font: normal 15px/20px Roboto,sans-serif; padding-bottom:15px;}
.more {float: left;font: 800 16px/20px Roboto,sans-serif;padding: 0!Important;margin-top: 5px;}
.topzone h2 a { font-size:36px; line-height:42px; font-weight:bold}
.subhead h2 {  font: normal 14px/24px roboto;}
.topinnerbox { padding:0px;}
.topinnerbox p {color: #737373;    font: 14px/21px roboto !important;}
.boxcont { width:205px; box-shadow:0 0 2px #ccc;  margin: 0 4.1% 3% 0; height:240px;}
.colum .boxcont { width:300px; box-shadow:0 0 2px #ccc;  margin: 0 4.1% 8% 0; height:auto;}
.box { height:auto}

.box a { color:#505050;  font: bold 16px/22px Roboto,sans-serif; }
.box a:hover { color:#206ca8; }
.box .images { width:205px;}
.colum .box .images { width:300px;}
.subhead {padding: 0px 5px; left:0;}
.topstr-list li:last-child{ border-bottom:none;}
.topstr-list li a {  font: 500 15px/20px Roboto,sans-serif;}
.topstr-list li a:hover {color:#000;}
.thirdcrad  { margin-right:0px;}
.yellow-bg { background:#f16808}
.orrang-bg { background:#ffde00}
.orrang-bg a { color:#000;}

.con-chunk{box-shadow:0px 0px 2px #ccc; margin-bottom:30px; border-radius:3px; -webkit-border-radius:3px;}
#conssvg{ text-align:center;}
.box-poll-shadow{ padding:10px;}
.left-chart{ width:300px; float:left;}

.top-strip-one {overflow:hidden; width:1000px; margin:0 auto}
.top-strip-one span {
  
    float: left;
    height: 38px;
}
.top-strip-one h2 {
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    padding: 4px 12px 4px 12px;
    text-transform: uppercase;
	margin:8px 0 0 0;
	border-right:1px solid #ccc;
}
.top-strip-one h3 {
    background-color: #6E6F73;
    color: #FFFFFF;
    float: left;
    font-family: Roboto,sans-serif;
    font-size: 18px;
	margin:8px 0 0 0;
    padding: 4px 13px 4px 13px;
    text-transform: uppercase;
	border-right:1px solid #ccc; margin-bottom:10px
}
.top-strip-one h3 a, .top-strip-one h2 a { color: #FFFFFF; text-decoration:none; }
#tRow{ margin-top:70px;}
#tRow td{font-size: 18px; font-weight: 700; width: 150px; background:#fff;}
#consTable{  left: 380px; position: absolute; top: 50px; width: 220px;}
#consTable table{ border-radius:5px;  -webkit-border-radius:5px; box-shadow:0 3px 2px #ccc; -webkit-box-shadow:0 3px 2px #ccc; background:#fff;}
.p_head{ background:#45D2F0; color:#fff; font-size:18px; text-transform:uppercase; border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0 ; padding:5px 10px;}
.p_pname2{ background:#E9E9E9; font-style:italic; padding:3px 5px;}
.p_pname2 a{ color:#4B67A0; text-decoration:none; font-size:15px;}



.p_cname img{border-radius:50%;  -webkit-border-radius:50%;}
/*.highcharts-container{left:-119px!important;}*/
.statheader{ overflow:hidden; margin-bottom:20px;}
/*.statheader h2{ width:290px; margin-left:160px; float:left; font-size:25px; font-weight:300; text-transform:uppercase; font-family:roboto;}*/
.statheader h2 {font-size: 25px;font-weight: 300;text-transform: uppercase;font-family: roboto;text-align: center;}

.costudropdown{ width:200px; float:right;}
.p_cname{ padding:7px 5px; font-size:17px; font-weight:400; color:#9D9D9D;}


.right-chart{ float:left; width:340px;}


nav ul li {padding: 12px 0 11px 0px; font-size:13px; }
.logoit-holi { float:left;}
.itgd_links { width:99.5%!important;}
.htl-logo { width:auto}
.top-global { margin: -25px auto 20px;}
.itgd_links ul li {
    padding: 1px 5px; border-right:0px!important;
}
.skinnin-ad-container{ margin:0 auto!important; background:#fff; width:1003px;}
.htl-text{ color:#ccc; font-size:13px; font-weight:normal;}
#top-web{ margin:-20px 0 0 !important;}
.bottomad{ margin-bottom:20px;}
.delhi_head { color:#1b6aa2; font-size:36px; font-family:roboto; text-transform:uppercase; padding-bottom:8px;}
.delhi_pd{ padding:5px;  width: 98.8%;}
.d_colum { width:205px; background:#f7f7f7; float:left; margin-right:20px;}
.d_bjp { background:#FF6600; margin-top:15px; color:#fff; font-family:roboto; font-size:14px; padding:5px; overflow:hidden; position:relative }
.d_bjp a { text-decoration:none; color:#fff;  display:block}
.d_social  { float:left; margin-right:20px; margin-top:20px;}
.d_bjp img {width:100%; margin-bottom:10px;}
.d_aap { background:#017956;}
.d_mr_right { margin-right:0px;}
.d_belt { height:176px; overflow:hidden; margin-top:20px;}
.d_belt ul { position:relative;}
.d_colum ul li { padding-bottom:6px;}
.d_colum ul li a { color:#555; font-weight: normal;  line-height: 16px;} 
.d_colum ul li a:hover { color:#000; }
.d_seemore { border:1px solid #dbdbdb; border-radius:5px; background:#fff; padding:5px 10px 5px 10px; color:#000; float:left; margin-left:40px; cursor:pointer; margin-bottom:8px; }
.d_seemore .d_downarrow { background:url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/election_delhi_2015/down_arrow_delhi.jpg) left top no-repeat; width:19px; height:19px; display:inline-block; margin-bottom:-6px; margin-right:8px;}
.d_seemore .d_uparrow { background:url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/election_delhi_2015/up_arrow_delhi.jpg) left top no-repeat; width:19px; height:19px; display:inline-block; margin-bottom:-6px; margin-right:8px;}
.vid_icon {background:url(https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/video-icon-small.png) left top no-repeat; width:55px; height:55px; position:absolute; left:85px; top:50px; }

.bx-wrapper .bx-controls-direction a { width:48px; height:70px; top:42%; opacity:0.7;}
.bx-wrapper .bx-next {
    background: url("https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/election_delhi_2015/Right.gif") left top no-repeat rgba(0, 0, 0, 0);
    right: -3px!Important;
}
.bx-wrapper .bx-prev {
    background: url("https://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/election_delhi_2015/Left.gif") left top no-repeat rgba(0, 0, 0, 0);
    left: 0!Important;
}
.bx-wrapper .bx-next:hover { background-position:0 0;}
.bx-wrapper .bx-prev:hover { background-position:0 0;}
.bx-wrapper { margin-bottom:0px;}
.btm-arrow { display:none;}




.bigbox{width:438px; height:320px;margin-right:25px;}
.bigbox img {margin: 5px;width: 428px !important;height: 310px; position:relative;}
.topnews{margin-right:0px;}
.caption-bottom{
position: absolute;
z-index: 999;
bottom: 5px;
height: 20px;
line-height: 20px;
background: #000;
opacity: .6;
width: 393px;
margin: 5px;
}

.text a{color: #fff !important;}

.top_banner_section{width:1000px; margin:0 auto; text-align:center;}
.box .bx-wrapper{margin-bottom:0 !important;}
.boxcont h3{font-size:16px; line-height:19px;}
.topinnerbox .byline{margin-bottom:10px !important;}
.d_bjp { display:none;}

@media screen and (max-width:800px){
 .charts { margin-bottom:30px;}
	.electionbanner img { width:100%!Important}
 .alpha{margin-top:-50px;}  
 .logoit {}
  .logo-election {margin:10px 0 -50px 10px; }
  .htl-logo{margin-right:22px !important; margin-bottom:15px;}
  .top_banner_section{width:100%; margin:57px 0 0 0; text-align:center;}
  .top_banner_section img{width:100%;}
  #search-saction { width:99.5%!Important;}
  .boxcont {margin: 0 6.4% 3% 0;}
  .thirdcrad { margin-right: 0;}
  .d_colum {margin-right:40px;}
  .d_mr_right{margin-right:0;}
  body{margin-top:-22px;}
}