*{padding:0; margin:0;}
body{font:12px/15px "Roboto",Arial, Helvetica, sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6, ul, li{padding:0; margin:0;}
#outer_wrapper{float:left; width:100%;}
.wrapper{margin:0 auto; width:1000px;}

/*=======================================Top navigation css=======================================================*/
#top_nav{background:#111; width:100%}
.itgd_links{ width:995px; margin:0 auto;color:#7a7a7a;font:12px/15px roboto;padding:5px 0px;text-align:center;display:flex;}
.itgd_links ul{margin:0 auto;padding:0;width:1003px;}
.itgd_links ul li{float:left;padding:0 5px 0 5px;list-style:none; font-size:11px;}
.itgd_links ul li:first-child{padding-left:0;}
.itgd_links ul li:last-child{padding-right:0;}
.itgd_links a{color:#8c8c8c;text-decoration:none; text-transform:uppercase;}
.itgd_links a:hover{color:#fff;}


/*=======================================Banner css=======================================================*/

#banner{float:left; width:100%; background-color:#000; min-height:112px;}
#banner ul.social{float:left; width:auto; list-style:none; margin:32px 0 0;}
#banner ul.social li{width:auto; float:left; margin-right:15px;}
#banner ul.social li:last-child{margin-right:0;}
#banner ul.social li a{float:left; width:auto;}
#banner ul.social li a.facebook{background:url(http://media2.intoday.in/microsites/safaigiri-awards/facebook.png) no-repeat 0 0; width:34px; height:51px;}
#banner ul.social li a.twitter{background:url(http://media2.intoday.in/microsites/safaigiri-awards/twitter.png) no-repeat 0 0; width:53px; height:48px;}
#banner ul.social li a.gplus{background:url(http://media2.intoday.in/microsites/safaigiri-awards/googleplus.png) no-repeat 0 0; width:59px; height:56px;}
#banner ul.social li a.rss{background:url(http://media2.intoday.in/microsites/safaigiri-awards/4-icon.png) no-repeat 0 0; width:44px; height:47px;}

#banner .logo{float:left; width:auto; margin:11px 0 0;}
#banner .advertisement{float:right; width:728px; height:90px; margin:9px 0 0;}
#banner .advertisement strong{font:normal 12px/15px roboto; color:#616362; text-align:center; display:block; text-transform:uppercase;}

.about_container{float:left; width:100%; background-color:#ffcd22; min-height:391px;}
.about_container .logo{float:left; width:auto;}

.about_container h1{font:400 21px/24px roboto; color:#000; display:block; text-transform:uppercase;}
.about_container p{font:18px/26px roboto; color:#000201; display:block; padding-top:8px; font-weight:normal;}
.about_container .about_box{width:525px; min-height:225px; float:right; padding:100px 0 0;}


/*=======================================Body container css=======================================================*/

.body_container{float:left; width:100%; margin:20px 0 0;}

.left_container{float:left; width:660px;}

.left_container .video_section{width:660px; height:682px; float:left; margin:0 0 0; background-color:#000;} 
.left_container .video_section .video_content{float:left; width:auto; padding:27px 32px 0 14px;}
.left_container .video_section p{font-size:16px; line-height:22px; color:#c6c6c6; display:block;}
.left_container .video_section .share_icon{float:left; width:29px; height:23px; background:url(http://media2.intoday.in/microsites/safaigiri-awards/share-icon.png) no-repeat 0 0; margin:15px 0 0;}

.video-boxcont{border:10px solid #000; float:left; width:640px;}

.right_container{float:right; width:310px;}
.right_container .addbox{width:300px; float:left; box-shadow:0 0px 5px #e4e4e4; padding:2px 5px 5px;}
.right_container .addbox strong{font:normal 11px/13px roboto; color:#c0c0c0; text-align:center; display:block; text-transform:uppercase;}
.right_container .addbox_main{float:left; width:300px; height:250px;}

.right_container .form_section{float:left; width:308px; border:1px solid #bbb; margin:15px 0 0; background-color:#f6f6f6;}
.right_container .form_inner{float:left; width:298px; padding:0 0px 8px 10px; min-height:290px; background-color:#f6f6f6;}
.right_container .form_section h2{font:normal 18px/28px roboto; color:#fefefe; display:block; float:left; background-color:#000; width:298px; padding:0 0 0 10px;}
.right_container .form_section h2 strong{color:#ffcd20;}

.right_container .form_section h3{font-size:14px; color:#2f2f2f; line-height:26px; width:298px; padding:0 0 0 10px; float:left; background-color:#e8e6e7; font-weight:normal;}

.right_container .twitter_section{float:left; width:310px; margin:30px 0 0;}
.right_container .twitter_section h2{background-color:#333; float:left; width:290px; padding:0 10px; font-size:32px; line-height:40px; color:#fff; text-transform:uppercase; border-radius:5px 5px 0 0;}
.right_container .twitter_section h2 em{float:right; width:30px; height:21px; background:url(http://media2.intoday.in/microsites/safaigiri-awards/twitter_icon.gif) no-repeat 0 0; margin-top:10px;}

.common_section{float:left; width:660px; margin:25px 0 0;}
.common_section h2{font:normal 33px/40px 'roboto'; color:#adadad; display:block; text-transform:uppercase;}
.common_section .main{float:left; width:638px; padding:10px; border:1px solid #e0e0e0; position:relative;}
.common_section .videosec {height: 154px; overflow: hidden; width: 100%;}
.common_section .photosec {height: 154px; overflow: hidden; width:100%;}
.common_section ul{list-style:none; position:relative; top:4px; left:2px;}
.common_section ul li{width:187px; float:left; box-shadow:0 0 5px #e2e2e0; margin:0 35px 0 0;}
.common_section ul li:last-child{margin-right:0;}
.common_section ul li a{padding:4px; float:left; background-color:#fff;}

a#pre,a#pre01{position:absolute; top:-34px; right:0; background:#e0e0e0 url(http://media2.intoday.in/microsites/safaigiri-awards/prev.gif) no-repeat center 10px; width:34px; height:34px; text-indent:-9999px;}
a#next,a#next01{position:absolute; top:-34px; right:40px; background:#e0e0e0 url(http://media2.intoday.in/microsites/safaigiri-awards/next.gif) no-repeat center 10px; width:34px; height:34px; text-indent:-9999px;}



/*=======================================Right Form css=======================================================*/

.label{width: 204px; float: left; font:13px/16px roboto; color:#3f5668; padding-bottom:4px;}
.label b{font-weight:normal;}
.field{float:left; margin-bottom:8px;}
.field em{display:inline-block;}
.field input,.field textarea,.field select{width:268px; border:1px solid #b3c4d4; border-radius:3px; box-shadow:inset 0 0 5px #b3c4d4; height:22px; padding-left:10px;}
.field select,input#inputupload{padding-left:0; width:278px;}
input.submitbtn{background:url(http://media2.intoday.in/microsites/safaigiri-awards/submit_btn.gif) no-repeat 0 0; width:104px; height:32px; cursor:pointer; text-indent:-9999px; border:none; box-shadow:none; padding-left:0;}
.field textarea{height:75px; resize:none;}


/*=======================================footer container css=======================================================*/
.outer_footer{float:left; width:100%; margin:60px 0 0; position:relative; position:relative; z-index:9;}
.lftfbg{background-color:#000; position:absolute; width:40%; height:43px; left:0; top:0;}
.rtlfbg{background-color:#303435; position:absolute; width:60%; height:43px; right:0; top:0;}
.footertag{position:relative; z-index:999; float:left; width:100%;}
.footertag nav, footer nav {background-color: #333333; color: #ffffff; float: left; font: bold 16px arial; height: 43px; width: 82.4%;}
.footertag nav ul li, footer nav ul li {background-color: #333333;}
.nav ul li {float: left; list-style: outside none none; padding: 11px 0 !important; text-transform: uppercase;}
.nav ul li a{color:#fff; font-size:12px; padding:0 6px; text-decoration:none;}
.searc-icon1 .img {background: url("http://media2.intoday.in/indiatoday/images/sprite-image.png") no-repeat scroll -10px -95px rgba(0, 0, 0, 0); cursor: pointer; display: inline-block; float: right; height: 41px; text-indent: -9999px; width: 41px;}
#footer {background: none repeat scroll 0 0 #fff; clear: both; padding: 0 5px;}
.home {float: left; margin: 0 !important; padding: 0 !important;}
.footertag .fot-itlogo, footer .fot-itlogo {background: url("http://media2.intoday.in/indiatoday/images/sprite-image.png") no-repeat scroll -66px -95px rgba(0, 0, 0, 0); float: left; height: 43px; text-indent: -9999px; width: 176px;}
.footertag nav, footer nav {background-color: #333333; color: #ffffff; float: left; font: bold 16px arial; height: 43px; width: 82.4%;}
.footertag nav ul li, footer nav ul li {background-color: #333333;}
.searc-icon1 .img {background: url("http://media2.intoday.in/indiatoday/images/sprite-image.png") no-repeat scroll -10px -95px rgba(0, 0, 0, 0); cursor: pointer; display: inline-block; float: right; height: 41px; text-indent: -9999px; width: 41px;}
#footer {background: none repeat scroll 0 0 #fff; clear: both; padding: 0 5px;}
.nav ul li:hover, nav ul li.active {background-color: #eb1c24; color: #fff; cursor: pointer;}


/*=======================================Responsive css=======================================================*/

@media only screen and (orientation:portrait){

.wrapper{width:96%; padding:0 2%;}	
.left_container{width:95%;}		
.left_container .about_box{width:100%;}
.about_container .logo{width:100%; text-align:center;}
.about_container .about_box{float:left; width:100%; margin:40px 0 0; padding:0;}
#banner{min-height:260px;}
#banner .advertisement{margin-top:0;}
#banner .logo{float:none; display:block; text-align:center;}
.left_container .video_section{margin-left:37px;}
.common_section{width:100%;}
.common_section .main{width:720px;}
.right_container{float:left;}
.rtl{float:right;}
.right_container{width:100%;}
.form_section{float:right;}
.right_container .form_section{margin:25px 0 0 40px}
.right_container .addbox{margin:25px 0 0 35px;}
.footertag nav, footer nav{width:95.4%;}
.btm-itlogo{margin-left:-149px;}
.nav ul li a{padding:0 3px;}
#banner ul.social{margin-bottom:32px;}

}










