/*
Item Name :  Coverflow Slider
Author    :  Avanish kumar singh
Version   :  1.0
*/

/* _______________________________________________ */

/* CONTAINER */
/* _______________________________________________ */


.carousel {
  position : relative;
  margin : 0 auto;
  max-width: 1170px;
  height : auto;
  border : none;
  overflow : visible;
}

/* _______________________________________________ */

/* SLIDES */
/* _______________________________________________ */

/* slide container */

.carousel .slides {
  margin : 0;
  padding : 0;
  border : none;
  list-style : none;
  position : relative;
  overflow : visible;
}

/* slide item */

.carousel .slides .slideItem {  
  position : absolute;
  cursor : pointer;
  /*overflow : hidden;*/
  padding : 0;
  margin : 0;
  border : none;  
  overflow: inherit !important;
}
.carousel .slides .slideItem span{
    color: #fff;
    font-size: 14px;
    font-weight: 400;    
    font-family: Roboto;
    line-height: 25px;
    width: 100%;
    background: #171717;
    opacity: 0;

}
.carousel .slides .slideItem span i{
    font-size: 40px;
    vertical-align: middle;
    margin-right: 5px;
}
.carousel .slides .slideItem span.flex-count{    
    position: absolute;
    bottom: 10px;    
    right: 20px;
    background: transparent;
}
.carousel .slides .slideItem span.pic-tit{
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
}
.carousel .slides .slideItem span.overlay{
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
    opacity: .2;
}
.carousel .slides .slideItem[style*="width: 645px"] span{
    opacity: 1;
      -webkit-transition: all 500ms ease .2s;
    -moz-transition: all 500ms ease .2s;
    -o-transition: all 500ms ease .2s;
    transition: all 500ms ease .2s;
}
.carousel .slides .slideItem[style*="width: 645px"] span.overlay{
    opacity: 0;
      -webkit-transition: all 500ms ease .2s;
    -moz-transition: all 500ms ease .2s;
    -o-transition: all 500ms ease .2s;
    transition: all 500ms ease .2s;
}
#block-itg-widget-featured-photo-carousel-r .carousel .slides .slideItem span.flex-count{    
     left: 10px;    
}
.carousel .slides .slideItem a {
  display: block;
  text-decoration : none;
  margin : 0;
  padding : 0;
  border : none;
  outline : none;
}

.carousel .slides .slideItem img {
  margin : 0;
  padding : 0;
  border : none;
  width : 100%;
  height : 100%;
}

.carousel .slides .slideItem .slider-text {
  margin : 0;
  padding : 0;
  border : none;
  width : 100%;
  height : 100%;
  margin: 5px 0;
  font-size: 22px;
}

/* _______________________________________________ */

/* DIRECTION BUTTON */
/* _______________________________________________ */


.carousel .nextButton {
  position : absolute;
  right : 10px;
  top : 133px;
  width : 35px;
  height : 35px;
  background : url("../images/next_button.png") no-repeat center;
  cursor : pointer;
  z-index : 9999;
}

.carousel .prevButton {
  position : absolute;
  left : 10px;
  top : 133px;
  width : 35px;
  height: 35px;
  background : url("../images/prev_button.png");
  cursor : pointer;
  z-index : 9999;
}

/* _______________________________________________ */

/* NAVIGATION BUTTON */
/* _______________________________________________ */

/* buttons container */

.carousel .buttonNav {
  position : relative;
  margin : 0 auto;
  z-index : 999;
}

/* numbers */

.carousel .buttonNav .numbers {
  position : relative;
  float : left;
  margin : 5px;
  color : #828282;
  cursor : pointer;
  font-weight : bold;
  text-decoration : none;
  font-size : 1em;
  font-family : Arial, Verdana;
}

.carousel .buttonNav .numbers:hover {
  color: #000;
  text-decoration : underline;
}

.carousel .buttonNav .numberActive {
  background : none;
  color : #000;
  cursor : default;
}

/* bullets */

.carousel .buttonNav .bullet {
  position : relative;
  float : left;
  width : 16px;
  height : 16px;
  background : url(../images/Bullet-White.png) no-repeat center;
  margin : 5px;
  float : left;
  cursor : pointer;
}

.carousel .buttonNav .bullet:hover { background : url(../images/Bullet-Black.png) no-repeat center; }

.carousel .buttonNav .bulletActive {
  background : url(../images/Bullet-Black.png) no-repeat center;
  cursor : default;
}

/* ____________________________________________________________ */

/* VIDEO */
/* ____________________________________________________________ */


.carousel .slides .videoOverlay { background : url("../images/video.png") no-repeat center; /* play button */ }

.carousel .slides .spinner { background : #000 url("../images/loading.gif") no-repeat center; /* video preloader */ }


@media only screen and (max-width:1024px){
    .carousel .slides .slideItem{
        position: inherit;
    }
    .carousel .slides .slideItem span.overlay{
        opacity: 0;
        background: transparent;
    }   
    .carousel .slides .slideItem span{
        opacity: 1;
    }
    .carousel .slides .slideItem span.pic-tit{
        font-size: 18px;    
        margin-top: 15px;
        display: block;
        line-height: 22px;
    }
    .carousel .slides .slideItem span.flex-count{
        bottom: auto;
        right: auto;
        font-size: 10px;
        margin-top: -35px;
        position: relative;
        display: block;
        font-size: 15px;
    }
    .carousel .slides .slideItem span.flex-count i{
        font-size: 30px;
        margin-right: 10px;
    }
    .carousel .slick-dots{
        padding:20px 10px 10px;
        text-align: center;
    }
    .carousel .slick-dots li{
        display: inline-block;
        vertical-align: top;
          padding: 0 4px;
    }
    .carousel .slick-dots li button{
        background: #808080;
        border: none;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        text-indent: -99999em;      
    }
    .carousel .slick-dots li.slick-active button{
        background: #fff;
    }
}