/* 
    Created on : Mar 4, 2016, 11:41:31 AM
    Author     : avanish.singh
*/
/* line 6, ../sass/layout.scss */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 10, ../sass/layout.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 16, ../sass/layout.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 19, ../sass/layout.scss */
.col-xs-12 {
  width: 100%;
}

/* line 22, ../sass/layout.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 25, ../sass/layout.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 28, ../sass/layout.scss */
.col-xs-9 {
  width: 75%;
}

/* line 31, ../sass/layout.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 34, ../sass/layout.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 37, ../sass/layout.scss */
.col-xs-6 {
  width: 50%;
}

/* line 40, ../sass/layout.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 43, ../sass/layout.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 46, ../sass/layout.scss */
.col-xs-3 {
  width: 25%;
}

/* line 49, ../sass/layout.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 52, ../sass/layout.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 55, ../sass/layout.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 58, ../sass/layout.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 61, ../sass/layout.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 64, ../sass/layout.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 67, ../sass/layout.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 70, ../sass/layout.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 73, ../sass/layout.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 76, ../sass/layout.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 79, ../sass/layout.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 82, ../sass/layout.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 85, ../sass/layout.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 88, ../sass/layout.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 91, ../sass/layout.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 94, ../sass/layout.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 97, ../sass/layout.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 100, ../sass/layout.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 103, ../sass/layout.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 106, ../sass/layout.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 109, ../sass/layout.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 112, ../sass/layout.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 115, ../sass/layout.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 118, ../sass/layout.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 121, ../sass/layout.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 124, ../sass/layout.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 127, ../sass/layout.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 130, ../sass/layout.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 133, ../sass/layout.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 136, ../sass/layout.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 139, ../sass/layout.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 142, ../sass/layout.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 145, ../sass/layout.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 148, ../sass/layout.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 151, ../sass/layout.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 154, ../sass/layout.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 157, ../sass/layout.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 160, ../sass/layout.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 163, ../sass/layout.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 166, ../sass/layout.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 169, ../sass/layout.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 173, ../sass/layout.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 176, ../sass/layout.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 179, ../sass/layout.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 182, ../sass/layout.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 185, ../sass/layout.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 188, ../sass/layout.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 191, ../sass/layout.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 194, ../sass/layout.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 197, ../sass/layout.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 200, ../sass/layout.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 203, ../sass/layout.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 206, ../sass/layout.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 209, ../sass/layout.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 212, ../sass/layout.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 215, ../sass/layout.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 218, ../sass/layout.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 221, ../sass/layout.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 224, ../sass/layout.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 227, ../sass/layout.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 230, ../sass/layout.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 233, ../sass/layout.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 236, ../sass/layout.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 239, ../sass/layout.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 242, ../sass/layout.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 245, ../sass/layout.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 248, ../sass/layout.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 251, ../sass/layout.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 254, ../sass/layout.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 257, ../sass/layout.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 260, ../sass/layout.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 263, ../sass/layout.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 266, ../sass/layout.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 269, ../sass/layout.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 272, ../sass/layout.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 275, ../sass/layout.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 278, ../sass/layout.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 281, ../sass/layout.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 284, ../sass/layout.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 287, ../sass/layout.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 290, ../sass/layout.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 293, ../sass/layout.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 296, ../sass/layout.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 299, ../sass/layout.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 302, ../sass/layout.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 305, ../sass/layout.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 308, ../sass/layout.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 311, ../sass/layout.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 314, ../sass/layout.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 317, ../sass/layout.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 320, ../sass/layout.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 323, ../sass/layout.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 326, ../sass/layout.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 331, ../sass/layout.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 334, ../sass/layout.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 337, ../sass/layout.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 340, ../sass/layout.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 343, ../sass/layout.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 346, ../sass/layout.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 349, ../sass/layout.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 352, ../sass/layout.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 355, ../sass/layout.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 358, ../sass/layout.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 361, ../sass/layout.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 364, ../sass/layout.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 367, ../sass/layout.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 370, ../sass/layout.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 373, ../sass/layout.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 376, ../sass/layout.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 379, ../sass/layout.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 382, ../sass/layout.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 385, ../sass/layout.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 388, ../sass/layout.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 391, ../sass/layout.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 394, ../sass/layout.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 397, ../sass/layout.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 400, ../sass/layout.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 403, ../sass/layout.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 406, ../sass/layout.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 409, ../sass/layout.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 412, ../sass/layout.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 415, ../sass/layout.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 418, ../sass/layout.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 421, ../sass/layout.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 424, ../sass/layout.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 427, ../sass/layout.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 430, ../sass/layout.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 433, ../sass/layout.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 436, ../sass/layout.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 439, ../sass/layout.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 442, ../sass/layout.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 445, ../sass/layout.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 448, ../sass/layout.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 451, ../sass/layout.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 454, ../sass/layout.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 457, ../sass/layout.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 460, ../sass/layout.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 463, ../sass/layout.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 466, ../sass/layout.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 469, ../sass/layout.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 472, ../sass/layout.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 475, ../sass/layout.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 478, ../sass/layout.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 481, ../sass/layout.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 484, ../sass/layout.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 489, ../sass/layout.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 492, ../sass/layout.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 495, ../sass/layout.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 498, ../sass/layout.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 501, ../sass/layout.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 504, ../sass/layout.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 507, ../sass/layout.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 510, ../sass/layout.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 513, ../sass/layout.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 516, ../sass/layout.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 519, ../sass/layout.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 522, ../sass/layout.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 525, ../sass/layout.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 528, ../sass/layout.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 531, ../sass/layout.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 534, ../sass/layout.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 537, ../sass/layout.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 540, ../sass/layout.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 543, ../sass/layout.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 546, ../sass/layout.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 549, ../sass/layout.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 552, ../sass/layout.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 555, ../sass/layout.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 558, ../sass/layout.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 561, ../sass/layout.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 564, ../sass/layout.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 567, ../sass/layout.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 570, ../sass/layout.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 573, ../sass/layout.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 576, ../sass/layout.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 579, ../sass/layout.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 582, ../sass/layout.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 585, ../sass/layout.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 588, ../sass/layout.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 591, ../sass/layout.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 594, ../sass/layout.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 597, ../sass/layout.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 600, ../sass/layout.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 603, ../sass/layout.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 606, ../sass/layout.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 609, ../sass/layout.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 612, ../sass/layout.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 615, ../sass/layout.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 618, ../sass/layout.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 621, ../sass/layout.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 624, ../sass/layout.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 627, ../sass/layout.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 630, ../sass/layout.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 633, ../sass/layout.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 636, ../sass/layout.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 639, ../sass/layout.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 642, ../sass/layout.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
