/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* Story Tag mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
h1, h2, h3, h4 {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}

ul {
  list-style-type: none;
}

a {
  color: #323232;
  text-decoration: none;
}

.row {
  zoom: 1;
}
.row:before, .row:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.row:after {
  clear: both;
}

.mt-50 {
  margin-top: 50px;
}

/*Start CSS Top Story Home Page*/
.tab-buttons {
  zoom: 1;
  background: #e4e4e4;
  border-radius: 10px 10px 0 0;
}
.tab-buttons:before, .tab-buttons:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}
.tab-buttons:after {
  clear: both;
}
.tab-buttons span {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  background: #e4e4e4;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  border-top: 3px solid transparent;
  color: #818181;
  width: 50%;
  display: block;
  float: left;
  cursor: pointer;
}
.tab-buttons span.active {
  background: #fff;
  color: #a00606;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-top: 3px solid #a00606;
}

.tab-data {
  border: 1px solid #e4e4e4;
  overflow-y: auto;
}
.tab-data.tab-data-2 {
  display: none;
}

.itg-listing {
  list-style: none;
}
.itg-listing li {
  position: relative;
}
.itg-listing li a {
  color: #565555;
  padding: 15px 15px 15px 20px;
  display: block;
  border-bottom: 1px solid #e4e4e4;
}
.itg-listing li a:hover {
  background: #f8f8f8;
}
.itg-listing li a:first-letter {
  text-transform: capitalize;
}
.itg-listing li:last-child a {
  border-bottom: none;
}
.itg-listing li:before {
  position: absolute;
  top: 22px;
  left: 9px;
  content: '';
  border-radius: 50%;
  background: #959595;
  height: 5px;
  width: 5px;
}

/*End CSS Top Story Home page*/
/*Start CSS Featured New Home page*/
.itg-featured-news {
  border: 1px solid #e4e4e4;
  height: 672px;
}

.featured-news .featured-post {
  float: left;
  width: 50%;
}
.featured-news .featured-post:hover a {
  color: #193984;
}
.featured-news .featured-post img {
  padding-bottom: 10px;
  width: 100%;
}
.featured-news .featured-post.featured-post-first {
  float: none;
  width: 100%;
  margin-bottom: 10px;
}

/*End CSS*/
/*Start CSS Top AD*/
.top-ad {
  border: 1px solid #e4e4e4;
}
.top-ad .pic {
  background-color: #f3f3f3;
  width: 300px;
  height: 250px;
  margin: 35px auto;
}

/*End CSS*/
/*Start CSS section story Home page*/
.section-ordering h3 {
  font-family: "Roboto Slab", sans-serif;
  padding: 15px 0;
}
.section-ordering p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  position: relative;
  border-top: 1px solid #dddddd;
  padding: 12px 0 12px 12px;
}
.section-ordering p:before {
  position: absolute;
  top: 18px;
  left: 0px;
  content: '';
  border-radius: 100%;
  background: #a00606;
  height: 5px;
  width: 5px;
}

/*End CSS section story Home page*/
@media only screen and (min-width: 768px) {
  /*Start CSS itg-layout-container */
  .itg-layout-container .itg-widget, .itg-layout-container .itg-widget-child {
    position: relative;
  }
  .itg-layout-container .itg-widget input[type="text"], .itg-layout-container .itg-widget-child input[type="text"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 214px;
  }
  .itg-layout-container .top-colum-1 .droppable {
    min-height: 635px;
  }
  .itg-layout-container .top-colum-2 .droppable {
    min-height: 671px;
  }
  .itg-layout-container .top-colum-3 .droppable {
    min-height: 308px;
  }
  .itg-layout-container .top-colum-3 .itg-widget:first-child {
    margin-bottom: 20px;
  }
  .itg-layout-container.itg-admin .itg-widget {
    background-color: #f1f1f1;
  }
  .itg-layout-container .itg-common-section .droppable {
    min-height: 382px;
  }

  /*Start CSS Top Block Grid Home Page*/
  .top-block .top-colum-1, .top-block .top-colum-2, .top-block .top-colum-3 {
    padding: 0 15px;
  }
  .top-block .top-colum-1 {
    float: left;
    width: 22%;
  }
  .top-block .top-colum-2 {
    width: 44.8%;
    display: inline-block;
    vertical-align: top;
  }
  .top-block .top-colum-3 {
    width: 33.2%;
    float: right;
  }

  /*End CSS Top Block Grid Home Page*/
  /*Start CSS Featured-news Home Page*/
  .featured-news {
    padding: 5px;
    margin: 0;
  }
  .featured-news .featured-post {
    padding: 5px;
  }

  /*End CSS Featured-news Home Page*/
}
