/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* Story Tag mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
.aajtak-layout-container {
  max-width: 1170px;
  margin: 0 auto;
}

.slider-container .slick-list {
  padding: 20px 0 30px 15px;
}
.slider-container .slick-arrow {
  position: absolute;
  top: -35px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  text-indent: -9999px;
}
.slider-container .slick-next {
  right: 10px;
}
.slider-container .slick-prev {
  right: 56px;
}
.slider-container .slick-next::before {
  border-color: transparent transparent transparent #eeeded;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 12px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
.slider-container .slick-next::after {
  border-color: transparent transparent transparent #000;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 13px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}
.slider-container .slick-prev::before {
  border-color: transparent #eeeded transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 9;
}
.slider-container .slick-prev::after {
  border-color: transparent #000 transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: "";
  height: 0;
  left: 4px;
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
}

.widget-container {
  margin-bottom: 40px;
}
.widget-container .half-grey-bg {
  display: inline-block;
  vertical-align: top;
  padding: 10px 0;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.widget-container .half-grey-bg:before {
  content: '';
  background-color: #eeeded;
  width: 100%;
  height: 202px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.widget-container h2 {
  padding: 9px 15px 5px;
}
.widget-container .widget-list-row {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .2s,transform .2s,opacity .2s;
  float: left;
  width: 260px;
  height: 240px;
  position: relative;
  z-index: 9;
  list-style-type: none;
  margin: 0 15px;
}
.widget-container .widget-list-row:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -4px);
}
.widget-container .widget-list-row .category-name {
  background-color: #dc4750;
}
.widget-container .widget-list-row .icon-list {
  background-color: #dc4750;
}

.sirf-web-par .tile {
  text-align: center;
  position: relative;
  height: 240px;
}
.sirf-web-par .tile .category-name {
  background-color: #dc4750;
  border-radius: 4px 4px 0 0;
  color: #fff;
  height: 20px;
}
.sirf-web-par .tile .title {
  height: 40px;
  overflow: hidden;
  margin: 10px 10px 8px;
}
.sirf-web-par .tile .title a {
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
}
.sirf-web-par .tile .pic {
  height: 148px;
  overflow: hidden;
}
.sirf-web-par .tile .name {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
.sirf-web-par .tile .date {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 16px;
  color: #9a9a9a;
  padding: 0 5px;
  position: relative;
}
.sirf-web-par .tile .date:before {
  content: '|';
  position: absolute;
  font-size: 9px;
  left: -4px;
  top: 0;
}
