/*Start CSS Desktop version*/
/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* Story Tag mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
@media only screen and (max-width: 1200px) {
  body {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
  }

  #block-views-photo-landing-slider-block {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
  }

  h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  h4 {
    font-size: 12px;
    line-height: 18px;
  }

  #block-itg-layout-manager-header-block .top-nav .main-nav li a {
    padding: 0 15px;
    font-size: 20px;
    font-size: 1.25rem;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav li:nth-child(3) a:before {
    top: -6px;
    left: 0;
  }
  #block-itg-layout-manager-header-block .navigation .menu {
    margin-left: 135px;
    margin-right: 50px;
    padding-left: 0;
    white-space: nowrap;
    overflow-x: scroll;
  }
  #block-itg-layout-manager-header-block .navigation .menu li {
    display: inline-block;
    vertical-align: top;
    float: none;
  }

  /*    special event page css start here*/
  .tech-layout-page .auto-block-1, .tech-layout-page .auto-block-2, .auto-layout-page .auto-block-1, .auto-layout-page .auto-block-2 {
    height: auto;
    margin-bottom: 50px;
  }
  .tech-layout-page .auto-block-3 .itg-widget-child .droppable, .auto-layout-page .auto-block-3 .itg-widget-child .droppable {
    height: auto;
  }

  /*special event page css start here*/
  /*css start snappost page*/
  .page-snappost .view-content .views-row .snap-post-btm .snap-button a {
    width: 160px;
  }

  .page-snappost .spanpost-header .spost-right ul li {
    font-size: 27px;
    padding-left: 10px;
  }

  /*css End snappost page*/
  /*CSS Start Photo and video header crusal page*/
  #block-itg-widget-featured-photo-carousel-r, #block-itg-widget-featured-video-carousel-r {
    background: #171717;
    padding: 30px 0 0 0;
  }

  .itg-region {
    padding: 0;
  }
  .itg-region ul {
    overflow: auto;
    vertical-align: top;
  }

  /*CSS End Photo and video header crusal page*/
}
@media only screen and (max-width: 991px) {
  /*CSS start education page special*/
  .education-layout-page .itg-layout-672 .droppable, .education-layout-page .itg-layout-672 .droppable .auto-block-1, .education-layout-page .itg-layout-672 .droppable .auto-block-2 {
    height: auto;
  }

  .education-layout-page .itg-layout-672 .droppable .auto-block-1, .education-layout-page .itg-layout-672 .droppable .auto-block-2 {
    margin-bottom: 50px;
  }

  .education-layout-page .auto-block-3 .m-bottom40 {
    margin-bottom: 0;
  }

  .education-layout-page .itg-layout-672 .droppable .auto-block-1 .featured-news {
    margin: 0;
  }

  /*CSS end education page special*/
}
@media only screen and (max-width: 768px) {
  header {
    margin-bottom: 15px;
  }

  .mhide {
    display: none;
  }

  .desktop-hide {
    display: block;
  }

  .list-none {
    list-style-type: none;
  }

  #block-itg-layout-manager-header-block header {
    margin-bottom: 15px;
  }
  #block-itg-layout-manager-header-block .logo {
    width: 67px;
    position: absolute;
    top: -30px;
    left: 10px;
  }
  #block-itg-layout-manager-header-block .logo img {
    max-width: 100%;
    padding-left: 0;
    background: transparent;
  }
  #block-itg-layout-manager-header-block .top-nav {
    padding: 0;
    width: 100%;
    background: #a00606;
    margin-top: 7px;
    text-align: right;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav li a {
    padding: 0 10px;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav li.desktop-hide {
    display: inline-block;
  }
  #block-itg-layout-manager-header-block .top-nav ul {
    list-style-type: none;
  }
  #block-itg-layout-manager-header-block .top-nav ul li {
    display: inline-block;
    vertical-align: top;
  }
  #block-itg-layout-manager-header-block .top-nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
  }
  #block-itg-layout-manager-header-block .top-nav ul li a .fa {
    font-size: 20px;
    line-height: 28px;
    vertical-align: top;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav {
    padding-left: 0;
    float: none;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav li a {
    font-size: 15px;
  }
  #block-itg-layout-manager-header-block .top-nav .main-nav li:nth-child(3) a:before {
    display: none;
  }
  #block-itg-layout-manager-header-block .navigation {
    background: #a00606;
    display: none;
    margin-top: 0;
  }
  #block-itg-layout-manager-header-block .navigation .container {
    position: relative;
  }
  #block-itg-layout-manager-header-block .navigation .menu {
    zoom: 1;
    margin: 0px;
    padding-left: 0;
    white-space: pre-wrap;
    overflow-x: inherit;
  }
  #block-itg-layout-manager-header-block .navigation .menu:before, #block-itg-layout-manager-header-block .navigation .menu:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
  }
  #block-itg-layout-manager-header-block .navigation .menu:after {
    clear: both;
  }
  #block-itg-layout-manager-header-block .navigation .menu li {
    width: 100%;
  }
  #block-itg-layout-manager-header-block .navigation .menu li a {
    border-top: 1px solid #900505;
    border-right: none;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
  }
  #block-itg-layout-manager-header-block .navigation .menu li a.active, #block-itg-layout-manager-header-block .navigation .menu li a:hover {
    color: #ffc106;
  }
  #block-itg-layout-manager-header-block .navigation .menu li.all-menu a {
    border-right: none;
  }
  #block-itg-layout-manager-header-block .navigation .menu li.all-menu a i {
    font-size: 22px;
    font-size: 1.375rem;
    color: #131212;
    vertical-align: middle;
  }
  #block-itg-layout-manager-header-block .navigation .menu li.sponser-link a {
    background: #ffc106;
    color: #323232;
  }
  #block-itg-layout-manager-header-block .navigation ul#newlist {
    position: absolute;
    right: 0;
    z-index: 99;
    background: #a00606;
    display: none;
  }
  #block-itg-layout-manager-header-block .head-live-tv {
    text-align: right;
    padding: 0 10px;
    margin-top: -10px;
    position: relative;
  }
  #block-itg-layout-manager-header-block .head-live-tv ul {
    list-style-type: none;
  }
  #block-itg-layout-manager-header-block .head-live-tv ul li {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
  }
  #block-itg-layout-manager-header-block .head-live-tv ul li a i {
    font-size: 18px;
  }
  #block-itg-layout-manager-header-block .head-live-tv .globle-search {
    position: absolute;
    top: 0px;
    right: 94px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 0px;
    overflow: hidden;
    z-index: 1;
  }
  #block-itg-layout-manager-header-block .head-live-tv .globle-search .search-text {
    height: 25px;
    line-height: 25px;
  }

  /*footer*/
  footer .footer-top .footer-top-link {
    float: none;
  }
  footer .footer-bottom .cell {
    width: 50%;
    margin-bottom: 20px;
  }
  footer .footer-bottom .cell:nth-child(2n+1) {
    clear: left;
  }

  /*Start CSS Top Block Grid Home Page*/
  .top-block .top-colum-1, .top-block .top-colum-2, .top-block .top-colum-3 {
    padding: 0 15px;
    width: 100%;
  }

  .itg-layout-container .itg-h450-section .droppable, .itg-layout-container .itg-h321-section .droppable,
  .itg-layout-container .top-colum-3 .itg-widget-parent .droppable,
  .itg-layout-container .itg-top-section .top-colum-2 .droppable,
  .itg-layout-container .itg-top-section .top-colum-1 .droppable,
  .itg-layout-container .top-colum-3 .droppable,
  .itg-common-section .droppable {
    height: auto;
  }

  /*End CSS Top Block Grid Home Page*/
  /*css start special event page for osscar*/
  .oscar-layout-page .left-side {
    margin-bottom: 50px;
  }
  .oscar-layout-page .oscor-photo {
    overflow: auto;
    white-space: nowrap;
  }
  .oscar-layout-page .oscor-photo .col-md-6 {
    margin: 0px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .oscar-layout-page .oscor-photo .col-md-6 .title h3 {
    height: inherit;
    white-space: pre-wrap;
  }
  .oscar-layout-page .oscor-photo .col-md-6 :nth-child(n+3) {
    margin-top: 0;
  }
  .oscar-layout-page .oscar-slider .bottom-slider {
    padding-bottom: 20px;
  }
  .oscar-layout-page .oscar-slider .bottom-slider li {
    padding: 10px;
    width: 100% !important;
  }
  .oscar-layout-page .oscar-slider .bottom-slider li img {
    float: left;
    margin-right: 10px;
    width: 145px;
  }
  .oscar-layout-page .oscar-slider .bottom-slider i {
    color: #ccc;
    font-size: 25px;
    text-align: center;
    width: 100%;
  }

  /*css end special event page for osscar*/
  /*css start snappost page*/
  .page-snappost .spanpost-header .spost-left {
    width: 100%;
  }
  .page-snappost .spanpost-header .spost-right {
    width: 100%;
  }
  .page-snappost .spanpost-header .spost-right ul li {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 54px;
    padding-left: 10px;
  }
  .page-snappost .spanpost-header .spost-right ul li img {
    width: 50px;
  }
  .page-snappost .view-content .views-row .snap-title h1 span a {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 400;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-button {
    margin-top: 30px;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-button a {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 40px;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-button a.disagree {
    margin-left: 20px;
  }

  .page-snappost .view-content .views-row .snap-post-btm .snap-button {
    float: none;
    width: 100%;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-button a {
    width: 130px;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-social {
    width: 100%;
    float: none;
    overflow: hidden;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-social ul {
    width: 100%;
    float: none;
  }
  .page-snappost .view-content .views-row .snap-post-btm .snap-social ul li {
    width: 32%;
    text-align: center;
  }

  /*css end snappost page*/
  /*CSS start education page special*/
  .education-layout-page .auto-block-3 .m-bottom40 {
    margin-bottom: 40px;
  }

  /*CSS end education page special*/
  /*css start side bar section for video and photo*/
  .default-video .sidebar-section-photo, .default-photo .sidebar-section-photo {
    border: none;
  }

  /*css end side bar section for video and photo*/
  /*CSS Starts Photo landing page*/
  .view-video-list-of-category .view-content .photo-list li, .view-photo-list-of-category .view-content .photo-list li, .view-so-sorry .view-content .photo-list li, .view-programme-content .view-content .photo-list li, .sports-video .view-content .photo-list li, .sports-photo .view-content .photo-list li {
    width: 33.33333%;
    padding: 15px 10px;
  }
  .view-video-list-of-category .view-content .photo-list li:nth-child(4n+1), .view-photo-list-of-category .view-content .photo-list li:nth-child(4n+1), .view-so-sorry .view-content .photo-list li:nth-child(4n+1), .view-programme-content .view-content .photo-list li:nth-child(4n+1), .sports-video .view-content .photo-list li:nth-child(4n+1), .sports-photo .view-content .photo-list li:nth-child(4n+1) {
    clear: none;
  }
  .view-video-list-of-category .view-content .photo-list li:nth-child(3n+1), .view-photo-list-of-category .view-content .photo-list li:nth-child(3n+1), .view-so-sorry .view-content .photo-list li:nth-child(3n+1), .view-programme-content .view-content .photo-list li:nth-child(3n+1), .sports-video .view-content .photo-list li:nth-child(3n+1), .sports-photo .view-content .photo-list li:nth-child(3n+1) {
    clear: left;
  }

  /*CSS End Photo landing page*/
}
@media only screen and (max-width: 680px) {
  /*CSS start video landing page*/
  #block-views-video-landing-header-block-1 {
    padding-bottom: 0;
  }
  #block-views-video-landing-header-block-1 .view-header {
    background: #171717;
    padding: 0;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .defalt-bar {
    overflow: inherit;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content {
    background: #171717;
    padding: 0;
    overflow-x: inherit;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list {
    max-height: inherit;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list li {
    margin-bottom: 20px;
    padding: 0 10px;
    height: auto;
    width: 100%;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list li .tile figure {
    width: 144px;
    float: left;
    margin-right: 15px;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list > i {
    color: #ccc;
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list > i.fa-chevron-up {
    margin-bottom: 20px;
  }
  #block-views-video-landing-header-block-1 .view-video-landing-header .view-content .photo-list > i.fa-chevron-down {
    margin-bottom: 10px;
  }

  /*CSS end video landing page*/
}
@media only screen and (max-width: 560px) {
  /*CSS Starts Photo landing page*/
  .view-video-list-of-category .view-content .photo-list li, .view-photo-list-of-category .view-content .photo-list li, .view-so-sorry .view-content .photo-list li, .view-programme-content .view-content .photo-list li, .sports-video .view-content .photo-list li, .sports-photo .view-content .photo-list li {
    width: 50%;
  }
  .view-video-list-of-category .view-content .photo-list li:nth-child(3n+1), .view-photo-list-of-category .view-content .photo-list li:nth-child(3n+1), .view-so-sorry .view-content .photo-list li:nth-child(3n+1), .view-programme-content .view-content .photo-list li:nth-child(3n+1), .sports-video .view-content .photo-list li:nth-child(3n+1), .sports-photo .view-content .photo-list li:nth-child(3n+1) {
    clear: none;
  }
  .view-video-list-of-category .view-content .photo-list li:nth-child(2n+1), .view-photo-list-of-category .view-content .photo-list li:nth-child(2n+1), .view-so-sorry .view-content .photo-list li:nth-child(2n+1), .view-programme-content .view-content .photo-list li:nth-child(2n+1), .sports-video .view-content .photo-list li:nth-child(2n+1), .sports-photo .view-content .photo-list li:nth-child(2n+1) {
    clear: left;
  }

  /*CSS End Photo landing page*/
}
/*Start header CSS Desktop version*/
@media only screen and (min-width: 769px) {
  .list-none {
    list-style-type: none;
  }

  /*Start CSS Big New Home page*/
  .big-news .big-story-col-1, .big-news .big-story-col-2 {
    float: left;
    padding: 0 15px;
  }
  .big-news .big-story-col-1 {
    width: 56.4%;
  }
  .big-news .big-story-col-2 {
    width: 43.6%;
    padding-left: 0;
  }

  /*End CSS Big New Home page*/
  /*Start CSS Featured-news Home Page*/
  .featured-news {
    padding: 5px;
    border: 1px solid #dddddd;
    margin: 0;
  }
  .featured-news .featured-post {
    padding: 5px;
  }

  /*End CSS Featured-news Home Page*/
  /*CSS Start story section */
  .section-ordering h3 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  /*CSS End story section */
  /*Start Dont miss Home page css*/
  .dont-miss, #block-itg-widget-yearende-left-top-news .top-news, #block-itg-widget-yearende-left-top-videos .top-video {
    /*padding: 20px 0px 0px 10px;*/
  }
  .dont-miss ul .dont-miss-listing, #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing, #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing {
    float: left;
    width: 50%;
    padding: 0px 10px 25px 0;
  }
  .dont-miss ul .dont-miss-listing .dm-pic, #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing .dm-pic, #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing .dm-pic {
    width: 170px;
  }
  .dont-miss ul .dont-miss-listing:nth-child(2n+1), #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing:nth-child(2n+1), #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing:nth-child(2n+1) {
    clear: left;
  }
  .dont-miss ul .dont-miss-listing:nth-child(3), .dont-miss ul .dont-miss-listing:nth-child(4), #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing:nth-child(3), #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing:nth-child(4), #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing:nth-child(3), #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing:nth-child(4) {
    padding-bottom: 0;
  }

  /*End Dont miss Home page css*/
  /*CSS Start year end top news*/
  #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing, #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing {
    float: none;
    width: 100%;
    padding: 25px 10px;
  }
  #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing:nth-child(3), #block-itg-widget-yearende-left-top-news .top-news ul .dont-miss-listing:nth-child(4), #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing:nth-child(3), #block-itg-widget-yearende-left-top-videos .top-video ul .dont-miss-listing:nth-child(4) {
    padding-bottom: 25px;
  }

  /*CSS End year end top news*/
  /*Start photo section slider Homepage*/
  .featured_photo_carousel .flexslider .flex-direction-nav, .tech-block_5 .flexslider .flex-direction-nav, .auto-block_5 .flexslider .flex-direction-nav {
    display: block;
  }
  .featured_photo_carousel .flexslider .slides li .detail .flex-caption, .tech-block_5 .flexslider .slides li .detail .flex-caption, .auto-block_5 .flexslider .slides li .detail .flex-caption {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    min-height: 68px;
    max-height: auto;
    overflow: initial;
  }
  .featured_photo_carousel .flexslider .slides li .detail .flex-count, .tech-block_5 .flexslider .slides li .detail .flex-count, .auto-block_5 .flexslider .slides li .detail .flex-count {
    position: absolute;
    bottom: 78px;
    left: 0px;
  }

  /*End photo section slider Homepage*/
  /*Start Story page css*/
  .story-section h1 {
    font-size: 34px;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 42px;
  }
  .story-section .story-left, .story-section .story-right {
    float: left;
  }
  .story-section .story-left {
    width: 21%;
  }
  .story-section .story-left .byline {
    text-align: center;
  }
  .story-section .story-left .byline .profile-pic, .story-section .story-left .byline .profile-detail {
    float: none;
  }
  .story-section .story-left .byline .profile-pic img {
    width: 60px;
    height: 60px;
  }
  .story-section .story-left .byline .profile-detail {
    width: auto;
    margin: 0px 0 0 10px;
  }
  .story-section .story-left .byline .profile-detail ul li {
    float: none;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
  }
  .story-section .story-left .byline .profile-detail ul li + li {
    border-left: none;
  }
  .story-section .story-left .byline .profile-detail ul li:last-child {
    border-left: none;
  }
  .story-section .story-left .byline .profile-detail ul.date-update li {
    margin-bottom: 0px;
  }
  .story-section .story-left .byline ul.social-links li {
    float: left;
    padding: 10px 0;
  }
  .story-section .story-left .briefcase {
    margin-top: 50px;
  }
  .story-section .story-left .briefcase h4 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .story-section .story-left .briefcase ul li {
    background: #f9f9f9;
    color: #575757;
    padding: 12px 8px 20px 8px;
    line-height: 18px;
  }
  .story-section .story-left .briefcase ul li + li {
    border-top: 1px solid #eaeaea;
    padding: 20px 8px;
  }
  .story-section .story-left .briefcase ul li:before {
    display: none;
  }
  .story-section .story-right {
    width: 79%;
  }
  .story-section .story-right .byline .profile-detail {
    margin: 0px 0 0 10px;
  }
  .story-section .snap-post {
    padding: 20px 20px 20px 100px;
    background-size: inherit;
  }
  .story-section .snap-post .discription {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
  .story-section .snap-post .agbutton {
    margin: 20px 0;
    text-align: center;
  }
  .story-section .snap-post .agbutton a {
    display: inline-block;
    margin-top: 0;
  }
  .story-section .snap-post .agbutton button {
    margin: 0 15px;
    width: 113px;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 500;
  }
  .story-section .snap-post .agbutton p.error-msg {
    padding-left: 140px;
  }
  .story-section .social-list li {
    width: auto;
  }
  .story-section .social-list li:nth-child(7) {
    border-left: 1px solid #dddddd;
  }

  .buzz-feedback .story-right {
    width: 100%;
  }
  .buzz-feedback .buzz-section h1 {
    font-size: 34px;
    font-size: 2.125rem;
  }
  .buzz-feedback .buzz-section h1 span {
    width: 32px;
    height: 32px;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 34px;
  }

  /*End Story page css*/
  /*Start css ITG globle search result page*/
  .view-front-end-global-search .view-content .search-pic {
    width: 170px;
    height: 127px;
  }
  .view-front-end-global-search .view-content .search-detail h2 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    margin-top: -5px;
  }
  .view-front-end-global-search .view-content .search-detail h2 a {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
  }
  .view-front-end-global-search .view-content .search-detail p {
    display: block;
  }
  .view-front-end-global-search .view-content .social-share {
    margin-top: 0px;
  }
  .view-front-end-global-search .view-content .social-share ul {
    list-style-type: none;
  }
  .view-front-end-global-search .view-content .social-share ul li {
    display: inline-block;
    vertical-align: top;
    padding-right: 8px;
  }
  .view-front-end-global-search .view-content .social-share ul li a {
    background: #000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 23px;
  }
}
@media only screen and (min-width: 769px) and (min-width: 768px) {
  .view-front-end-global-search .view-content .social-share ul li a {
    width: 23px;
    height: 23px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 769px) {
  .view-front-end-global-search .view-content .social-share ul li a.share {
    color: #d0d0d0;
  }
  .view-front-end-global-search .view-content .social-share ul li a.share, .view-front-end-global-search .view-content .social-share ul li a.google {
    background: transparent;
  }
  .view-front-end-global-search .view-content .social-share ul li a.facebook {
    background: #0b4887;
  }
  .view-front-end-global-search .view-content .social-share ul li a.twitter {
    background: #05a3d2;
  }
  .view-front-end-global-search .view-content .social-share ul li a.google {
    background: url(../images/google-icon.jpg) no-repeat center center;
  }
  .view-front-end-global-search .view-content .other-info {
    padding-top: 0;
    margin-top: 15px;
    overflow: inherit;
  }
  .view-front-end-global-search .attachment .search-menu {
    white-space: inherit;
    overflow-x: inherit;
  }
  .view-front-end-global-search .attachment .count {
    font-size: 30px;
    font-size: 1.875rem;
  }

  /*End css ITG globle search result page*/
  /*Archive story page*/
  /*Archive story page End*/
  .view-archive-story .view-content .search-pic {
    width: 170px;
    height: 127px;
  }
  .view-archive-story .view-content .search-detail h2 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    margin-top: -5px;
  }
  .view-archive-story .view-content .search-detail h2 a {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
  }
  .view-archive-story .view-content .search-detail p {
    display: block;
  }

  /*Start anchors listing css*/
  .view-widget-anchors-listing .anchor-listing .pic {
    width: 170px;
  }
  .view-widget-anchors-listing .anchor-listing .detail {
    overflow: hidden;
  }
  .view-widget-anchors-listing .anchor-listing .detail h3 {
    margin-bottom: 10px;
    font-size: 24px;
    font-size: 1.5rem;
  }

  /*End anchors listing css*/
  /*CSS start sidebar */
  section.sidebar {
    border: 1px solid #ddd;
  }

  .sidebars {
    margin-top: 0px;
  }

  .page-sosorry section.sidebar {
    border: none;
  }

  /*CSS end sidebar */
  .view-category-wise-content-list h1 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 46px;
  }
  .view-category-wise-content-list .catagory-listing .pic {
    width: 170px;
  }
  .view-category-wise-content-list .catagory-listing .detail h3 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 24px;
  }
  .view-category-wise-content-list .catagory-listing .detail p {
    display: block;
  }
  .view-category-wise-content-list .item-list ul.pager {
    margin: 10px 0;
    list-style-type: none;
    text-align: center;
  }
  .view-category-wise-content-list .item-list ul.pager li {
    display: inline-block;
    vertical-align: top;
  }
  .view-category-wise-content-list .item-list ul.pager li.pager-current {
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 50%;
    font-family: "Roboto", sans-serif;
  }
  .view-category-wise-content-list .item-list ul.pager li.pager-item a {
    display: block;
    height: 25px;
    width: 25px;
    font-size: 16px;
    font-size: 1rem;
    line-height: 25px;
    color: #323232;
    font-family: "Roboto", sans-serif;
  }
  .view-category-wise-content-list .item-list ul.pager li.pager-item a:hover {
    background-color: #337ab7;
    color: #fff;
    border-radius: 50%;
  }
  .view-category-wise-content-list .item-list ul.pager li.pager-next a, .view-category-wise-content-list .item-list ul.pager li.pager-last a, .view-category-wise-content-list .item-list ul.pager li.pager-first a, .view-category-wise-content-list .item-list ul.pager li.pager-previous a {
    color: #323232;
    line-height: 25px;
  }
  .view-category-wise-content-list .item-list ul.pager li.pager-next.pager-first.first, .view-category-wise-content-list .item-list ul.pager li.pager-next.pager-last.last, .view-category-wise-content-list .item-list ul.pager li.pager-last.pager-first.first, .view-category-wise-content-list .item-list ul.pager li.pager-last.pager-last.last, .view-category-wise-content-list .item-list ul.pager li.pager-first.pager-first.first, .view-category-wise-content-list .item-list ul.pager li.pager-first.pager-last.last, .view-category-wise-content-list .item-list ul.pager li.pager-previous.pager-first.first, .view-category-wise-content-list .item-list ul.pager li.pager-previous.pager-last.last {
    display: none;
  }

  /*End category wise content list css*/
  /* start side bar common */
  .sidebar-second .may-be-suggest-container h3, .sidebar-second .top-takes-video-container h3, .sidebar-second .watch-right-now-video h3 {
    display: block;
  }
  .sidebar-second .may-be-suggest-container h3 span, .sidebar-second .top-takes-video-container h3 span, .sidebar-second .watch-right-now-video h3 span {
    padding: 45px 20px 10px 30px;
  }
  .sidebar-second .may-be-suggest-container ul li, .sidebar-second .top-takes-video-container ul li, .sidebar-second .watch-right-now-video ul li {
    padding: 10px 24px 10px 30px;
  }

  /* End side bar common */
  /*CSS start program RHS*/
  .program-rhs h3 span {
    padding: 45px 20px 10px 30px;
  }
  .program-rhs ul {
    padding: 10px 20px 0 30px;
  }

  /*End start program RHS*/
  /*CSS Start Anchor listing detail page*/
  #block-views-anchor-landing-page-block .anchor-left, #block-views-anchor-landing-page-block .anchor-right {
    float: left;
    width: 50%;
  }
  #block-views-anchor-landing-page-block .anchor-right {
    padding-left: 15px;
    padding-top: 0px;
  }

  /*CSS End Anchor listing detail page*/
  /*CSS Start Photo landing page*/
  .region-top {
    padding: 20px 0;
    margin-top: -30px;
  }

  #block-views-photo-landing-slider-block h2 {
    margin-bottom: 15px;
  }
  #block-views-photo-landing-slider-block .other-details-main {
    height: 632px;
    background: #111111;
  }
  #block-views-photo-landing-slider-block .other-details-main .counter {
    padding: 15px 25px;
  }
  #block-views-photo-landing-slider-block .other-details-main .counterslide .slick-next {
    right: 25px;
  }
  #block-views-photo-landing-slider-block .other-details-main .counterslide .slick-prev {
    right: 87px;
  }
  #block-views-photo-landing-slider-block .other-details-main .caption {
    padding: 0 20px;
  }
  #block-views-photo-landing-slider-block .social-icon ul {
    padding-left: 10px;
  }
  #block-views-photo-landing-slider-block .social-icon ul li a {
    padding: 0 15px;
    line-height: 55px;
  }
  #block-views-photo-landing-slider-block .social-icon ul li span.flag-throbber {
    display: none;
  }
  #block-views-photo-landing-slider-block .slick-slider .slick-next, #block-views-photo-landing-slider-block .slick-slider .slick-prev {
    width: 50px;
    height: 100px;
    margin-top: -50px;
  }
  #block-views-photo-landing-slider-block .slick-slider .slick-next:before, #block-views-photo-landing-slider-block .slick-slider .slick-prev:before {
    top: 38px;
    font-size: 30px;
  }
  #block-views-photo-landing-slider-block .slick-thumbs .slick-prev, #block-views-photo-landing-slider-block .slick-thumbs .slick-next {
    background: transparent;
    margin-top: -55px;
    color: #fff;
  }
  #block-views-photo-landing-slider-block .slick-thumbs .slick-prev:hover, #block-views-photo-landing-slider-block .slick-thumbs .slick-next:hover {
    background: transparent;
  }

  /*CSS End Photo landing page*/
  /*CSS Start magazine-calander RHS*/
  #block-itg-msi-magazine-calendar, #block-views-latest-issue-magzine-block-1 {
    padding: 50px 34px 20px 34px;
  }

  /*CSS End magazine-calander RHS*/
  /*CSS Start So sorry page*/
  .page-sosorry #block-itg-ads-ad-right-sidebar-1 {
    padding: 30px 34px 30px 34px;
  }

  #block-itg-layout-manager-header-sosorry-block .sosory-header .sosorryitg {
    padding: 40px 30px 0 0;
  }
  #block-itg-layout-manager-header-sosorry-block .sosory-footer {
    text-align: center;
  }
  #block-itg-layout-manager-header-sosorry-block .sosory-footer ul li {
    width: auto;
    padding: 0 20px;
    margin-bottom: 0px;
  }
  #block-itg-layout-manager-header-sosorry-block .sosory-footer ul li i {
    float: none;
  }
  #block-itg-layout-manager-header-sosorry-block .sosory-footer ul li:nth-child(2) {
    border-left: 1px solid #eff94e;
    border-right: 1px solid #eff94e;
  }

  .view-so-sorry h2 {
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: 300;
  }

  .view-display-id-so_sorry_page {
    margin: 0;
  }
  .view-display-id-so_sorry_page h1 {
    font-size: 26px;
  }

  /*CSS End So sorry page*/
  /*CSS Start RHS add block*/
  #block-itg-ads-ad-right-sidebar-1 {
    padding: 30px 34px 0;
  }

  /*CSS End RHS add block*/
  /*CSS Start Home page Recommended-for-you */
  .recommended-for-you #block-itg-widget-personlization ul.common-list li.recom-listing .pic {
    width: auto;
  }
  .recommended-for-you #block-itg-widget-personlization .recommended-slider button.slick-next, .recommended-for-you #block-itg-widget-personlization .recommended-slider button.slick-prev {
    display: block !important;
  }

  /*CSS End Home page Recommended-for-you */
  /* CSS Start For Program Page */
  .programe-container .program-row .programe-title {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;
  }

  /* CSS End For Program Page */
  /*CSS start program landing page*/
  #block-views-video-landing-header-block .video-landing-header {
    background: #000;
    padding: 0 15px 15px 15px;
  }
  #block-views-video-landing-header-block .video-header-left .video {
    float: left;
    width: 84.5%;
    padding: 10px;
  }
  #block-views-video-landing-header-block .video-header-left .social-likes {
    float: left;
    width: 15.5%;
    height: 474px;
    overflow: hidden;
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
  #block-views-video-landing-header-block .video-header-left .social-likes ul li {
    float: none;
  }
  #block-views-video-landing-header-block .video-header-left .social-likes ul li a {
    padding: 20px 5px 19px 10px;
  }
  #block-views-video-landing-header-block .video-header-left .social-likes ul li a span {
    display: inline-block;
  }
  #block-views-video-landing-header-block .video-header-left .social-likes ul li + li a {
    border-top: 1px solid #000;
  }
  #block-views-video-landing-header-block .video-header-right {
    height: 474px;
    padding-bottom: 0px;
  }
  #block-views-video-landing-header-block h2 {
    font-size: 24px;
    font-size: 1.5rem;
  }

  /*CSS end program landing page*/
  /*css start for special auto page*/
  .auto-layout-page .itg-top-section .top-colum-1 .droppable, .auto-layout-page .itg-top-section .top-colum-2 .droppable {
    height: 608px;
  }
  .auto-layout-page .itg-top-section .top-colum-3 .droppable {
    height: 247px;
  }
  .auto-layout-page .itg-h450-section .col-md-4 .droppable .widget-wrapper {
    overflow: auto;
  }

  /*css end for special auto page*/
}
/*End CSS Desktop version*/
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .top-block .top-colum-2 {
    width: 100%;
    margin-bottom: 50px;
  }

  .top-block .top-colum-1, .top-block .top-colum-3 {
    width: 50%;
    float: left;
  }

  .big-news .big-story-col-1, .big-news .big-story-col-2 {
    width: 100%;
  }

  .big-news .big-story-col-2 {
    padding-top: 20px;
    padding-left: 15px;
  }

  .widget-wrapper.top_stories_ordering .data-holder .block-itg-widget {
    overflow: scroll;
    height: 663px;
  }

  #block-itg-layout-manager-header-sosorry-block .sosory-header .sosorryitg {
    padding: 40px 30px 0 0;
  }
  #block-itg-layout-manager-header-sosorry-block .sosory-footer ul li:nth-child(2) {
    border-left: none;
  }

  #block-views-video-landing-header-block .video-header-left, #block-views-video-landing-header-block .social-likes {
    width: 100%;
    float: none;
  }
  #block-views-video-landing-header-block .social-likes ul li {
    float: left;
  }
}
@media only screen and (min-width: 640px) {
  /*CSS Start Anchor listing detail page*/
  #block-views-anchor-landing-page-block .anchor-left, #block-views-anchor-landing-page-block .anchor-right {
    float: left;
    width: 50%;
  }
  #block-views-anchor-landing-page-block .anchor-right {
    padding-left: 15px;
    padding-top: 0px;
  }

  /*CSS End Anchor listing detail page*/
}
