#section-header-event-1206755,.header_ltop_container{background:url(https://itgd-mum-dev-static.s3.amazonaws.com/section_header_images/header-bg.jpg) no-repeat #e7e7e7;padding:10px 0 0}#section-header-event-1206755 .header_ltop_container .main_logo{float:left;margin-top:33px}#section-header-event-1206755 .header_ltop_container .topRight{margin:0;padding:0}#section-header-event-1206755 .header_ltop_container .photosec{float:left;margin-top:52px}#section-header-event-1206755 .header_ltop_container .brandLogo ul{margin:0;padding:0;list-style:none}#section-header-event-1206755 .header_ltop_container .brandLogo ul li{margin:0 5px 0 0;padding:0;display:inline-block}#section-header-event-1206755 .header_ltop_container .brandLogo{margin:94px 0 0;padding:0;float:left;text-align:center}#section-header-event-1206755 .navigation .menu li a:after{background:#000}#section-header-event-1206755 .navigation .menu li a{color:#e0e0e0;text-transform:uppercase;font-weight:500;padding:0 10px;border-top:none;height:37px;white-space:nowrap;position:relative;font-size:14px;font-size:.875rem;line-height:37px}#section-header-event-1206755 .navigation .menu li{float:left}#section-header-event-1206755 .navigation .menu,.navigation .menu li ul{list-style-type:none}#section-header-event-1206755 .navigation .menu{margin-right:50px;max-width:985px}#section-header-event-1206755 .navigation{margin-top:0!important;background:#000!important}#block-itg-layout-manager-header-block{padding-top: 0px!important;}


#section-header-event-1208864 .topBanner { width: 1170px;margin: 0px auto; position: relative;}
#section-header-event-1208864  .event-add-header {width: 728px;margin: 0px auto;margin-top: 17px;}
#section-header-event-1208864 #conclave-header .conclave-logo {width: 85px}
#section-header-event-1208864 .conclave-menu2017 #block-menu-menu-event-menu ul li a{ height:40px; line-height:40px; font-size:14px; }
#section-header-event-1208864 .event-menu.conclave-menu2017{ border-top:1px solid #fff;-webkit-box-shadow: 2px 5px 10px 0px rgba(176,176,176,0.9);
-moz-box-shadow: 2px 5px 10px 0px rgba(176,176,176,0.9);box-shadow: 2px 5px 10px 0px rgba(176,176,176,0.9); }
#section-header-event-1208864 #conclave-header{background:#ec1e25 url(https://instore-tosshub-com.s3.amazonaws.com/section-header/images/conclave-headerbg.jpg) no-repeat 0 bottom;overflow:hidden;position:relative}
#section-header-event-1208864 #conclave-header .conclave-logo{width:110px;float:left}
#section-header-event-1208864 #conclave-header .group-logo{width:84px;height:80px;position:absolute;right:0;top:75px;float:left}
#section-header-event-1208864 #conclave-header .conclave-event-details{width:calc(100% - 200px);margin:0 auto;float:left;position:relative}
#section-header-event-1208864 #conclave-header .conclave-event-details .center-content{width:90%;margin:60px auto 0;text-align:center}
#section-header-event-1208864 #conclave-header .conclave-event-details h3{color:#ee1c25;font-size:3.3rem;line-height:3.3rem;margin-bottom:15px}
#section-header-event-1208864 #conclave-header .conclave-event-details h3 span{background-color:#fff;display:inline-block;padding:0 10px}
#section-header-event-1208864 #conclave-header .conclave-event-details h4{color:#fff;font-size:2.5rem;line-height:2.5rem;font-weight:500;margin-bottom:15px}
#section-header-event-1208864 #conclave-header .conclave-event-details h6{color:#fff;font-size:1.2rem;line-height:1.3rem;font-weight:400}
@media screen and (max-width:1024px){
	#section-header-event-1208864 .topBanner { width:98%}	
	#section-header-event-1208864 #conclave-header .conclave-event-details h3 {font-size:2.9rem}
}
@media only screen and (max-width:768px){
#section-header-event-1208864 #conclave-header{ background-color:#ee1c25; background-position:0 bottom; }
#section-header-event-1208864 .topBanner { width:98%}
#section-header-event-1208864 #conclave-header .conclave-event-details { margin-top:17px}
#section-header-event-1208864 #conclave-header .conclave-event-details h3{font-size:2.3rem;line-height:2.3rem}
#section-header-event-1208864 #conclave-header .conclave-event-details h4{font-size:2rem;line-height:2rem}
#section-header-event-1208864 #conclave-header .conclave-event-details h6{font-size:1rem;line-height:1rem}}

@media only screen and (max-width:767px){
#section-header-event-1208864 #conclave-header .conclave-event-details .center-content{margin: 35px auto 0;}
#section-header-event-1208864 #conclave-header{height:160px}
#section-header-event-1208864 #conclave-header .conclave-event-details{width:calc(100% - 70px)}
#section-header-event-1208864 #conclave-header .conclave-event-details h3 span{padding:0 5px}
#section-header-event-1208864 #conclave-header .conclave-event-details h3{font-size:1rem;line-height:1rem;margin-bottom:10px}
#section-header-event-1208864 #conclave-header .conclave-event-details h4{font-size:1rem;line-height:1rem;margin-bottom:10px}
#section-header-event-1208864 #conclave-header .conclave-event-details h6{font-size:.9rem;line-height:1.1rem}
#section-header-event-1208864 #conclave-header .group-logo{display:none}
#section-header-event-1208864 #conclave-header .conclave-logo{width:70px}
#section-header-event-1208864 #conclave-header .conclave-logo img{width:100%}
#section-header-event-1208864 #conclave-header .conclave-logo {width: 70px}	
#section-header-event-1208864 #conclave-header .conclave-event-details h3 {font-size: 13px; line-height: 20px;margin-bottom: 10px;}
#section-header-event-1208864 #conclave-header .conclave-event-details {    margin-top: 8px;}
}

