/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/
/*heading used in Indiatoday site*/
/*Heading used in Indiatoday site Mobile version*/
/*Fonts used in Indiatoday site*/
/*Colors used in Indiatoday site*/
/*Background Colors used in Indiatoday site*/
/*Border Colors used in Indiatoday site*/
/*Text color in Indiatoday site*/
/*Background color in Indiatoday site*/
/*navigation font in Indiatoday site*/
/*Full radius in Indiatoday site*/
/*footer color in Indiatoday site*/
/*font family an font weight mixins*/
/*font size an font weight mixins*/
/*clear fix mixins*/
/*Box sizeing mixins*/
/*Center Block mixins*/
/*Float mixins*/
/*Display inline block mixins*/
/*Text align block mixins*/
/* Positional mixins */
/* Calculate-width function */
/* Tab Button mixins */
/* Tab Listing mixins */
/* Story Tag mixins */
/* List before icon */
/*mixin for transition animation*/
/*mixin for listing with image*/
/*mixin for pager*/
/*CSS For Search Page*/
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-keyword-wrapper {
  width: 100%;
  padding: 0;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-keyword-wrapper .form-text {
  font-size: 16px;
  width: 100%;
  height: 46px;
  box-shadow: 0 1px 5px -2px #b6b6b6 inset;
  background: #fefefe;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#fefefe, #f3f3f3);
  /* For */
  background: -o-linear-gradient(#fefefe, #f3f3f3);
  /* For Opera */
  background: -moz-linear-gradient(#fefefe, #f3f3f3);
  /* For Firefox */
  background: linear-gradient(#fefefe, #f3f3f3);
  /* Standard syntax */
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-tm-vid-4-names-wrapper, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-sm-field-itg-common-by-line-name-wrapper, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-bundle-name-wrapper, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-hash-wrapper {
  position: relative;
  padding-top: 13px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-tm-vid-4-names-wrapper > label, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-sm-field-itg-common-by-line-name-wrapper > label, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-bundle-name-wrapper > label, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-hash-wrapper > label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding-right: 20px;
  position: relative;
  text-transform: uppercase;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-tm-vid-4-names-wrapper > label:after, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-sm-field-itg-common-by-line-name-wrapper > label:after, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-bundle-name-wrapper > label:after, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-hash-wrapper > label:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border: 5px 4px;
  border-color: #b3b3b3 transparent transparent transparent;
  position: absolute;
  right: 8px;
  top: 8px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-tm-vid-4-names-wrapper .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-sm-field-itg-common-by-line-name-wrapper .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-bundle-name-wrapper .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-hash-wrapper .views-widget {
  display: none;
  position: absolute;
  left: 0;
  top: 31px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-tm-vid-4-names-wrapper:hover .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-sm-field-itg-common-by-line-name-wrapper:hover .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-bundle-name-wrapper:hover .views-widget, [id="views-exposed-form-front-end-global-search-page"] .views-exposed-form #edit-hash-wrapper:hover .views-widget {
  display: block;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .form-select {
  height: 95px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .views-exposed-widget {
  padding-right: 40px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .views-exposed-widget label {
  font-weight: normal;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .views-exposed-widget label + select {
  height: auto;
  margin-bottom: 10px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .views-exposed-widget input[type="text"] {
  width: 120px;
}
[id="views-exposed-form-front-end-global-search-page"] .views-exposed-form .views-exposed-widget .caln .form-item {
  margin-bottom: 5px;
  margin-right: 0;
}

.region-top {
  background-color: #171717;
  padding: 20px 0;
  margin-top: -30px;
}

#block-views-photo-landing-slider-block {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
#block-views-photo-landing-slider-block .slick-slider.counterslide {
  background: transparent;
  padding: 0;
}
#block-views-photo-landing-slider-block .slick-slider {
  padding: 10px;
  background: #000;
  border: none;
}
#block-views-photo-landing-slider-block .slick-slider .slick-prev {
  font: normal normal normal 14px/1 FontAwesome;
  cursor: pointer;
  width: 50px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 90px 90px 0;
  left: 10px;
  font-size: 0;
  position: absolute;
  top: 230px;
  z-index: 9;
  border: none;
}
#block-views-photo-landing-slider-block .slick-slider .slick-prev:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#block-views-photo-landing-slider-block .slick-slider .slick-prev:before {
  content: '\f053';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  padding-left: 0;
  left: 0;
  position: absolute;
  top: 38px;
}
#block-views-photo-landing-slider-block .slick-slider .slick-next {
  font: normal normal normal 14px/1 FontAwesome;
  cursor: pointer;
  width: 50px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 90px 0px 0px 90px;
  right: 10px;
  font-size: 0;
  position: absolute;
  top: 230px;
  z-index: 9;
  border: none;
}
#block-views-photo-landing-slider-block .slick-slider .slick-next:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#block-views-photo-landing-slider-block .slick-slider .slick-next:before {
  content: '\f054';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  padding-left: 0;
  right: 0;
  position: absolute;
  top: 38px;
}
#block-views-photo-landing-slider-block .slick-slider ul.slick-dots li {
  display: inline-block;
  padding: 10px 6px;
}
#block-views-photo-landing-slider-block .slick-slider ul.slick-dots li button {
  border: none;
  cursor: pointer;
}
#block-views-photo-landing-slider-block .slick-thumbs .slick-thumbs-slider {
  padding: 0 30px 10px;
}
#block-views-photo-landing-slider-block .slick-thumbs .slick-thumbs-slider li {
  padding: 0 5px;
  cursor: pointer;
}
#block-views-photo-landing-slider-block .other-details-main {
  height: 645px;
  background: #111111;
  padding: 0px;
  color: #aeaeae;
}
#block-views-photo-landing-slider-block .other-details-main ul {
  list-style: none;
}
#block-views-photo-landing-slider-block .other-details-main .counter {
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #222222;
  padding: 15px 20px;
  font-family: 'Roboto', sans-serif;
}
#block-views-photo-landing-slider-block .other-details-main .caption {
  padding: 0 20px;
  min-height: 150px;
}
#block-views-photo-landing-slider-block .other-details-main .counterslide .slick-prev, #block-views-photo-landing-slider-block .other-details-main .counterslide .slick-next {
  cursor: pointer;
  width: inherit;
  height: inherit;
  background-color: #111;
  border-radius: inherit;
  right: 87px;
  font-size: 12px;
  position: absolute;
  top: 18px;
  z-index: 9;
  border: none;
  color: #c1c1c1;
  text-transform: uppercase;
  left: auto;
  font-family: 'Roboto', sans-serif;
}
#block-views-photo-landing-slider-block .other-details-main .counterslide .slick-prev:hover, #block-views-photo-landing-slider-block .other-details-main .counterslide .slick-next:hover {
  color: #fff;
}
#block-views-photo-landing-slider-block .other-details-main .counterslide .slick-prev:before, #block-views-photo-landing-slider-block .other-details-main .counterslide .slick-next:before {
  display: none;
}
#block-views-photo-landing-slider-block .other-details-main .counterslide .slick-next {
  right: 25px;
  border-left: 1px solid #c1c1c1;
  padding-left: 15px;
}
#block-views-photo-landing-slider-block .other-details-main .social-icon {
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  margin-top: 40px;
}
#block-views-photo-landing-slider-block .other-details-main .social-icon ul {
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#block-views-photo-landing-slider-block .other-details-main .social-icon ul li {
  float: left;
}
#block-views-photo-landing-slider-block .other-details-main .social-icon ul li a {
  font-size: 22px;
  color: #c0c0c0;
  padding: 0 17px;
  line-height: 55px;
  display: block;
}
#block-views-photo-landing-slider-block .other-details-main .social-icon ul li a:hover {
  background: #222222;
}
#block-views-photo-landing-slider-block .other-details-main .photo-ad {
  width: 300px;
  height: 250px;
  background: #000;
  margin: 30px auto 30px auto;
}

.itg-h450-section .widget-wrapper {
  height: 100%;
  padding: 10px;
  background-color: #f3f3f3;
}

.itg-h321-section .dont_miss {
  height: 100%;
  padding: 5px 20px 8px;
  background-color: #f3f3f3;
}

.widget-wrapper {
  height: 100%;
  overflow: hidden;
}
.widget-wrapper .data-holder {
  height: 100%;
}
.widget-wrapper .data-holder .block-itg-widget {
  height: 100%;
}
.widget-wrapper .data-holder .block-itg-widget > div, .widget-wrapper .data-holder .block-itg-widget > ul {
  height: 100%;
}
.widget-wrapper.top_stories_ordering, .widget-wrapper.most_popular {
  border: 1px solid #ddd;
}
.widget-wrapper.top_stories_ordering .data-holder .block-itg-widget, .widget-wrapper.most_popular .data-holder .block-itg-widget {
  height: calc(100% - 22px);
  overflow: hidden;
}
.widget-wrapper.top_stories_ordering .data-holder .block-itg-widget .itg-listing, .widget-wrapper.most_popular .data-holder .block-itg-widget .itg-listing {
  border: none;
  height: auto;
}

.widget-title {
  display: inline-block;
  vertical-align: top;
}

.sidebar-section-photo .itg-widget {
  margin: 35px 0;
  position: relative;
}

.itg-region {
  margin: 0 auto;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.itg-region ul {
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  position: relative;
}
.itg-region ul li {
  display: inline-block;
  vertical-align: top;
  border-right: 0;
  text-transform: uppercase;
}
.itg-region ul li a {
  display: block;
  margin: 0;
  padding: 10px 15px 3px;
  border-bottom: 3px solid #fff;
  font-family: Roboto;
  font-weight: 500;
  color: #969696;
}
.itg-region ul li a:hover, .itg-region ul li a.menu-active {
  border-bottom: 3px solid #d00b26;
  color: #b50a0a;
}
.itg-region .slide-icon {
  position: absolute;
  top: 0;
  background: #fff;
  line-height: 35px;
  width: 15px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  z-index: 9;
  display: none;
}
.itg-region .slide-icon.scroll-arrow-right {
  left: 0;
}
.itg-region .slide-icon.scroll-arrow-left {
  right: 0;
}

.view-photo-list-of-category .view-content {
  margin: 0 -15px;
}
.view-photo-list-of-category .view-content .photo-list {
  list-style: none;
  overflow: hidden;
}
.view-photo-list-of-category .view-content .photo-list li {
  width: 50%;
  padding: 15px;
  float: left;
}
.view-photo-list-of-category .view-content .photo-list li .tile figure {
  width: 170px;
  height: 127px;
  overflow: hidden;
  position: relative;
}
.view-photo-list-of-category .view-content .photo-list li .tile figure figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  font-family: Roboto;
}
.view-photo-list-of-category .view-content .photo-list li .tile figure figcaption .fa {
  font-size: 14px;
  margin-right: 5px;
}
.view-photo-list-of-category .view-content .photo-list li .tile .posted-on {
  display: block;
  font-size: 12px;
  color: #b1b1b1;
  padding: 8px 0 5px;
  font-family: "Roboto Slab";
}
.view-photo-list-of-category .view-content .photo-list li .tile a {
  color: #494949;
  font-family: "Roboto Slab";
}

.region-content {
  margin: 20px 0;
}

.featured-news .featured-post h3 {
  max-height: 96px;
  overflow: hidden;
}

.itg-widget .tab-buttons span {
  padding: 0 3px;
}

.itg-widget.trending-list .tab-buttons span {
  font-size: 15px;
}

.itg-layout-container .ad-widget {
  border: 1px solid #ddd;
  height: 321px;
  padding: 37px;
}
.itg-layout-container .ad-widget .sidebar-ad {
  background: #ddd;
  height: 100%;
}

.itg-layout-container .top-colum-3 .itg-widget-parent .droppable.sidebar-ad {
  height: 100%;
}

.itg-layout-container .top-colum-3 .itg-widget-parent .droppable, .itg-layout-container .itg-top-section .top-colum-2 .droppable, .itg-layout-container .itg-top-section .top-colum-1 .droppable {
  margin-bottom: 50px;
}

#block-block-1 {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-top: none;
  height: 321px;
  padding: 37px;
}
#block-block-1 .ad-display-block {
  height: 100%;
  background-color: #ddd;
}
#block-block-1 .ad-display-block p {
  display: none;
}

/*$test : .carousel .slides .slideItem;
$debug: "width:645px"; // TODO: move to _settings.scss


    @if ($debug) { // visualizing layout internals
        display: block;
    }*/
/* CSS FOR FRONT USER PERSONALIZATION */
.personalized-wrapper {
  background-color: #eaebed;
}

.personalized-user-area {
  display: table;
  max-width: 100%;
  height: 240px;
  margin: 0 auto;
  width: 800px;
}

.personalized-user {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  width: 260px;
}
.personalized-user .user-pic {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d3d6db;
}
.personalized-user .user-name {
  color: #1a3c8d;
  font: 500 27px/27px Roboto;
  text-transform: uppercase;
  padding: 12px 0 2px;
}
.personalized-user .logout-link a {
  color: #777;
  font: 400 16px/18px Roboto;
}

.personalized-user-info {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
}
.personalized-user-info span {
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
}
.personalized-user-info span .fa {
  font-size: 35px;
  color: #8d8d8d;
}
.personalized-user-info span dfn {
  font-style: normal;
  display: block;
  font-size: 16px;
  color: #323232;
  margin-top: 10px;
}

.block-itg-personalization {
  text-align: center;
}
.block-itg-personalization .personal-menu-tab, .block-itg-personalization .saved-item-tab {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.personal-menu-tab {
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  position: relative;
}
.personal-menu-tab li {
  border-left: 1px solid #c6c6c6;
  float: left;
}
.personal-menu-tab li:first-child {
  border: none;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.personal-menu-tab li:last-child {
  overflow: hidden;
  border-radius: 0 5px 5px 0;
}
.personal-menu-tab li a {
  display: block;
  color: #4f4f4f;
  font: 300 18px/18px Roboto;
  padding: 10px 8px;
  background-color: #f6f6f7;
}
.personal-menu-tab li a:before {
  display: inline-block;
  margin-right: 5px;
  color: #8d8d8d;
  font-family: 'FontAwesome';
}
.personal-menu-tab li a.active, .personal-menu-tab li a:hover {
  background-color: #fff;
}
.personal-menu-tab li.saved-items a:before {
  content: '\f02e';
}
.personal-menu-tab li.my-content a:before {
  content: '\f064';
}
.personal-menu-tab li.my-Preferences a:before {
  content: '\f013';
}
.personal-menu-tab li.following a:before {
  content: '\f007';
}
.personal-menu-tab li.my-credits a:before {
  content: '\f1c0';
}
.personal-menu-tab li.edit-profile a:before {
  content: '\f040';
}
.personal-menu-tab li .ajax-progress-throbber {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 30px;
}

.saved-item-tab {
  margin: 60px 0 30px;
  position: relative;
}
.saved-item-tab li {
  float: left;
}
.saved-item-tab li a {
  padding: 10px 30px;
  background-color: #f1f1f1;
  border-top: 3px solid #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #515151;
  font: 400 15px/18px Roboto;
}
.saved-item-tab li a.active, .saved-item-tab li a:hover {
  border-top-color: #bb3330;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  color: #b70c09;
}
.saved-item-tab li:first-child a {
  border-left: 1px solid #f1f1f1;
}
.saved-item-tab li:last-child a {
  border-right: 1px solid #f1f1f1;
}
.saved-item-tab li .ajax-progress-throbber {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 100px;
}

.personal-list {
  list-style: none;
}
.personal-list > li {
  padding-bottom: 30px;
  padding-top: 30px;
}
.personal-list > li .personal-details {
  position: relative;
}
.personal-list > li .personal-details .personal-pic {
  overflow: hidden;
  height: 210px;
}
.personal-list > li .personal-details .personal-pic img {
  width: 100%;
}
.personal-list > li .personal-details .personal-caption {
  position: absolute;
  top: 0;
  left: 0;
  background: #a00606;
  height: 22px;
  line-height: 22px;
  padding: 0 7px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto",sans-serif;
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.personal-list > li .personal-details .personal-action {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.personal-list > li .personal-details .personal-action .personal-share, .personal-list > li .personal-details .personal-action .flag-wrapper {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  border: 1px solid #323232;
  border-radius: 50%;
  text-align: center;
}
.personal-list > li .personal-details .personal-action .personal-share .fa, .personal-list > li .personal-details .personal-action .flag-wrapper .fa {
  font-size: 22px;
  line-height: 38px;
}
.personal-list > li .personal-details .personal-action .flag-wrapper {
  left: 10px;
}
.personal-list > li .personal-details .personal-action .flag-wrapper a.flag {
  display: block;
  width: 40px;
  height: 40px;
}
.personal-list > li .personal-details .personal-action .flag-wrapper a.flag:after {
  content: '\f00d';
  display: inline-block;
  font: 22px/38px FontAwesome;
}
.personal-list > li .personal-details .personal-action .flag-wrapper .flag-throbber {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -25px;
}
.personal-list > li .personal-details .personal-action .flag-wrapper .flag-message {
  top: -25px;
}
.personal-list > li > a {
  display: block;
  height: 65px;
  overflow: hidden;
  font-size: 20px;
  line-height: 24px;
  color: #323232;
  padding-top: 15px;
}
.personal-list > li:hover .personal-action {
  display: block;
}

.view-personalization-saved-content .views-table {
  width: 100%;
  max-width: 860px;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0 auto;
}
.view-personalization-saved-content .views-table th {
  background-color: #1a3c8d;
  font-weight: 500;
  color: #fff;
  border-top: 1px solid #e0e0e0;
}
.view-personalization-saved-content .views-table th:first-child {
  border-radius: 5px 0 0 0;
  border-left: 1px solid #e0e0e0;
  min-width: 300px;
  text-align: left;
  text-indent: 40px;
}
.view-personalization-saved-content .views-table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #e0e0e0;
}
.view-personalization-saved-content .views-table td {
  border: 1px solid #e0e0e0;
  text-align: center;
}
.view-personalization-saved-content .views-table td:first-child {
  text-align: left;
}
.view-personalization-saved-content .views-table th, .view-personalization-saved-content .views-table td {
  padding: 10px;
  max-width: 300px;
  font: 300 16px/22px Roboto;
  min-width: 120px;
}
.view-personalization-saved-content .item-list ul.pager {
  margin: 10px 0;
  list-style-type: none;
  text-align: center;
}
.view-personalization-saved-content .item-list ul.pager li {
  display: inline-block;
  vertical-align: top;
}
.view-personalization-saved-content .item-list ul.pager li.pager-current {
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: #337ab7;
  color: #fff;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
}
.view-personalization-saved-content .item-list ul.pager li.pager-item a {
  display: block;
  height: 25px;
  width: 25px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
  color: #323232;
  font-family: "Roboto", sans-serif;
}
.view-personalization-saved-content .item-list ul.pager li.pager-item a:hover {
  background-color: #337ab7;
  color: #fff;
  border-radius: 50%;
}
.view-personalization-saved-content .item-list ul.pager li.pager-next a, .view-personalization-saved-content .item-list ul.pager li.pager-last a, .view-personalization-saved-content .item-list ul.pager li.pager-first a, .view-personalization-saved-content .item-list ul.pager li.pager-previous a {
  color: #323232;
  line-height: 25px;
}
.view-personalization-saved-content .item-list ul.pager li.pager-next.pager-first.first, .view-personalization-saved-content .item-list ul.pager li.pager-next.pager-last.last, .view-personalization-saved-content .item-list ul.pager li.pager-last.pager-first.first, .view-personalization-saved-content .item-list ul.pager li.pager-last.pager-last.last, .view-personalization-saved-content .item-list ul.pager li.pager-first.pager-first.first, .view-personalization-saved-content .item-list ul.pager li.pager-first.pager-last.last, .view-personalization-saved-content .item-list ul.pager li.pager-previous.pager-first.first, .view-personalization-saved-content .item-list ul.pager li.pager-previous.pager-last.last {
  display: none;
}

#content #block-itg-personalization-user-my-content {
  margin: 0 auto;
  max-width: 720px;
  text-align: left;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-name-field-ugc-ctype {
  text-align: center;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-name-field-ugc-ctype .form-select {
  width: 450px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px 0 #ccc;
  color: #bababa;
  font: 300 16px/normal Roboto;
  text-align: center;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textfield {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textfield label {
  width: 150px;
  padding: 0 20px;
  font: 300 14px/36px Roboto;
  background-color: #fbfbfb;
  border-right: 1px solid #e0e0e0;
  z-index: 99;
  position: relative;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textfield .form-text {
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 160px;
  z-index: 9;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textarea {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textarea label {
  width: 150px;
  height: 125px;
  padding: 0 20px;
  font: 300 14px/36px Roboto;
  background-color: #fbfbfb;
  border-right: 1px solid #e0e0e0;
  z-index: 99;
  position: relative;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textarea .form-textarea-wrapper {
  padding-left: 150px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-type-textarea .form-textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding: 10px;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file label, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file label {
  width: 150px;
  height: 125px;
  padding: 0 20px;
  font: 300 14px/36px Roboto;
  background-color: #fbfbfb;
  border-right: 1px solid #e0e0e0;
  z-index: 99;
  position: relative;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file .form-managed-file, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file .form-managed-file {
  width: 100%;
  padding: 10px 10px 10px 160px;
  position: absolute;
  left: 0;
  top: 0;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file .form-managed-file .form-submit[value="Upload"], #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file .form-managed-file .form-submit[value="Upload"] {
  width: 100px;
  background-color: #ededed;
  border: 1px solid #bababa;
  height: 28px;
  float: right;
  cursor: pointer;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file .form-managed-file .ajax-progress-throbber, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file .form-managed-file .ajax-progress-throbber {
  display: none;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image .form-type-managed-file div.description, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file .form-type-managed-file div.description {
  margin-top: 40px;
  padding-left: 160px;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image div.image-widget-data, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file div.image-widget-data {
  float: none;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image div.image-widget-data .form-type-textfield, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file div.image-widget-data .form-type-textfield {
  max-width: 200px;
  border: none;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image div.image-widget-data .form-type-textfield .form-text, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file div.image-widget-data .form-type-textfield .form-text {
  border: 1px solid #ddd;
  height: 34px;
  padding: 5px;
  position: static;
  width: 100%;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image div.image-widget-data .form-type-textfield div.description, #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file div.image-widget-data .form-type-textfield div.description {
  display: none;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-image div.image-widget-data .form-submit[value="Remove"], #content #block-itg-personalization-user-my-content .node-ugc-form .form-field-type-file div.image-widget-data .form-submit[value="Remove"] {
  color: #ee4d4d;
  font-size: 13px;
  left: 550px;
  position: absolute;
  top: 16px;
  cursor: pointer;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-actions {
  padding: 20px 0;
  text-align: center;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-actions .form-submit {
  background: url(../images/btn-blue.png) no-repeat;
  height: 41px;
  border: none;
  width: 170px;
  font: 300 20px/28px Roboto;
  color: #fff;
}
#content #block-itg-personalization-user-my-content .node-ugc-form .form-actions a.button {
  background: url(../images/btn-blue.png) no-repeat;
  height: 41px;
  border: none;
  width: 170px;
  font: 300 20px/41px Roboto;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

/* End of Personalization CSS */
