/*---------------------------- ITG CSS -----------------------------------*/
/* Global CSS */
/* line 4, ../sass/styles.scss */
body {
  font: 400 14px/18px 'Roboto';
  color: #333;
}

/* line 8, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-weight: 500;
}

/* line 9, ../sass/styles.scss */
.mr-0, *, #block-formblock-ask-an-expert .form-item .form-item {
  margin: 0;
}

/* line 12, ../sass/styles.scss */
.mt-10, .page-user form .form-type-password, .page-user form .form-actions, #block-formblock-ask-an-expert .form-submit, .question-heading {
  margin-top: 10px;
}

/* line 15, ../sass/styles.scss */
.ml-10, #block-formblock-ask-an-expert .form-field-name-field-disclose-your-identity .form-checkboxes {
  margin-left: 10px;
}

/* line 18, ../sass/styles.scss */
.mb-10, .page-user form h2, #block-formblock-ask-an-expert h2, #block-formblock-ask-an-expert .form-item, .question-heading, .answer-container, .answer-container .form-type-textfield {
  margin-bottom: 10px;
}

/* line 21, ../sass/styles.scss */
.mb-5, .answer-heading, .answer-container .form-type-checkbox, .answer-container .form-type-radio {
  margin-bottom: 5px;
}

/* line 24, ../sass/styles.scss */
.pd-0, * {
  padding: 0;
}

/* line 27, ../sass/styles.scss */
.pd-10, #block-formblock-ask-an-expert .captcha {
  padding: 10px;
}

/* line 30, ../sass/styles.scss */
.pd-30, .page-user .login-wrapper {
  padding: 30px;
}

/* line 33, ../sass/styles.scss */
.pdlr-30, .tabs-primary li a {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 37, ../sass/styles.scss */
.pdtb-10, .header, .tabs-primary li a, .view-ask-an-expert .views-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 41, ../sass/styles.scss */
.pdb-10, .success-message, .messages--status, #block-formblock-ask-an-expert h2 {
  padding-bottom: 10px;
}

/* line 44, ../sass/styles.scss */
.pdr-10 {
  padding-right: 10px;
}

/* line 47, ../sass/styles.scss */
.no-bullet, .tabs-primary {
  list-style: none;
}

/* line 50, ../sass/styles.scss */
.no-underline, .tabs-primary li a {
  text-decoration: none;
}

/* line 53, ../sass/styles.scss */
.db, .tabs-primary li a, .page-user form label, .view-ask-an-expert .field-content {
  display: block;
}

/* line 56, ../sass/styles.scss */
.dib, .btn, .page-user form .form-submit, #block-formblock-ask-an-expert .form-submit, .question-container .form-submit, #content .node-form .form-actions .form-submit, #page, .tabs-primary, .page-user form .forgot-link, #block-formblock-ask-an-expert .form-field-name-field-disclose-your-identity .form-checkboxes, .node-ask-an-expert .field, .view-ask-an-expert .views-row, .answer-container, .answer-container .form-type-textfield label, .answer-container .form-type-checkboxes > label, .answer-container .form-type-checkboxes > .rating, .answer-container .form-type-checkboxes > .rating .form-type-checkbox {
  display: inline-block;
}

/* line 59, ../sass/styles.scss */
.vmid, .page-user form .forgot-link, .answer-container .form-type-textfield label, .answer-container .form-type-checkboxes > label, .answer-container .form-type-checkboxes > .rating {
  vertical-align: middle;
}

/* line 62, ../sass/styles.scss */
.vtop, .btn, .page-user form .form-submit, #block-formblock-ask-an-expert .form-submit, .question-container .form-submit, #content .node-form .form-actions .form-submit, .tabs-primary, #block-formblock-ask-an-expert .form-field-name-field-disclose-your-identity .form-checkboxes, .node-ask-an-expert .field, .view-ask-an-expert .views-row {
  vertical-align: top;
}

/* line 65, ../sass/styles.scss */
.full, #page, #block-formblock-ask-an-expert .form-text, .node-ask-an-expert .field, .view-ask-an-expert .views-row, .answer-container {
  width: 100%;
}

/* line 68, ../sass/styles.scss */
.fleft, .tabs-primary li, .node-ask-an-expert .field-label, .view-ask-an-expert .views-label, .answer-container .form-type-checkboxes > .rating .form-type-checkbox input[type="checkbox"] {
  float: left;
}

/* line 71, ../sass/styles.scss */
.fright {
  float: right;
}

/* line 74, ../sass/styles.scss */
.pos-rel, .answer-container .form-type-checkboxes > .rating .form-type-checkbox, .answer-container .form-type-checkboxes > .rating .form-type-checkbox input[type="checkbox"] {
  position: relative;
}

/* line 77, ../sass/styles.scss */
.btn, .page-user form .form-submit, #block-formblock-ask-an-expert .form-submit, .question-container .form-submit, #content .node-form .form-actions .form-submit {
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
}
/* line 90, ../sass/styles.scss */
.btn:hover, .page-user form .form-submit:hover, #block-formblock-ask-an-expert .form-submit:hover, .question-container .form-submit:hover, #content .node-form .form-actions .form-submit:hover {
  background-color: #286090;
  border-color: #204d74;
  color: #fff;
}

/* line 97, ../sass/styles.scss */
.success-message, .messages--status {
  color: #009c00;
  font-size: 13px;
}

/* line 103, ../sass/styles.scss */
input[type="text"], select, input[type="password"] {
  border: 1px solid #ddd;
  height: 32px;
  line-height: 30px;
  padding: 5px;
  color: #333;
}

/* line 110, ../sass/styles.scss */
.form-textarea {
  border: 1px solid #ddd;
  padding: 5px;
  color: #333;
  max-height: 128px;
  resize: none;
}

/* line 117, ../sass/styles.scss */
.grippie {
  display: none;
}

/* line 120, ../sass/styles.scss */
.form-required, .error {
  color: red;
}

/* line 123, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 128, ../sass/styles.scss */
#page {
  padding-bottom: 30px;
}

/* line 129, ../sass/styles.scss */
.header {
  box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* line 138, ../sass/styles.scss */
.tabs-primary li {
  margin-right: 1px;
}
/* line 141, ../sass/styles.scss */
.tabs-primary li a {
  background-color: #ddd;
  font-weight: bold;
  color: #333;
  transition: all 300ms;
  font-weight: 400;
}
/* line 151, ../sass/styles.scss */
.tabs-primary li a:hover, .tabs-primary li a.active {
  background-color: #FF2B36;
  color: #fff;
}

/* line 159, ../sass/styles.scss */
.page-user form {
  max-width: 440px;
  margin: 0 auto;
}
/* line 161, ../sass/styles.scss */
.page-user form h2 {
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}
/* line 167, ../sass/styles.scss */
.page-user form label {
  font-size: 16px;
  padding-bottom: 5px;
}
/* line 175, ../sass/styles.scss */
.page-user form .forgot-link {
  margin: 7px;
  color: #333;
}
/* line 184, ../sass/styles.scss */
.page-user form .form-text {
  width: 100%;
}
/* line 185, ../sass/styles.scss */
.page-user form div.description {
  font-size: 12px;
  color: #8d8d8d;
}
/* line 190, ../sass/styles.scss */
.page-user .login-wrapper {
  border: 1px solid #ddd;
  background-color: #eee;
}
/* line 195, ../sass/styles.scss */
.page-user .messages--status, .page-user .messages--error {
  max-width: 440px;
  margin: 0 auto;
}
/* line 200, ../sass/styles.scss */
.page-user .messages--error .messages__list {
  padding-left: 15px;
}

/* line 205, ../sass/styles.scss */
.login {
  line-height: 58px;
  font-size: 18px;
}
/* line 208, ../sass/styles.scss */
.login a {
  color: #333;
  text-decoration: none;
}
/* line 211, ../sass/styles.scss */
.login a:hover {
  text-decoration: underline;
}

/* line 216, ../sass/styles.scss */
#page-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* line 225, ../sass/styles.scss */
#block-formblock-ask-an-expert h2 {
  border-bottom: 1px solid #ddd;
}
/* line 232, ../sass/styles.scss */
#block-formblock-ask-an-expert .captcha div, #block-formblock-ask-an-expert .captcha iframe {
  max-width: 270px;
}

/* line 242, ../sass/styles.scss */
.node-ask-an-expert .field {
  padding-bottom: 5px;
}
/* line 243, ../sass/styles.scss */
.node-ask-an-expert .field-label {
  width: 80px;
}
/* line 244, ../sass/styles.scss */
.node-ask-an-expert .field-items {
  overflow: hidden;
  float: none;
}

/* line 247, ../sass/styles.scss */
.view-ask-an-expert .views-row {
  border-top: 1px solid #ddd;
}
/* line 249, ../sass/styles.scss */
.view-ask-an-expert .views-row:first-child {
  border: none;
}
/* line 251, ../sass/styles.scss */
.view-ask-an-expert .views-field {
  padding-bottom: 5px;
}
/* line 252, ../sass/styles.scss */
.view-ask-an-expert .views-label {
  width: 80px;
  font-weight: 600;
}
/* line 253, ../sass/styles.scss */
.view-ask-an-expert .field-content {
  overflow: hidden;
  float: none;
}
/* line 255, ../sass/styles.scss */
.view-ask-an-expert .field-content a {
  color: #333;
}

/* SCSS For Survey Page */
/* line 261, ../sass/styles.scss */
.page-survey .ajax-progress-throbber .message {
  display: none;
}

/* line 264, ../sass/styles.scss */
.ajax-loader {
  height: 80px;
  text-align: center;
}

/* line 268, ../sass/styles.scss */
.question-container {
  display: none;
}
/* line 270, ../sass/styles.scss */
.question-container .form-submit {
  margin-right: 5px;
}
/* line 274, ../sass/styles.scss */
.question-container#question-container-0 {
  display: block;
}

/* line 278, ../sass/styles.scss */
.question-heading {
  font-size: 18px;
}

/* line 283, ../sass/styles.scss */
.answer-heading {
  font-size: 14px;
}

/* line 296, ../sass/styles.scss */
.answer-container .form-type-textfield label {
  width: 200px;
}
/* line 299, ../sass/styles.scss */
.answer-container .form-type-checkboxes > label {
  width: 200px;
}
/* line 304, ../sass/styles.scss */
.answer-container .form-type-checkboxes > .rating .form-type-checkbox:before {
  content: '\f005';
  color: #ddd;
  width: 18px;
  height: 18px;
  text-align: center;
  font: normal normal normal 18px/18px FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
/* line 307, ../sass/styles.scss */
.answer-container .form-type-checkboxes > .rating .form-type-checkbox.rating-hover:before, .answer-container .form-type-checkboxes > .rating .form-type-checkbox.rated-div:before {
  color: #f6b800;
}
/* line 310, ../sass/styles.scss */
.answer-container .form-type-checkboxes > .rating .form-type-checkbox input[type="checkbox"] {
  width: 18px;
  height: 18px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

/* line 329, ../sass/styles.scss */
#content .node-form .form-type-textfield > label,
#content .node-form .form-type-textarea > label,
#content .node-form .form-type-select > label,
#content .node-form .form-type-autocomplete-deluxe > label,
#content .node-form .form-type-managed-file > label,
#content .node-form .form-type-radios > label,
#content .node-form .date-combo > label,
#content .node-form .form-type-hierarchical-select > label,
#content .node-form .form-type-checkboxes > label {
  width: 220px;
  float: left;
  padding-right: 20px;
}
/* line 334, ../sass/styles.scss */
#content .node-form .form-type-textfield > label + div,
#content .node-form .form-type-textarea > label + div,
#content .node-form .form-type-select > label + div,
#content .node-form .form-type-autocomplete-deluxe > label + div,
#content .node-form .form-type-managed-file > label + div,
#content .node-form .form-type-radios > label + div,
#content .node-form .date-combo > label + div,
#content .node-form .form-type-hierarchical-select > label + div,
#content .node-form .form-type-checkboxes > label + div {
  padding-left: 220px;
}
/* line 338, ../sass/styles.scss */
#content .node-form .form-item {
  margin: 30px 0;
}
/* line 340, ../sass/styles.scss */
#content .node-form .form-item .form-item {
  margin: 0;
}
/* line 342, ../sass/styles.scss */
#content .node-form .form-text, #content .node-form .form-textarea {
  width: 400px;
  max-width: 100%;
}
/* line 346, ../sass/styles.scss */
#content .node-form .form-actions {
  padding-left: 220px;
}
