@font-face{font-family:'WebRupee';src:url('/staticpages/main/font/WebRupee.V2.0.eot');src:local('WebRupee'), url('/staticpages/main/font/WebRupee.V2.0.ttf') format('truetype'), url('/staticpages/main/font/WebRupee.V2.0.woff') format('woff'), url('WebRupee.V2.0.svg') format('svg');font-weight:normal;font-style:normal;}
.rupee, .breakbott .rupee, .breakbott .rupee span{font-family:'WebRupee';}
.breakbott .rupee, .breakbott .rupee span{font-size:14px;}
body, html{font-size:100%;height:100%;margin:0;padding:0;}
body{background-color:#e5e5e5 !important;background-image:none;margin:0;padding:0;color:rgb(119, 119, 119);font-family:'Lato',Calibri,Arial,sans-serif;}
.right{float:right;}
.lft{float:left;}
a{outline:medium none;text-decoration:none;}
#wapper{margin:0 auto 0px;overflow:hidden;width:1000px;}
#wapper1{margin:0 auto -900px;overflow:hidden;width:1000px;}
.itgd_links{background-color:#D8D8D8 !important;color:#7a7a7a;font:bold 12px/15px roboto;margin:0;padding:0.3%;text-align:center;display:flex;border-bottom:1px solid #fff;}
.redborder{border-top:1px solid #C7C7C7;}
.itgd_links a{color:#7a7a7a;text-decoration:none;}
.itgd_links a:hover{color:#000;text-decoration:none;}
.itgd_links ul{margin:0 auto;padding:0;width:1003px;}
.itgd_links ul li{float:left;padding:0 9px;list-style:none;}
.clr{clear:both}
.itgd_links ul li.last{border-right:none;}
nav{background-color:#000000;color:#FFFFFF;font:bold 15px arial;margin:0 auto 20px;text-align:center;display:block;height:41px;}
nav ul{margin:0 auto;padding:0;width:1000px;position:relative}
nav ul li{list-style:none;float:left;background-color:#000;padding:5px 10px;text-transform:uppercase;z-index:2147483647;font-size:15px;}
nav ul li:hover,nav ul li.active{background-color:#fff;color:#d71920;cursor:pointer;}
nav ul li h2 {font-family: roboto !important;font-size: 14px;font-weight: 500;line-height: 16px;margin: 0;padding: 0;}
.nav ul{margin:0 auto;padding:0;}
.nav ul li{list-style:none;float:left;text-transform:uppercase;padding:13px 0px!Important;}
.nav ul li a{padding:0px 6px!Important;}
.nav ul li:hover,nav ul li.active{background-color:#fff;color:#d71920;cursor:pointer;}
#search-saction{background:#bbbbbb;width:98.5%;padding:10px;display:none;position:relative;z-index:99;}
.search-inner{width:530px;margin:0 auto;height:34px;background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -132px -47px #FFFFFF; overflow:hidden;}
.search-inner .input-box{border:medium none;float:left;padding:3px;height:28px;line-height:32px;margin-left:40px;width:390px;-webkit-border-radius:0px;-webkit-appearance:none;}
.search-inner .submit-btn{float:right;margin-right:-3px;background:#d80017;color:#fff;line-height:34px;padding:0px 10px;border:none;text-transform:uppercase;height:34px;font:bold 16px/15px roboto;-webkit-border-radius:0px;-webkit-appearance:none;}
header{margin:0 auto;text-align:left;width:1000px;}
.header-tag{margin:0 auto;text-align:left;padding:1% 0;width:1000px;}
.logoit{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -10px -154px transparent;height:70px;width:329px;text-indent:-9999px;}
nav h1{padding:0px;margin:0px;font:bold 15px arial;}
h1,h2,h3,h4,h5,h6,ul,li{margin:0;padding:0;}
#ad{padding:10px 0;}
.ad{color:#8C8C8C;float:right;font:11px Tahoma;text-align:center;}
.box{float:left;margin-bottom:0;width:100%;position:relative;height:336px;overflow:hidden;}
.boxcont{background-color:#FFFFFF;box-shadow:2px 2px 10px 2px #CCCCCC;float:left;margin:0 0 7%;min-height:inherit !important;width:100%;}
.noshadow{background-color:#333333;box-shadow:none;color:#CCCCCC;}
.images{width:100%;height:auto;}
.blkbg{background-color:#fff;color:#666;}
.innerbox{float:left;padding:4% 4% 4%;}
.box{color:#000000;font:700 18px/22px Roboto,sans-serif;}
.box a{color:#000000;text-decoration:none;}
.box a:hover{color:#5e5e5e;text-decoration:none;}
.box p{color:#5e5e5e;font:16px Georgia;margin-bottom:0;margin-top:10px;}
.innerbox p a{color:#5e5e5e;text-decoration:none;}
.innerbox p a:hover{color:#01cfff;text-decoration:none;}
.posrel{position:relative;}
.posrel h3{position:absolute;padding:5px;bottom:0;font:700 20px/24px Roboto,sans-serif;color:#fff;background:-moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 50%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.9)));background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%);background:-o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%);background:-ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%);background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 50%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e6000000',GradientType=0);}
.posrel h3 a{color:#ffffff;text-decoration:none;}
.posrel h3 a:hover{text-decoration:none;color:#01cfff;}
a img{border:0;}
.tabhead{background-color:#D71920;color:#FFFFFF;float:left;padding:4px 4px;text-transform:uppercase;margin-right:1px;}
.tabhead a{color:#ffffff;text-decoration:none; font-size:15px}
.tabhead a:hover{text-decoration:none}
.subhead{background:none repeat scroll 0 0 #D71920;color:#FFFFFF;cursor:pointer;float:left;font:bold 12px arial;left:10px;padding:4px 5px;position:absolute;text-transform:uppercase;top:0;z-index:999;}
.subhead a , .strbox-home .subhead a{color:#ffffff;text-decoration:none}
.subhead a:hover, .strbox-home .subhead a:hover{text-decoration:underline;color:#ffffff;}
.clear{clear:both}
.addcomment{border:2px solid #CCCCCC;color:#5a5a5a;font:bold 15px Georgia;margin-top:10px;padding:5px 2px;width:96%;}
.last{border-right:0 none !important;margin:0;}
.topstories{float:left;margin-bottom:3%;width:100%;}
.footertag, footer{width:1000px;overflow:hidden;margin:0 auto;}
.footertag .fot-itlogo ,footer .fot-itlogo{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -66px -95px rgba(0, 0, 0, 0);height:43px;text-indent:-9999px;width:176px;float:left;}
.footertag nav,footer nav{background-color:#333333;color:#FFFFFF;font:bold 16px arial;float:left;width:77.5%;height:43px;}
.footertag nav ul li,footer nav ul li{background-color:#333333;}
.searc-icon1 .img{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -10px -95px rgba(0, 0, 0, 0);cursor:pointer;display:inline-block;float:right;height:41px;text-indent:-9999px;width:41px;}
#footer{clear:both;background:#fff;padding:0 5px;}
#footer1{clear:both;background:#fff;padding:0 5px;display:none;}
.boxcont_thisweek{background:url("/staticpages/mediaintoday/indiatoday/images/frame.png") no-repeat scroll center top #FFFFFF;float:left;font-size:18px;margin:0 0 7%;overflow:hidden;transition:all 1s ease 0s;width:100%;height:336px;}
.thisweektxt{margin:0 0 3% 0;padding:0;text-align:center;color:#fff;}
.thiskicker{font:bold 14px/18px arial;margin:2% 5%;text-align:center;}
.padding{padding:2% 5%;}
.sharebox{margin:0 0 0 0;}
.sharecont{width:32px;height:32px;float:right;display:inline-block;}
.fb{margin:3%;background:url(http://indiatoday.intoday.in/new/images/fb.png) no-repeat 0 0;}
.fb:hover{margin:3%;background:url(http://indiatoday.intoday.in/new/images/fb_hover.png) no-repeat 0 0;}
.twitter{margin:0%;background:url(http://indiatoday.intoday.in/new/images/twitter.png) no-repeat 0 0;}
.twitter:hover{margin:0%;background:url(http://indiatoday.intoday.in/new/images/twitter_hover.png) no-repeat 0 0;}
.rss{margin:3%;background:url(http://indiatoday.intoday.in/new/images/rss.png) no-repeat 0 0;}
.rss:hover{margin:3%;background:url(http://indiatoday.intoday.in/new/images/rss_hover.png) no-repeat 0 0;}
.share{margin:0 0 3%;background:url(http://indiatoday.intoday.in/new/images/share.png) no-repeat 0 0;}
.share:hover{margin:3%;background:url(http://indiatoday.intoday.in/new/images/share_hover.png) no-repeat 0 0;}
.share1{color:#2476AA;font:12px/18px arial;margin-left:80px;}
.share1 a{color:#2476AA;text-decoration:none;}
.divclear{clear:both}
.right_arrow{background-color:#D71920;color:#FFFFFF;font:bold 14px arial;padding:0.5%;position:absolute;right:0;top:3%;cursor:pointer;z-index:9999;}
.left_arrow{background-color:#01cfff;color:#FFFFFF;font:bold 14px arial;padding:0.5%;position:absolute;left:0;top:3%;cursor:pointer;z-index:9999;}
.loder{position:relative;display:none;margin:0 35%;width:1000px;}
.right-column{float:right;margin-right:5px;width:35% !important;}
.hero-head{color:#999999;font-family:arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:1px;margin:0;padding:0;text-transform:uppercase;}
.hero-list{list-style:none outside none;padding:0 20px;position:relative;transform-style:preserve-3d;}
.hero-list ul, .hero-list li{margin:0;padding:0;}
.hero-list-item{border-bottom:1px solid #E6E6E6;color:#666666;display:block;float:left;font-size:11px;font-weight:700;line-height:16px;margin:0;padding:0;text-align:left;width:100%;}
.hero-list-item:hover{background-color:#f5f5f5;}
a.hero-list-anchor{color:#333333;float:left;font-size:12px;padding:5px 0 8px;width:98%;}
.hero-list-info{display:none;color:#696969;float:right;font-size:10px;font-weight:400;height:16px;position:relative;top:13px;width:auto;}
.new{background:none repeat scroll 0 0 #D60000;color:#FFFFFF;font:bold 13px roboto;margin-right:2px;padding:1px 4px;text-transform:uppercase;}
.left-column{float:left;overflow:hidden;padding:10px 0 10px 10px;width:62% !important;position:relative;}
.bot6px{bottom:182px!Important}
.small-play-icon{background-position:-206px -12px!important;display:inline-block;height:18px;left:75px;position:absolute;top:52px;width:18px;}
.small-image-icon{background-position:-186px -12px!important;display:inline-block;height:18px;left:75px;position:absolute;top:52px;width:18px;}
.small-play-icon1{background-position:-206px -12px!important;display:inline-block;height:18px;left:106px;position:absolute;top:78px;width:18px;}
.small-image-icon1{background-position:-186px -12px!important;display:inline-block;height:18px;left:106px;position:absolute;top:78px;width:18px;}
.right-column{float:right;padding:2% 0 2% 0;width:34% !important;}
.alpha{background-color:#FFFFFF;float:left;min-height:590px;width:100% !important;}
.topstrcontnew{background-color:#FFFFFF;float:left;position:relative;width:100%;}
.bigimgcont{width:65%;float:left;position:relative}
.topcontbox{position:absolute;bottom:10px;left:0;}
.topstrheading{color:#FFFFFF;font:bold 40px/39px arial;text-shadow:3px 4px 3px #333333;padding:0 3%}
.topkicker{padding:2% 5%;font:normal 18px/20px Georgia;color:#ffffff;}
.topkicker a{color:#ffffff;text-decoration:none;}
.topkicker a:hover{text-decoration:underline;}
.topstr-list{list-style:none outside none;padding:20px 10px 0;position:relative;transform-style:preserve-3d;}
.topstr-list ul, .topstr-list li{margin:0;padding:0;font-family:Roboto,sans-serif;font-weight:500;}
.topstr-list li{border-bottom:1px solid #CCCCCC;font:500 15px/18px Roboto,sans-serif;list-style:none outside none;margin:8px 0;padding-bottom:7px;}
.topstr-list li a{color:#000000;text-decoration:none}
.topstr-list li a:hover{text-decoration:none;color:#5e5e5e;}
.morehead{color:#000000;font:900 18px/20px Roboto,sans-serif;padding:0 0 5px 10px;text-transform:uppercase;position:absolute;}
.morehead a{background-color:#EB1C24;color:#FFFFFF;padding:0 5px;}
.more{color:#000000;font:900 16px/20px Roboto,sans-serif;padding:2px 10px;text-transform:uppercase;}
.more a, .more a:hover{color:#000;}
.boxcont-top{background-color:#FFFFFF;box-shadow:2px 2px 10px 2px #CCCCCC;float:left;margin:0 0 3% 0;min-height:500px;width:100%;display:none;}
.topzone{color:#000000;font-family:Roboto !important;font-size:35px !important;font-weight:900;line-height:37px !important;margin-bottom:2%;}
.topzone a{color:#000000;}
.topzone a:hover{color:#000000;text-decoration:underline}
.topinnerbox{float:left;padding:2% 0 0 0;}
.topinnerbox .byline{font:normal 12px arial;margin-bottom:2%;}
.topinnerbox .byline a{color:#555555;text-decoration:none;}
.topinnerbox .byline a:hover{text-decoration:underline;}
.topinnerbox p{color:#5e5e5e;font:17px/21px Georgia !important;margin-bottom:0;}
.sub-butt{border:2px solid #D71920;color:#D71920;font:bold 16px arial;margin:-1px auto;padding:3% 5%;text-align:center;width:52%;}
.blckbg{background-color:#000;}
.green{background-color:#97d601;}
.blue{background-color:#01cdff;}
.noimg-topmarg{padding-top:10%;}
.noimg-topmarg a{font-size:22px;line-height:24px;}
.agree{background:none repeat scroll 0 0 #ffffff;border:2px solid #4e801d;font:bold 15px arial;padding:1px 3px;text-transform:uppercase;color:#4e801d;margin:8%;}
.disagree{background:none repeat scroll 0 0 #FFFFFF;border:2px solid #e20401;font:bold 15px arial;padding:1px 3px;text-transform:uppercase;color:#e20401;margin:8%;}
.debate{background:none repeat scroll 0 0 #FFFFFF;float:right;margin-bottom:7%;min-height:295px;position:relative;padding-bottom:3%;}
.formbox{margin:0 6%;}
.vid-ico{position:absolute;right:5px;top:5px;background:url(/staticpages/mediaintoday/indiatoday/images/icons/video-icon.png) top left;width:35px;height:36px;}
.photo-ico{position:absolute;right:5px;top:5px;background:url(/staticpages/mediaintoday/indiatoday/images/icons/photo-icon.png) top left;width:35px;height:36px;}
.topmarging{margin-top:3%;}
.sliderbass{background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);bottom:0;color:#FFFFFF;font:700 18px/22px Roboto,sans-serif;opacity:0.8;padding:2%;position:absolute;width:98%;background-color:#000000;opacity:.8;filter:alpha(opacity=80);}
.bx-wrapper img{display:block;height:336px;width:100%;}
.share-link{display:none;}
.centerdiv{width:1000px;margin:0 auto;padding:13px 0 13px;overflow:hidden}
.bx-wrapper .bx-next{right:2% !important;}
.bx-wrapper .bx-prev{left:2% !important;}
.share-story{width:98%;}
.share-story{float:left;padding-top:7px;height:34px;}
.share-icon{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -135px -10px;width:42px;height:34px;float:left;margin-left:-5px;cursor:pointer;}
.share-story ul{border-bottom:1px solid #DADADA;margin:0;padding:0;float:left;}
.share-story li{border:medium none !important;color:#B2A6AA;margin:0 !important;padding:0 0px 0 0;list-style:none;float:left;}
.imgbox{position:relative;width:88px;height:66px;float:left;margin:0px 10px 0px 0px;}
.vidphotoicon{position:absolute;bottom:0px;right:5px;}
nav ul li{float:left;list-style:none outside none;text-transform:uppercase;}
nav ul li a{color:#fff;padding:8px 6px;}
nav ul li a:hover{text-decoration:none;color:#555}
.wht,nav ul li div, nav ul li div a{color:#555;text-decoration:none;}
.nav ul li:hover, nav ul li.active{background-color:#FFFFFF;color:#D71920;cursor:pointer;}
nav{margin:0 auto;}
.beaking_news{width:1003px;margin:0 auto;}
.beaking_new{background:#e1e1e1;padding:5px;font-family:Arial, Helvetica, sans-serif;font-size:14px;width:700px;float:left;color:#030303}
.beaking_new span{line-height:23px;}
.arrow_area{float:right;width:70px;margin-top:-3px;}
.fl{float:left;}
.fr{float:right;}
.pouse, .right_btn, .left_btn{font-size:18px;font-weight:bold;padding:2px 5px;}
.search_area{float:right;width:280px;border:1px solid #ccc;height:30px;}
.search_area input{background:none repeat scroll 0 0 rgba(0, 0, 0, 0);border:0 none;float:left;font-size:14px;padding:5px;width:280px;}
.top_right{color:#A2A2A2;font-family:Arial,Helvetica,sans-serif;font-size:24px;height:70px;margin-top:10px;width:255px;overflow:hidden;}
.top_right .show-area{display:none;}
.top_right img{float:left;margin-right:10px;margin-top:15px;}
.top_right span{text-transform:uppercase;color:#ef2a34;display:block;padding-top:15px;}
#ad{height:88px;display:inline-block;}
.text-input{text-transform:uppercase;font-weight:bold;color:#575757;}
.modern-ticker{background:#E1E1E1;font-size:14px;height:30px;line-height:30px;overflow:hidden;position:relative;width:710px;float:left;}
.modern-ticker a{text-decoration:none}
.modern-ticker ul{margin:0;padding:0;list-style:none}
.modern-ticker .mt-label{color:#080808;float:left;font:900 18px/20px Roboto,sans-serif;padding:3px 5px;text-transform:uppercase;}
.modern-ticker .mt-news{height:100%;overflow:hidden;float:left;background:#E1E1E1;padding:0px 1%;}
.modern-ticker .mt-round .mt-news:first-child, .mt-round .mt-news:first-child a{border-top-left-radius:5px;border-bottom-left-radius:5px}
.modern-ticker .mt-round .mt-news:last-child, .mt-round .mt-news:last-child a{border-top-right-radius:5px;border-bottom-right-radius:5px}
.modern-ticker .mt-scroll.mt-round .mt-news a{border-radius:0}
.modern-ticker .mt-news ul{width:50000px;background-repeat:no-repeat;background-position:-1000px}
.modern-ticker .mt-news li{float:left;font:500 15px/28px Roboto,sans-serif;padding-right:10px;width:540px;}
.modern-ticker .mt-hide{display:none}
.modern-ticker .mt-controls{margin-left:2px;height:100%;position:absolute;right:2px;background-repeat:no-repeat;background-position:-1000px;top:4px;}
.modern-ticker .mt-play, .modern-ticker .mt-prev, .modern-ticker .mt-next{width:24px;height:24px;background-repeat:no-repeat;background-position:center;cursor:pointer;float:left;border:0px solid #ccc;}
.modern-ticker .mt-news a{color:#505050;background-image:url("http://businesstoday.intoday.in/images/bullet.png");color:#000000;font-family:roboto;}
.modern-ticker .mt-news a:hover{color:#000;border-color:#ff2200;background-image:url("images/bullet-over.png");text-decoration:underline;}
.modern-ticker .mt-news a:active{background-color:#0077ff;}
.modern-ticker .mt-prev, .modern-ticker .mt-next{background-color:#e1e1e1;}
.modern-ticker .mt-prev{background-image:url("images/prev.png");}
.modern-ticker .mt-next{background-image:url("images/next.png");}
.modern-ticker .mt-play{background-color:#fff;background-image:url("images//stop.png");}
.modern-ticker .mt-pause{background-color:#e1e1e1;background-image:url("images/stop.png");}
.modern-ticker .mt-play:hover, .modern-ticker .mt-prev:hover, .modern-ticker .mt-next:hover{background-color:#fff;}
.modern-ticker .mt-play:active,.modern-ticker .mt-prev:active, .modern-ticker .mt-next:active{background-color:#fff;}
.modern-ticker .l_arrow{background:none!Important;background-color:#DDDEE0!Important}
.hotrightnow-head{background-color:#D71920;color:#FFFFFF;float:left;font:500 18px/20px Roboto,sans-serif;padding:2px 5px;text-transform:uppercase;top:0;z-index:999;}
.hotrightnow-head a{color:#FFFFFF;text-decoration:none}
.hotrightnow-head a:hover{color:#FFFFFF;text-decoration:none}
.hotrightnow_lft{background-color:#FFFFFF;border:1px solid #CCCCCC;color:#6E6E6E;float:left;font:bold 14px/18px Arial,Helvetica,sans-serif;margin-top:10px;padding:10px;width:275px;box-shadow:0 0 7px #CCCCCC;position:relative;}
.hotrightnow_lft a{color:#5e5e5e;text-decoration:none;}
.hotrightnow_lft a:hover{color:#000;text-decoration:none;}
.clear-respons{clear:both}
.imgs{float:left;margin-right:10px;}
#ad{float:right}
.storybody{background-color:#fff;border:1px solid #ccc;padding:-0.3%;}
#strwapper{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;margin:0 auto 1%;overflow:hidden;padding:1% 0.5%;width:985px;}
.strright{margin-right:1%;width:306px;float:left}
.strleft{width:652px;float:left;font-family:Georgia, "Times New Roman", Times, serif;color:#5e5e5e;padding-left:10px;}
.strleft a{text-decoration:underline}
.strleft a:hover{text-decoration:none}
.leftspac{margin-bottom:8%;float:left}
.strbox{float:left;margin-bottom:0;position:relative;width:96%;padding:2%;border:1px solid #000;background-color:#fff;font:500 15px/18px Roboto,sans-serif;color:#565656;}
.strbox a{color:#565656;text-decoration:none;}
.strbox a:hover{color:#565656;text-decoration:underline;}
.strbox h2{font:500 18px/20px Roboto,sans-serif;text-transform:uppercase;margin-bottom:2%;padding:0;}
.lft{float:left}
.strinnerbox{padding:3%;position:relative;}
.topnewsbox{background-color:#FFFFFF;border:1px solid #CCCCCC;box-shadow:0 0 7px #CCCCCC;float:left;padding:0 10px;position:relative;width:92%;}
.topnews-list{float:left;list-style:none outside none;padding:0;position:relative;transform-style:preserve-3d;}
.topnews-list ul, .topnews-list li{margin:0;padding:0;font-family:Roboto,sans-serif;font-weight:500;}
.topnews-list li{border-bottom:1px solid #CCCCCC;font:500 15px/18px Roboto,sans-serif;list-style:none outside none;margin:7px 0;padding-bottom:7px;}
.topnews-list li a{color:#565656;text-decoration:none}
.topnews-list li a:hover{text-decoration:underline}
.sec-boxcont{background-color:#FFFFFF;box-shadow:2px 2px 10px 2px #CCCCCC;float:left;margin:0 0 4% 2%;min-height:336px;width:47.9%;}
.listing{float:right;width:100%;}
.col{float:left;min-height:215px;padding:10px;width:195px;}
.inner{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;box-shadow:5px 0 10px -2px #CCCCCC;margin:0;padding:7px;min-height:217px;}
footer .wht{color:#fff!Important}
.image_icon{background-position:center top;background-repeat:no-repeat;height:133px;position:relative;width:179px;}
.phvidTitle{color:#5e5e5e;font:15px/19px Roboto,sans-serif;margin-bottom:3px;margin-left:3px;margin-top:5px;}
.phvidTitle a{color:#5e5e5e;text-decoration:none;}
.phvidTitle a:hover{text-decoration:none;color:#000;}
.mediaimg{bottom:5px;position:absolute;right:5px;}
.mediaimg1{bottom:6px;position:absolute;right:2px;}
.headline{background-color:#000000;color:#FFFFFF;float:left;font:500 18px/20px Roboto;margin-bottom:5px;padding:5px 10px;text-transform:uppercase;}
.headline a{color:#FFFFFF;text-decoration:none;}
.headline a:hover{text-decoration:underline;}
.clear{clear:both}
.phvidmargin{margin-bottom:20px;float:left;margin-bottom:30px;}
.morevidphtxt{border-bottom:1px solid #CCCCCC;color:#000000;float:left;font:900 18px roboto;margin:10px 0 0 12px;padding-bottom:10px;text-align:right;text-transform:uppercase;width:622px;}
.morevidphtxt a{color:#000000;text-decoration:none;}
.morevidphtxt a:hover{color:#000000;text-decoration:underline;}
.rightnav{float:right;width:300px;margin-right:10px;}
.video-boxcont{background-color:#FFFFFF;float:left;margin:0 2% 3% 0;min-height:336px;padding:2%;width:95%;}
.videobox{float:left;margin-bottom:0;width:98%;margin-left:2%;position:relative;}
.videobox h2{color:#000000;font:700 30px/32px Roboto,sans-serif;}
.videobox h2 a{color:#000000;text-decoration:none;}
.videobox h2 a:hover{color:#000000;text-decoration:underline}
.videobox p{color:#242424;font:18px Georgia;margin:10px 0 0;}
.video-boxcont .likedisdiv{border:none;margin-bottom:0px;margin-top:15px;}
.likedisdiv{font:500 18px/20px Roboto,sans-serif;text-transform:uppercase;text-align:center;padding:10px 0px;border-bottom:1px solid #ccc;border-top:1px solid #ccc;margin-bottom:10px;}
.likeimg{background:url(/staticpages/mediaintoday/indiatoday/images/thumbup.jpg) no-repeat 0 0;width:22px;height:22px;display:inline-block}
.likecount{margin:0px 5px;font:700 22px/22px roboto,serif;color:#208302;}
.dislikeimg{background:url(/staticpages/mediaintoday/indiatoday/images/thumbdown.jpg) no-repeat 0 0;width:22px;height:22px;display:inline-block}
.dislcount{margin:0px 5px;font:700 22px/22px roboto,serif;color:#ed0302;}
.share-commentbox{border-top:1px solid #ccc;margin:10px 0;border-bottom:1px solid #ccc;padding:5px 0;width:100%;float:left}
.commenttxt{border-right:1px solid #CCCCCC;color:#565656;float:left;font:bold 11px arial;padding:6px 20px;text-transform:uppercase;}
.videocont{margin:0 auto;padding:15px 73px;width:460px;background-color:#000;min-height:360px;margin-bottom:15px;}
.dateline{font:bold 12px/18px georgia;color:#666;margin:5px 0;}
.margintop{margin-top:20px;}
.pagination{font-family:Arial,Helvetica,sans-serif;padding:0 2% 2%;}
.pagination ul{font-size:12px;margin:0;padding:0;text-align:right;}
.pagination li{display:inline;list-style-type:none;padding-bottom:2px;}
.pagination li a{color:#000;text-decoration:none;}
.pagination li a:hover{text-decoration:underline;}
.pagination a.currentpage{border-color:#ccc #333333 #333333 #ccc;border-style:solid;border-width:1px;cursor:default;font-weight:bold;}
.pagination a, .pagination a:visited{color:#000 !important;padding:2px 5px;text-decoration:none;}
.home{padding:0px!Important;margin:0px!Important;float:left}
.home a{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -311px -95px transparent;display:inline-block;height:43px;width:27px;text-indent:-9999px;}
#top-web{display:block;}
#top-web1{display:none;}
.menues{height:41px;position:relative;top:0px;background:#000}
.top-res{display:none;}
#top-res{display:none;}
#top-res1{display:none;}
.app{color:#FFFFFF;font:bold 16px arial;display:none;background-position:-203px -96px !important;width:41px;height:37px;float:left;}
.app a{display:block;text-indent:-999px;line-height:41px}
.app a:hover{color:#fff;text-decoration:none;}
.searc-icon{float:right;cursor:pointer;background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -174px -42px transparent;width:45px;height:41px;text-indent:-9999px;background-color:#db1620;margin-right:3px;}
.searc-reas{display:none}
nav ul li{float:left;list-style:none outside none;padding:12px 0 11px 2px;text-transform:uppercase;font-size:13px;}
nav ul li a{padding:8px 10.5px;}
nav ul li a:hover{text-decoration:none;color:#555}
.nav ul li:hover, nav ul li.active{background-color:#eb1c24;color:#fff;cursor:pointer;padding:8prx 9px;}
.home{background-color:#eb1c24;color:#fff;cursor:pointer;padding:8prx 9px;}
.cricket{background-color:#98D702;color:#fff;cursor:pointer;padding:8prx 9px;}
.movies{background-color:#800B80;color:#fff;cursor:pointer;padding:8prx 9px;}
.auto{background-color:#FFCC01;color:#fff;cursor:pointer;padding:8prx 9px;}
.tech{background-color:#00A53C;color:#fff;cursor:pointer;padding:8prx 9px;}
.life{background-color:#F70164;color:#fff;cursor:pointer;padding:8prx 9px;}
.news{background-color:#009BFF;color:#fff;cursor:pointer;padding:8prx 9px;}
.india{background-color:#F25109;color:#fff;cursor:pointer;padding:8prx 9px;}
.world{background-color:#0038F0;color:#fff;cursor:pointer;padding:8prx 9px;}
.videos{background-color:#ED1C24;color:#fff;cursor:pointer;padding:8prx 9px;}
.photos{background-color:#760108;color:#fff;cursor:pointer;padding:8prx 9px;}
.lifestylem{background-color:#f70164;color:#fff;cursor:pointer;padding:8prx 9px;}
.techm{background-color:#b8b8b8;color:#fff;cursor:pointer;padding:8prx 9px;}
nav{margin:0 auto;width:1000px;}
.leftnav{background:none repeat scroll 0 0 #FFFFFF;float:left;padding:0.5% 1%;width:98%;}
.strright{margin-right:1%;width:306px;float:left}
.footerdrop{display:none;}
.section-btm{display:none;}
#top_ad{float:right;position: absolute;right: 0;top: 10px;z-index: 9;}
#sosorry{float:left;}
#footer{display:block;}
.breaking{font:14px/16px Roboto;margin-bottom:12px;position:relative;}
.box-title{background-color:#000;border:5px solid #000;color:white;text-align:center;vertical-align:middle;font:900 22px/22px Roboto;width:17%;text-transform:uppercase;}
.btitle{background-color:#DB1820;border-color:#DB1820;border-style:solid solid solid none;border-width:2px 2px 2px medium;color:#2E2E2E;font:bold 18px Roboto;padding:0 0px 0 5px;width:77%;}
.btitle a{color:#fff;font-family:Roboto;text-decoration:none;}
.btitle a:hover{color:#fff;}
.btitle .bTime{color:#ccc;font:bold 11px arial;margin-left:5px;}
.btitle a.watchlive{color:#D71920;font:14px/16px Roboto;text-decoration:none;}
.btitle a.breadmore{font:bold 14px/16px Roboto;background-image:url(../images/divider.gif);background-repeat:no-repeat;background-position:right top;padding-right:7px;margin-right:7px;}
.btitle a.breadmore_alone{font:bold 14px/16px Roboto;padding-right:7px;display:block;}
a.watchlive img{vertical-align:middle;border:none;}
.bknews{padding-right:5px;padding-bottom:3px;}
a.bclose{background-color:#000000;color:#FFFFFF;font:bold 14px/13px arial;height:16px;padding:0 3px;position:absolute;right:0;text-decoration:none;top:0;width:10px;}
.strbox-home{background-color:#FFFFFF;border:1px solid #ccc;color:#565656;float:left;font:500 15px/18px Roboto,sans-serif;margin-bottom:0;padding:2%;position:relative;width:96%;}
.strbox-home a{color:#5e5e5e;text-decoration:none;}
.strbox-home a:hover{text-decoration:none;color:#000;}
.pathzero{background:#EB1C24;padding:5px 7px;color:#fff;float:left}
.pathzero a{color:#fff}
.pathone{background:#000;padding:5px 7px;color:#fff;float:left}
.pathone a{color:#fff}
.pathtwo{background:#333333;padding:5px 7px;color:#fff;float:left}
.pathtwo a{color:#fff}
.paththree{background:#444444;padding:5px 7px;color:#fff;float:left}
.paththree a{color:#fff}
.pathfour{background:#545454;padding:5px 7px;color:#fff;float:left}
.pathfour a{color:#fff}
.currentpath{background:#666666;padding:5px 7px;color:#fff;float:left}
.phvidpathway{border-bottom:1px solid #CCCCCC;float:left;margin-bottom:12px;margin-left:0;padding-bottom:3px;width:100%;}
.pathway{float:left;margin-left:-10px;padding-bottom:22px;width:60%;}
.pathway2{float:left;padding-bottom:22px;width:66%;padding-top:20px;}
.pathway1{float:left;margin-left:0px;padding-bottom:4px;width:66%;border-bottom:1px solid #b0b0b0;margin:1% 0px;}
.pathway1 a{color:#565656;font:15px/19px Roboto,sans-serif;text-decoration:none;}
.story_close{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll -269px -10px;width:29px;height:29px;float:right;cursor:pointer;}
#wapper-debate{background:none repeat scroll 0 0 rgb(255, 255, 255);margin:0 auto;overflow:hidden;padding:15px 10px;width:980px;}
.leftnav h1{color:rgb(0, 0, 0);font:700 51px/55px Roboto,sans-serif;margin:0 0 10px;}
.big_img{width:634px;}
.agree1{background:#29a801;width:50%;float:left;padding:10px 0px;text-align:center;color:#fff;font-weight:bold;font-size:18px;}
.disagree1{background:#ed1b24;width:50%;float:right;padding:10px 0px;text-align:center;color:#fff;font-weight:bold;font-size:18px;}
.debate_title{padding:10px 0px;font-size:18px;font-family:"Times New Roman", Times, serif;display:inline-block}
.comment-frame{width:650px;height:330px;border:none;}
#message{width:625px;padding:10px;font:500 16px/20px roboto,sans-serif;line-height:1.5em;}
.seclist{border-bottom:1px solid rgb(175, 175, 175);border-top:1px solid rgb(175, 175, 175);float:left;width:100%;background:#fff;}
.secname{background-color:rgb(220, 12, 23);background-image:url("../images/sec-arow.gif");background-position:right top;background-repeat:no-repeat;color:rgb(255, 255, 255);float:left;font:bold 16px arial;height:18px;padding:3px 11px 3px 4px;text-transform:uppercase;}
.secother{color:rgb(102, 102, 102);float:left;font:bold 14px arial;margin-top:5px;text-align:left;text-transform:uppercase;}
.secother span{margin:0 3px;}
.secother span a{color:rgb(102, 102, 102);text-decoration:none;}
section#left{display:inline;float:left;margin-left:5px;margin-top:10px;width:660px;}
section#right{display:inline;float:left;margin-left:5px;margin-right:5px;margin-top:10px;width:300px;}
.sectopmarg{float:left;margin:10px 0 0 10px;width:660px;}
.newsectiontitle{border-bottom:5px solid rgb(215, 25, 32);color:rgb(0, 0, 0);font:bold 22px/25px arial;margin-bottom:15px;text-transform:uppercase;}
.catsecbreadcrumb{font:12px arial;padding:10px 0 5px;text-align:right;}
.catsecbreadcrumb a{color:rgb(0, 47, 89);text-decoration:none;}
.sectionpartdiv{float:left;margin-bottom:20px;width:100%;border-bottom:1px solid #ccc;padding-bottom:15px;}
.secheadtext{color:#6E6E6E;font:700 18px/22px Roboto,sans-serif;}
.secheadtext a{color:#6E6E6E;text-decoration:none;}
.bylinetext{color:#7E7E7E;font:12px arial;margin:0;padding:2px 0;}
.normaltaxt{color:#242424;float:left;font:15px/20px Georgia;margin-bottom:0;width:100%;}
.pathway_c{border-bottom:1px solid rgb(175, 175, 175);color:rgb(102, 102, 102);float:left;font:bold 12px arial;padding-bottom:3px;padding-top:10px;width:100%;}
.pathway_c a{color:rgb(102, 102, 102);font:12px arial;text-decoration:none;}
.article-thumb{float:left;margin:0 10px 0 0;}
.boldbluetext{color:#777777;font:700 24px/26px Roboto,sans-serif;}
.boldbluetext a{color:#777777;text-decoration:none;}
#surferdiv{float:left;width:640px;font-family:Roboto,san-serif;}
#surferdiv h1{font-size:16px;line-height:6px;margin:10px 0;}
.newsSection{float:left;margin-top:5px;padding-bottom:10px;padding-bottom:10px;width:100%;}
.newsSectionLeft{border-bottom:0 solid rgb(215, 25, 32);float:left;margin-right:20px;padding:0;width:310px;}
.newsSectionRight{border-bottom:0 solid rgb(215, 25, 32);float:left;margin:0;padding:0;width:310px;}
.header{color:rgb(220, 12, 23);font-family:"Arial Black",Gadget,sans-serif;font-size:12px;font-weight:600;line-height:18px;text-align:left;width:100%;}
.newsborder{background-color:rgb(215, 25, 32);float:left;height:3px;margin:0;padding:0;width:310px;}
.subtitles{color:rgb(51, 51, 51);font:500 18px roboto;margin:5px 0 3px;font-weight:500;}
.newscaption{border-bottom:0 dotted #B4B4B4;font:15px/18px Roboto,sans-serif;margin-top:0;padding-bottom:0;text-align:left;}
.normaltaxt ul{float:left;list-style:none outside none;margin:0;padding:5px 0;}
.normaltaxt ul li{background:url("../images/listarrow.gif") no-repeat scroll left 7px transparent;border-bottom:1px dotted #959595;color:#333333;float:left;font:14px/18px roboto;list-style:none outside none;margin:0 6px;padding:1px 0 6px 15px;}
.normaltaxt ul li a{color:rgb(50, 50, 50);text-decoration:none;}
.newsmoreText{color:rgb(215, 25, 32);float:right;font:bold 11px/15px arial;margin-right:5px;text-align:right;width:100%;}
.newsmoreText a{color:rgb(215, 25, 32);text-decoration:none;}
.surfertitle{border-bottom:5px solid rgb(215, 25, 32);color:rgb(0, 0, 0);font:bold 16px/18px arial;margin-bottom:10px;text-transform:uppercase;}
.subtitles a{color:rgb(51, 51, 51);text-decoration:none;}
.ticker-outer{width:640px;background-color:#000;margin-bottom:10px;}
.ticker-inner{padding:0 5px;overflow:hidden;}
.lifestyle{padding:15px;border-bottom:4px solid #f60061;width:970px;display:none;overflow:hidden;position:absolute;background:#FFF;right:0px;top:41px;z-index:99999!Important}
.life-news{color:#5e5e5e;font:15px/19px Roboto,sans-serif;width:165px;margin-right:29px;float:left;text-align:left;font-weight:normal;text-transform:capitalize;}
.life-news img{margin-bottom:8px;border:0;}
.life-news a img{margin-bottom:8px;border:0;margin-left:-13px}
.search-table{width:640px;}
.topbox_lft{background-color:#FFFFFF;border:1px solid #CCCCCC;color:#6E6E6E;float:left;font:500 14px/18px roboto;padding:10px;width:244px;overflow:hidden;}
.topbox_lft a{color:#6E6E6E;}
.topbox_lft{height:69px !important;}
.topbox_lft .bx-wrapper img{width:88px;height:66px;}
.topbox_lft .bx-wrapper .bx-prev,.topbox_lft .bx-wrapper .bx-next{display:none;}
.homeleft{float:left;margin-bottom:0;margin-right:1.1%;width:67%;}
.leftbar{margin:0 3.8% 0 0;}
.leftbar, .middlebar{float:left;width:48%;}
.homeright{float:right;width:30.5%;}
#itlivetvbox{border-bottom:1px solid rgb(205, 205, 205);float:left;margin-top:0;padding-bottom:10px;width:100%;}
.livetc_title{border-bottom:5px solid rgb(215, 25, 32);color:rgb(115, 108, 102);float:left;font:bold 11px/18px arial;padding-bottom:2px;text-transform:uppercase;width:100%;}
.breakingnow{background-color:rgb(215, 25, 32);color:rgb(255, 255, 255);font:bold 15px arial rgb(0, 0, 0);padding-top:2px;}
.itlivtvarea{background-color:rgb(0, 0, 0);float:left;margin-top:10px;padding-bottom:10px;padding-top:10px;text-align:center;width:100%;}
.phcont{width:1000px;background-color:#fff;float:left;margin-bottom:2%;padding-bottom:1.5%}
.phpadding{padding:1%;clear:both}
.phcont h1{float:left;font:700 32px/36px Roboto;margin:0 0 1%;padding:0;color:#000;text-align:left;}
.phleftcont{display:inline-block;position:relative;text-align:center;width:66.3%;}
.phrightcont{position:relative;width:31%;float:right}
.phnext, .phprev{height:94px;position:absolute;text-indent:-9999px;top:30%;width:35px;}
.phnext,.phnext:hover{background-color:#000000;background-image:url("/staticpages/mediaintoday/indiatoday/images/photo-right-arrow.png");background-position:center center;background-repeat:no-repeat;opacity:0.8;padding:15px;right:0;cursor:pointer;}
.phprev,.phprev:hover{background-image:url("/staticpages/mediaintoday/indiatoday/images/photo-left-arrow.png");background-position:center center;background-repeat:no-repeat;left:0;background-color:#000000;opacity:0.8;padding:15px;cursor:pointer;}
.new_pagination{font:normal 12px arial;color:#ffffff;height:120px;position:relative;z-index:99;margin-top:5px;margin-left:-5px;}
#newGallery{float:left;}
#newGallery .thumbs-wrapper .thumbs{position:relative;width:900px;height:70px;margin:4px 0;}
.thumbs-wrapper .thumbs ul{list-style-type:none;margin:0px 30px 0px 32px;padding:0px;}
.thumbs-wrapper .thumbs ul li{float:left;margin-right:5px;}
.thumbs-wrapper .thumbs a.prev, .thumbs-wrapper .thumbs a.next{position:absolute;top:0px;background-repeat:no-repeat;background-position:center center;display:block;height:65px;width:20px;}
a.prev{background-image:url("/staticpages/mediaintoday/indiatoday/images/photo-left-arrow.png");background-position:center center;background-repeat:no-repeat;left:0;opacity:0.8;padding:15px;cursor:pointer;}
a.next{background-image:url("/staticpages/mediaintoday/indiatoday/images/photo-right-arrow.png");background-position:center center;background-repeat:no-repeat;opacity:0.8;padding:15px;right:0;cursor:pointer;}
#newGallery a.prev{left:0px;background-image:url(/staticpages/mediaintoday/indiatoday/images/photo-small-left-arrow.png);background-repeat:no-repeat;background-position:center center;}
#newGallery a.next{right:0px;background-image:url(/staticpages/mediaintoday/indiatoday/images/photo-small-right-arrow.png);background-repeat:no-repeat;background-position:center center;}
#newGallery a.next-large, #newGallery a.prev-large{cursor:pointer;position:absolute;width:40px;height:53px;background-repeat:no-repeat;background-position:left center;top:25%;text-indent:-111110px;}
#newGallery a.prev-large{left:-40px;background-image:url(http://conclave.intoday.in/conclave2012/templates/rhuk_solarflare_ii/images/newgalimages/left-arrow-large.png);}
#newGallery a.next-large{right:-40px;background-image:url(http://conclave.intoday.in/conclave2012/templates/rhuk_solarflare_ii/images/newgalimages/right-arrow-large.png);}
#slider1{height:116px;overflow:hidden;padding:0 0 3px 0px;}
#slider1 .viewport{float:left;width:590px;height:116px;overflow:hidden;position:relative;}
#slider1 .buttons{display:block;margin:43px 0 0;text-indent:-999em;float:left;height:35px;width:0px;overflow:hidden;position:relative;}*/#slider1 .next{background-position:0 0;margin:0px 0 0 10px;}
#slider1 .disable{visibility:hidden;}
#slider1 .overview{list-style:none;position:absolute;padding:0;margin:0 10px 0 5px;width:570px;left:0;top:0;}
#slider1 .overview li{float:left;padding:0 10px 0 0;width:88px;}
#slider1 .overview li img{border:2px solid #333;}
.numbertab{color:#999999;font:900 16px/20px roboto;margin:5px auto 15px;text-align:center;width:20px;}
.tabactive{color:#ec0400;}
.photocap{padding:22px 5px 5px 0;font:17px/24px Georgia !important;color:#242424;}
.photo{color:#666666;float:left;font:14px/16px roboto;margin-bottom:5px;margin-top:5px;}
.photo span{color:#666666;font-weight:bold;}
.photo_h{color:#000}
.phlikedisdiv{font:500 14px/20px Roboto,sans-serif;text-transform:uppercase;text-align:center;padding:3px 0;margin:5% 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;color:#666666}
.photoform{width:100%;float:left}
.formfeild{padding:1% 0;}
.formfeild textarea{border:1px solid #CCCCCC;color:#666666;font:16px/20px georgia;padding:1.5% 1%;width:97%;}
.formfeild input{border:1px solid #CCCCCC;color:#666666;font:16px/20px georgia;padding:1.5% 1%;width:97%;}
.formfeild input.code{border:1px solid #CCCCCC;color:#666666;font:16px/20px georgia;padding:1.5% 1%;width:60%;float:left;margin-right:5%;}
.formfeild input.submit{background-color:#000000;border:medium none;color:#FFFFFF;font:900 20px/30px roboto;height:35px;padding:0;text-align:center;text-transform:uppercase;width:30%;cursor:pointer;}
.phtopmarg{margin-top:8%;}
.bottomad{margin-top:5px;text-align:center;}
.imgborder{border:2px solid #ea0500!Important}
ul.rel_links{float:left;margin:15px 0 10px;padding:0;width:100%;}
ul.rel_links li{background:url("http://indiatoday.intoday.in/images/hindi-related-story-icon.jpg") no-repeat scroll left 4px transparent;}
ul.rel_links li{list-style-type:none;padding:0 0 5px 20px;}
ul.rel_links li a{color:rgb(119, 119, 119);text-decoration:none;}
ul.rel_links li.v_rel{background:url("http://indiatoday.intoday.in/images/video_icon.gif") no-repeat scroll left 6px transparent;}
ul.rel_links li.p_rel{background:url("http://indiatoday.intoday.in/images/black_bg_photo_icon.jpg") no-repeat scroll left 4px transparent;}
#errorcontbox{width:973px;float:left;margin-left:10px;margin-top:15px;}
.errorspc{float:left;margin-left:30px;text-align:left;}
.circlebul{margin:0;padding:0;font:normal 16px Georgia;color:#6c6c6c;line-height:20px;margin-bottom:15px;padding-bottom:15px;border-bottom:2px solid #e3e1e0}
.circlebul ul{margin:0;padding:0;}
.circlebul ul li{margin:0 0 15px 0;padding:0 0 0 30px;list-style:none;background:url(../images/Round-bullet.gif) no-repeat top left;}
.circlebul ul li ul{margin:10px 0 0 0;padding:0;width:400px;}
.circlebul ul li ul li{margin:0 15px 5px 0;padding:0 0 0 12px;width:150px;list-style:none;color:#1f56d1;font-size:20px;float:left;background:url(../images/Square-bullet.gif) no-repeat center left;}
.circlebul a{font-size:20px;text-decoration:none;color:#1f56d1;}
.circlebul a:hover{font-size:20px;text-decoration:underline;color:#1f56d1;}
.storbox{margin:0;padding:0;font:normal 19px Georgia;color:#6c6c6c;line-height:20px;}
.storbox span{color:#fd0606;text-transform:capitalize;}
.storbox span a{text-decoration:none;color:#fd0606}
.storbox span a:hover{text-decoration:underline;color:#fd0606}
.storbox ul{margin:10px 0 0 0;padding:0;}
.storbox ul li{margin:0 0 5px 0;font-size:16px;color:#1f56d1;padding:0 0 0 15px;display:block;list-style:none;background:url(../images/Square-bullet.gif) no-repeat center left;}
.storbox a{color:#1f56d1;text-decoration:none;}
.storbox a:hover{color:#1f56d1;text-decoration:underline;}
.pgnot{width:500px;}
#simplydiv{width:100%;}
.newsectiontitle{border-bottom:5px solid rgb(215, 25, 32);color:rgb(0, 0, 0);font:bold 22px/25px arial;margin-bottom:15px;text-transform:uppercase;}
.coverdatetext strong{font-size:11px;font-weight:bold;line-height:14px;}
.newbreadcrumtext{color:rgb(150, 150, 150);font:11px/13px tahoma;}
.newbreadcrumtext a{color:rgb(150, 150, 150);text-decoration:none;}
.coverdatetext{color:rgb(212, 25, 32);font:10px/13px arial;}
.coverboldtext{color:rgb(2, 47, 89);font:bold 18px/20px georgia;margin:0;padding:0 0 5px;}
.coverboldtext a{color:rgb(2, 47, 89);text-decoration:none;}
.simnormaltxt{color:rgb(0, 0, 0);float:left;font:12px/18px georgia;margin:0;padding:0;width:374px;}
.simnormaltxt ul{list-style:none outside none;margin:0;padding:0;}
.simnormaltxt ul li{background:url("/staticpages/mediaintoday/indiatoday/images/story_icon.jpg") no-repeat scroll left 5px transparent;color:rgb(0, 0, 0);font:12px/18px georgia;list-style:none outside none;margin:0;padding:0 2px 0 20px;}
.simnormaltxt ul li a{color:rgb(0, 47, 94);text-decoration:none;}
.simplydivcont{margin-bottom:20px;}
.nextlasttext{color:rgb(0, 47, 89);float:right;font:bold 11px/13px verdana;margin-bottom:15px;text-align:right;width:100%;}
.nextlasttext .select{color:rgb(215, 25, 32);font-weight:bold;}
.nextlasttext a{color:rgb(0, 47, 89);text-decoration:none;}
.ipadclear{display:none;}
.ipadspace{margin:0;}
.grey, .grey a{background-color:#5e5e5e;color:#cfcfcf;}
.relatedlist{margin:3% 0 0 0;font:500 15px/18px Roboto,sans-serif;color:#000000;}
.relatedlist ul{margin:0;padding:0;}
.relatedlist li{border-bottom:1px solid #CCCCCC;font:500 15px/18px Roboto,sans-serif;list-style:none outside none;margin:7px 0;padding-bottom:7px;list-style:none;}
.relatedlist a{color:#000000;text-decoration:none;}
.relatedlist a:hover{text-decoration:underline;}
.opttopmarg{margin-top:7%;}
.phvid-leftnav{float:left;width:660px;}
.phvid-listing{float:right;width:660px;}
.colspc{padding:10px 34px 10px 0px;}
.endcol{padding:10px 0px;}
.courtesy{color:#5E5E5E;font-weight:bold;}
.courtesy a{color:#777777}
.strleft{color:#222222;font-size:18px;line-height:26px;}
.strleft h1{color:#000000;font:700 35px/38px Roboto,sans-serif;padding:0 0 10px;}
.strstrap{font:500 12px/18px Roboto,san-serif;color:#d82f34;margin-bottom:10px;}
.mosimg{border-bottom:1px solid #000000;float:left;margin-bottom:15px;padding-bottom:5px;width:100%;}
.caption{font:500 12px/18px Roboto,san-serif;color:#666;display:inline-block;padding-top:5px}
.caption a{color:#666;text-decoration:none;}
.caption a:hover{color:#666;text-decoration:underline;}
.mos-caption{font:500 12px/18px Roboto,san-serif;color:#666;display:inline-block;padding:10px 0}
.mos-caption a{color:#666;text-decoration:none;}
.mos-caption a:hover{color:#666;text-decoration:underline;}
.strquote{padding:10px;float:left;background-color:#dfdfdf;font:normal 20px/22px georgia;margin-bottom:15px;}
.likedisdiv{font:500 18px/20px Roboto,sans-serif;text-transform:uppercase;text-align:center}
.likeimg{background:url(/staticpages/mediaintoday/indiatoday/images/thumbup.jpg) no-repeat 0 0;width:22px;height:22px;margin-bottom:-3px;display:inline-block}
.likecount{margin:0px 5px;font:700 22px/22px roboto,serif;color:#208302;}
.dislikeimg{background:url(/staticpages/mediaintoday/indiatoday/images/thumbdown.jpg) no-repeat 0 0;width:22px;height:22px;display:inline-block;margin-bottom:-4px}
.dislcount{margin:0px 5px;font:700 22px/22px roboto,serif;color:#ed0302;}
.tagstxt{font:500 15px/20px roboto,sans-serif;color:#565656;margin:10px 0}
.tagstxt span{color:#ef4641;font-weight:700;}
.tagstxt a{color:#565656;text-decoration:none}
.tagstxt a:hover{color:#565656;text-decoration:underline}
.commenttxt{font:bold 11px arial;color:#565656;text-transform:uppercase;float:left;padding:6px 20px;border-right:1px solid #ccc;}
.comment-count{font:bold 16px arial;margin-left:5px}
.last{border-right:none;}
.pmedia-play-icon{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll 0 0 transparent;}
.sp_bg{background:url("/staticpages/mediaintoday/indiatoday/images/sprite-image.png") no-repeat scroll 0 0 transparent;}
.pmedia-image-icon{background-position:-334px -56px}
.pmedia-play-icon, .right-media-play-icon, .large-media-play-icon{background-position:-334px -19px;}
.pmedia-play-icon, .pmedia-image-icon{bottom:12px;display:block;height:34px;position:absolute;right:3px;width:44px;z-index:100;}
.strdebate{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;float:left;margin-bottom:10%;margin-top:1%;min-height:295px;padding-bottom:3%;position:relative;width:97%;}
.topinnerbox1{float:left;padding:0;}
.topinnerbox1 p{font:17px/21px Georgia !important;color:#5e5e5e;}
.topzone1{color:rgb(0, 0, 0);font-family:Roboto;font-size:35px;font-weight:900;line-height:37px;margin-bottom:2%;}
.topzone1 a{color:rgb(0, 0, 0);}
.left-column1{float:left;position:relative;overflow:hidden;padding:10px 0 10px 10px;width:97% !important;}
.sports{background-color:rgb(0, 165, 60);color:rgb(255, 255, 255);cursor:pointer;}
.bx-viewport ul{min-height:336px;}
.social-vertical{background:none repeat scroll 0 0 rgb(240, 240, 240);border:1px solid rgb(225, 225, 225);clear:both;float:left;height:auto;padding:10px 0 10px 13px;width:65px;margin-left:-87px;}
#scroll-social{position:absolute;top:72px;z-index:999;}
#scroll-social.fixed{position:fixed;top:20px;z-index:999;}
.social-vertical .fblike{height:60px;padding:0 0 0 5px;}
.social-vertical .share-button{margin-bottom:5px;}
.social-vertical .share-button{margin-bottom:5px;}
.social-vertical .share-button{margin-bottom:5px;}
.vidsorry{position:absolute;right:20px;bottom:5px;}
.topinnerbox b a{color:#000}
.topinnerbox a{color:#000}
.htl-logo{float:right;width:270px;height:71px;padding-top:3px;}
.htl-text{color:rgb(122, 122, 122);font:bold 12px/24px roboto;text-align:center;}
.home-icon, .home-icon:hover{background-position:-338px -98px;height:23px;padding:5px 14px 11px;width:23px;background-color:#000!Important;}
.leftad{position:absolute;left:-88px;top:14px;}
.rightad{position:absolute;left:1005px;top:14px;}
.fixed{position:fixed!Important;top:52px!Important;}
.fix{position:fixed!Important;top:160px!Important;}
.fixed-r{position:fixed!Important;top:52px!Important;}
.fix-r{position:fixed!Important;top:160px!Important;}
.topbox_lft ul li{height:100px;list-style:none}
.bx-caption{display:none;}
#sosorry{border:1px solid #acacac;background-color:#cdcdcd;width:296px;margin-bottom:30px;}
.sosorry-vidcont{padding:15px;}
.sosorryvid{position:relative;width:273px;}
.vidsorry{position:absolute;bottom:10px;right:5px;}
.sosorry-vidcont h3{margin:3px 0 8px 0;padding:0;font:bold 16px arial;color:#000;}
.sosorry-vidcont h3 a{text-decoration:none;color:#000;}
.sosorry-vidcont h3 a:hover{text-decoration:underline}
.sosorry-vidcont .more{background:#bb2322;color:#fff;font:bold 12px arial;padding:3px;float:left;}
.sosorry-vidcont .more a{color:#fff;text-decoration:none}
.sosorry-vidcont .more a:hover{text-decoration:underline}
.india h2{font:700 12px/16px roboto;}
.india h2 a{color:#fff;font-size:12px;font-weight:normal;}
.india h2 a:hover{color:#fff;text-decoration:none}
.subhead h2{font:700 12px/16px roboto;}
.subhead h2 a{color:#fff;font-size:12px;font-weight:normal;}
.subhead h2 a:hover{color:#fff;text-decoration:none}
.topzone h2 a{font-size:35px;font-weight:900;line-height:27px;}
.subhead h3{font:900 16px/20px roboto;}
.leftspac li, .opttopmarg li{list-style:none;}
.hotrightnow-head h3{font:500 18px/20px roboto, sans-serif}
.boxcont h3{font-size:14px}
.nav_padding{padding:8px 10.5px;}
.item{clear:both;margin-bottom:20px;position:relative;}
.blueheader{color:rgb(0, 0, 0);font-size:18px;font-weight:600;line-height:18px;margin-bottom:5px;text-align:left;margin-top:0px;}
.fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon, .tv-iconph{display:block;float:left;height:40px;margin-left:7px;width:36px;}
.fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon, .tv-iconph{background:url("../images/India-Today-Sprites1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.fb-icon{background-position:-5px -35px;margin:0;}
.tw-icon{background-position:-48px -35px;}
.plus-icon{background-position:-92px -35px;}
.rediff-icon{background-position:-137px -35px;}
.rss-icon{background-position:-180px -35px;}
.mobile-icon{background-position:-223px -35px;}
.tv-icon{background:url("../images/ht-live-tv_on-white.gif") no-repeat scroll 3px 5px rgba(0, 0, 0, 0);}
.index-footer{margin-bottom:-900px;}
.home_b{border-top:2px solid #E70009;}
.news_b{border-top:2px solid #009BFF;}
.india_b{border-top:2px solid #F25109;}
.world_b{border-top:2px solid #0038F0;}
.video_b{border-top:2px solid #ED1C24;}
.photo_b{border-top:2px solid #760108;}
.cricket_b{border-top:2px solid #98D702;}
.movies_b{border-top:2px solid #800B80;}
.auto_b{border-top:2px solid #FFCC01;}
.sports_b{border-top:2px solid #00A53C;}
.lifestyle_b{border-top:2px solid #F70164;}
.tech_b{border-top:2px solid #b8b8b8;}
.edu_b{border-top:2px solid #f88000;}
.shop_b {border-top:2px solid #e21361; }

.business_b{border-top:2px solid rgb(45, 45, 141);}
.home_bb{border-bottom:4px solid #E70009;}
.news_bb{border-bottom:4px solid #009BFF;}
.india_bb{border-bottom:4px solid #F25109;}
.world_bb{border-bottom:4px solid #0038F0;}
.video_bb{border-bottom:4px solid #ED1C24;}
.photo_bb{border-bottom:4px solid #760108;}
.cricket_bb{border-bottom:4px solid #98D702;}
.movies_bb{border-bottom:4px solid #800B80;}
.auto_bb{border-bottom:4px solid #FFCC01;}
.sports_bb{border-bottom:4px solid #00A53C;}
.lifestyle_bb{border-bottom:4px solid #F70164;}
.edu_bb{border-bottom:4px solid #f88000;}
#user-detail{line-height:20px;}
.news_content{font:14px/20px Roboto,sans-serif;margin:15px;}
#fill-details{padding-right:18px;}
.loadcont{margin-right:2.5%;width:32%;float:left;}
.loadcontlast{width:31%;float:left;}
.viewmore{background-color:#FFFFFF;border-radius:7px;box-shadow:2px 2px 10px 2px #CCCCCC;display:block;font:700 24px/22px Roboto,sans-serif;margin:0 auto;min-height:inherit !important;padding:1.5%;text-align:center;text-transform:uppercase;width:15%;cursor:pointer;}
.viewmore a{color:#000}
.viewmore a:hover{color:#5e5e5e}
.bx-wrapper{margin-bottom:7%!Important}
.item{clear:both;margin-bottom:20px;position:relative;}
.blueheader{color:rgb(0, 0, 0);font-size:18px;font-weight:600;line-height:18px;margin-bottom:5px;margin-top:0;text-align:left;}
.fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon, .tv-iconph{display:block;float:left;height:40px;margin-left:7px;width:36px;}
.fb-icon, .tw-icon, .plus-icon, .rediff-icon, .rss-icon, .mobile-icon, .tv-icon, .tv-iconph{background:url("../images/India-Today-Sprites1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}
.fb-icon{background-position:-5px -35px;margin:0;}
.tw-icon{background-position:-48px -35px;}
.plus-icon{background-position:-92px -35px;}
.rediff-icon{background-position:-137px -35px;}
.rss-icon{background-position:-180px -35px;}
.mobile-icon{background-position:-223px -35px;}
.tv-icon{background:url("../images/ht-live-tv_on-white.gif") no-repeat scroll 3px 5px rgba(0, 0, 0, 0);}
.more-news{background:none repeat scroll 0 0 rgb(235, 235, 235);color:rgb(0, 0, 0);font-family:roboto;font-size:14px;margin-top:20px;padding:10px;line-height:18px;}
.top-news{font-size:18px;}

/*.edu{padding:8px 13px}*/
.edu { padding:8px 6px }
.shop { padding:8px 3px }

.posrel h3{font:700 18px/22px Roboto,sans-serif;padding:8px 14px;width:93%}
.inner-st{font:17px/21px Georgia;color:#5e5e5e}
.colum{width:300px!Important;float:left;}

.submenu { background:#d8d6d7; width:100%;}
.submenu p { width:1003px; margin:0 auto; padding-left:180px;}
.submenu p a { color:#6b696a; font:bold 12px/30px roboto; padding:5px; text-align:right}
.facts > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.facts > ul li {
    background-image: url("http://conclave.intoday.in/conclave2012/2013/red-bullet.png");
    background-position: left -5px;
    background-repeat: no-repeat;
    color: #414042;
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 10px;
    padding-left: 25px;
    width: 90%;
}
.facts > ul li > div {
    border-bottom: 1px dotted #1F1F1F;
    padding-bottom: 10px;
}
.conclace-heading {
    color: #E30B16;
    font: bold 28px/35px roboto;
    letter-spacing: -1px;
    margin-bottom: 5px;
    padding-top: 6px;
}
.comment_links li { list-style:none; }
.comment_links li a {color:#000;}
.articletext-holders p a { line-height:24px;}
.articletext-holders p {font: 15px/18px roboto!Important;}
.mainheadline a {
    color: #000000;
    display: block;
    font-family: roboto;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 17px;
    text-decoration: none;
	padding-top:15px;
	line-height:56px;
}
.big-story-outer { width:1000px; margin:0 auto 20px; }
/*updated*/