body { margin:0; padding:0;}
.lft { float:left}
.right { float:right}
.voter-helpline-container {width:100%; margin:0 auto; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/mast-v.jpg) no-repeat top center;}
#votewapper {width:990px; margin:0 auto;}
.vote-header {height:436px; width:990px; margin:0 auto}
.clear { clear:both}

.vote-nav {width:397px; float:right; text-align:left; font:bold 12px/18px arial; color:#fff200; margin-top:380px; text-transform:uppercase}
.vote-nav ul { margin:0; padding:0;}
.vote-nav ul li{ margin:0; float:left; padding:6px 0px; list-style:none; text-align: center; background:#2d2d39; border:2px solid #fef200; border-radius:5px; margin-right:5px;}
.vote-nav ul li.faq {width: 50px;}
.vote-nav ul li.news {width: 74px;}
.vote-nav ul li.facts {width: 62px;}
.vote-nav ul li.funanylatics {width: 141px;}
.vote-nav ul li.chat {width: 60px;}
.vote-nav ul li.chat1 {width: 60px;}
.vote-nav ul li a {color:#fff200; text-decoration:none; padding:14px 11px; margin-right:5px;}
.vote-nav ul li a:hover {text-decoration:underline}



.vote-ques {font:bold 24px/26px arial; color:#fff200; text-transform:uppercase; float:left;margin-top:402px;}
.voterbody {width:100%; margin:15px 0;}
.voter-left {width:335px;}
.voter-middlie {width:300px; margin:0 15px;}
.voter-right {width:300px;}
.vote-item { margin-bottom:20px;}
.voter-help { background-color:#fef200; padding:10px; border-radius:10px;}
.vote-mob {width:74px; height:69px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/Helpline-icon.png) no-repeat top left; text-indent:-9999px;}


.vote-help-txt {
    color: #313131;
    font: 26px/28px arial black;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}
.help-inner-box {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #313131;
    font: 15px arial black;
    margin-top: 8px;
    padding: 3px;
}
.help-inner-box span {font-size:24px; color:#d92027}

.chat-personbox {font:bold 12px/18px arial; color:#aaaaad;}
.chatright-box {width:174px; float:right; text-align:left}
.vote-sensetxt {font:normal 16px/20px arial black; color:#d92027; text-align:center; margin-top:15px;}

.chatright-inner {
    background-color: #2C2C38;
    color: #AAAAAD;
    font: bold 12px/18px arial;
    margin-top: 19px;
    min-height: 106px;
}
.chatright-inner-top {border-bottom:2px solid #aaaaad; padding-bottom:2px; margin-bottom:5px;}
.chatright-space {padding:5px 10px;}
.chatright-inner h2 {padding:5px 10px 0; margin:0; }

.heading {
    color: #fff;
    font: 22px/29px arial black;
    text-align: center;
    text-transform: uppercase;
	background:#d92026;
	padding:3px 10px;
	float:left;
	margin:10px 0px;
}
.main_heading {
    font: 2.5em/32px "Arial-Black";
    letter-spacing: -1px ;
    margin-bottom: 5px;
	clear:both;
}

.main_heading  a { color:#000; text-decoration:none;}
.main_heading  a:hover { color:#000; text-decoration:underline;}

.st_imag p {
    font: 15px/18px Arial;
    margin-top: 10px;
}

.newses { padding:0px 0px 0px}
.newses ul { padding:0px; margin:0px;}
.newses ul li { border-bottom:2px dotted #828282; padding:15px 0px; margin-bottom:0px; list-style:none;  }
.newses ul li a { color:#494949; font-size:16px; font-weight:bold; font-family:"Arial Black", Gadget, sans-serif; text-decoration:none;  }
.chat { background: url("http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/chat_icon.jpg") no-repeat scroll 20px 2px rgb(35, 31, 32);
    color: rgb(255, 255, 255);
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding: 0 3px 2px 65px;
    width: 140px; margin-top:10px;    }
.chat a {color:#fff; text-decoration:none; line-height:16px}
.chat a div { font-weight:bold; font-size:14px; line-height:14px;}
.chat_txt { font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#1e1c1d; padding-top:10px; display:block; clear:both}
.post_btn { background:#e7e7e7; padding:5px 6px; border-radius:5px;  font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#1e1c1d; float:right; border:none; cursor:pointer }
.devider { width:100%; height:4px; background:#000; margin:20px 0px; clear:both;}
.devider span { width:30%; background:#ee1c25; height:4px; display:block; }
#search_area { background:#2b2b37; padding:12px; border-radius:0px 0px 10px 10px; width:94%; display:block; margin-top:-20px; overflow:hidden  }
#search_area .input-txt { background:#fff; padding:7px 8px 7px; border:2px solid #9b9a9f; border-radius:8px; float:left; width:235px; font-size:16px; color:#686667;}
#search_area .go_btn { background:#bfbdbe;  padding:5px; border:2px solid #9b9a9f; border-radius:8px; float:right; font-size:18px; color:#686667; }


/*scroll*/
.contents {
    border-radius: 3px 3px 3px 3px;
    height: 1330px;
    overflow: auto;
    padding-right: 20px;
    width: 101%;
	margin-top:20px;
}

.contents ul { padding:0px; margin:0px; width:300px; }
.contents ul li { list-style:none;  font-family:Arial, Helvetica, sans-serif; border-bottom:2px dotted #777777; padding:0px 0px 20px 30px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/bullets.gif) left 5px no-repeat; background-size: 8px; margin-bottom:20px; font-size:14px;  }
.contents ul li a { font-weight:bold; color:#323232; text-decoration:none; display:block; font-size:20px; }
.contents ul li a:hover { color:#999; text-decoration:none; }
.contents ul li strong { padding-bottom:10px;}

.mCSB_container {width: 358px;}
.mCSB_scrollTools .mCSB_draggerRail { height:1330px;}


/*search page*/

.search-rel {
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding-right: 20px;
    width: 101%;
	margin-top:20px;
}
.search-rel ul { padding:0px; margin:0px; }
.search-rel ul li { list-style:none;  font-family:Arial, Helvetica, sans-serif; padding:0px 0px 20px 30px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/bullets.gif) left 5px no-repeat; background-size: 8px; margin-bottom:20px; font-size:16px;  }
.search-rel ul li a { font-weight:bold; color:#323232; text-decoration:none; font-size:20px; display:block }
.search-rel ul li a:hover { color:#999; text-decoration:none; }

.faq-s {
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding-right: 20px;
    width: 101%;
	margin-top:20px;
}
.faq-s ul { padding:0px; margin:0px; width:300px; float:left; margin-right:55px;}
.faq-s ul li { list-style:none;  font-family:Arial, Helvetica, sans-serif; padding:0px 0px 20px 30px; background:url(http://itgd-mum-dev-static.s3.amazonaws.com/media/others/mediaintoday/indiatoday/images/bullets.gif) left 5px no-repeat; margin-bottom:20px; font-size:16px; border-bottom:2px dotted #828282;  }
.faq-s ul li a { font-weight:bold; color:#323232; text-decoration:none; font-size:20px; display:block }
.faq-s ul li a:hover { color:#999; text-decoration:none; }


.left-side {width:660px;}

#search_area1 { background:#2b2b37; padding:12px; border-radius:0px 0px 10px 10px; width:335px; display:block; margin-top:-20px; overflow:hidden  }
#search_area1 .input-txt { background:#fff; padding:7px 8px 7px; border:2px solid #9b9a9f; border-radius:8px; float:left; width:235px; font-size:16px; color:#686667;}
#search_area1 .go_btn { background:#bfbdbe;  padding:5px; border:2px solid #9b9a9f; border-radius:8px; float:right; font-size:18px; color:#686667; }
.faqs { background:#dedede; width:100%;}
.faqs span { background:#d92026; font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#fff; font-size:22px; padding:5px 10px; font-weight:bold; display:inline-block;  }