/*====================== IndiaToday Variables =========================*/
/*=======================================================================*/

/*heading used in Indiatoday site*/
$mobile-h1-font-size: 26px;
$mobile-h2-font-size: 22px;
$mobile-h3-font-size: 16px;
$mobile-h4-font-size: 12px;

$mobile-h1-line-height: 32px;
$mobile-h2-line-height: 26px;
$mobile-h3-line-height: 22px;
$mobile-h4-line-height: 16px;

/*Heading used in Indiatoday site Mobile version*/
$h1-font-size: 40px;
$h2-font-size: 29px;
$h3-font-size: 20px;
$h4-font-size: 15px;

$h1-line-height: 46px;
$h2-line-height: 34px;
$h3-line-height: 24px;
$h4-line-height: 18px;


/*Fonts used in Indiatoday site*/
$itg-roboto: 'Roboto', sans-serif;
$itg-robotoslab:'Roboto Slab', sans-serif;

$itg-font-regular:400;
$itg-font-medium:500;
$itg-font-bold:700;

/*Colors used in Indiatoday site*/
$tab-primary-color: #818181 !default;
$tab-active-color: #b70c09 !default;
$tab-list-color: #565555 !default;

/*Background Colors used in Indiatoday site*/
$tab-primary-bg: #e4e4e4 !default;
$tab-active-bg: #fff !default;
$tab-icon-bg: #959595 !default;

/*Border Colors used in Indiatoday site*/
$tab-primary-border-color: #e4e4e4 !default;
$tab-active-border-color: #fff !default;
$border-color: #dddddd !default;

/*Text color in Indiatoday site*/
$white-color: #fff !default;
$black-color: #323232 !default;
$gray-color: #565555 !default;
$yellow-color: #ffc106 !default;
$red-color: #a00606 !default;
$blue-color: #193984 !default;
$skyblue-color: #048cb9 !default;


/*Background color in Indiatoday site*/
$header-bg: #193c8d !default;
$black-bg: #000000 !default;
$second-black-bg: #111111 !default;
$red-bg: #a00606 !default;
$yellow-bg: #ffc106 !default;
$gray-bg: #f2f2f2 !default;
$off-white-bg: #f8f8f8 !default;

/*navigation font in Indiatoday site*/
$itg-nav-fontsize: 14px;
$itg-nav-fontcolor: #e0e0e0;
$itg-nav-bordercolor: #680101;

/*Full radius in Indiatoday site*/
$full-radius:50%;

/*footer color in Indiatoday site*/
$footer-text-color: #a6a6a6;
$footer-border-color: #111111;