/*font family an font weight mixins*/
@mixin itg-font($font:null, $weight:null) {
  font-weight: $weight;
  font-family: $font;   
}
/*clear fix mixins*/
@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "";
        display: block;       
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}
/*Box sizeing mixins*/
@mixin box-sizing($border-box) {
  @each $vendor in -webkit-, -moz-,-o-,-ms-,'' {
    #{$vendor}box-sizing: $border-box;
  }
}
/*Center Block mixins*/
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*Float mixins*/
@mixin float($pos) {  
  @if ($pos == left) {
   float:left;
  }
  @else if ($pos == right) {
   float:right;
  }
  @else if ($pos == none) {
   float: none;
  }
}

/*Display inline block mixins*/
@mixin display-inline{
    display: inline-block;
    vertical-align: top;
}
/*Text align block mixins*/
@mixin text-align($align) {  
  @if ($align == center) {
   text-align:center;
  }
  @else if ($align == left) {
   position: left;
  }
  @else if ($align == right) {
   position: right;
  }
}

/* Positional mixins */
@mixin pos($pos:static,$top:null,$right:null,$bottom:null,$left:null,$z-index:null) {  
  @if (($pos == relative) or ($pos == re)) {
   position: relative;
  }
  @else if (($pos == absolute) or ($pos == ab)) {
   position: absolute;
  }
  @else if (($pos == fixed) or ($pos == fi)) {
   position: fixed;
  }
  @else if ($pos == static) {
   position:static;
  }   
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
  z-index:$z-index;
}
/* Calculate-width function */
@mixin calculate-width ($col-span) {
    width: 100% / $col-span;
}

/* Tab Button mixins */
@mixin tab-buttons {
     span{
        @include itg-font($itg-roboto, $itg-font-medium);
        background: $tab-primary-bg;
        text-transform: uppercase;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 10px 10px 0 0;
        color: $tab-primary-color;
        @include calculate-width(2);
        display: block;
        @include float(left);
        &.active{
            background: $white-color;
            color: $red-color;
            border-left: 1px solid $tab-primary-border-color;
            border-right: 1px solid $tab-primary-border-color;
            border-top: 3px solid $red-color;
        }
    }
}
/* Tab Listing mixins */
@mixin tab-listing {
    @include pos(relative);
        a{
            color: $tab-list-color;
            padding: 15px 15px 15px 20px;
            display: block;
            border-bottom: 1px solid $tab-primary-border-color;
            &:hover{
                background: $off-white-bg;
            }
        }
        &:last-child a{
            border-bottom: none;
        }
        &:before{
           @include pos(absolute,22px,null,null,9px);
           content: '';
           border-radius: $full-radius;
           background: $tab-icon-bg;
           height: 5px;
           width: 5px;
        }
}

/* Story Tag mixins */
@mixin story-tag($height, $line-height){
    @include pos(absolute,0px,null,null,0px);
    background: $red-bg;
    height: $height;
    line-height: $line-height;
    padding: 0 7px;
    text-transform: uppercase;
}

/* List before icon */
@mixin before-icon-list($width, $height, $top, $left, $background-color, $border-radius) {
    @include pos(relative);

  &:before {
    @include pos(absolute);
    top: $top;
    left: $left;
    content: '';
    border-radius: $border-radius;
    background: $background-color;
    height: $width;
    width: $height;
  }
}