@import "itg-variables";
@import "itg-mixins";
h1, h2, h3, h4{@include itg-font($itg-roboto,$itg-font-medium);}
h1{    
    font-size: $mobile-h1-font-size;
    line-height: $mobile-h1-line-height;
    font-weight: $itg-font-bold;
}
h2{
    font-size: $mobile-h2-font-size;
    line-height: $mobile-h2-line-height;
    font-weight: $itg-font-bold;
}
h3{
    font-size: $mobile-h3-font-size;
    line-height: $h3-line-height;
}
ul{
    list-style-type: none;
}
a{
    color:$black-color;
    text-decoration: none;
}
.row{
    @include clearfix;
}
.mt-50{
  margin-top: 50px;
}
/*.dropped{
    background: #fff;
}*/
.list-none{
    list-style-type: none;
}
.gray-bg-widgets{
    background:#f3f3f3;
    padding:10px;
}
.widget-title{
    @include story-tag(22px,22px);   
}
/*Start CSS Top Story Home Page*/
    .tab-buttons {
        @include clearfix;
        @include tab-buttons;
    }
    .tab-data{        
      &.tab-data-2{
        display: none;
      }
    }
    .itg-listing{
        border: 1px solid #dddddd;
        list-style: none;
        li{
            @include tab-listing;        
            a{
            padding:15px;
        }
        &:before{
            display: none;
        }
        }
        
    }
/*End CSS Top Story Home page*/

/*Start CSS Featured New Home page*/
.itg-featured-news{
  border: 1px solid $tab-primary-border-color;
  height: 672px;
  overflow: hidden;
}
/*Start CSS Featured New Home page*/
.featured-news{
    @include clearfix;
    padding-bottom:10px;
    margin: 0 -5px;
    .featured-post {
        @include float(left);
        @include calculate-width(2);
        padding:5px;
        &:hover a{
            color:$blue-color;
        }
        img{
            padding-bottom: 10px;
            @include calculate-width(1);
        }
        &.featured-post-first{
            @include float(none);
            @include calculate-width(1);
            margin-bottom: 10px;
        }
    }
}
/*End CSS Featured New Home page*/
/*End CSS*/

/*Start CSS Top AD*/
.top-ad{
  border: 1px solid $tab-primary-border-color;
  .pic{
    background-color: #f3f3f3;
    width: 300px; 
    height: 250px;
    margin: 35px auto;
  }
}
/*End CSS*/
/*Start CSS section story Home page*/
.section-ordering{
    h3{
        @include itg-font($itg-robotoslab);
        padding: 15px 0;
    }
    p{
        @include font(14px,18px);
        @include before-icon-list(5px,5px,18px,0px,$red-bg,100%);
        border-top:1px solid $border-color;
        padding: 12px 0 12px 12px;
    }
}
/*End CSS section story Home page*/

/*Start Dont miss Home page css*/
.dont_miss{
    .widget-title{
        @include pos(relative);
        @include display-inline;
    }
    .widget-settings{
        margin-bottom: 5px;
    }
}
.dont-miss{    
    /*padding: 30px 10px 0px 10px;*/
    ul{
        @include clearfix;
        @include listing-with-image(dont-miss-listing,left,15px,dm-pic,dm-detail);
        .dont-miss-listing{            
            @include calculate-width(1);
            padding: 0 0px 20px 0;
            border:none; 
            .dm-pic{
                width: 46.6%;
            }            
            .dm-detail{
                h4{
                    color: #048cb9;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    @include font(12px,null,700);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                }
                p{
                    @include font(14px,18px);
                    color: #333;
                }
            }
        }
    }
}
/*End Dont miss Home page css*/
/*Start May we suggest css*/
.we_may_suggest{
    span.widget-title{
        @include pos(relative);
    }
}
.may-be-suggest-container{    
    ul{
        @include listing-with-image(may-we-suggest,right,10px,pic,title);
        @extend .list-none;
        .pic{
            width: 88px;
        }
        li{
            &.may-we-suggest{
             padding:10px 0;   
            }            
            &+li{
               border-top: 1px solid $border-color;
           }
           &:last-child{
                border-bottom: 1px solid $border-color;
            } 
        }
    }
    @include sidebar-heading;
}
/*End May we suggest End*/
/*Start top-takes-video suggest css*/
.top_takes_videos_widget{
    .widget-title{
        position: relative;
    }    
}
.top-takes-video-container{
    ul{
        @extend .list-none;
        @include listing-with-image(top-takes-video,right,10px,pic,title);
        li{
            &+li{
               border-top: 1px solid $border-color;
           }
           &:last-child{
                border-bottom: 1px solid $border-color;
            } 
        }
    }
    @include sidebar-heading;
}
/*End top-takes-video suggest End*/

/*Start CSS trending-videos Home  page*/
.trending-videos{
    @extend .list-none;
    border: 1px solid $border-color;
    padding-top: 10px;    
    @include listing-with-image(trending-videos-list,left,10px,pic,title);
    li{
        &+li{
            border-top: 1px solid $border-color;
        }
    }
}
/*End CSS trending-videos Home  page*/
/*Start Watch right Now suggest css*/
.watch_right_now_videos_widget{
    .widget-title{
        @include pos(relative);
    }
}
.watch-right-now-video{    
    ul{
        @extend .list-none;
        @include listing-with-image(watch-right-now-list,right,5px,pic,title);
        li{
            padding:0 10px;
            &+li{
               border-top: 1px solid $border-color;
           }
           &:last-child{
                border-bottom: 1px solid $border-color;
            }
        }
    }   
}
/*End Watch right Now suggest End*/
/*CSS Start HOme page widget rhs-section-ordering*/
.rhs-section-ordering{
    ul{
        @extend .list-none;
        @include listing-with-image(rhs-section-item-container,left,10px,pic,title);
        li{
            &.rhs-section-item-container{
             padding:10px 0; 
             .pic{
                position: relative;
            &:after{
                background: url(../images/video-icon-small.png) no-repeat;
                content:"";
                width: 18px;
                height: 18px;
                position: absolute;
                right: 5px;
                bottom: 5px;
            }
        }
             
            }            
            &+li{
               border-top: 1px solid $border-color;
           }
           &:last-child{
                border-bottom: 1px solid $border-color;
            } 
        }
    }
}
/*CSS End HOme page widget rhs-section-ordering*/

@media only screen and (min-width:768px){
    h1{    
        font-size: $h1-font-size;
        line-height: $h1-line-height;
        font-weight: $itg-font-bold;
    }
    h2{
        font-size: $h2-font-size;
        line-height: $h2-line-height;
        font-weight: $itg-font-bold;
    }
    h3{
        font-size: $h3-font-size;
        line-height: $h3-line-height;
    }
    h4{
        font-size: $h4-font-size;
        line-height: $h4-line-height;
    }
    /*Start CSS itg-layout-container */   
    .itg-layout-container{
        min-width: 1170px;
        .itg-widget, .itg-widget-child{
            position: relative;
            input[type="text"]{
                position: absolute;
                top: 0;
                left: 0;
                width: 214px;
                 z-index: 1;
            }
        }
        .top-colum-1{
            .droppable{
                height: 633px;
                overflow: hidden;
            }
        }
        .top-colum-2{
            .droppable{
                height: 671px;
                overflow: hidden;
            }
        }
        .top-colum-3{
            .itg-widget-parent{
                .droppable {
                    height: 320px;
                }
            }
            .droppable{
                height: 272px;
                overflow: hidden;
            }
            .itg-widget:first-child{
                margin-bottom: 40px;
            }
        }
        &.itg-admin{
            .gray-bg-layout{
                background-color: #f1f1f1;
            }
            .itg-widget{
                /*background-color: #f1f1f1;*/
            }
        }
        .itg-common-section{
            .droppable{
                height: 382px;
                overflow: hidden;
            }
            &.row-3{
                .droppable{
                    height: 320px;
                    overflow: hidden;
                }
            }
        }
    }  
    
  /*Start CSS Top Block Grid Home Page*/    
    .top-block{
        .top-colum-1, .top-colum-2, .top-colum-3{
           padding: 0 15px;
           min-height: 672px;
        }
        .top-colum-1{
           @include float(left);
           width: 22%; 
        }
        .top-colum-2{
           width: 44.8%;
          @include float(left);
        }
        .top-colum-3{
           width: 33.2%;
           @include float(right);
        }
    }
/*End CSS Top Block Grid Home Page*/

/*Start CSS Featured-news Home Page*/ 
    .featured-news{
        padding: 5px;
        border:1px solid $border-color;
        margin:0;
        .featured-post {
            padding: 5px;
        }
    }
/*End CSS Featured-news Home Page*/  
/*Start Dont miss Home page css*/
.dont-miss{        
    ul{
        .dont-miss-listing{
            @include float(left);
            @include calculate-width(2);            
            &:nth-child(2n+1){
                clear:left;
            }
        }
    }
}
/*End Dont miss Home page css*/
}



/*Start photo section slider Homepage*/
.featured_photo_carousel{
    .widget-title{
        @include pos(absolute,10px,null,null,10px);        
    }
    .flexslider{
        border:none;
        margin:0;
        .slides{
            li{
                @include pos(relative);
                .detail{                   
                    @include calculate-width(1);
                    font-family: $itg-roboto;
                    .flex-caption {    
                        padding: 10px 10px;    
                        background: #000;
                        color: $white-color;
                        @include font(18px,24px,$itg-font-medium);    
                        width: auto;
                        height: 66px;
                    }
                    .flex-count{
                        @include pos(absolute,null,null,78px,0px);
                        @include display-inline;
                        background: #000;
                        opacity: .5;
                        color: $white-color;
                        @include font(12px,23px);            
                        margin-bottom:0;
                        padding: 0 10px;  
                        height: 23px;
                    }
                }

            }
        }
        .flex-control-nav{
            display: none;
        }
        .flex-count{
            @include display-inline;
            background: #000;
            opacity: 0.6;
            color: $white-color;
            @include font(12px);            
            margin-bottom: 10px;
            i{
                margin-right: 5px;
            }
        }
        .flex-direction-nav a{
            display: block;
            opacity: 1;
            &:before{
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 30px;
                display: inline-block;                
                color: #fff;    
                background: #67aaef;
                Z-INDEX: 1;
                WIDTH: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            &.flex-prev{
                left: 0;
                &:before{
                    content: '\f104';
                }
            }
            &.flex-next{
                right: 0;
                &:before{
                    content: '\f105';
                }
            }
        }
    }
}
/*End Photo section slider Homepage*/