/*---------------------------- ITG CSS -----------------------------------*/
@import "itg-variables";
@import "itg-mixins";
/* Global CSS */

body{
    font: 14px/18px 'Noto Sans';
    color: #333;
}
h1, h2, h3, h4{font-family: 'Noto Sans';}
h1{    
        font-size: $h1-font-size;
        line-height: $h1-line-height;
    }
    h2{
        font-size: $h2-font-size;
        line-height: $h2-line-height;
    }
    h3{
        font-size: $h3-font-size;
        line-height: $h3-line-height;
    }
    h4{
        font-size: $h4-font-size;
        line-height: $h4-line-height;
    } 
h4.heading{
    color: $heading-blue-color;
    @include itg-font($itg-roboto,$itg-font-bold);
    text-transform: uppercase;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size:16px;
    a{
        color:$heading-blue-color;
    }
}
.list-none{
    list-style-type: none;
}
a{
    color:$black-color;
    text-decoration: none;
}
a:focus, button:focus{
    outline: 0 none;
}
img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.mr-0{
    margin: 0;
}
.mt-10{
    margin-top: 10px;
}
.mt-50{
    margin-top: 50px;
}
.ml-10{
    margin-left: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.pd-0{
    padding: 0;
}
.pd-10{
    padding: 10px;
}
.pdt-20{
    padding-top: 20px;
}
.pd-30{
    padding: 30px;
}
.pdlr-30{
    padding-left: 30px;
    padding-right: 30px;
}
.pdlr-10{
    padding-left: 10px;
    padding-right: 10px;    
}
.pdtb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pdb-10{
    padding-bottom: 10px;
}
.pdr-10{
    padding-right: 10px;
}
.no-bullet{
    list-style: none;
}
.no-underline{
    text-decoration: none;
}
.hide{
    display: none;
}
.db{
    display: block;
}
.dib{
    display: inline-block;
}
.vmid{
    vertical-align: middle;
}
.vtop{
    vertical-align: top;
}
.full{
    width: 100%;
}
.max-wdt{
    max-width: 100%;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.pos-rel{
    position: relative;
}

.mhide{
        display: block;
    }
.desktop-hide{
    display: none;   
}
.m-top{
    margin-top: 50px;
}
.m-bottom40{
    margin-bottom: 40px;
}
.btn {
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    @extend .dib;
    @extend .vtop;
    &:hover{
        background-color: #286090;
        border-color: #204d74;
        color: #fff;
    }
}
.gray-bg-widgets{
    background:#f3f3f3;
    padding:10px;
}
.widget-title{
    @include story-tag(22px,22px);   
}
.success-message, .messages--status{
    color:#009c00;
    font-size: 13px;
    @extend .pdb-10;
}

input[type="text"], select, input[type="password"]{
    border: 1px solid #ddd;
    height: 32px;
    line-height: 30px;
    padding: 5px;
    color: #333;
}
.form-textarea{
    border: 1px solid #ddd;
    padding: 5px;
    color: #333;
    max-height: 128px;
    resize: none;
}
.grippie{
    display: none;
}
.form-required, .error{
    color: red;
}
*{
    @extend .mr-0;
    @extend .pd-0;
    box-sizing: border-box;
}
.row{
    @include clearfix;
}
#page{@extend .vtop; @extend .full; @extend .dib;}

/* HEADER CSS */
header{
  margin-bottom: 30px;
  position: relative;
  min-height: 92px;
  .logo-n-three-bar{
    left: 0;
    padding-left: 72px;
    position: absolute;
    z-index: 99999;
    bottom: -19px;
    .three-bar{
      position: absolute;
      left: 30px;
      top: 44px;
      height: 15px;
      width: 21px;
      cursor: pointer;
      span{
        background-color: #000;
        display: inline-block;
        vertical-align: top;
        width: 21px;
        height: 3px;
        margin-top: 6px;
        position: relative;
        &:before, &:after{
        content: '';
        position: absolute;
        height: 3px;
        background-color: #000;
        }
        &:before{
          width: 50%;
          bottom: 6px;
        }
        &:after{
          width: 100%;
          top: 6px;
        }
      }
    }
  }
  .region-header{
    background-color: #f6f6f6;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 9999;
  }
  .header-right-menu{
    float: right;
    ul{
      @extend .list-none;
      li{
        float: left;
        width: 60px;
        height: 60px;
        a{
          background-position: center center;
          background-repeat: no-repeat;
          display: block;
          height: 60px;
        }
        &.icon-search a{
          background-color: #ddd;
          background-image: url(../images/icon_search.png);
        }
        &.icon-notification a{
          background-color: #e6e6e6;
          background-image: url(../images/icon_notification.png);
        }
        &.icon-user a{
          background-color: #f6f6f6;
          background-image: url(../images/icon_user.png);
        }
        &.city-temp{
          min-width: 133px;
          a{
            padding: 8px 20px;
            background-color: #0c1559;
            color: #fff;
            .city-name{
              font-size: 12px;
              display: block;
              .fa{
                font-size: 26px;
                margin-right: 10px;
              }
            }
            .temp{
              font-size: 24px;
              font-family: 'Noto Serif';
            }
          }
        }
        &.live-tv{
          width: 156px;
          a{
            background: url(../images/icon_live_tv.png) 25px 12px no-repeat #d9000c;
            color: #fff;
            padding: 18px 20px 18px 60px;
            font-size: 18px;
          }
        }
      }
    }
  }
}
/* END OF HEADER CSS */