/*CSS For Search Page*/
@mixin gradient($color1, $color2){
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($color1, $color2); /* For */
  background: -o-linear-gradient($color1, $color2); /* For Opera */
  background: -moz-linear-gradient($color1, $color2); /* For Firefox */
  background: linear-gradient($color1, $color2); /* Standard syntax */
}
[id="views-exposed-form-front-end-global-search-page"]{
  .views-exposed-form{
    #edit-keyword-wrapper{
      width: 100%;
      padding: 0;
      .form-text{
        font-size: 16px;
        width: 100%;
        height: 46px;
        box-shadow: 0 1px 5px -2px #b6b6b6 inset;
        @include gradient(#fefefe, #f3f3f3);
      }
    }
    #edit-tm-vid-4-names-wrapper, #edit-sm-field-itg-common-by-line-name-wrapper, #edit-bundle-name-wrapper, #edit-hash-wrapper{
      position: relative;
      padding-top:13px;
      > label{
        display: block;
        font-size: 12px;
        font-weight: normal;
        padding-right: 20px;
        position: relative;
        text-transform: uppercase;
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border: 5px 4px;
          border-color: #b3b3b3 transparent transparent transparent;
          position: absolute;
          right: 8px;
          top: 8px;
        }
      }
      .views-widget{
        display: none;
        position: absolute;
        left: 0;
        top: 31px;
      }
      &:hover{
        .views-widget{display: block;}
      }
    }
    .form-select{
      height: 95px;
    }
    .views-exposed-widget{
        label{
            font-weight: normal;
            + select{
            height: auto;
            margin-bottom: 10px;
            }
        }
        .caln{
            .form-item{
                margin-bottom: 5px;
                margin-right: 0;
            }
        }
    }
  }
}
.region-top{
  background-color: #171717;
  padding: 20px 0;
}
#block-views-photo-landing-slider-block{
  max-width: 1200px;
  margin: 0 auto;
  .flexslider{
    background: transparent;
    padding: 0;
    border: none;
    .flex-direction-nav{
      .flex-prev{
        width: 50px;
        height: 100px;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 0 90px 90px 0;
        left: 10px;
        font-size: 0;
        &:before{
          left: 10px;
          top: 40px;
          position: absolute;
        }
      }
      .flex-next{
        width: 50px;
        height: 100px;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 90px 0 0 90px;
        right: 100px;
        font-size: 0;
        &:before{
          right: 421px;
          top: 40px;
          position: absolute;
        }
      }
    } 
  }
  .slides{
    li{
      h2{
        padding: 0 15px;
        color: #fff;
        font-size: 32px;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 25px;
      }
      figure{
        padding: 10px;
        background-color: #000;
        height: 585px;
      }
      figcaption{
        color: #727272;
        padding-top: 10px;
      }
      .other-details{
        background-color: #111;
        height: 585px;
        color: #c1c1c1;
      }
      .counter{
        border-bottom: 1px solid #222;
            padding: 15px 30px;
            font-size: 20px;
            .fa{
              font-size: 20px;
              margin-right: 10px;
            }
      }
      .caption{
        padding: 20px;
      }
    }
  }
}

.itg-layout-container .itg-h450-section .droppable{
  height: 450px;
}
.itg-layout-container .itg-h321-section .droppable, 
.itg-layout-container .top-colum-3 .itg-widget-parent .droppable{
  height: 321px;
}
.itg-layout-container .itg-top-section .top-colum-2 .droppable{
  height: 673px;
}
.itg-layout-container .itg-top-section .top-colum-1 .droppable{
  height: 637px;
}
.itg-layout-container .top-colum-3 .droppable{
  height: 276px;
}
.itg-h450-section{
  .widget-wrapper{
    height: 100%;
    padding: 10px;
    background-color: #f3f3f3;
  }
}
.itg-h321-section{
  .dont_miss{
    height: 100%;
    padding: 5px 20px 8px;
    background-color: #f3f3f3;
  }
}
.widget-wrapper{
  height: 100%; 
  overflow: hidden;
  .data-holder{
    height: 100%;
    .block-itg-widget{
      height: 100%;
      > div, > ul{
        height: 100%;
      } 
  }
  }
}
.widget-title{
  display: inline-block;
  vertical-align: top;
}
.sidebar-section-photo{
  .itg-widget{
    margin: 35px 0;
    position: relative;
  }
}
.itg-region{
    margin: 0 auto;    
    overflow: hidden;    
    padding:0 25px;
    position: relative;
    border-bottom: 1px solid #d9d9d9;
    ul{
      list-style: none;
      white-space: nowrap;
      display: inline-block;
      width: 100%;
      position: relative;
      li{
        display: inline-block;
        vertical-align: top;
        border-right: 0;
        text-transform: uppercase;
        a{
          display: block;
          margin: 0;
          padding: 10px 5px 3px;
          border-bottom: 3px solid #fff;
          font-family: Roboto;
          font-weight: 500;
          color: #969696;
          &:hover, &.active{
            border-bottom: 3px solid #d00b26;
            color: #b50a0a;
          }
        }
      }
    }
    .slide-icon{
      position: absolute;
      top: 0;
      background: #fff;
      line-height: 35px;
      width: 15px;
      height: 35px;      
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      z-index: 9;
      display: block !important;
    }
    .slide-icon.scroll-arrow-right{
      left:0;
    }
    .slide-icon.scroll-arrow-left{
      right: 0;
    }
  }
  
  .view-photo-list-of-category{
    .view-content{
      margin: 0 -15px;
      .photo-list{
        list-style: none;
        li{
          padding: 15px;
          float: left;
          .tile{
            figure{
              width: 170px;
              height: 127px;
              overflow: hidden;
              position: relative;
              figcaption{
                bottom: 0;
                left: 0;
                position: absolute;
                padding: 5px;
                background-color: rgba(0,0,0,.5);
                color: #fff;
                font-size: 12px;
                font-family: Roboto;
                .fa{
                  font-size: 14px;
                  margin-right: 5px;
                }
              }
            }
            .posted-on{
              display: block;
              font-size: 12px;
              color: #b1b1b1;
              padding: 8px 0 5px;
              font-family: "Roboto Slab";
            }
            a{
              color: #494949;
              font-family: "Roboto Slab";
            }
          }
        }
      }
    }
  }
  .region-content{
    margin: 20px 0;
  }