/*CSS For Search Page*/
@mixin gradient($color1, $color2){
  background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($color1, $color2); /* For */
  background: -o-linear-gradient($color1, $color2); /* For Opera */
  background: -moz-linear-gradient($color1, $color2); /* For Firefox */
  background: linear-gradient($color1, $color2); /* Standard syntax */
}
[id="views-exposed-form-front-end-global-search-page"]{
  .views-exposed-form{
    #edit-keyword-wrapper{
      width: 100%;
      padding: 0;
      .form-text{
        font-size: 16px;
        width: 100%;
        height: 46px;
        box-shadow: 0 1px 5px -2px #b6b6b6 inset;
        @include gradient(#fefefe, #f3f3f3);
      }
    }
    #edit-tm-vid-4-names-wrapper, #edit-sm-field-itg-common-by-line-name-wrapper, #edit-bundle-name-wrapper, #edit-hash-wrapper{
      position: relative;
      > label{
        display: block;
        font-size: 12px;
        font-weight: normal;
        padding-right: 20px;
        position: relative;
        text-transform: uppercase;
        &:after{
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border: 5px 4px;
          border-color: #323232 transparent transparent transparent;
          position: absolute;
          right: 8px;
          top: 8px;
        }
      }
      .views-widget{
        display: none;
        position: absolute;
        left: 0;
        top: 25px;
      }
      &:hover{
        .views-widget{display: block;}
      }
    }
    .form-select{
      height: 95px;
    }
  }
  
}

